.section-title .st-number .st-number-num {
	bottom: 19px;
}
.ie8 .hlb-nav li:first-child + li {
	background: #30A7DF;
	border-color: #1778A4;
}
.ie8 .hlb-nav li:first-child + li + li {
	background: #DC6126;
	border-color: #8F381E;
}

.contact-form input[type="text"], .contact-form textarea, .contact-form input[type="email"] {
	padding-top: 22px !important;
}

.first-section {
	padding-top: 259px;
}
.last-section {
	padding-bottom: 195px;
}

.footer-links li a {
	display: block;
	padding: 0 10px 2px;
}
.footer-links li {
	padding: 0 1px 2px;
	margin: 0 1px;
}
.footer-links li:first-child a {
	padding-left: 0;
}
