.ie8 .hlb-nav {
	/* IE8+ - must be on one line, unfortunately */ 
   -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.998806137341434, M12=0.04884976979561353, M21=-0.04884976979561353, M22=0.998806137341434, SizingMethod='auto expand')";
   
   margin-left: -3px; 
   margin-top: -25px;
}

.contact-form input[type="text"], .contact-form textarea, .contact-form input[type="email"] {
	color: #989798;
	opacity: 0.5;
	font-weight: 400;
	font-style: italic;
}

.contact-form textarea.active-floatlabel, .contact-form input.active-floatlabel {
	color: #777777 !important;
	font-weight: 700 !important;
	font-style: normal !important;
}

.ie8 .section-title .st-number .st-number-num {
	bottom: 19px;
}

.ie8 .contact-form input[type="text"], .ie8 .contact-form textarea, .ie8 .contact-form input[type="email"] {
	padding-top: 22px !important;
}

.ie8 .first-section {
	padding-top: 200px;
}
.ie8 .last-section {
	padding-bottom: 195px;
}

.ie8 .footer-links li a {
	display: block;
	padding: 0 10px 2px;
}
.ie8 .footer-links li {
	padding: 0 1px 2px;
	margin: 0 1px;
}
.ie8 .footer-links li:first-child a {
	padding-left: 0;
}