@charset "UTF-8";
/*
Theme Name: Slice of Pi
*/
/*==============================================================
## Imports
==============================================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clear,
.clearfix:after {
  clear: both; }

a {
  color: #1778A4;
  text-decoration: none; }

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative; }

body {
  background: #ffffff;
  font-family: "myriad-pro";
  color: #333333;
  font-size: 14px;
  line-height: 1.25; }

#header,
#main,
#footer {
  position: relative;
  z-index: 2; }

#header {
  z-index: 9; }

img {
  max-width: 100%;
  height: auto; }

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  background: #fff;
  border: 1px solid #414042;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  padding: 3px 12px;
  line-height: 1.25;
  vertical-align: top;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "myriad-pro";
  font-weight: 700; }

.the-content {
  /* -- Font -- */
  font-size: 14px;
  line-height: 1.25;
  /* -- Heading -- */
  /* -- Margin -- */ }
  .the-content h1, .the-content h2, .the-content h3, .the-content h4, .the-content h5, .the-content h6 {
    font-weight: 700;
    margin: 0 0 5px; }
  .the-content h1 {
    font-size: 32px; }
  .the-content h2 {
    font-size: 26px; }
  .the-content h3 {
    font-size: 20px;
    margin: 0 0 9px; }
  .the-content h4 {
    font-size: 16px; }
  .the-content h5 {
    font-size: 16px; }
  .the-content h6 {
    font-size: 16px; }
  .the-content ol {
    padding-left: 3em;
    list-style: decimal; }
  .the-content ul {
    list-style: none;
    position: relative; }
  .the-content ul > li {
    padding-left: 1em;
    position: relative;
    font-size: 0.866em;
    padding-bottom: 0.5em;
    color: #525252;
    font-weight: 600; }
  .the-content ul li ul {
    padding: 0.8em 0 0.8em 1em; }
  .the-content ul li li {
    font-size: 1em; }
  .the-content ul > li:before {
    content: "ΓÇó";
    position: relative;
    top: 0;
    color: #EBBF19;
    margin-left: -1em;
    margin-right: 0.65em; }
  .the-content li ol {
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 20px; }
  .the-content sup,
  .the-content sub {
    font-size: 10px; }
  .the-content blockquote,
  .the-content table,
  .the-content p,
  .the-content ul,
  .the-content ol,
  .the-content dd,
  .the-content pre,
  .the-content hr {
    margin-bottom: 1em; }
  .the-content ul ul,
  .the-content ol ol,
  .the-content ul ol,
  .the-content ol ul {
    margin-bottom: 0; }
  .the-content blockquote {
    background: #F2F2F2;
    color: #525252;
    font-size: 18px;
    font-style: italic;
    padding: 20px 30px; }
  .the-content blockquote > p:last-child {
    margin-bottom: 0; }
  .the-content blockquote cite {
    display: block;
    color: #525252;
    font-size: 14px;
    font-style: normal;
    text-align: right; }

img,
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */ }

.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin: 9px 29px 0 0; }

.alignright,
img.alignright {
  display: inline;
  float: right;
  margin: 9px 0 0 29px; }

.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

.wp-caption {
  margin-bottom: 19px;
  max-width: 100% !important;
  /* prevent too-wide images from breaking layout */
  padding: 0;
  text-align: left; }

.wp-caption img {
  margin-top: 12px;
  vertical-align: top; }

.wp-caption p.wp-caption-text {
  font-size: 14px;
  font-style: italic;
  margin-top: 8px; }

.wp-smiley {
  margin: 0; }

.gallery {
  margin: 0 auto 18px; }

.gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  width: 33%; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-4 .gallery-item {
  width: 25%; }

.gallery img {
  border: 2px solid #cfcfcf; }

.gallery-columns-2 .attachment-medium {
  max-width: 92%;
  height: auto; }

.gallery-columns-4 .attachment-thumbnail {
  max-width: 84%;
  height: auto; }

.gallery .gallery-caption {
  color: #888;
  font-size: 12px;
  margin: 0 0 12px; }

.gallery dl {
  margin: 0; }

.gallery img {
  border: 10px solid #f1f1f1; }

.gallery br + br {
  display: none; }

.page-link {
  clear: both;
  color: #000;
  font-weight: bold;
  margin: 0 0 22px 0;
  word-spacing: 0.5em; }

.page-link a:link,
.page-link a:visited {
  background: #f1f1f1;
  color: #333;
  font-weight: normal;
  padding: 0.5em 0.75em;
  text-decoration: none; }

.page-link a:active,
.page-link a:hover {
  color: #ff4b33; }

/*==============================================================
## Header
==============================================================*/
#header {
  position: fixed;
  width: 100%; }

.bg-header-left {
  background: url(images/triangle-top-left.png) left -1px no-repeat;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 178px; }

.bg-header-right {
  background: url(images/triangle-top.png) right top no-repeat;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 954px;
  height: 177px; }

.bg-header-right-bottom {
  background: url(images/triangle-top.png) right bottom no-repeat;
  position: absolute;
  z-index: 2;
  top: 177px;
  right: 0;
  width: 258px;
  height: 66px; }

.header-container {
  position: relative;
  z-index: 9; }

.header-right {
  float: right;
  padding: 30px 30px 0 0; }

.header-left {
  float: left;
  width: 50%; }

#show-menu {
  display: none; }

#logo-wrap {
  padding: 13px 0 15px;
  float: left; }

#logo {
  width: 296px; }
  #logo a {
    display: block; }
    #logo a img {
      vertical-align: top; }
    #logo a span.site-name {
      display: none; }

.wpi-logo {
  padding: 22px 0 0 50px; }
  .wpi-logo img {
    vertical-align: top;
    width: 149px; }

#nav {
  padding: 19px 0 0 41px; }
  #nav li {
    float: left;
    font-family: "myriad-pro-condensed";
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    padding: 27px 10px 10px; }
    #nav li a {
      color: #ffffff;
      display: block; }
      #nav li a:hover {
        color: #343434; }
  #nav li.current-active-nav {
    background: url(images/triangle-active.png) center top no-repeat; }

.header-left-top {
  min-height: 175px; }

.header-left-bottom {
  padding: 0 0 0 32px;
  position: relative;
  width: 500px; }

.hlb-nav {
  position: absolute;
  width: 100%;
  -moz-transform: rotate(-2.8deg);
  /* FF3.5/3.6 */
  -o-transform: rotate(-2.8deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(-2.8deg);
  /* Saf3.1+ */
  -ms-transform: rotate(-2.8deg);
  transform: rotate(-2.8deg);
  /* Newer browsers (incl IE9) */
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }
  .hlb-nav li {
    background: #BEC440;
    float: left;
    font-family: "myriad-pro-condensed";
    font-weight: 700;
    color: #ffffff;
    font-size: 21px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-right: 9px;
    min-width: 106px;
    text-align: center;
    border-top: 3px solid #798134; }
    .hlb-nav li a {
      padding: 0 20px 3px;
      color: #ffffff;
      display: block; }
    .hlb-nav li:hover, .hlb-nav li.hover {
      background: #798134;
      border-color: #BEC440; }
      .hlb-nav li:hover a, .hlb-nav li.hover a {
        color: #dddf8f; }
    .hlb-nav li.link-2 {
      background: #30A7DF;
      border-color: #1778A4; }
      .hlb-nav li.link-2:hover, .hlb-nav li.link-2.hover {
        background: #1778A4;
        border-color: #30A7DF; }
        .hlb-nav li.link-2:hover a, .hlb-nav li.link-2.hover a {
          color: #b6d8f2; }
    .hlb-nav li.link-3 {
      background: #DC6126;
      border-color: #8F381E; }
      .hlb-nav li.link-3:hover, .hlb-nav li.link-3.hover {
        background: #8F381E;
        border-color: #DC6126; }
        .hlb-nav li.link-3:hover a, .hlb-nav li.link-3.hover a {
          color: #e79672; }

/*==============================================================
## Main
==============================================================*/
.section-title {
  float: right;
  padding-right: 108px;
  color: #777777; }
  .section-title .st-number {
    background: url(images/bg_num_yellow.png) no-repeat;
    float: left;
    width: 45px;
    height: 70px;
    position: relative; }
    .section-title .st-number .st-number-num {
      font-size: 26px;
      font-family: "myriad-pro-condensed";
      color: #ffffff;
      text-align: right;
      position: absolute;
      right: 11px;
      bottom: 6px;
      -webkit-transform: rotate(27deg);
      -moz-transform: rotate(27deg);
      -ms-transform: rotate(27deg);
      -o-transform: rotate(27deg);
      transform: rotate(27deg);
      /* Newer browsers (incl IE9) */
      -webkit-transform-origin: right bottom;
      -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
      -o-transform-origin: right bottom;
      transform-origin: right bottom; }
  .section-title h2 {
    font-size: 30px;
    float: left;
    font-family: "myriad-pro-condensed";
    text-transform: uppercase;
    line-height: 1.2;
    padding: 29px 0 0 9px; }

.section-page {
  position: relative;
  z-index: 1; }

.bottom-decoration {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: -28px; }
  .bottom-decoration img {
    vertical-align: top; }

/* ----------------------------------------------------------
** Episodes
---------------------------------------------------------- */
.section-episodes {
  background: #75CDDD url(images/bg_blue.jpg) center top no-repeat;
  padding: 259px 0 22px; }
  .section-episodes .section-title h2 {
    color: #ffffff; }

.episodes-container {
  width: 879px;
  margin: 0 auto;
  padding: 66px 0 0; }

.main-vid {
  background: #333333;
  height: 470px;
  margin-bottom: 19px;
  color: #ffffff; }
  .main-vid iframe {
    width: 100% !important;
    height: 100% !important; }

.main-vid-desc {
  background: #BEC440;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.357;
  font-style: italic;
  padding: 11px 62px 18px; }
  .main-vid-desc .video-desc-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 7px; }
    .main-vid-desc .video-desc-title span {
      font-style: normal;
      font-weight: 400;
      color: #1778A4; }

.episodes-thumb-wrap {
  margin: 0 -32px;
  padding: 22px 0; }

.episode-entry {
  float: left;
  width: 50%;
  padding: 0 32px 19px; }

.et-vid {
  background: #333333;
  height: 250px;
  margin-bottom: 13px;
  overflow: hidden;
  position: relative; }
  .et-vid a {
    display: block; }
  .et-vid img.youtube-thumbnail {
    width: 100%;
    position: relative;
    z-index: 1;
    top: -28px;
    vertical-align: top; }
  .et-vid img.yt-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 49px;
    height: auto;
    margin: -28px 0 0 -24px; }

.et-vid-desc {
  color: #ffffff;
  font-family: "myriad-pro-condensed";
  font-size: 12px;
  line-height: 1.25; }
  .et-vid-desc .video-desc-title {
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 5px;
    font-family: "myriad-pro"; }
    .et-vid-desc .video-desc-title span {
      font-style: normal;
      font-weight: 400;
      color: #1778A4; }
  .et-vid-desc p {
    font-size: 16.5px; }

.vid-mobile-wrap {
  display: none; }

.evd-mobile {
  display: none; }

/* ----------------------------------------------------------
** About
---------------------------------------------------------- */
.section-about {
  background: #ffffff url(images/bg_white1.jpg) center top no-repeat;
  padding: 65px 0 22px; }
  .section-about .section-title .st-number {
    background: url(images/bg_num_red.png) no-repeat; }

.container-about {
  margin: 107px 0 0;
  position: relative; }

.container-about-bg {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 1; }

.about-content-wrap {
  max-width: 878px;
  margin: 0 auto; }

.about-banner {
  position: relative;
  z-index: 9;
  margin: 0 -17px;
  padding: 54px 0 20px; }

.banner-image {
  width: 33.333%;
  float: left;
  padding: 0 17px 0; }
  .banner-image img {
    vertical-align: top; }

.about-content {
  padding: 40px 0 71px;
  font-size: 14px;
  color: #989798;
  line-height: 1.1428;
  position: relative; }
  .about-content em {
    color: #777777;
    line-height: 1.357; }
  .about-content blockquote,
  .about-content table,
  .about-content p,
  .about-content ul,
  .about-content ol,
  .about-content dd,
  .about-content pre,
  .about-content hr {
    margin-bottom: 1em;
    line-height: 1.4em; }

.about-left,
.about-right {
  width: 335px;
  position: relative;
  z-index: 9; }
  .about-left img,
  .about-right img {
    margin-bottom: 14px; }

.about-left {
  float: left; }

.about-right {
  float: right; }

.cast-decor,
.ac-decor {
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;
  left: 0;
  top: 50%; }

/* ----------------------------------------------------------
** Cast
---------------------------------------------------------- */
.section-cast {
  background: #F9D84C url(images/bg_yellow.png) center top no-repeat;
  padding: 119px 0 22px; }
  .section-cast .section-title .st-number {
    background: url(images/bg_num_green.png) no-repeat; }
  .section-cast .section-title h2 {
    color: #ffffff; }

.cast-content {
  margin: 0 auto;
  max-width: 880px; }

.cm-photo {
  text-align: center; }
  .cm-photo img {
    vertical-align: top; }

.cast-member-wrap {
  position: relative;
  padding: 63px 0 80px; }

.cast-member {
  width: 385px;
  position: relative;
  z-index: 9; }
  .cast-member .cm-name {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: #6D5FA9;
    text-transform: uppercase;
    padding: 5px 0 0; }
  .cast-member .cm-twitter {
    text-align: center;
    font-size: 15px;
    color: #A39DB8;
    font-style: italic; }
    .cast-member .cm-twitter a {
      color: #A39DB8; }
      .cast-member .cm-twitter a:hover {
        color: #30a7df; }
  .cast-member .cm-desc {
    color: #4A4077;
    font-size: 14px;
    line-height: 1.4em;
    padding: 20px 0; }

.cm-left {
  float: left; }

.cm-right {
  float: right; }

.cast-decor {
  top: 161px; }

/* ----------------------------------------------------------
** Find Out More
---------------------------------------------------------- */
.section-find-out-more {
  background: #FFFFFF url(images/bg_white2.png) center top no-repeat;
  padding: 60px 0 30px; }
  .section-find-out-more .section-title .st-number {
    background: url(images/bg_num_blue.png) no-repeat; }

.content-find-out-more {
  max-width: 796px;
  margin: 0 auto 0;
  position: relative;
  line-height: 1.428; }
  .content-find-out-more h3 {
    line-height: 1.25; }

.contact-form {
  background: #ffffff;
  border: 1px solid #B7B7B7;
  margin: 50px 0 0; }
  .contact-form input[type="text"],
  .contact-form textarea,
  .contact-form input[type="email"] {
    width: 100%;
    height: 65px;
    border: 1px solid #BEC440;
    color: #777777;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    margin-bottom: 35px;
    font-family: inherit;
    padding: 5px 5px 0 17px !important; }
  .contact-form textarea {
    margin-bottom: 20px;
    padding-top: 17px !important; }
  .contact-form .submit-wrap {
    text-align: right;
    position: relative; }
  .contact-form input.wondering {
    margin-bottom: 20px !important; }
  .contact-form input[type="submit"] {
    background: url(images/bg_submit.png) no-repeat;
    width: 193px;
    height: 42px;
    text-align: center;
    border: 0;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    padding: 1px 5px 0;
    font-family: inherit;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    .contact-form input[type="submit"]:hover {
      background: #dc6126; }
  .contact-form textarea.active-floatlabel,
  .contact-form input.active-floatlabel {
    padding: 20px 9px 0 !important; }
  .contact-form textarea.active-floatlabel {
    padding: 23px 10px 0 !important; }
  .contact-form .fields-wrap .half {
    float: left;
    width: 49%; }
  .contact-form .fields-wrap .half-right {
    float: right; }
  .contact-form .form-radio label,
  .contact-form .label-floatlabel {
    font-size: 11px !important;
    font-weight: 400 !important;
    color: #989798 !important;
    font-style: italic !important;
    top: 6px !important;
    left: 9px !important; }
  .contact-form .form-radio label {
    display: block;
    font-size: 14px !important; }
  .contact-form ::-webkit-input-placeholder {
    color: #989798;
    opacity: 0.5;
    font-weight: 400;
    font-style: italic; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #989798;
    opacity: 0.5;
    font-weight: 400;
    font-style: italic; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #989798;
    opacity: 0.5;
    font-weight: 400;
    font-style: italic; }
  .contact-form :-ms-input-placeholder {
    color: #989798;
    opacity: 0.5;
    font-weight: 400;
    font-style: italic; }

.form-column-left,
.form-column-right {
  float: left;
  width: 45.5%; }

.form-column-right {
  float: right; }

.fields-wrap {
  padding: 32px 51px; }

.the-content .form-heading,
.form-heading {
  background: url(images/bg_form_heading.png) no-repeat;
  background-size: 100% 100%;
  font-size: 29px;
  font-family: "myriad-pro-condensed";
  font-weight: 700;
  color: #ffffff;
  padding: 16px 20px 22px 53px;
  position: relative;
  margin: 0; }
  .the-content .form-heading:before,
  .form-heading:before {
    content: ' ';
    background: url(images/arrow_down.png) no-repeat;
    position: absolute;
    left: 52px;
    bottom: -17px;
    width: 23px;
    height: 20px; }

.section-page:first-child {
  padding-top: 150px; }

.section-page:last-child {
  padding-bottom: 195px; }

/*EKG:  Added 11-11-2016  Contact Form 7 No longer allows HTML in messages.  This hides the Thank You message at the bottom of the form and displays it after the form has been successfully sent */

div.wpcf7-response-output{
    display: none !important;	/*Hide default Success Message Box*/
}

.wpcf7 form div.visible-only-if-sent{
    display: none;				/*Hide Custom Message Box until Email is Sent*/
}
 
.wpcf7 form.sent div.visible-only-if-sent{
    display: block;
  position: relative;
  background: #AD2839;
  border: 0;
  margin: 65px 0 0;
  padding: 25px 35px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.15; }
  .wpcf7 form.sent div.visible-only-if-sent h3 {
    font-size: 23px;
    font-weight: 700;
    line-height: 1.15;
    margin: 0 0 15px;
    padding: 0; }
  .wpcf7 form.sent div.visible-only-if-sent .button {
    background: url(images/bg_btn.png) no-repeat;
    display: inline-block;
    text-align: center;
    width: 196px;
    height: 38px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
    position: absolute;
    top: 50%;
    right: 27px;
    margin-top: -19px; }

.section-find-out-more div.wpcf7-mail-sent-ok {
  padding-right: 240px; }
.section-find-out-more span.wpcf7-form-control-wrap {
  display: block; }
.section-find-out-more span.wpcf7-not-valid-tip {
  margin: -32px 0 14px; }
.section-find-out-more div.wpcf7 img.ajax-loader {
  position: absolute;
  top: 11px;
  right: -22px; }

.section-find-out-more .graduation span.wpcf7-not-valid-tip {
  margin: -14px 0 18px; }

.form-radio {
  margin-right: -27px; }
  .form-radio label {
    padding-bottom: 10px; }
  .form-radio .wpcf7-form-control {
    display: block; }
  .form-radio .iradio {
    background: #75CDDD;
    display: inline-block;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 700;
    color: #ffffff;
    margin-right: 27px;
    margin-bottom: 22px; }
    .form-radio .iradio:hover {
      background: #30a7df; }
  .form-radio .checked {
    background: #1778A4; }

.fields-wrap p {
  margin: 0; }

/*==============================================================
## Footer
==============================================================*/
#footer {
  min-height: 363px;
  margin-top: -195px; }

.footer-bg-left {
  background: url(images/triangle_footer_left.png) no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 363px;
  z-index: 3; }

.footer-bg-right {
  background: url(images/triangle_footer_right.png) right top no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 247px;
  z-index: 1; }

.container-footer {
  padding: 143px 33px 0 43px;
  position: relative;
  z-index: 9; }

.footer-left {
  float: left;
  font-size: 14px;
  line-height: 1.235;
  color: #333333; }

.footer-right {
  float: right;
  color: #ffffff; }

.footer-logo {
  padding: 0 0 27px; }
  .footer-logo img {
    vertical-align: top;
    width: 151px; }

.footer-address {
  padding: 0 0 4px; }

.footer-links li {
  float: left;
  font-weight: 700;
  color: #1778A4;
  border-left: 1px solid #1778A4;
  padding: 0 10px 2px;
  line-height: 1; }
  .footer-links li a {
    color: #1778A4;
    text-decoration: underline; }
  .footer-links li:first-child {
    border-left: 0;
    padding-left: 0; }

.footer-social {
  max-width: 195px;
  padding: 37px 0 0; }
  .footer-social h3 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 0 18px 6px 0; }
  .footer-social a {
    float: left;
    display: block;
    color: #ffffff;
    font-size: 13px;
    margin-right: 17px; }
    .footer-social a img {
      margin: 7px 0 0 0; }
    .footer-social a span {
      display: block;
      text-align: center;
      padding-top: 2px; }

.footer-copyright {
  font-size: 11px;
  color: #798134;
  margin: -12px;
  text-align: center;
  max-width: 700px; }

/*==============================================================
## Responsive
==============================================================*/
@media (max-width: 1200px) {
  .bg-header-right {
    background-position: right bottom;
    width: 473px;
    height: 175px;
    background-image: url(images/triangle-top-1200px.png); }

  .bg-header-right-bottom {
    display: none; }

  .header-right {
    padding: 20px 20px 0px 0px; }

  #logo {
    width: 165px; } }
@media (max-width: 1100px) {
  .container {
    width: auto;
    padding-left: 20px;
    padding-right: 20px; } }
@media (min-width: 981px) {
  #nav {
    display: block !important; }

  .ee-inner {
    display: block !important; } }
@media (max-width: 980px) {
  .bg-header-left {
    background: url(images/bg_header_left_mobile.png) left top no-repeat;
    height: 158px; }

  .wpi-logo {
    padding: 21px 0 0 25px; }

  #show-menu {
    background: url(images/menu@2x.png) no-repeat;
    background-size: 44px 18px;
    display: block;
    width: 45px;
    height: 19px;
    margin: 19px 0 0 26px; }

  .ie8 #show-menu {
    background-image: url(images/menu.png); }

  #nav {
    padding: 8px 0;
    position: absolute;
    width: 195px;
    background: #ffffff;
    top: 145px;
    left: 25px;
    z-index: 99;
    display: none; }
    #nav li {
      float: none;
      padding: 4px 5px 4px 36px; }
      #nav li a {
        color: #AD2839; }
    #nav li.current-active-nav {
      background: url(images/active_mobile.png) 9px center no-repeat; }
    #nav:before {
      content: ' ';
      background: url(images/arrow_up.png) no-repeat;
      width: 21px;
      height: 15px;
      position: absolute;
      top: -15px;
      left: 14px; }

  .header-left-top {
    min-height: 155px; }

  .header-left-bottom {
    padding-left: 13px;
    width: 500px; }

  .hlb-nav {
    -moz-transform: rotate(-4deg);
    /* FF3.5/3.6 */
    -o-transform: rotate(-4deg);
    /* Opera 10.5 */
    -webkit-transform: rotate(-4deg);
    /* Saf3.1+ */
    transform: rotate(-4deg);
    /* Newer browsers (incl IE9) */ }
    .hlb-nav li {
      min-width: 100px; }

  .header-right {
    padding: 20px 23px 0 0; }

  .section-title {
    padding-right: 5px; }

  .episodes-container {
    width: auto; }

  .episodes-thumb-wrap {
    margin: 0; }

  .episode-entry {
    padding-left: 5px;
    padding-right: 5px;
    float: none;
    width: auto; }

  .et-vid {
    height: auto; }

  .et-vid img.youtube-thumbnail {
    top: 0;
    height: auto; }

  #main-video {
    display: none; }

  .vid-mobile-wrap {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
    left: 0; }
    .vid-mobile-wrap iframe {
      width: 100%;
      height: 100%; }

  .et-vid-desc {
    font-size: 14px;
    font-family: "myriad-pro";
    line-height: 1.214;
    text-align: center;
    padding: 5px 20px 10px; }

  .et-vid-desc .video-desc-title {
    font-size: 22px;
    font-style: italic; }

  .evd-mobile {
    display: block; }

  .evd-desktop {
    display: none; }

  .evd-heading {
    padding: 0; }
    .evd-heading h3.video-desc-title {
      padding: 0;
      margin: 0;
      color: #ffffff;
      text-align: left; }
    .evd-heading a {
      background: #BDC440;
      display: block;
      padding: 10px 40px 10px 20px;
      color: #ffffff;
      position: relative; }
    .evd-heading .vdt-icon {
      background: url(images/plus_min@2x.png) no-repeat;
      background-size: 70px 22px;
      width: 21px;
      height: 22px;
      display: block;
      position: absolute;
      top: 11px;
      right: 15px; }
    .evd-heading .ie8 .vdt-icon {
      background-image: url(images/plus_min.png); }
    .evd-heading a.active-vdt .vdt-icon {
      background-position: right top; }

  .ee-inner {
    display: none; }

  .evd-mobile-desc {
    padding: 20px 20px 30px; }

  .ee-1 .ee-inner {
    display: block; }
  .ee-1 .et-vid {
    margin-bottom: 22px; }
  .ee-1 .et-vid-desc {
    background: #EF985E;
    text-align: left; }
  .ee-1 .et-vid-desc .video-desc-title span {
    color: #75CDDD; }
  .ee-1 .evd-mobile {
    display: none; }
  .ee-1 .evd-desktop {
    display: block; }

  .section-cast {
    padding-top: 45px; }

  .cast-member {
    float: none;
    width: auto;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px; }

  .cast-decor, .ac-decor {
    position: static;
    padding-bottom: 30px; }

  .container-about {
    margin-top: 50px; }

  .about-left {
    padding-bottom: 20px; }

  .about-left, .about-right {
    width: auto;
    float: none;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px; }

  .the-content {
    font-size: 15px; }

  .content-find-out-more {
    padding-top: 50px; }

  .contact-form {
    margin-top: 30px;
    border: 0;
    background: transparent; }

  .the-content .form-heading, .form-heading {
    padding: 9px 20px 18px;
    font-size: 37px; }

  .fields-wrap {
    padding-left: 20px;
    padding-right: 20px; }

  .form-column-left, .form-column-right {
    float: none;
    width: auto; }

  .contact-form input[type="text"], .contact-form input[type="email"] {
    margin-bottom: 5px; }

  .contact-form .form-radio label {
    font-size: 20px !important;
    padding: 10px 0 9px;
    text-align: left; }

  .form-radio {
    text-align: center; }

  .contact-form .submit-wrap {
    text-align: center; }

  .wpcf7 form.sent div.visible-only-if-sent {
    padding: 30px 20px;
    text-align: center;
    margin-top: 35px; }

  .section-find-out-more div.wpcf7-mail-sent-ok {
    padding-right: 20px; }

  .wpcf7 form.sent div.visible-only-if-sent .button {
    top: auto;
    bottom: -70px;
    left: 50%;
    margin-left: -98px;
    right: auto; }

  .section-find-out-more span.wpcf7-not-valid-tip {
    margin: 0 0 10px; } }
@media (max-width: 800px) {
  #footer {
    background: url(images/bg_footer_mobile.png) left top no-repeat;
    background-size: 100% 100%;
    min-height: 275px; }

  .footer-bg-left,
  .footer-bg-right {
    display: none; }

  .footer-left,
  .footer-right {
    width: 50%; }

  .footer-social {
    float: right;
    padding-top: 0; }

  .container-footer {
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px; }

  .footer-copyright {
    margin: 0;
    padding: 10px 0; }

  .footer-logo {
    padding-bottom: 18px; }
    .footer-logo img {
      max-width: 120px; }

  .footer-social {
    max-width: 141px;
    margin-right: -13px; }

  .footer-social h3 {
    padding-right: 13px; }

  .footer-social a {
    font-size: 9px;
    margin-right: 13px; }

  .footer-social a img {
    width: 34px; } }
@media (max-width: 680px) {
  .bg-header-right {
    width: 297px;
    height: 110px; }

  .header-right {
    padding: 10px 13px 0 0; }

  #logo {
    width: 113px; }

  .wpi-logo {
    padding: 16px 0px 0px 15px;
    width: 134px; }

  #show-menu {
    margin-left: 16px; }

  .bg-header-left {
    background-position: left bottom;
    height: 123px; }

  .header-left-top {
    min-height: 120px; }

  .hlb-nav li {
    min-width: 0; }
    .hlb-nav li a {
      padding: 0px 10px 3px; }

  .section-page:first-child {
    padding-top: 176px; }

  .episodes-container {
    padding-top: 25px; }

  .container-about-bg {
    display: none; }

  .about-banner-wrap {
    margin: 0 -20px; }

  .about-banner {
    background: url(images/bg_banner_mobile.png) center top no-repeat;
    position: relative;
    padding: 0;
    margin: 0 auto;
    max-width: 443px;
    height: 331px; }

  .banner-image {
    width: 157px;
    padding: 0;
    float: none;
    position: absolute; }

  .bi-1 {
    z-index: 9;
    top: 26px;
    left: 32px; }

  .bi-2 {
    z-index: 7;
    top: 121px;
    left: 152px; }

  .bi-3 {
    z-index: 5;
    top: 74px;
    right: 15px; }

  .contact-form textarea {
    height: 90px;
    margin-bottom: 20px; } }
@media (max-width: 600px) {
  #wpadminbar {
    position: fixed !important; } }
@media (max-width: 480px) {
  .about-banner-wrap {
    margin: 0; }

  .about-banner {
    height: auto;
    max-width: none;
    padding: 20px 5px 0; }

  .banner-image {
    float: none;
    text-align: center;
    width: auto;
    position: static;
    padding: 0 0 25px; }

  .cast-member,
  .about-left, .about-right {
    padding-left: 5px;
    padding-right: 5px; } }
@media (max-width: 479px) {
  .wpi-logo {
    padding-top: 36px;
    width: 100px; }

  #show-menu {
    margin-top: 12px; } }
@media (max-width: 420px) {
	
  .wpcf7 form.sent div.visible-only-if-sent .button{
	  bottom: 0;	/*EKG Added 11-11-2016 Button was disappearing beneath the footer at this breakpoint*/
  }
	
  .contact-form .fields-wrap .half {
    width: auto;
    float: none; }

  .contact-form textarea {
    height: 117px; }

  #footer {
    background: transparent; }
    #footer .container-footer {
      padding: 20px 0 0; }
    #footer .footer-left, #footer .footer-right {
      width: auto;
      float: none;
      padding: 20px 20px; }
    #footer .footer-left {
      background: #BCC440;
      text-align: center; }
      #footer .footer-left ul {
        margin-left: 10px; }
      #footer .footer-left li {
        width: 48%; }
        #footer .footer-left li:first-child {
          text-align: right; }
        #footer .footer-left li:last-child {
          text-align: left; }
    #footer .footer-right {
      background: #F8D74D; }
      #footer .footer-right .footer-social {
        margin: 0 auto;
        float: none; }
    #footer .footer-copyright {
      background: #F8D74D; } }

/*# sourceMappingURL=style.css.map */
