/*
Theme Name: WPI 150
Theme URI: http://www.wpi.edu/
Author: WPI
Author URI: http://www.wpi.edu/
Template: wpi_parent
Description: WPI 150 Theme
Version: 1.0
Text Domain: wpi-wpi150
*/

/*	::[Fonts]::
================================================= */

/**
 * @license
 * MyFonts Webfont Build ID 2899603, 2014-10-10T13:06:20-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed fonts/scala(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: FF Scala Web Bold Italic by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-scala/ot-bold-italic/
 * 
 * Webfont: FF Scala Web Cond Bold by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-scala/ot-cond-bold/
 * 
 * Webfont: FF Scala Web Cond by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-scala/ot-cond-regular/
 * 
 * Webfont: FF Scala Web Italic by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-scala/ot-italic/
 * 
 * Webfont: FF Scala Web by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-scala/ot-regular/
 * 
 * Webfont: FF Scala Web Bold by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-scala/ot-bold/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2899603
 * Licensed pageviews: 500,000
 * fonts/scala copyright: 2010 Martin Majoor published by FSI FontShop International GmbH
 * 
 * © 2014 MyFonts Inc
*/

@font-face {font-family: 'FFScalaWebBoldItalic';src: url('fonts/scala/2C3E93_0_0.eot');src: url('fonts/scala/2C3E93_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/scala/2C3E93_0_0.woff') format('woff'),url('fonts/scala/2C3E93_0_0.ttf') format('truetype');}
  
@font-face {font-family: 'FFScalaWebCondBold';src: url('fonts/scala/2C3E93_1_0.eot');src: url('fonts/scala/2C3E93_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/scala/2C3E93_1_0.woff') format('woff'),url('fonts/scala/2C3E93_1_0.ttf') format('truetype');}
  
@font-face {font-family: 'FFScalaWebCond';src: url('fonts/scala/2C3E93_2_0.eot');src: url('fonts/scala/2C3E93_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/scala/2C3E93_2_0.woff') format('woff'),url('fonts/scala/2C3E93_2_0.ttf') format('truetype');}
 
@font-face {font-family: 'FFScalaWebItalic';src: url('fonts/scala/2C3E93_3_0.eot');src: url('fonts/scala/2C3E93_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/scala/2C3E93_3_0.woff') format('woff'),url('fonts/scala/2C3E93_3_0.ttf') format('truetype');}
  
@font-face {font-family: 'FFScalaWeb';src: url('fonts/scala/2C3E93_4_0.eot');src: url('fonts/scala/2C3E93_4_0.eot?#iefix') format('embedded-opentype'),url('fonts/scala/2C3E93_4_0.woff') format('woff'),url('fonts/scala/2C3E93_4_0.ttf') format('truetype');}
  
@font-face {font-family: 'FFScalaWebBold';src: url('fonts/scala/2C3E93_5_0.eot');src: url('fonts/scala/2C3E93_5_0.eot?#iefix') format('embedded-opentype'),url('fonts/scala/2C3E93_5_0.woff') format('woff'),url('fonts/scala/2C3E93_5_0.ttf') format('truetype');}


/*	::[Basic]::
================================================= */
.the-content {
	line-height: 1.5;
	font-size: 13px;
}

.the-content a {
	color: #c41230;
}

.the-content h1, .the-content h2, .the-content h3, .the-content h4, .the-content h5, .the-content h6 {
	font-weight: bold;
	font-family: "Gotham A","Gotham B", Arial, sans-serif;
}
.the-content h1,
.the-content .page-title,
.page-title {
	font-size: 14px;
	color: #353535;
	font-family: "Gotham A","Gotham B", Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	padding-bottom: 38px;
}
.the-content h2 {	
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	padding-bottom: 4px;
}
.the-content h3 {
	font-weight: bold;
}

.the-content ol {
	padding-left: 1em;
	list-style: decimal;
}
.the-content ul {
	list-style: none;
	padding-left: 0;
	position: relative;
}
.the-content ul > li {
	padding-left: 1em;
	position: relative;
	margin-top: 0.6em;
}
.the-content li ul li {
	font-size: 1em;
}
.the-content ul > li:before {
	content: "•";
	font-size: 18px;
	position: relative;
	top: 0.05em;
    color: #ed1c24;
	margin-left: -1em;
	margin-right: 0.65em;
}
.the-content li ol {
	padding-bottom: 0;
	margin-bottom: 0;
	padding-left: 20px;
}
.the-content sup,
.the-content sub {
	font-size: 10px;
}
.the-content img {
	max-width: 100%;
	height: auto;
}
.the-content blockquote,
.the-content table,
.the-content p,
.the-content ul,
.the-content ol,
.the-content dd,
.the-content pre,
.the-content address,
.the-content hr {
	margin-bottom: 1.444em;
}


/*	::[Container & Misc]::
================================================= */
body {
	background: #ffffff;
	font-family: 'FFScalaWeb', Scala, Georgia, Times New Roman, serif;
	color: #353535;
	font-size: 12px;
	line-height: 1.3;
}
.wrap {
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.clear {
	clear: both;
}

/*	::[Header]::
================================================= */
#header {
	position: relative;
	z-index: 9;
	padding: 36px 0 36px;
}
#logo {
	padding: 12px 0 0 37px;
	float: left;
}
#logo h1 {
	display: none;
}
#logo img {
	width: 265px;
	height: 96px;
	-ms-interpolation-mode: bicubic;
}
#logo img.mobile {display: none;}
#show-menu {
	display: none;
}
#nav {
	width: 66.699%;
	float: right;
}
#nav li {
	float: left;
	width: 33.333%;
	height: 120px;
	border-left: 1px solid #ededed;
	text-align: center;
	font-size: 18px;
	color: #b2b6ba;	
}
#nav li a {
	color: #b2b6ba;
	display: block;
	text-decoration: none;
	padding: 34px 0 30px;
}
#nav li span {
	display: block;
}
#nav li .menu-title {
	font-family: "Gotham A","Gotham B", Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	padding-bottom: 4px;
}
#nav li .menu-desc {
	font-style: italic;
	position: relative;
	left: -1%; /* The desc line looks like it's off center because it's italicized, so nudge to the left to offset this */
}
#nav li.current-menu-ancestor a,
#nav li.current-menu-item a,
#nav li.current-menu-parent a,
#nav li a:hover {
	color: #c41230;
}

/*	::[Main]::
================================================= */
#main {
	position: relative;
	z-index: 4;
}

/* >>>> Timeline
----------------------------------------- */
	.timeline-wrap:after,
	.timeline-wrap:before {
		width: 100%;
		position: absolute;
		top: -1px;
		left: 0;
		content: ' ';
		z-index: 2;
		height: 1px;
		-moz-box-shadow: 0 0 23px 3px #000;
		-webkit-box-shadow: 0 0 23px 3px #000;
		box-shadow: 0 0 23px 3px #000;
	}
	.timeline-wrap:after {
		top: auto;
		bottom: -1px;
	}
	.timeline-wrap {
		background: #b2b6ba url(images/bg_timeline.png) repeat-x;
		position: relative;
		height: 96px;
		z-index: 1;
		overflow: hidden;
		padding: 0 28px 0 27px;
	}
	.timeline-slide {
		width: 97px;
		height: 96px;
		border-right: 1px solid #fff;
		position: relative;
	}
	.timeline-slide a {
		display: block;
		position: relative;
		width: 96px;
		height: 96px;
		text-decoration: none !important;
	}
	.timeline-slide img {
		vertical-align: top;
		width: 96px;
		height: 96px;
		z-index: 1;
		position: relative;
	}
	.ts-year {
		background: url(images/trans_red.png);
		width: 96px;
		height: 96px;
		display: block;
		position: absolute;		
		top: 0;
		left: 0;
		z-index: 9;
		font-size: 18px;
		color: #ffffff;
		font-family: "Gotham A","Gotham B", Arial, sans-serif;
		font-weight: 300;
		text-align: center;
		text-decoration: none !important;
		letter-spacing: 0.2em;
		padding-top: 35px;
		display: none;
	}
	.timeline-slide a:hover .ts-year,
	.active-ts .ts-year {
		display: block;
	}
	.timeline-prev,
	.timeline-next {
		background: #b2b6ba;
		display: block;
		position: absolute;
		z-index: 99;
		top: 0;
		left: 0;
		width: 27px;
		height: 100%;
		cursor: pointer;
	}
	.timeline-next {
		left: auto;
		right: 0;
		width: 28px;
	}
	.timeline-prev span,
	.timeline-next span {
		background: url(images/arrow_prev.png) center center no-repeat;
		display: block;
		height: 100%;
		text-indent: -9999px;
		position: relative;
		z-index: 99;
	}
	.timeline-next span {
		background-image: url(images/arrow_next.png);		
	}
	.timeline-wrap .disabled span {
		background-image: url(images/arrow_disabled.png);
		cursor: default;
	}
	
	/* CSS for high-resolution devices */
	@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5) {
		.timeline-prev span {
			background-image: url(images/arrow_prev@2x.png);
			background-size: 6px 10px;
		}
		
		.timeline-next span {
			background-image: url(images/arrow_next@2x.png);
			background-size: 6px 10px;
		}
		
		.timeline-wrap .disabled span {
			background-image: url(images/arrow_disabled@2x.png);
			background-size: 2px 17px;
		}
	}
	
/* >>>> Home Page
----------------------------------------- */
	.home-content {
		background: #b11430 url(images/bg_home.jpg) center top repeat-y;
		padding: 37px 27px 31px;
		position: relative;
		min-height: 286px;
	}
	.home-left {
		position: absolute;
		left: 27px;
		top: 37px;
		width: 290px;
		padding: 6px 0 0;
	}
	.home-left img {
		max-width: 100%;
		height: auto;
	}
	.home-right {
		font-size: 24px;
		color: #ffffff;
		line-height: 1.479;
		padding: 0 20px 0 338px;
	}
	.home-right p {
		margin: 0 0 0.2em;
	}
	.home-right a {
		font-family: "Gotham A","Gotham B", Arial, sans-serif;
		font-weight: 700;
		text-decoration: none;
		color: #ffffff;
	}
	.home-right .home-more {
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}

/* >>>> Events
----------------------------------------- */

.event-calendar-container {
	width: 290px;
	float: left;
}
.event-calendar {
	border-top: 1px solid #c41230;
	display: block;
	margin-bottom: 1px;
	text-decoration: none;
	color: #c41230;
}
.event-calendar * {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.ec-date {
	background: #c41230;
	width: 80px;
	height: 79px;
	float: left;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Gotham A","Gotham B", Arial, sans-serif;
	padding: 16px 17px;
	font-size: 9px;	
}
	.ec-date span {
		display: block;
	}
	.ec-date-month {
		border-bottom: 1px solid #b84459;
		padding-bottom: 10px;
		margin-bottom: 9px;
		letter-spacing: 0.1em;
	}
	.ec-date-day {
		font-size: 14px;
		font-weight: normal;
		letter-spacing: 0.2em;
	}
.ec-title {
	padding: 20px 0 0 97px;	
}
.active-event,
.event-calendar:hover {
	border-color: #353535;
	color: #353535;
}
.home-event .ec-date,
.active-event .ec-date,
.event-calendar:hover .ec-date {
	background: #353535;
}
.home-event .ec-date-month,
.active-event .ec-date-month,
.event-calendar:hover .ec-date-month {
	border-color: #5b5b5b;
}
.ec-title h3 {
	font-family: "Gotham A","Gotham B", Arial, sans-serif;
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 6px;
}
.ec-title h4 {
	font-size: 15px;
	font-weight: normal;
	font-style: italic;
}

.events-image,
.events-detail {
	float: left;
	width: 290px;
	margin-left: 29px;
}

.event-detail-top {
	border-bottom: 1px solid #bababa;
	margin-bottom: 20px;
}
.event-time,
.the-content .event-time {
	font-size: 13px;
	font-family: "Gotham A","Gotham B", Arial, sans-serif;
	font-weight: 300;
	line-height: 1.69;
	margin-bottom: .9em;
}
	.the-content .event-time-date {
		text-transform: uppercase;
		font-size: 12px;
	}
.the-content .event-info {
	font-size: 15px;
	line-height: 1.466;
	font-style: italic;
	margin-bottom: 1.3em;
}

.events-image img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

.event-detail-container {
	display: none;
}
.active-event-detail {
	display: block;
}
.event-details-wrap {
	float: left;
	width: 638px;
}

.ec-image {
	float: left;
	width: 210px;
}
.ec-image img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
.home-event .ec-date {
	height: 80px;
}
.home-event .ec-title {
	background: #fff;
	float: none;
	width: auto;
	margin: 0 0 30px;
	height: auto;
	padding: 20px 10px 19px 18px;
}
.view-events {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "Gotham A","Gotham B", Arial, sans-serif;
	letter-spacing: 0.2em;
	color: #fff;
	text-decoration: none;
}


/* >>>> Generic Page
----------------------------------------- */
.main-content {
	border-top: 1px solid #353535;
	padding: 20px 0 10px 4px;
}
.interior {
	background: #ededed;
	padding: 40px 42px 20px;
	min-height: 300px;
}
.the-content .page-title,
.page-title {
	font-size: 14px;
	color: #353535;
	font-family: "Gotham A","Gotham B", Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	padding-bottom: 38px;
}

/* >>>> Logo Interactive Page
----------------------------------------- */
.interior-logo {
	padding: 0;
}
.interactive-left {
	float: left;
	width: 341px;
	background: #c41230;
	min-height: 576px;
	color: #fff;
	padding: 24px 26px 20px;
}
.il-heading,
.interactive-left .il-heading {
	border-bottom: 1px solid #fff;
	min-height: 73px;
	padding: 4px 20px 0 42px;
	margin-bottom: 21px;
	position: relative;
}
.interactive-left .il-intro .il-heading {
	padding: 16px 20px 0 0;
}
.il-icon {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	top: 3px;
	left: -4px;
	width: 36px;
	height: 49px;
}
.il-close {
	position: absolute;
	top: 11px;
	right: 4px;
}

.il-desc {
	display: none;
}
.active-il-desc {
	display: block;
}
.ilc-slide img {
	margin-right: 1px;
	vertical-align: top;
	width: 96px;
	height: 96px;
}
.il-carousel {
	position: relative;
}
.ilc-prev,
.ilc-next {
	background: url(images/arrow_prev.png) center center no-repeat;
	width: 25px;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: -25px;
	text-indent: -9999px;	
}
.ilc-next {
	background-image: url(images/arrow_next.png);
	left: auto;
	right: -25px;
}

.interactive-left .il-heading h2,
.interactive-left .il-heading h3,
.interactive-left .il-heading h1 {
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	font-family: 'FFScalaWeb', Scala, Georgia, Times New Roman, serif;
	letter-spacing: 0.01em;
	padding: 0;
	text-transform: uppercase;
	line-height: 1.377;
}

.il-desc .il-heading h2 {
	text-transform: none;
	font-size: 18px;
	font-variant: small-caps;
}

.interactive-left .il-heading h3 {
	text-transform: none;
	font-style: italic;
	letter-spacing: 0;
	margin-bottom: 10px;
}

.il-content {
	height: 325px;
	margin-bottom: 10px;
}

.interactive-logo-wrap {
	float: left;
	width: 683px;
	padding: 56px 0 0 70px;
}
.interactive-logo {
	position: relative;
	text-align: center;
}
.interactive-logo img {
	vertical-align: top;
}
#wpi-logo {
	max-width: 100%;
	height: auto;
	position: relative;
	z-index: 9;
}
.ie-placeholder {
	position: absolute;
	z-index: 1;
	display: none;
	max-width: 100%;
	height: auto;
}


/* >>>> Single Timeline
----------------------------------------- */
.timeline-interior {
	padding: 0;
	min-height: 0;
}
.single-timeline-desc {
	background: #c41230;
	float: left;
	width: 33.30078125%; /* 341px */
	min-height: 384px;
	color: #fff;
	padding: 24px 26px 2px;
}
	.single-timeline-desc .il-heading {
		padding-left: 0;
		padding-bottom: 5px;
	}
	.single-timeline-desc .il-heading h1 {
		color: #fff;
		font-family: 'FFScalaWeb', Scala, Georgia, Times New Roman, serif;
		font-variant: small-caps;
		text-transform: none;
		font-size: 24px;
		letter-spacing: 0.05em;
		padding: 0;
		margin: 0;
		line-height: 1;
	}
	.single-timeline-desc .st-date {
		margin: 2px 0 0;
		font-size: 16px;
		font-family: "Gotham A","Gotham B", Arial, sans-serif;
		font-weight: 300;
		letter-spacing: 0.2em;
		line-height: 1.3;
	}

.single-timeline-right {
	float: left;
	width: 66.69921875%; /* 683px */
	height: 384px;
	position: relative;
	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
	.single-timeline-right img,
	.single-timeline-right iframe,
	.single-timeline-right embed {
		vertical-align: top;
		max-width: 100%;
		height: auto;
		position: relative;
		z-index: 9;
		width: 683px;
		height: 384px;
	}
	.single-timeline-right .event-image {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}


/*	::[Footer]::
================================================= */
#footer {
	position: relative;
	z-index: 5;
}
#footer a {
	text-decoration: none;
	color: #c41230;
}
.footer-column-wrap {
	margin-left: -1px;
}
	.footer-column {
		background: #ededed url(images/bg_footer_column.png) repeat-x;
		float: left;
		width: 33.333%;
		border-left: 1px solid #fff;
		min-height: 194px;
		text-align: center;
		padding: 13px 10px;
		color: #c41230;
	}
		.footer-column:hover,
		.footer-column:active {
			background: #fff;	
		}
	.fc-heading {
		font-family: "Gotham A","Gotham B", Arial, sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.20em;
		padding: 8px 0 0;
	}
	.fc-sub-heading {
		font-size: 15px;
		font-style: italic;
		font-weight: normal;
		padding: 4px 0 0;
	}
	.fc-image {
		vertical-align: top;
		margin: 24px 12px 10px;
	}
		/* social media icons */
		.col2 .fc-image { margin-top: 15px; }

		.col2 p {
			font-size: 1em;
			font-weight: bold;
			margin-top: 7px;
			font-style: normal;
		}