
#body-wrap { background: url("img/palettes/bg-black.gif") #333132 top left repeat-x; }

header { padding: 24px 0; }
/*header ul { top: 65px; }*/

header li {
	/*max-width: 95px;*/
	margin-left: 7px;
}

header li a {
	color: #fff;
	font-size: 13px;
	padding: 9px;
	/*line-height: 1.4em;*/
	text-align: center;
}

header li a:after { bottom: 0; }

#the-content:before { background-color: #4c1218; }

.home .intro h1 {
	color: #231f20 !important;
	font-size: 22px;
}

#the-content h2 { color: #ac2b37; }

.front-page.cycle-slideshow h1:before,
blockquote,
.home #the-content .callout.say .wrap { background-color: #ac2b37; }

blockquote { color: #fff; }

.footer-wrap {
    background-color: #dcdddf;
	border-color: #333132;
}

.footer-wrap footer { min-height: 75px; }