
#body-wrap { background: url("img/palettes/bg-blue.gif") #214065 top left repeat-x; }

header { padding: 24px 0; }
/*header ul { top: 65px; }*/

header li {
	/*max-width: 95px;*/
	margin-left: 7px;
}

header li a {
	color: #fff;
	font-size: 13px;
	padding: 9px;
	/*line-height: 1.4em;*/
	text-align: center;
}

header li a:after { bottom: 0; }
#the-content:before { background-color: #32434a; }

.home .intro h1 {
	color: #231f20 !important;
	font-size: 22px;
}


#the-content h2 { color: #944e18; }

.front-page.cycle-slideshow h1:before { background-color: #944e18; }

blockquote,
.home #the-content .callout.say .wrap { background-color: #4e6a73; }

blockquote { color: #fff; }

.footer-wrap {
    background-color: #e2eaf3;
	border-color: #214065;
}

.footer-wrap footer { min-height: 75px; }