/*
WPI Custom Blue
Version: 1.0
*/

body,
.color { background: #0c1f3d; }

h1 { color: #6c06a1; }
h3.title { color: #000; }
a { color: #06f; text-decoration: underline; }

.site-description { color: #a5b6d0;  }
#menu { background: #0c1f3d; }
.menuDiv { background: url('images/nav-bg-blue.png'); }
.menuDivide { background: url('images/menu-bottomline-blue.png'); }

.slides > li h3 { background-color: #0c1f3d; }
.slides > li .excerpt { background: #999; }

#tab { background-image: url('images/box-green.png'); }

.dropdown a:hover,
.dropdown li:hover,
.dropdown li:hover a,
a.btn_menu:hover { background: #6c8914; }

body.home h3.title,
.entry h1 { color: #6c06a1; }

button, input[type="button"], input[type="reset"], input[type="submit"],
.post .readmore a { background: #6c8914; }
input:focus, textarea:focus { color: #000; }
button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover,
.post .readmore a:hover { background: #6c06a1; }