/*
WPI Custom Green
Version: 1.0
*/

body,
.color { background: #103713; }

h1 { color: #ac2b37; }
h3.title { color: #103713; }
a { color: #06f; text-decoration: underline; }

.site-description { color: #879388;  }
#menu { background: #103713; }
.menuDiv { background: url('images/nav-bg-green.png'); }
.menuDivide { background: url('images/menu-bottomline-green.png'); }

.slides > li h3 { background-color: #103713; }
.slides > li .excerpt { background: #999; }

#tab { background-image: url('images/box-ltblue.png'); }

.dropdown a:hover,
.dropdown li:hover,
.dropdown li:hover a,
a.btn_menu:hover { background: #026fa2; }

body.home h3.title,
.entry h1 { color: #ac2b37; }

button, input[type="button"], input[type="reset"], input[type="submit"],
.post .readmore a { background: #849f32; }
input:focus, textarea:focus { color: #103713; }
button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover,
.post .readmore a:hover { background: #ac2b37; }

.leftNav a { color: #000; }
.leftNav li li li li { color: #6c06a1; }

#sidebar .menu ul li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item {
    color: #ac2b37;
}