/*
WPI Custom Cranberry
Version: 1.0
*/

body,
.color { background: #5f0e16; }

h1 { color: #ac2b37; }
h3.title { color: #5f0e16; }
a { color: #0066ff; text-decoration: underline; }

.site-description { color: #c9b9ba;  }
#menu { background: #5f0e16; }
.menuDiv { background: url('images/nav-bg-cranberry.png'); }
.menuDivide { background: url('images/menu-bottomline-cranberry.png'); }

.slides > li h3 { background-color: #5f0e16; }
.slides > li .excerpt { background: #999999; }

#tab { background-image: url('images/box-ltblue.png'); }

.dropdown a:hover,
.dropdown li:hover,
.dropdown li:hover a,
a.btn_menu:hover { background: #125679; }

body.home h3.title,
.entry h1 { color: #0a4c05; }

button, input[type="button"], input[type="reset"], input[type="submit"],
.post .readmore a { background: #125679; }
input:focus, textarea:focus { color: #5f0e16; }
button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover,
.post .readmore a:hover { background: #6c8914; }

.leftNav a { color: #000000; }
.leftNav li li li li { color: #6c06a1; }

#sidebar .menu ul li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item, #sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item {
    color: #6c8914;
}