/*

Theme Name: Venture Capetown
Template: venture
Theme URI: http://www.wpzoom.com/themes/venture
Version: 1.0.9
Author: WPZOOM
Author URI: http://www.wpzoom.com
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

@import url("../venture/style.css");

/* *********** */
/* NEW ANBURTT */
/* *********** */

/*@font-face {
   font-family: "Myriad Pro", Verdana, sans-serif;
   src: url("http://www.wpi.edu/fonts/MyriadPro-Regular.otf") format("opentype");
}*/

body { color: #333;
	font-family: 'Lato',Arial,Helvetica,sans-serif; }

#heading {
	/*display: none;*/
	background-color: transparent;
}


body.page-template-template-blog-php #tab,
body.archive #tab,
body.category #tab,
body.single #tab {
	/*display: none;*/
	top: 35px;
}

body.page-template-template-blog-php #heading h2,
#heading h2 { color: #fff; }

#heading h2 { padding: 0 0 30px 70px; }
body.page-template-template-blog-php #heading h2 { padding: 0 0 30px 35px; }

body.page-template-template-blog-php #heading > div {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1030px;
}

body.page-template-template-blog-php #heading h2 {
    font-size: 30px;
    line-height: normal;
    margin: 0 auto;
}

p { font-size: 11pt; line-height: 1.6; }
h1 { font-size: 26pt; }
h3 { font-size: 13pt; }


/* Header */

#header { padding-bottom: 0; }

#header .loginLink { float: right !important; }
#header .loginLink a { color: #fff !important; }

#logo { width: 100%; padding-bottom: 25px; }
#logo img { float: right; margin-top: 20px; }

#logo h1,
#logo h1 a {
	color: #ffffff;
	font-family: Georgia;
	font-size: 35px;
	font-weight: normal;
	float: left;
}

#logo h3 { clear: left; }

.site-description {
	padding: 15px 0 0 50px;
	width: 400px;
}

.site-title {
	font-size: 35px;
	font-weight: normal;
}


/* Horizontal Dropdown Nav */

/* remove all menu hover styles */
li.current-menu-item a:after,
li.current-menu-item a:hover,
li.current_page_item a:after,
li.current-menu-ancestor a:after,
li.current-menu-parent a:after,
li.current_page_parent a:after,
.dropdown > li > a:hover:after { border: none !important; }
.dropdown > li > a:hover,
.dropdown > li:hover,
.dropdown > li:hover > a { margin-top: 0px; }
.dropdown li:hover { border-radius: 0; }

.fix {
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 9999 !important;
}

/* don't hide nav under wordpress admin bar */
body.logged-in .fix {
    top: 28px;
}

#menu {
	float: none;
	text-align: center;
	width: 100%;
	height: 75px;
}

.divide { margin-left: -40px; height: 7px; }
.divide img { margin: -20px 0 1px 0; }

.menuDiv {
	height: 47px;
	background-position: bottom center;
}

.menuDivide {
	margin: 0;
	width: 100%;
	height: 5px;
	background-position: top center;
}

.menuDiv,
.menuDivide { background-repeat: no-repeat !important; }
	
.menuDivide img { display: none; }

#mainmenu { text-align: center; }

.dropdown { line-height: 2.1; }
.dropdown ul { border-radius: 0px; }

.dropdown li {
	display: inline-block;
	float: none;
	margin-right: 30px;
}

.dropdown a {
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	color: #fff;
}

.dropdown ul li a,
.dropdown li:hover ul a {
    color: #333;
    font-size: 13px;
}

.dropdown li:hover ul, .dropdown li.sfHover ul { top: 40px; }

ul.dropdown li li:hover ul,
ul.dropdown li li.sfHover ul {
  left: 170px !important;
  top: -10px !important;
}

.sub-menu {
	width: 300px;
	padding-left: 20px;
}


/* Homepage Slider */

body.home #slider {
	height: 279px !important;
	margin-bottom: 0;
}

body.home #slider .slides > li { height: 279px; }
#slider, .intImage img { border: 8px solid #ffffff; }


/* Search Box */

.searchBox, .widget_search { float: right; padding: 10px; }
body.page-template-template-full-width-php .leftNav
body.page-template-template-full-width-php .searchBox { float: right !important; }

body.home .widget_search { margin-bottom: 20px; }
.searchBox, .widget_search { background: #e2e2e2; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
	padding: 5px 9px;
	border-radius: 0px;
	margin-left: 10px;
	height: 28px;
}

input, textarea { color: #999999; }
input, textarea { padding: 5px 9px; }
.searchBox #s, .widget_search #s { width: 200px; }
/*#homewidgets #homewidgets-rightmain { background: none; }*/


/* Main Content Area */

#main { margin: 0; }

#tab {
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 40px; /* 1054 */
	height: 31px;
	margin: auto;
	position: relative;
	top: 89px;
	left: 1px;
    left: -506px;
	z-index: 10;
}

body.home #tab { top: 80px; }

body.page-template-template-full-width-php #tab { top: 75px; }

body.page-parent #tab,
body.page-child #tab { top: 135px; }

#content-wrap:before {
	background-color: #faa637;
	height: 6px;
    top: -14px;
	width: 1030px;
}

#content-wrap {
	width: 950px;
	padding: 40px;
	border-top: 5px solid #fff;
	background: url(images/content-bg.png) #fff top left repeat-x;
	margin-top: 0;
}

#content { background: none; } 

body.home .widget_sp_image {  margin-bottom: 20px; }

#homewidgets #homewidgets-main { width: 560px; }

body.home #homewidgets-rightmain .widget { margin-bottom: 30px; }

#sidebar .widget {
    margin-bottom: 0;
}

.post_content_left {
	float: left;
	padding-right: 30px;
	position: relative;
	width: 100%;
}

body.home h3.title {
	color: #6C06A1;
	font-size: 22pt;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 20px;
}

.entry .youtube {
	margin: auto;
	width: 100%;
	display: block;
	text-align: center;
}

.entry h1 {
	font-weight: normal;
	line-height: 1.3;
	margin-bottom: 20px;
	font-size: 22pt;
}

.entry strong { color: #000; }

.entry ol, .entry ul {
	font-size: 14px !important;
	margin-left: 40px;
}

.entry ol li,
.entry ul li {
	padding-bottom: 10px;
	list-style-type: disc;
}

.entry ul li { list-style-type: disc; }

.entry table { margin-bottom: 20px; }

.searchBox #s, .widget_search #s { width: 135px; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
	position: relative;
	z-index: 1000;
}

#homewidgets .widget ul { padding-left: 20px; }
#homewidgets .widget ul li {
	list-style-type: disc !important;
	list-style-position: outside;
	margin-bottom: 10px !important;
}


/* Left Navigation Customization */

.transImg,
body.page-template-template-full-width-php .leftSubNav { display: none; }

.leftNav {
	position: absolute;
	background: url('images/dots.gif') repeat-y 315px top;
	z-index: 9;
}

body.page-template-template-full-width-php .leftNav {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 280px;
}

ul#mainmenu li.current-menu-ancestor { background-color: #6c8914 !important; }
ul#mainmenu li.current-menu-ancestor li.current-menu-ancestor { background-color: transparent !important; }

.leftSubNav {
	width: 250px;
	background: url(images/dots.gif) top right repeat-y;
	float: left;
	margin-right: 35px;
	padding-right: 3px;
	margin-bottom: 20px;
}

#sidebar {
	float: left;
	margin-top: 60px;
	width: 250px;
}

#sidebar .menu ul { margin-left: 0; }

#sidebar .menu ul li {
	line-height: 1.4em;
	list-style-position: outside;
	font-size: 13px;
	padding-bottom: 0;
}

#sidebar .menu ul li.page_item,
#sidebar .menu ul li.current_page_item li.page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.page_item,
#sidebar .menu ul li.current_page_ancestor li.page_item li.page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item li.page_item {
	display: none !important;
}

#sidebar .menu ul li.current_page_item,
#sidebar .menu ul li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor,
#sidebar .menu ul li.current_page_ancestor li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_parent li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_parent,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_parent li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item {
	display: block !important;
}

li.current_page_item a,
li.current-menu-ancestor a,
li.current-menu-parent a,
li.current_page_parent a {
    background: transparent !important;
}

#sidebar .menu ul li.current_page_item a,
#sidebar .menu ul li.current_page_ancestor a {
	text-decoration: none;
	color: #333;
	padding: 7px 12px 7px 0;
	display: block;
	font-weight: normal !important;
}

#sidebar .menu ul li.current_page_item a,
#sidebar .menu ul li.current_page_ancestor a {
	padding-left: 5px;
}

#sidebar .menu ul li.current_page_item li.page_item a,
#sidebar .menu ul li.current_page_ancestor li.page_item a {
	padding-left: 20px;
}

#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.page_item a {
	padding-left: 35px;
}

#sidebar .menu ul li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item {
	color: #905bb6;
}

#sidebar .menu ul li.current_page_item li.page_item {
	margin-left: 25px;
}

#sidebar .menu ul li.current_page_ancestor li.current_page_item li.page_item {
	margin-left: 40px;
}

#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item {
	margin-left: 50px;
}

#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item a {
	padding-left: 50px;
}

#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item {
	margin-left: 70px;
}

#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item {
	margin-left: 85px;
}

#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item a {
	padding-left: 65px;
}

#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item a {
	padding-left: 80px;
}

#sidebar .menu ul li.current_page_item li.page_item a,
#sidebar .menu ul li.current_page_ancestor li.current_page_item li.page_item a,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a {
	padding-left: 7px;
	color: #333;
}

#sidebar .menu ul li.current_page_item a {
	background-color: #d8e3f4 !important;
	font-weight: bold !important;
}

#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_parent li.page_item a { font-weight: bold !important; }

#sidebar .menu ul li.current_page_item li.page_item a {
	background-color: transparent !important;
	font-weight: normal !important;
}

#sidebar .menu ul li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item {
	list-style: outside !important;
	list-style-type: disc !important;
	display: list-item !important;
}

#sidebar .menu ul li.current_page_item li.page_item a,
#sidebar .menu ul li.current_page_ancestor li.current_page_item li.page_item a,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a {
	font-weight: bold !important;
}

li.current-menu-item a, li.current_page_item a, li.current-menu-ancestor a, li.current-menu-parent a, li.current_page_parent a,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item,
#sidebar .menu ul li.current_page_item:hover,
#sidebar .menu ul li.current_page_item a:hover,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a { background-color: transparent !important; }

#sidebar .menu ul li.page_item a:hover,
#sidebar .menu ul li.current_page_item li.page_item a:hover,
#sidebar .menu ul li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item:hover {
	background-color: #c2d1e8 !important;
}


/* Footer Section */

#footer .wrap {
	margin-top: 0;
	padding: 15px 0 0 0;
	background: none !important;
}
#footer .left { float: none; margin-top: 0; }
#footer .widgets { display: none; }
.copyright { text-align: center; }
.copyright p { font-size: 10pt; }



/* Blog Section */

body.page-template-template-blog-php #tab { top: 35px; }
body.page-template-template-blog-php #heading h2 { color: #fff; }
body.page-template-template-blog-php #heading h2 { padding: 0 0 30px 35px; }

body.page-template-template-blog-php #heading > div {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 1030px;
}

body.page-template-template-blog-php #heading h2 {
    font-size: 30px;
    line-height: normal;
    margin: 0 auto;
}

body.page-template-template-blog-php #sidebar,
body.archive #sidebar,
body.category #sidebar {
	margin-top: 45px;
	width: 300px;
}

body.page-template-template-blog-php .wpi_surrounding_nav_widget,
body.archive .wpi_surrounding_nav_widget,
body.category .wpi_surrounding_nav_widget { display: none !important; }

body.page-template-template-blog-php .widget,
body.archive .widget,
body.category .widget { margin-bottom: 40px !important; }

/* BB 03-09-2018 */
/*body.page-template-template-blog-php .widget h3.title,
body.archive .widget h3.title,
body.category .widget h3.title {
	color: #3D3D3D !important;
    font-weight: bold !important;
    line-height: 1.3;
    margin-bottom: 12px;
	font-size: 22px !important;
}*/

body.page-template-template-blog-php .searchBox,
body.page-template-template-blog-php .widget_search,
body.archive .searchBox,
body.archive .widget_search,
body.category .searchBox,
body.category .widget_search {
    float: left;
	width: 100%;
}

body.page-template-template-blog-php .searchBox #s,
body.page-template-template-blog-php .widget_search #s,
body.archive .searchBox #s,
body.archive .widget_search #s,
body.category .searchBox #s,
body.category .widget_search #s { width: 185px; }

.post_content { padding-right: 50px; }
.post .meta p.author:before { margin-left: 0 !important; }
.meta a { font-size: 11pt; }

.post .readmore a { border-radius: 0; text-decoration: none; }


/* Team Listing Widget */

.team-member {
	width: 200px;
	float: left;
}

.team-member h3,
.team-member p {
	margin-bottom: 0;
	font-size: 11pt;
}

.team-member img {
	max-width: 175px;
	margin-bottom: 5px;
	height: auto;
}


/* **************** */
/* RESPONSIVE FIXES */
/* **************** */

/* Small Displays */
@media screen and (max-width: 1040px) {

	.loginLink { padding-right: 20px; }

	#logo {
		width: 100% !important;
		margin: 0;
	}

	#logo img {
		max-width: 152px;
		padding-right: 20px;
		margin-top: 10px;
	}
	
	.site-title {
		padding-left: 20px;
		margin-top: 0px;
		width: auto !important;
	}
	.site-description { padding-left: 70px; }
	
	#heading { padding-left: 25px; }
	
	#heading h2 {
	padding: 2px 0 30px 0px;
	font-size: 1.9em;
	}
	
	.divide,
	.menuDivide { margin: 0; }
	
	.divide img { width: 100%; }
	.menuDiv { background-position: top center !important; }
	
	.dropdown li { margin-right: 1%; }
	
	body.home #slider {
		height: auto !important;
		width: 90%;
		margin: auto;
	}
	
	body.home #slider .slides > li {
		background-size: 100%;
		background-position: 0 0;
		height: auto !important;
	}
	
	body.home #slider .slides li {
    	height: 0 !important;
    	min-height: 254px !important;
	}
	
	.intImage { text-align: center; }
	.intImage h1, .intImage h2, .intImage h3 .intImage p { text-align: left; }
	
	.intImage img { max-width: 97% !important; height: auto; }
	
	#content-wrap:before,
	#content-wrap,
	.menuDivide,
	#tab { width: 100%; }
	
	#tab { left: -11px; }
	
	#content-wrap { padding: 0; }
	
	#homewidgets #homewidgets-main,
	#homewidgets #homewidgets-rightmain {
    	width: 100%;
		padding-top: 40px;
	}
	
	#homewidgets .widget ul { padding-left: 10%;
    padding-right: 5%; }
	
	#homewidgets-main h1,
	#homewidgets-main h2,
	#homewidgets-main h3,
	#homewidgets-main p,
	#homewidgets #homewidgets-rightmain img,
	.entry h1,
	.entry h2,
	.entry h3,
	.entry p {
		padding-left: 5%;
		padding-right: 5%;
	}
	
	.entry ul, .entry ol { margin: 0 5% 14px 10%; }
	
	#homewidgets #homewidgets-rightmain .widget_search { margin-right: 5%; }
	
	.post_content_left { padding-right: 0; }
	
	.leftNav, .entry { padding-top: 40px; }
	
	.leftNav { padding-left: 30px; }
	
	.leftSubNav { padding-left: 30px; }
	
	.entry h1, .entry h2, .entry h3, .entry p { padding-left: 20px; padding-right: 20px; }
	.entry img { width: 60% !important; }
	.team-member img.avatar { width: 100% !important; height: auto; }
	
	body.page-template-template-blog-php #heading > div { width: auto; }
	body.page-template-template-blog-php #heading h2 { padding-left: 10px; }
	
	.post_content {
    padding-right: 0;
	width: 65%;
	padding-top: 10px;
	}
	
	body.page-template-template-blog-php #sidebar,
	body.archive #sidebar,
	body.category #sidebar {
		width: 31% !important;
		margin-top: 76px !important;
	}
	
	body.page-template-template-blog-php .searchBox #s,
	body.page-template-template-blog-php .widget_search #s,
	body.archive .searchBox #s,
	body.archive .widget_search #s,
	body.category .searchBox #s,
	body.category .widget_search #s {
    width: 50%;
	}
	
	.post h1.title,
	.post h2.title { padding: 20px 0 0 20px; }
	
	.post .meta { margin: 0 20px 10px !important; }
	
	.post .meta p.author:before { margin-left: 20px; }
	
	.post h3,
	.commentlist,
	#respond { padding-left: 20px; }
	
	#comments #respond h3 { padding-left: 0 !important; }
	
	.commentlist li.comment > div { width: 90%; }
	
	#respond input, #respond textarea { width: 95%; }
	
	#logo { margin: 35px 0 0; }
	
	.loginLink {
		float: right !important;
		position: absolute;
		right: 0;
		top: 0;
		padding: 10px 10px 10px 0;
	}
	
	.btn_menu {
		background: none;
		border: 1px solid #fff;
		border-radius: 0;
		color: #fff;
		width: 36px;
		height: auto;
		padding: 2px 6px 5px;
		position: absolute;
		top: 10px;
		left: 10px;
		right: 0;
		text-decoration: none;
}

	a.btn_menu:hover {
		color: #fff;
		text-decoration: none;
	}
	
	#menu {
		height: auto;
		padding: 0;
	}
	
	.menuDiv { height: auto; background-repeat: repeat-y; }
	
	.dropdown { padding: 0; }
	
	.dropdown li {
		display: block;
		margin: 0;
	}
	
	.dropdown ul li a,
	.dropdown li:hover ul a,
	.dropdown a:hover,
	.dropdown ul li a { color: #fff !important; }

	.dropdown li:hover ul, .dropdown li.sfHover ul { top: 0; }

	ul.dropdown li li:hover ul,
	ul.dropdown li li.sfHover ul {
		top: 0 !important;
		left: 0 !important;
	}
}



@media screen and (max-width: 980px) {
	
	body.home #slider .slides > li { min-height: 170px !important; }
	.entry img { width: 50% !important; }
	
}


/* Tablet Portrait */
@media screen and (max-width: 768px) {
	
	body.home #slider .slides > li { min-height: 170px !important; }
	.dropdown li a { padding-left: 5%; padding-right: 5%; }
	
	.post_content { width: 100%; }
	body.page-template-template-blog-php #sidebar,
	body.archive #sidebar,
	body.category #sidebar { width: 90% !important; }
	body.page-template-template-blog-php .searchBox #s,
	body.page-template-template-blog-php .widget_search #s,
	body.archive .searchBox #s,
	body.archive .widget_search #s,
	body.category .searchBox #s,
	body.category .widget_search #s { width: 75%; }
	body.page-template-template-blog-php .widget,
	body.archive .widget,
	body.category .widget { margin-left: 20px; }
	
	

/* All Mobile Sizes (devices and browser) */
@media screen and (max-width: 640px) {
	
	#header { margin: 0; padding: 4px 0 0 0; }
	
	.loginLink { padding-right: 3%; }
	
	#logo { margin: auto; text-align: center; }
	
	#logo img {
		margin: 0 0 20px 0;
		padding: 0;
		float: none;
		width: 40% !important;
		max-width: none;
	}
	
	#logo h1, #logo h1 a { float: none !important; }
	
	.site-title { margin-bottom: 10px; }
	
	.site-title a { margin-right: 0 !important; }
	
	.site-title,
	.site-description {
		padding: 0 !important;
		width: auto !important;
	}
	
	body.home #slider .slides > li { min-height: 79px !important; }
	
	#homewidgets #homewidgets-main {
    	width: 100%;
		padding-top: 40px;
	}
	
	.intImage img { max-width: 90% !important; }
	
	.leftSubNav { display: none; }
	
	.fix {
		position: inherit !important;
		top: 0;
		left: 0;
		right: 0;
		margin: 0;
		z-index: 9999 !important;
	}

    /* don't hide nav under wordpress admin bar */
    body.logged-in .fix {
        top: 28px;
    }
	
	#menu {
		height: auto;
		padding: 0;
	}
	
	.menuDiv { height: auto; background-repeat: repeat-y; }
	
	.dropdown { padding: 0; }
	
	.dropdown li {
		display: block;
		margin: 0;
	}
	
	.dropdown ul li a,
	.dropdown li:hover ul a,
	.dropdown a:hover,
	.dropdown ul li a { color: #fff !important; }

	.dropdown li:hover ul, .dropdown li.sfHover ul { top: 0; }

	ul.dropdown li li:hover ul,
	ul.dropdown li li.sfHover ul {
		top: 0 !important;
		left: 0 !important;
	}
	
	#tab { background-image: none !important; }
	
	#heading { padding-left: 10px; }
	#heading h2 {
	font-size: 1.9em;
	}
	
	#homewidgets #homewidgets-main { width: 100%; }
	
	.leftNav,
	body.page-template-template-full-width-php .leftNav {
		position: relative;
		padding-left: 0;
		padding-right: 0;
		margin: auto;
		background-image: none;
		top: 0;
		right: 0;
		width: auto;
	}

	.searchBox,
	.widget_search {
		margin: 0 auto 20px auto !important;
		float: none;
		width: 84%;
	}
	
	.entry { padding-top: 20px; }
	
	#homewidgets-main img,
	#homewidgets-rightmain img,
	.entry img {
		width: 90% !important;
		height: auto !important;
		float: none !important;
		display: block;
		margin: 0 auto;
	}
	
	iframe, object, embed {
		height: 100%;
		width: auto;
	}
	
	body.page-template-template-blog-php .widget_search,
	body.archive .widget_search,
	body.category .widget_search { margin-left: 20px !important; }
	body.page-template-template-blog-php .searchBox #s,
	body.page-template-template-blog-php .widget_search #s,
	body.archive .searchBox #s,
	body.archive .widget_search #s,
	body.category .searchBox #s,
	body.category .widget_search #s { width: 50%; }

}
