/* Flexnav Base Styles */
.flexnav {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    transition: none;
    -webkit-transform-style: preserve-3d;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    max-height: 0;
    }

.flexnav.opacity {
    opacity: 0; 
    }
  
.flexnav.flexnav-show {
    max-height: 2000px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; 
    background: #525252;
    padding: 24px 0; 
    }

#menu .flexnav.flexnav-show li a {
	color: #fff;
	font-family: MuseoSans-300, sans-serif;
	}

.flexnav.one-page {
    position: fixed;
    position: absolute;
    top: 36px;
    left: 0px;
    max-width: 200px; 
    padding: 0px;
	margin: 0;
	}
    
#menu .flexnav.flexnav-show {
	left: -10px;
	padding: 12px 0;
	}

#menu .flexnav.one-page li {
	margin: 0px;
	}

#menu .flexnav.one-page li a {
	padding: 12px 24px 12px 0;
	}

#menu .flexnav.one-page.flexnav-show li a {
	padding: 6px 10px;
	font-size: 1.25em;
	}

.flexnav li {
    font-size: 100%;
    position: relative;
    overflow: hidden; 
    }

.flexnav.lg-screen li {
    margin: 0 0 0 6px;
    }
    
.flexnav.flexnav-show li {
    padding: 6px 0;
    margin: 0 4%;
    }

.flexnav.flexnav-show li .buttons {
    margin-top: 0px;
    }

.flexnav li .buttons {
    margin-top: -6px;
    }

.flexnav li a {
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden;
    }

.flexnav li ul {
    width: 100%; 
    }

.flexnav li ul li {
    font-size: 100%;
    position: relative;
    overflow: hidden; 
    }

.flexnav li ul.flexnav-show li {
    overflow: visible; 
    }

.flexnav li ul li a {
    display: block;
    }

.menu-button {
    margin: 6px 0 0 0;
	font-size: 1.6em;
	color: #AC2B37;
    float: left;
    position: relative;
    display: block;
    background: transparent;
    cursor: pointer;
    border-bottom: 0px; 
    }
  
.menu-button.one-page {
    position: fixed;
    top: 0;
    right: 5%;
    padding-right: 45px; 
    }

.touch-button {
    display: none !important;
    }

@media all and (max-width: 890px) {
#menu .flexnav.one-page li a {
	padding: 6px 18px 6px 0;
	}
}

@media all and (min-width: 650px) {

.flexnav {
    float: right;
    width: auto;
    margin: 24px 4% 0 0;
    }

  body.one-page {
    padding-top: 70px; }

  .flexnav {
    overflow: visible; 
    }
    .flexnav.opacity {
      opacity: 1; }
    .flexnav.one-page {
      top: 0;
      right: auto;
      max-width: 1080px; }
    .flexnav li {
      position: relative;
      list-style: none;
      float: left;
      display: block;
      overflow: visible;
      }
    .flexnav li a {
      border-bottom: none; }
    .flexnav li > ul {
      position: absolute;
      top: auto;
      left: 0; }
      .flexnav li > ul li {
        width: 100%; }
    .flexnav li ul li > ul {
      margin-left: 100%;
      top: 0; }
    .flexnav li ul li a {
      border-bottom: none; }
    .flexnav li ul.open {
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1; }
      .flexnav li ul.open li {
        overflow: visible;
        max-height: 100px; }
      .flexnav li ul.open ul.open {
        margin-left: 100%;
        top: 0; }

  .menu-button {
    display: none; } }
.oldie body.one-page {
  padding-top: 70px; }
.oldie .flexnav {
  overflow: visible; }
  .oldie .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px; }
  .oldie .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    width: 20%;
    min-height: 50px;
    overflow: visible; }
  .oldie .flexnav li:hover > ul {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .flexnav li:hover > ul li {
      width: 100%;
      float: none; }
  .oldie .flexnav li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
    overflow: visible; }
  .oldie .flexnav li > ul {
    background: #acaca1;
    position: absolute;
    top: auto;
    left: 0;
    display: none;
    z-index: 1;
    overflow: visible; }
  .oldie .flexnav li ul li ul {
    top: 0; }
  .oldie .flexnav li ul li a {
    border-bottom: none; }
  .oldie .flexnav li ul.open {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .flexnav li ul.open li {
      width: 100%; }
    .oldie .flexnav li ul.open ul.open {
      margin-left: 100%;
      top: 0;
      display: block;
      width: 100%;
      overflow: visible; }
  .oldie .flexnav ul li:hover ul {
    margin-left: 100%;
    top: 0; }
.oldie .menu-button {
  display: none; }
.oldie.ie7 .flexnav li {
  width: 19.9%; }
