.btn-holder {
    position: relative;
    .term-block-submit {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 432;
        background: cyan;
        opacity: 0;
        cursor: pointer;
    }
}