
@import 'utilities/index';

body, html {
    font-family: $font-family;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
}
ol {
    @include reset(ul);
    border: 1px solid #efefef;
    width: 100%;
    max-width: 400px;
    position: relative;
    li {
        font-size: rem(14px);
        position: relative;
        padding: rem(10px) rem(15px) rem(10px) rem(50px);
        background: $color-white;
        color: $color-night;
        border-bottom: 1px solid #efefef;
        box-sizing: border-box;
        cursor: all-scroll;
        line-height: 1.5;
        &.dragged {
            width: 400px !important;
            border: 1px solid #efefef;
            background: #efefef;
            z-index: 432;
            position: absolute;
        }
        &.placeholder {
            height: 39px;
            border: dashed 1px red;
        }
        &:before {
            content: "";
            display: block;
            width: 40px;
            height: 38px;
            position: absolute;
            top: 3px;
            left: 5px;
            background: url(assets/images/sort.svg) no-repeat 50%;
            background-size: 24px auto;
            opacity: 0.5;
        }
    }
}