/*
Theme Name: BlankSlate
Theme URI: http://wordpress.org/themes/blankslate
Author: TidyThemes
Author URI: http://tidythemes.com/
Version: 4.0.1
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: black, blue, white, light, one-column, flexible-width, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2013 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}

body {
	line-height: 1.5em;
	font-family: MuseoSans-300, helvetica, arial, sans-serif;
	margin: 0px;
	color: #393939;
	min-width: 1100px;
	}

/*EKG 8-10-16 Override padding on top menu*/
#menu .flexnav.one-page li a {
	padding-top: 14px !important;
}


.fl {
	float: left;
	}

.fr {
	float: right;
	}

/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
  	margin-bottom: 24px;
	font-family: MuseoSlab-300; 
	font-weight: normal; 
	font-style: normal; 
	color: #393939;
	}

h1 {
  	font-size: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
  	line-height: 1em; /* 24px --> 24 ÷ 24 = 1 */
	}

h2 {
  	font-size: 1.375em; 
 	line-height: 1.0909em; 
	}

h3 {
  	font-size: 1.25em; 
  	line-height: 1.2em; 
	}

h4 {
  	font-size: 1.125em; 
  	line-height: 1.333em; 
	}
	
h5, h6 {
  	font-size: 1em; 
  	line-height: 1.5em; 
	font-family: MuseoSans-700, helvetica, arial, sans-serif;
	margin-bottom: 6px;
	}

#branding h1 {
	margin: 0px;
	}

.container h1 {
  	font-size: 3.125em; 
  	line-height: 1.44em; 
	color: #393939;
	font-family: MuseoSlab-300;
	}

.container h2 {
	line-height: 1.633635em;
	color: #EA941A;
	}

.educate .container h2, .intro .container h3, .commencementtop .container h3, .next-in-bio-top .container h3 {
	color: #ea941a;
	line-height: 1.633635em;
  	font-size: 1.375em; 
	}

.educate .container h1, .revolutionize .container h1, .inspire .container h1 {
	color: #fff;
	}

.intro h2, .commencementtop h2, .next-in-bio-top h2 {
  	font-size: 3.125em; 
  	line-height: 1.44em; 
	color: #393939;
	color: #fff;
	text-align: center;
	}

.intro .container h1, .footer .container h1, .commencementtop .container h1, .next-in-bio-top .container h1 {
	display: none;
	}

.intro .container-content, .commencementtop .container-content, .next-in-bio-top .container-content {
	margin: 0 auto;
	max-width: 1000px;
	}

/* LAYERS */
#header {
	position: fixed;
	width: 100%;
	background: #fff;
	padding: 12px 0px;
	border-top: 7px solid #ea941a;
	z-index: 200;
	left: 0px;	
	right: 0px;
	top: 0px;
	}

.block.intro, .block.commencementtop {
	padding: 192px 0 144px 0;
	}

#menu {
	position: relative;
	margin: 0 auto;
	max-width: 1100px;
	position: relative;
	}


.intro .arrow-m, .educate .arrow-m, .commencementtop .arrow-m {
	background: transparent url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/arrow_w.png') no-repeat center bottom;
	position: absolute;
	bottom: 0px;
	height: 65px;
	margin: 0 auto;
	width: 100%;
	}

.revolutionize .arrow-m, .innovate .arrow-m, .compete .arrow-m, .events .arrow-m {
	background: transparent url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/arrow_b.png') no-repeat center bottom;
	position: absolute;
	bottom: 0px;
	height: 65px;
	margin: 0 auto;
	width: 100%;
	z-index: 10;
	}
	
.revolutionize .arrow-m {
	background: transparent url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/arrow_p.png') no-repeat center bottom;
	}

.intro .arrow-l, .educate .arrow-l, .commencementtop .arrow-l, .visit .arrow-l {
	background: transparent url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/w.png') repeat-x left bottom;
	background-size: cover;
	position: absolute;
	bottom: 0px;
	height: 65px;
	width: calc(50% - 143px);
	}

.intro .arrow-m, .commencementtop .arrow-m {
	background: transparent url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/arrow_w_15.png') no-repeat center bottom;
	}

.intro .arrow-r, .educate .arrow-r, .commencementtop .arrow-r, .visit .arrow-r {
	background: transparent url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/w.png') repeat-x right bottom;
	background-size: cover;
	position: absolute;
	bottom: 0px;
	height: 65px;
	right: 0px;
	width: calc(50% - 143px);
	}

.compete .left-column, .innovate .left-column {
	padding-bottom: 96px;
	}

.educate {
	background: #000 url('img/educate-140226.png') 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-behavior: url(http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/js/backgroundsize/backgroundsize.min.htc);
	color: #fff;
	margin-top: -65px;
	padding-bottom: 144px;
	}

.revolutionize {
	background: #2b3856;
	color: #fff;
	margin-top: -65px;
	padding-bottom: 144px;
	}

.inspire {
	background: #000 url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/inspire.png') 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-behavior: url(http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/js/backgroundsize/backgroundsize.min.htc);
	color: #fff;
	margin-top: -65px;
	}

/* EKG: Start Commencement Specific Changes */

.commencementtop {
	background: #000 url('http://wp.wpi.edu/commencement/wp-content/themes/blankslate/img/commencement-spring-05-14-14.jpg') no-repeat 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-behavior: url(http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/js/backgroundsize/backgroundsize.min.htc);
	color: #fff;
}

.commencementtop h2, .commencementtop h3 {
	font-weight: bold;
}

.visit {
	margin-top: -65px;
	background: #ac2b37 url('http://wp.wpi.edu/commencement/wp-content/themes/blankslate/img/two-towers-bg.jpg') no-repeat center center;
	color: #fff;
	}

.visit .arrow-m {
	background: transparent url('http://wp.wpi.edu/commencement/wp-content/themes/blankslate/img/red-arrow.png') no-repeat center bottom;
	position: absolute;
	bottom: 0px;
	height: 65px;
	margin: 0 auto;
	width: 100%;
	z-index: 10;
}

.connect {
	background: #2b3856;
	color: #fff;
	margin-top: -65px;
	padding-bottom: 144px;
	}

.connect a, .connect a:visited {
	color: #fff;
	}

.visit a, .visit a:visited {
	color: #ea941a;
	}

.imgborder {
	border: 8px solid #fff;
}

.block.events, .block.directions {
	padding: 0 0 96px;
}
.events .right-column {
	margin-top: -47px;
}
.events h2 {
	color: #ac2b37;
}
.events h1 {
	color: #000;
}

.visit h1, .connect h1 {
	color: #fff;
}

#twitter {
	background: transparent url('http://wp.wpi.edu/commencement/wp-content/themes/blankslate/img/twitter.png') no-repeat 0 0;
	height: 76px;
	padding-bottom: 2em;
}
#facebook {
	background: transparent url('http://wp.wpi.edu/commencement/wp-content/themes/blankslate/img/facebook.png') no-repeat 0 0;
	height: 76px;
	padding-bottom: 2em;
}
#instagram {
	background: transparent url('http://wp.wpi.edu/commencement/wp-content/themes/blankslate/img/insta.png') no-repeat 0 0;
	height: 76px;
	padding-bottom: 2em;
}

.socialmedialink {
	padding-left: 90px;
	color: #fff;
}

.connect .right-column {
	margin-top: 0;
}

/* EKG: End Commencement Specific Changes */

/* EKG: BEGIN next-in-BIO Specific Changes */

.next-in-bio-top {
	background: #000 url('/next-in-bio/wp-content/themes/blankslate/img/lp-nextbio-abstract-combo.jpg') no-repeat 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-behavior: url(/next-in-bio/wp-content/themes/blankslate/js/backgroundsize/backgroundsize.min.htc);
	color: #fff;
}

.next-in-bio-top h2, .next-in-bio-top h3 {
	font-weight: bold;
}

.block.eventdetails {
	padding: 50px 0 !important;
}

.prizesandsubmission {
	background: #c22235;
	color: #fff;
}
.prizesandsubmission h1 {
	color: #ffffff;
}

.connect {
	background: #128aa3;
	color: #fff;
	}

.connect a, .connect a:visited {
	color: #fff;
	}

.submit-abstract-button {
	background-color: #ffffff;
    color: #c22235;
	padding: 5px 10px;
}
.submit-abstract-button:hover {
	background-color: #cccccc;
	text-decoration:none;
}

.event-table td {
	padding: 0 15px 5px 0 !important;
}

#bio-facebook {
	background: transparent url('/next-in-bio/wp-content/themes/blankslate/img/next-in-bio-icons_fb.png') no-repeat 0 0;
	height: 76px;
	padding-bottom: 2em;
}

#bio-email {
	background: transparent url('/next-in-bio/wp-content/themes/blankslate/img/next-in-bio-icons_mail.png') no-repeat 0 0;
	height: 76px;
	padding-bottom: 2em;
}

#bio-email a, #bio-facebook a {
	position: relative;
	top: 25px;
}

/* Remove Arrow for Intro Block with Hero Image
.next-in-bio-top .arrow-m {
	background: transparent url('/next-in-bio/wp-content/themes/blankslate/img/arrow_w.png') no-repeat center bottom;
    bottom: 0;
    height: 65px;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: 10;
	}
*/	
.eventdetails .arrow-m, .prizesandsubmission .arrow-m, .directions .arrow-m {
	background: transparent url('/next-in-bio/wp-content/themes/blankslate/img/arrow_b.png') no-repeat center bottom;
	position: absolute;
	bottom: 0px;
	height: 65px;
	margin: 0 auto;
	width: 100%;
	z-index: 10;
	}
	
.eventdetails .arrow-m {
	bottom: -65px;
}

.prizesandsubmission .arrow-m {
	background: transparent url('/next-in-bio/wp-content/themes/blankslate/img/arrow_w_15.png') no-repeat center bottom;
	}
	
.prizesandsubmission .arrow-l, .directions .arrow-l {
	background: transparent url('/next-in-bio/wp-content/themes/blankslate/img/w.png') repeat-x left bottom;
	background-size: cover;
	position: absolute;
	bottom: 0px;
	height: 65px;
	width: calc(50% - 143px);
	}

.prizesandsubmission .arrow-r, .directions .arrow-r {
	background: transparent url('/next-in-bio/wp-content/themes/blankslate/img/w.png') repeat-x right bottom;
	background-size: cover;
	position: absolute;
	bottom: 0px;
	height: 65px;
	right: 0px;
	width: calc(50% - 143px);
	}

/* EKG: End next-in-BIO Specific Changes */

.intro {
	background: #000 url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/metal.png') no-repeat 0 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-behavior: url(http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/js/backgroundsize/backgroundsize.min.htc);
	color: #fff;
	}

.footer {
	background: #000;
	color: #fff;
	}

.footer .container {
	margin: 0 50px;
	width: auto;
	}

.footer h2 {
	margin-left: -50px;
	}

.block.innovate, .block.compete {
	padding: 36px 0 0 0;
	}
	
.compete .container {
	background: url('img/compete-warner.png') no-repeat right 0px;
	background-size: 52%;
	}

.innovate .container {
	background: url('img/baxter.png') no-repeat right 0px;
	background-size: 52%;
	}

.compete h2, .innovate h2 {
	max-width: 48%;
	}

.intro .left-column, .commencementtop .left-column, .next-in-bio-top .left-column {
	max-width: 100%;
	margin-right: 0;
	}

.left-column {
	float: left;
	margin-top: 24px;
	max-width: 48%;
	margin-right: 2%;	
	}

/*EKG: 4-23-15 Changed float to right for commencement - no adverse affect on everydayrobots */
.right-column {
	float: right;
	margin-top: 24px;
	margin-left: 50px;
	width: 48%;
	margin-left: 2%;	
	}

.right-column iframe, .right-column img {
	width: 100% !important;
	z-index: 1;
	}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

.b-l-column {
	float: left;
	width: 320px;
	}

.b-m-column {
	float: left;
	width: 320px;
	margin: 0 10px;
	}

.b-r-column {
	float: left;
	width: 320px;
	}

footer {
	padding: 36px 0px;
	clear: both;
	background: #0C4;
	background: #525252;
	color: #fff;
	}

#copyright {
	margin: 0 auto;
	max-width: 1100px;
	}

#container {
	float: left;
	width: 100%;
	}

.container-wrapper {
	margin: 0 auto;
	margin: 0 40px;
	max-width: 1100px;
	clear: both; 
	margin: 0 auto;
	}

.container {
	float: left;
	width: 100%;
	}

.block {
	padding: 96px 0;
	float: left;
	width: 100%;
	position: relative;
	}

/* MENU */
#menu ul li {
	display: inline;
	margin: 0 10px;
	cursor: pointer;
	}

#menu ul li a {
	color: #393939;
	}

#menu ul li a:focus, #menu ul li a:hover, #menu ul li a:active {
	color: #AC2B37;
	text-decoration: none;
	}

/* TEXT */
p {
	margin: 0 0 24px 0;
	}

.hide {
	display: none;
	}

.center {
	text-align: center;
	}

.mcenter {
	margin: 0 auto;
	}

.dblock {
	display: block;
	}

/* IMAGES */

.featured-image img {
	float: right;
	height: auto;
	width: 300px;
	}

#header img {
	vertical-align: middle;
	}

/* LISTS */
.block ul li {
	list-style-type: disc;
	}

.block ul {
	margin: 24px 0 0 24px;
	}

/* LINKS */
a, a:visited {
	font-family: MuseoSans-500, helvetica, arial, sans-serif;
	color: #ac2b37;
	text-decoration: none;
	}

a:focus, a:hover, a:active {
	text-decoration: underline;
	}

.educate a, .inspire a {
	color: #c00;
	} 

/* IE */
.ie7 body, .ie8 body {
	min-width: 1100px;
	}

.ie7 .innovate .container, .ie8 .innovate .container {
	background: url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/baxter_sm.png') no-repeat right 0px;
	}
	
.ie7 .compete, .ie8 .compete { background-image: none; }
	

.ie7 .compete .container, .ie8 .compete .container {
	background: #fff url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/compete-warner-sm.png') no-repeat right 0px;
	}

.ie7 .menu-button, .ie8 .menu-button {
	display: none;
	}

.ie7 .arrow-l, .ie7 .arrow-m, .ie7 .arrow-r, .ie8 .arrow-l, .ie8 .arrow-m, .ie8 .arrow-r {
	display: none;
	}

@media (max-width: 1200px) {
body {
	min-width: 1000px;
	}

#copyright, .container-wrapper, #menu {
	max-width: 1000px;
	}

.intro .container-content, .commencementtop .container-content, .next-in-bio-top .container-content {
	max-width: 900px;
	}
}

@media (max-width: 1100px) {
body {
	min-width: 850px;
	}

#copyright, .container-wrapper, #menu {
	max-width: 850px;
	}

.intro .container-content, .commencementtop .container-content, .next-in-bio-top .container-content {
	max-width: 750px;
	}
}

@media (max-width: 900px) {
body {
	min-width: 200px;
	}

#header img {
	height: 35px;
	}

#menu {
	margin: 0 30px;
	}

#copyright, .container-wrapper, #menu {
	margin: 0 30px;
	}

.intro, .commencementtop, .next-in-bio-top {
	padding: 144px 0 120px 0;
	}

.innovate .left-column {
	padding-bottom: 72px;
	}
	
.compete .left-column { padding-bottom: 0; }
.compete { padding: 96px 0 !important; }


.left-column, .right-column, .footer .left-column, .footer .right-column, .compete h2, .innovate h2 {
	width: 100%;
	max-width: 100%;
	margin-right: 0px;
	margin-left: 0px;
	}

.right-column, .footer .right-column {
	margin-top: 0px;
	}

.innovate .container, .compete .container {
	background: transparent;
	}
}

@media (max-width: 600px) {

.container h1, .intro h2, .commencementtop h2, .next-in-bio-top h2 {
  	font-size: 1.875em; 
  	line-height: 1.6em; 
	}

.center-mobile-button {
	display: block;
	margin: 0 auto;
	text-align: center;
}

#bio-email a, #bio-facebook a {
	top: 11px !important;
}

.connect {
	padding-bottom: 50px !important;
}

.footer { padding: 72px 0; }
.footer .container { margin: 0; }
.footer h2 { margin: 0 auto !important;	 }
img[src*="logo-full.png"] { width: 100% !important; }

}
