html {
    min-height: 100%;
    position: relative;
}
#body {
	position: relative;
	z-index: 1;
}
.clearfix,
.clear {
    clear: both;
    width: 100%;
    display: table;
}
.hidden {
    display: none;
    visibility: hidden;
}
.sr {
    @include screenreader;
}
hr {
    border: 0;
    height: 1px;
    background: #ddd;
    width: 100%;
}
img.svg {
    display: none;
}
.wrap {
    width: 100%;
    max-width: calc( 100% - 36px );
    margin: 0 auto;
    position: relative;

    @media screen and (min-width: 540px) {
        max-width: calc( 100% - 60px );
    }
    @media screen and (min-width: 720px) {
        max-width: calc( 100% - 120px );
    }
    @media screen and (min-width: 1200px) {
        // max-width: rem(1200px);
    }
    @media screen and (min-width: 1440px) {
        max-width: rem(1200px);
    }
}

.search-screen {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 900;
    transform: translate(9999px);
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    &:before {
        height: 100%;
        background: $color-white;
        opacity: 0;
    }
    &:after {
        height: 3px;
        background: $color-red;
        width: 0;
    }
    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: $color-red;
    }
    & + .section.search-bar {
        display: block;
        transform: translateY(-400px);
        opacity: 0;
    }
    &.active {
        transform:translate(0);
        &:before {
            opacity: 1;
            transition: all 200ms;
        }
        &:after {
            width: 100%;
            transition: all 500ms;
            transition-delay: 200ms;
        }
        div {
            height: 100%;
            transition: all 500ms;
            transition-delay: 600ms;
        }
        & + .section.search-bar {
            transform: translateY(0);
            transition: all 500ms;
            transition-delay: 700ms;
            opacity: 1;
        }
    }
    &.closing-active {
        &:before {
            opacity: 0;
            transition-delay: 400ms;
        }
        div {
            height: 0;
            transition-delay: 200ms;
        }
        & + .section.search-bar {
            transform: translateY(-400px);
            transition: all 200ms;
            opacity: 0;
        }
    }
    &.results {
        transform:translate(0);
        div {
            height: 0;
            transition: all 500ms ease;
        }
        &:before {
            opacity: 0;
        }
        &:after {
            width: 0;
        }
        & + .section.search-bar {
            transform: translateY(0);
            opacity: 1;
        }
    }
    &.showing {
        position: absolute;
        & + .section.search-bar {
            transform: translateY(0);
            opacity: 1;
            position: absolute;
        }
    }
    &.closing-show {
        transform:translate(0);
        & + .section.search-bar {
            transform: translateY(-400px);
            transition: all 200ms;
            opacity: 0;
        }
    }
}