a {
	color: $color-link;
	transition: $transition;
	text-decoration: none;
	outline: none;
    .theme-night & {
        color: $color-white;
		&:focus,
		&:hover {
			color: $color-white;
		}
    }
	&:focus,
	&:hover {
		color: $color-night;
	}
	&.link-arrow {
		color: $color-night;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		.theme-night & {
			color: $color-white;
			&:after {
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292893 11.7071C0.653377 12.0676 1.22061 12.0953 1.6129 11.7903L1.70711 11.7071L6.70711 6.70711C7.06759 6.34662 7.09532 5.77939 6.7903 5.3871L6.70711 5.29289L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0675907 0.653377 -0.0953203 1.22061 0.209705 1.6129L0.292893 1.70711L4.585 6L0.292893 10.2929C-0.0675907 10.6534 -0.0953203 11.2206 0.209705 11.6129L0.292893 11.7071Z' id='fill' fill='%23ffffff' stroke='none' /%3E%3C/svg%3E");
			}
			&:focus,
			&:hover {
				color: $color-white;
				&:after {
					background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292893 11.7071C0.653377 12.0676 1.22061 12.0953 1.6129 11.7903L1.70711 11.7071L6.70711 6.70711C7.06759 6.34662 7.09532 5.77939 6.7903 5.3871L6.70711 5.29289L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0675907 0.653377 -0.0953203 1.22061 0.209705 1.6129L0.292893 1.70711L4.585 6L0.292893 10.2929C-0.0675907 10.6534 -0.0953203 11.2206 0.209705 11.6129L0.292893 11.7071Z' id='fill' fill='%23ffffff' stroke='none' /%3E%3C/svg%3E");
				}
			}
		}
		&:after {
			content: "";
			display: inline-block;
			width: 7px;
			height: 12px;
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292893 11.7071C0.653377 12.0676 1.22061 12.0953 1.6129 11.7903L1.70711 11.7071L6.70711 6.70711C7.06759 6.34662 7.09532 5.77939 6.7903 5.3871L6.70711 5.29289L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0675907 0.653377 -0.0953203 1.22061 0.209705 1.6129L0.292893 1.70711L4.585 6L0.292893 10.2929C-0.0675907 10.6534 -0.0953203 11.2206 0.209705 11.6129L0.292893 11.7071Z' id='fill' fill='%231D1D21' stroke='none' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: auto 12px;
			margin: 0 0 0 rem(10px);
			transition: $transition;
		}
		&:focus,
		&:hover {
			color: $color-red;
			&:after {
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292893 11.7071C0.653377 12.0676 1.22061 12.0953 1.6129 11.7903L1.70711 11.7071L6.70711 6.70711C7.06759 6.34662 7.09532 5.77939 6.7903 5.3871L6.70711 5.29289L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0675907 0.653377 -0.0953203 1.22061 0.209705 1.6129L0.292893 1.70711L4.585 6L0.292893 10.2929C-0.0675907 10.6534 -0.0953203 11.2206 0.209705 11.6129L0.292893 11.7071Z' id='fill' fill='%23AC2B37' stroke='none' /%3E%3C/svg%3E");
			}
		}
	}
	&.more {
		font-size: rem(16px);
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $color-night;
		text-decoration: none;
		&:after {
			content: "";
			display: inline-block;
			width: 12px;
			height: 12px;
			background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.001 0L5.999 0Q5.90061 0 5.8041 0.0191955Q5.7076 0.038391 5.6167 0.0760443Q5.5258 0.113698 5.44399 0.168362Q5.36217 0.223026 5.2926 0.2926Q5.22303 0.362175 5.16836 0.443985Q5.1137 0.525796 5.07604 0.616699Q5.03839 0.707602 5.0192 0.804105Q5 0.900607 5 0.999L5 5L0.999 5Q0.900607 5 0.804104 5.0192Q0.707602 5.03839 0.616699 5.07604Q0.525796 5.1137 0.443985 5.16836Q0.362174 5.22303 0.2926 5.2926Q0.223026 5.36217 0.168362 5.44399Q0.113698 5.5258 0.0760443 5.6167Q0.038391 5.7076 0.0191955 5.8041Q0 5.90061 0 5.999L0 6.001Q0 6.09939 0.0191955 6.19589Q0.038391 6.2924 0.0760443 6.3833Q0.113698 6.4742 0.168362 6.55601Q0.223026 6.63782 0.2926 6.7074Q0.362174 6.77697 0.443985 6.83164Q0.525796 6.8863 0.616699 6.92395Q0.707602 6.96161 0.804104 6.9808Q0.900607 7 0.999 7L5 7L5 11.001Q5 11.0994 5.0192 11.1959Q5.03839 11.2924 5.07604 11.3833Q5.1137 11.4742 5.16836 11.556Q5.22303 11.6378 5.2926 11.7074Q5.36217 11.777 5.44399 11.8316Q5.5258 11.8863 5.6167 11.924Q5.7076 11.9616 5.8041 11.9808Q5.90061 12 5.999 12L6.001 12Q6.09939 12 6.19589 11.9808Q6.2924 11.9616 6.3833 11.924Q6.4742 11.8863 6.55601 11.8316Q6.63782 11.777 6.7074 11.7074Q6.77697 11.6378 6.83164 11.556Q6.8863 11.4742 6.92395 11.3833Q6.96161 11.2924 6.9808 11.1959Q7 11.0994 7 11.001L7 7L11.001 7Q11.0994 7 11.1959 6.9808Q11.2924 6.96161 11.3833 6.92395Q11.4742 6.8863 11.556 6.83164Q11.6378 6.77697 11.7074 6.7074Q11.777 6.63782 11.8316 6.55601Q11.8863 6.4742 11.924 6.3833Q11.9616 6.2924 11.9808 6.19589Q12 6.09939 12 6.001L12 5.999Q12 5.90061 11.9808 5.8041Q11.9616 5.7076 11.924 5.6167Q11.8863 5.5258 11.8316 5.44399Q11.777 5.36217 11.7074 5.2926Q11.6378 5.22303 11.556 5.16836Q11.4742 5.1137 11.3833 5.07604Q11.2924 5.03839 11.1959 5.0192Q11.0994 5 11.001 5L7 5L7 0.999Q7 0.900607 6.9808 0.804105Q6.96161 0.707602 6.92395 0.616699Q6.8863 0.525796 6.83164 0.443985Q6.77697 0.362175 6.7074 0.2926Q6.63782 0.223026 6.55601 0.168362Q6.4742 0.113698 6.3833 0.0760443Q6.2924 0.038391 6.19589 0.0191955Q6.09939 0 6.001 0Z' id='Combined-Shape' fill='%23323237' fill-rule='evenodd' stroke='none' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: 12px auto;
			background-position: 50%;
			margin: 0 0 0 rem(10px);
			transition: $transition;
		}
		&:focus,
		&:hover {
			color: $color-red;
			&:after {
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.001 0L5.999 0Q5.90061 0 5.8041 0.0191955Q5.7076 0.038391 5.6167 0.0760443Q5.5258 0.113698 5.44399 0.168362Q5.36217 0.223026 5.2926 0.2926Q5.22303 0.362175 5.16836 0.443985Q5.1137 0.525796 5.07604 0.616699Q5.03839 0.707602 5.0192 0.804105Q5 0.900607 5 0.999L5 5L0.999 5Q0.900607 5 0.804104 5.0192Q0.707602 5.03839 0.616699 5.07604Q0.525796 5.1137 0.443985 5.16836Q0.362174 5.22303 0.2926 5.2926Q0.223026 5.36217 0.168362 5.44399Q0.113698 5.5258 0.0760443 5.6167Q0.038391 5.7076 0.0191955 5.8041Q0 5.90061 0 5.999L0 6.001Q0 6.09939 0.0191955 6.19589Q0.038391 6.2924 0.0760443 6.3833Q0.113698 6.4742 0.168362 6.55601Q0.223026 6.63782 0.2926 6.7074Q0.362174 6.77697 0.443985 6.83164Q0.525796 6.8863 0.616699 6.92395Q0.707602 6.96161 0.804104 6.9808Q0.900607 7 0.999 7L5 7L5 11.001Q5 11.0994 5.0192 11.1959Q5.03839 11.2924 5.07604 11.3833Q5.1137 11.4742 5.16836 11.556Q5.22303 11.6378 5.2926 11.7074Q5.36217 11.777 5.44399 11.8316Q5.5258 11.8863 5.6167 11.924Q5.7076 11.9616 5.8041 11.9808Q5.90061 12 5.999 12L6.001 12Q6.09939 12 6.19589 11.9808Q6.2924 11.9616 6.3833 11.924Q6.4742 11.8863 6.55601 11.8316Q6.63782 11.777 6.7074 11.7074Q6.77697 11.6378 6.83164 11.556Q6.8863 11.4742 6.92395 11.3833Q6.96161 11.2924 6.9808 11.1959Q7 11.0994 7 11.001L7 7L11.001 7Q11.0994 7 11.1959 6.9808Q11.2924 6.96161 11.3833 6.92395Q11.4742 6.8863 11.556 6.83164Q11.6378 6.77697 11.7074 6.7074Q11.777 6.63782 11.8316 6.55601Q11.8863 6.4742 11.924 6.3833Q11.9616 6.2924 11.9808 6.19589Q12 6.09939 12 6.001L12 5.999Q12 5.90061 11.9808 5.8041Q11.9616 5.7076 11.924 5.6167Q11.8863 5.5258 11.8316 5.44399Q11.777 5.36217 11.7074 5.2926Q11.6378 5.22303 11.556 5.16836Q11.4742 5.1137 11.3833 5.07604Q11.2924 5.03839 11.1959 5.0192Q11.0994 5 11.001 5L7 5L7 0.999Q7 0.900607 6.9808 0.804105Q6.96161 0.707602 6.92395 0.616699Q6.8863 0.525796 6.83164 0.443985Q6.77697 0.362175 6.7074 0.2926Q6.63782 0.223026 6.55601 0.168362Q6.4742 0.113698 6.3833 0.0760443Q6.2924 0.038391 6.19589 0.0191955Q6.09939 0 6.001 0Z' id='Combined-Shape' fill='%23AC2B37' fill-rule='evenodd' stroke='none' /%3E%3C/svg%3E");
			}
		}
		.theme-night & {
			&:after {
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.001 0L5.999 0Q5.90061 0 5.8041 0.0191955Q5.7076 0.038391 5.6167 0.0760443Q5.5258 0.113698 5.44399 0.168362Q5.36217 0.223026 5.2926 0.2926Q5.22303 0.362175 5.16836 0.443985Q5.1137 0.525796 5.07604 0.616699Q5.03839 0.707602 5.0192 0.804105Q5 0.900607 5 0.999L5 5L0.999 5Q0.900607 5 0.804104 5.0192Q0.707602 5.03839 0.616699 5.07604Q0.525796 5.1137 0.443985 5.16836Q0.362174 5.22303 0.2926 5.2926Q0.223026 5.36217 0.168362 5.44399Q0.113698 5.5258 0.0760443 5.6167Q0.038391 5.7076 0.0191955 5.8041Q0 5.90061 0 5.999L0 6.001Q0 6.09939 0.0191955 6.19589Q0.038391 6.2924 0.0760443 6.3833Q0.113698 6.4742 0.168362 6.55601Q0.223026 6.63782 0.2926 6.7074Q0.362174 6.77697 0.443985 6.83164Q0.525796 6.8863 0.616699 6.92395Q0.707602 6.96161 0.804104 6.9808Q0.900607 7 0.999 7L5 7L5 11.001Q5 11.0994 5.0192 11.1959Q5.03839 11.2924 5.07604 11.3833Q5.1137 11.4742 5.16836 11.556Q5.22303 11.6378 5.2926 11.7074Q5.36217 11.777 5.44399 11.8316Q5.5258 11.8863 5.6167 11.924Q5.7076 11.9616 5.8041 11.9808Q5.90061 12 5.999 12L6.001 12Q6.09939 12 6.19589 11.9808Q6.2924 11.9616 6.3833 11.924Q6.4742 11.8863 6.55601 11.8316Q6.63782 11.777 6.7074 11.7074Q6.77697 11.6378 6.83164 11.556Q6.8863 11.4742 6.92395 11.3833Q6.96161 11.2924 6.9808 11.1959Q7 11.0994 7 11.001L7 7L11.001 7Q11.0994 7 11.1959 6.9808Q11.2924 6.96161 11.3833 6.92395Q11.4742 6.8863 11.556 6.83164Q11.6378 6.77697 11.7074 6.7074Q11.777 6.63782 11.8316 6.55601Q11.8863 6.4742 11.924 6.3833Q11.9616 6.2924 11.9808 6.19589Q12 6.09939 12 6.001L12 5.999Q12 5.90061 11.9808 5.8041Q11.9616 5.7076 11.924 5.6167Q11.8863 5.5258 11.8316 5.44399Q11.777 5.36217 11.7074 5.2926Q11.6378 5.22303 11.556 5.16836Q11.4742 5.1137 11.3833 5.07604Q11.2924 5.03839 11.1959 5.0192Q11.0994 5 11.001 5L7 5L7 0.999Q7 0.900607 6.9808 0.804105Q6.96161 0.707602 6.92395 0.616699Q6.8863 0.525796 6.83164 0.443985Q6.77697 0.362175 6.7074 0.2926Q6.63782 0.223026 6.55601 0.168362Q6.4742 0.113698 6.3833 0.0760443Q6.2924 0.038391 6.19589 0.0191955Q6.09939 0 6.001 0Z' id='Combined-Shape' fill='%23ffffff' fill-rule='evenodd' stroke='none' /%3E%3C/svg%3E");
			}
			&:focus,
			&:hover {
				color: $color-white;
				&:after {
					background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.001 0L5.999 0Q5.90061 0 5.8041 0.0191955Q5.7076 0.038391 5.6167 0.0760443Q5.5258 0.113698 5.44399 0.168362Q5.36217 0.223026 5.2926 0.2926Q5.22303 0.362175 5.16836 0.443985Q5.1137 0.525796 5.07604 0.616699Q5.03839 0.707602 5.0192 0.804105Q5 0.900607 5 0.999L5 5L0.999 5Q0.900607 5 0.804104 5.0192Q0.707602 5.03839 0.616699 5.07604Q0.525796 5.1137 0.443985 5.16836Q0.362174 5.22303 0.2926 5.2926Q0.223026 5.36217 0.168362 5.44399Q0.113698 5.5258 0.0760443 5.6167Q0.038391 5.7076 0.0191955 5.8041Q0 5.90061 0 5.999L0 6.001Q0 6.09939 0.0191955 6.19589Q0.038391 6.2924 0.0760443 6.3833Q0.113698 6.4742 0.168362 6.55601Q0.223026 6.63782 0.2926 6.7074Q0.362174 6.77697 0.443985 6.83164Q0.525796 6.8863 0.616699 6.92395Q0.707602 6.96161 0.804104 6.9808Q0.900607 7 0.999 7L5 7L5 11.001Q5 11.0994 5.0192 11.1959Q5.03839 11.2924 5.07604 11.3833Q5.1137 11.4742 5.16836 11.556Q5.22303 11.6378 5.2926 11.7074Q5.36217 11.777 5.44399 11.8316Q5.5258 11.8863 5.6167 11.924Q5.7076 11.9616 5.8041 11.9808Q5.90061 12 5.999 12L6.001 12Q6.09939 12 6.19589 11.9808Q6.2924 11.9616 6.3833 11.924Q6.4742 11.8863 6.55601 11.8316Q6.63782 11.777 6.7074 11.7074Q6.77697 11.6378 6.83164 11.556Q6.8863 11.4742 6.92395 11.3833Q6.96161 11.2924 6.9808 11.1959Q7 11.0994 7 11.001L7 7L11.001 7Q11.0994 7 11.1959 6.9808Q11.2924 6.96161 11.3833 6.92395Q11.4742 6.8863 11.556 6.83164Q11.6378 6.77697 11.7074 6.7074Q11.777 6.63782 11.8316 6.55601Q11.8863 6.4742 11.924 6.3833Q11.9616 6.2924 11.9808 6.19589Q12 6.09939 12 6.001L12 5.999Q12 5.90061 11.9808 5.8041Q11.9616 5.7076 11.924 5.6167Q11.8863 5.5258 11.8316 5.44399Q11.777 5.36217 11.7074 5.2926Q11.6378 5.22303 11.556 5.16836Q11.4742 5.1137 11.3833 5.07604Q11.2924 5.03839 11.1959 5.0192Q11.0994 5 11.001 5L7 5L7 0.999Q7 0.900607 6.9808 0.804105Q6.96161 0.707602 6.92395 0.616699Q6.8863 0.525796 6.83164 0.443985Q6.77697 0.362175 6.7074 0.2926Q6.63782 0.223026 6.55601 0.168362Q6.4742 0.113698 6.3833 0.0760443Q6.2924 0.038391 6.19589 0.0191955Q6.09939 0 6.001 0Z' id='Combined-Shape' fill='%23ffffff' fill-rule='evenodd' stroke='none' /%3E%3C/svg%3E");
				}
			}
		}
		&.less {
			color: $color-red;
			&:after {
				background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='12px' height='2px' viewBox='0 0 12 2' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999 0L1.001 0Q1.09939 0 1.1959 0.0191955Q1.2924 0.038391 1.3833 0.0760443Q1.4742 0.113698 1.55601 0.168362Q1.63783 0.223026 1.7074 0.2926Q1.77697 0.362175 1.83164 0.443985Q1.8863 0.525796 1.92396 0.616699Q1.96161 0.707602 1.9808 0.804105Q2 0.900607 2 0.999L2 11.001Q2 11.0994 1.9808 11.1959Q1.96161 11.2924 1.92396 11.3833Q1.8863 11.4742 1.83164 11.556Q1.77697 11.6378 1.7074 11.7074Q1.63783 11.777 1.55601 11.8316Q1.4742 11.8863 1.3833 11.924Q1.2924 11.9616 1.1959 11.9808Q1.09939 12 1.001 12L0.999 12Q0.900607 12 0.804105 11.9808Q0.707602 11.9616 0.616699 11.924Q0.525796 11.8863 0.443985 11.8316Q0.362175 11.777 0.2926 11.7074Q0.223026 11.6378 0.168362 11.556Q0.113698 11.4742 0.0760443 11.3833Q0.038391 11.2924 0.0191955 11.1959Q0 11.0994 0 11.001L0 0.999Q0 0.900607 0.0191955 0.804105Q0.038391 0.707602 0.0760443 0.616699Q0.113698 0.525796 0.168362 0.443985Q0.223026 0.362175 0.2926 0.2926Q0.362175 0.223026 0.443985 0.168362Q0.525796 0.113698 0.616699 0.0760443Q0.707602 0.038391 0.804105 0.0191955Q0.900607 0 0.999 0Z' transform='matrix(-4.371139E-08 1 -1 -4.371139E-08 12 0)' id='Rectangle' fill='%23AC2B37' stroke='none' /%3E%3C/svg%3E");
			}
			span {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: inline;
				}
			}
		}
		span {
			&:first-child {
				display: inline;
			}
			&:last-child {
				display: none;
			}
		}
	}
}
