
body {
    font-family: $font-family;
    font-size: $font-size;
    color: $color-default;
    font-weight: 400;
	line-height: 1;
    -webkit-text-size-adjust: 100%;
    padding: 0 !important;
    transition: background-color 1s ease;
    background-color: $color-white;
    &.theme-night {
        background: $color-dark-gray;
        color: $color-white;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
    line-height: normal;
    font-family: $myriad;
}
h1 {
    font-size: rem(36px);
    line-height: rem(48px);
    font-weight: 600;
    margin: 0 0 rem(10px);
}
h2 {
    font-size: rem(30px);
    line-height: rem(36px);
    font-weight: 600;
    margin: 0 0 rem(10px);
}
h3 {
    font-size: rem(27px);
    line-height: rem(33px);
    font-weight: 600;
    margin: 0 0 rem(10px);
}
h4 {
    font-size: rem(24px);
    line-height: rem(33px);
    font-weight: 600;
    margin: 0 0 rem(10px);
}
h5 {
    font-size: rem(21px);
    line-height: rem(30px);
    font-weight: 600;
    margin: 0 0 rem(10px);
}
h6 {
    font-size: rem(18px);
    line-height: rem(30px);
    font-weight: 600;
    margin: 0 0 rem(10px);
}
@media screen and (min-width: 960px) {
    h1 {
        font-size: rem(48px);
        line-height: rem(60px);
    }
    h2 {
        font-size: rem(36px);
        line-height: rem(42px);
    }
    h3 {
        font-size: rem(30px);
        line-height: rem(39px);
    }
    h4 {
        font-size: rem(24px);
        line-height: rem(36px);
    }
}
.h1 {
    @extend h1;
}
.h2 {
    @extend h2;
}
.h3 {
    @extend h3;
}
.h4 {
    @extend h4;
}
.h5 {
    @extend h5;
}
.h6 {
    @extend h6;
}
p {
    font-size: rem(16px);
    line-height: rem(27px);
    margin: 0 0 rem(22px);
    &.semibold {
        font-weight: 600;
    }
}
.red {
    color: $color-red;
}
strong {
    font-weight: 700;
}
ul {
    list-style: disc outside;
}
ol {
    list-style: decimal outside;
}
ul, ol {
    @extend p;
    padding:0 0 0 rem(24px);
    margin: 0 0 rem(22px);
    li {
        @extend p;
        margin: 0;
        font-size: $font-size;
        line-height: 160%;
    }
}
blockquote {
    padding: 0;
    margin: 0 0 rem(22px);
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid lighten($color-black, 40%);
    p {
        display: block;
        margin: 0 auto;
        font-size: rem(22px);
        line-height: 160%;
    }
}
.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}