.the-content blockquote,
blockquote {
	position: relative;
	text-align: center;
	padding: 32px 44px 30px;	
	color: $red;
	font-family: $minion-pro;
	font-weight: $medium;
	font-size: rem(18px);
	line-height: (27 / 18);
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	
	&::after {
		content: '';
		width: 44px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		border: 3px solid $red;
		border-left: 0;
	}
	&::before {
		content: '\e80e';
		font-family: 'fontello';
		background: $red;
		color: $white;
		position: absolute;
		text-align: center;
		width: 48px;
		height: 48px;
		line-height: 48px;
		left: -24px;
		top: 50%;
		font-size: 24px;
		transform: translateY(-50%);
	}
	.tl,
	.bl {
		position: absolute;
		width: 44px;
		height: 50%;
		left: 0;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			border: 3px solid $red;
			border-right: 0;
		}
	}
	.tl {
		top: 0;
		&::before {
			border-bottom: 0;
			top: 0;
			bottom: 40px;
		}
	}
	.bl {
		bottom: 0;
		&::before {
			border-top: 0;
			bottom: 0;
			top: 40px;
		}
	}
	
	cite {
		color: $text-color;
		font-size: $font-size;
		font-weight: $font-weight;
		line-height: $line-height;
		font-family: $font-family-default;
		
		&::before {
			content: '— ';
		}
	}	
	
}

blockquote.blockquote-with-photo {
	display: flex;
	padding: 0;
	align-items: flex-start;
	
	&::before,
	&::after {
		display: none;
	}
	.quote-author-photo {
		flex: 0 0 170px;
		min-width: 0;
		padding: 20px 25px;
		position: relative;
		img {
			vertical-align: top;
			width: 100%;
			border-radius: 50%;
		}
		&::before,
		&::after {
			content: '';
			position: absolute;
			border: 3px solid $red;
			width: 26px;
			top: 0;
			bottom: 0;
		}
		&::before {
			border-right: 0;
			left: 0;
		}
		&::after {
			border-left: 0;
			right: 0;
		}
	}
	.blockquote-inner {
		flex: 1 1 auto;
		padding: 21px 15px 15px 29px;
		text-align: left;
	}
}

hr.wp-block-separator {
	margin-top: 48px;
	margin-bottom: 51px;
}

.wp-block-image {
	img {
		vertical-align: top;
	}
	figcaption {
		margin: 0;
	}
}

@media (max-width: $tablet-max-width) {
	
	blockquote.blockquote-with-photo .quote-author-photo {
		flex: 0 0 140px;
	}
	blockquote.blockquote-with-photo .blockquote-inner {
		padding-top: 3px;
	}
	blockquote + hr.wp-block-separator,
	blockquote + hr {
		margin-top: 0;
	}
}

@media (max-width: $phone-max-width) {
	hr.wp-block-separator {
		margin-bottom: 34px;
	}
	
	.the-content blockquote:not(.blockquote-with-photo),
	blockquote:not(.blockquote-with-photo) {
		padding: 0;
		&::after,
		.tl,
		.bl {
			display: none;
		}
		&::before {
			position: relative;
			top: auto;
			left: auto;
			display: block;
			margin: 0 auto 13px;
			transform: none;
		}
	}
	
	blockquote.blockquote-with-photo {
		display: block;
		.quote-author-photo {
			width: 170px;
		}
		.blockquote-inner {
			padding: 17px 0 0;
		}
	}
}