input[type="submit"],
button:not(.fancybox-button),
[type="submit"],
.button,
.btn {
	background-color: $button-bg-color;
	padding: 12px 22px 13px;
	font-size: rem(21px);
	@include font-condensed;
	text-transform: uppercase;
	cursor: pointer;
	color: $white !important;
	outline: 0;
	display: inline-block;
	text-align: center;
	transition: all 0.1s linear;
	border-radius: 0;
	border: 2px solid $button-bg-color;
	line-height: 1.096;
	text-decoration: none;
	letter-spacing: 0.0952em;
	min-width: 214px;
	min-height: 54px;
	&:focus,
	&:hover {
		background-color: $button-bg-color-hover;
		border-color: $button-bg-color-hover;
		color: $white !important;
	}
	&[disabled] {
		opacity: 0.5;
	}
	.icon {
		font-size: rem(23px);
		line-height: 0.5;
		margin-right: 3px;
		position: relative;
		margin-left: -1px;
		margin-bottom: -3px;
		left: -2px;
		&::before {
			margin-left: 0;
			line-height: 0.5;
		}
	}
}

.btn-outline,
.button-outline {
	
}

.btn-play {
	background: $red;
	display: inline-block;
	color: $white;
	width: 120px;
	height: 120px;
	text-align: center;
	line-height: 120px;
	font-size: 47px;
	border-radius: 50%;
	vertical-align: top;
	.icon {
		position: relative;
		top: -3px;
		left: 3px;
		&::before {
			margin: 0;
		}
	}
	&:hover {
		background: $button-bg-color-hover;
		color: $white;
	}
}

.button-control {
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	width: 62px;
	height: 62px;
	color: $black;
	font-size: 36px;
	text-align: center;
	line-height: 58px;
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 20px;
		border: 2px solid $red;				
		height: 62px;
		top: 0;
		transition: all 0.1s linear;
	}
	&::before {
		border-right: 0;
		left: 0;
	}
	&::after {
		border-left: 0;
		left: auto;
		right: 0;
	}
	
	&:hover {
		&::before,
		&::after {
			height: 50px;
			top: 6px;
			left: 6px;
		}
		&::after {
			left: auto;
			right: 6px;
		}		
	}
	
	.icon::before {
		margin: 0;
	}
}

.button-control.bc-white {
	color: $white;
	&::before, &::after {
		border-color: $white;
	}
}

.solo-link {
	@include font-condensed;
	text-transform: uppercase;
	font-size: rem(18px);
	letter-spacing: 0.0833em;
	line-height: (30 / 18);
	display: inline-block;
	.icon {
		font-size: (23 / 18) * 1em;
		line-height: 0.5;
		margin-left: 7px;
		position: relative;
		top: 2px;
	}
}

@media (max-width: $tablet-max-width) {
	.btn-play {
		width: 90px;
		height: 90px;
		line-height: 90px;
		font-size: 35px;
		.icon {
			position: relative;
			top: -2px;
			left: 2px;
		}
	}
}

@media (max-width: $phone-max-width) {
	input[type="submit"],
	button:not(.fancybox-button),
	[type="submit"],
	.button,
	.btn {
		font-size: rem(18px);
		letter-spacing: 0.0833em;
		padding-bottom: 11px;
		min-height: 48px;
		.icon {
			font-size: rem(20px);
		}
	}
}