textarea,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="password"] {
	background: $white;
	width: 100%;
	border: 0;
	font-size: rem(18px);
	padding: 5px 10px;
	outline: 0;
	line-height: $line-height;
	height: 40px;
	border-radius: 0;
	-webkit-appearance: none;
	&::placeholder {
		color: inherit;
		opacity: 0.8;
	}	
}

textarea {
	height: auto;
}

.the-content {
	.wpcf7,
	form {
		text-align: left;
	}
	label {
		color: inherit;
		font-size: rem(16px);
		text-transform: uppercase;
		margin: 0 0 5px;
		display: block;
		vertical-align: top;
	}
	.wpcf7 {
		padding-top: 31px;
	}
	
	textarea,
	input[type="text"],
	input[type="email"],
	input[type="date"],
	input[type="tel"],
	input[type="search"],
	input[type="number"],
	input[type="password"] {
		line-height: 1.6;
		padding: 15px 20px;
		height: 60px;
		margin: 0 0 11px;
	}
	textarea {
		height: auto;
	}	
	
}

.wpcf7 {
	.col-half-left {
		float: left;
		width: 50%;
		padding-right: 15px;
	}
	.col-half-right {
		float: right;
		width: 50%;
		padding-left: 15px;
	}
	.col-last + * {
		clear: both;
	}	
}