$element-space: $content-paragraph-spacing;

.the-content {	
	
	.smaller {
		font-size: (19 / 22) + em;
	}
	
	strong {
		font-weight: $bold;
	}
	
	h1 {
		margin: 0 0 (32 / 84) * 1em;
	}
	
	h2 {
		margin: 0 0 (28 / 48) * 1em;
	}
	
	h3 {
		margin: 0 0 (22 / 36) * 1em;
	}
	
	h4 {
		margin: 0 0 (20 / 30) * 1em;
	}
	
	h5 {
		margin: 0 0 (14 / 24) * 1em;
	}
	
	
	.btn,
	.button {
		margin-top: 12px;
		vertical-align: middle;
		text-decoration: none;
	}	
		
	.italic {
		font-style: italic;
	}	
	
	/* -- Image -- */
	svg,
	img {
		vertical-align: baseline;
	}
	
	// List		
	ol {
		list-style: decimal;
		list-style-position: outside; 
		margin-left: 1.7em;
	}
	ul, ol {
		padding-left: 1.2em;
	}
	ul {
		list-style: none;
		margin-left: 0;		
	}
	li {
		margin-top: 0.5em;
	}
	ul > li {
		padding-left: 0.85em;		
		position: relative;	
	}
	ul > li::before {
		content: "\2022";
		position: absolute;
		top:-1px;
		left: 0;
		vertical-align: top;
		font-weight: $bold;
	}
	li > ul > li {
		&::before {
			
		}
	}
	li ul, 
	li ol {
		margin-left: 1em;
	}
	
	
	
	
	/* -- Margin -- */	
	blockquote,
	table,
	p,
	ul,
	ol,
	dd,
	pre,
	iframe,
	address,
	.wp-block-image,
	hr {
		margin-top: 0;
		margin-bottom: $element-space;
	}
	.wp-block-image {
		margin-bottom: 2em;
	}
	
	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-bottom: 0.3em;
	}
	
	blockquote p {
		margin-bottom: 0.5em;
	}
	blockquote p:last-child {
		margin-bottom: 0;
	}
	blockquote cite {
		display: block;
		font-size: 19px;
		font-style: normal;
		color: $text-color;
		font-weight: $extra-bold;
	}

	hr {
		border: 0;
		border-bottom: 1px solid #EEEEEE;
	}	
	
	.content-slideshow {
		margin: 2em 0 $element-space;
	}
	
}


img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%;
	height: auto;
}
.alignleft,
img.alignleft {
	display: block;
	float: left;
	margin: 3px 25px 0 0;
}
.alignright,
img.alignright {
	display: block;
	float: right;
	margin: 3px 0 0 25px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	margin-bottom: 20px;
	max-width: 100% !important; /* prevent too-wide images from breaking layout */
	padding:0;
	text-align: left;
}
.wp-caption img {
	vertical-align: top;
}

figcaption,
.wp-caption p.wp-caption-text {
	background: #FAFAFA;
	text-align: left;	
	margin: 0;
	padding: 19px 30px 17px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}

// Remove Margin Top for first heading
.the-content,
.the-content article {
	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child {
		margin-top: 0;
	}
}

.the-content iframe {
	width: 100%;
}


.the-content > article > *:last-child,
.the-content > *:last-child {
	margin-bottom: 0;
}

@media (max-width: $tablet-max-width) {
	figcaption,
	.wp-caption p.wp-caption-text {
		padding: 15px 18px;
	}
}

@media (max-width: $phone-max-width) {
	.the-content {
		h2 {
			margin-bottom: 10px;
		}
	}
}