.widget {
	margin: 0 0 36px;
}

.widget-title {
	margin: 0 0 16px;
}

.widget_nav_menu {
	ul.menu {
		& > li {
			border-bottom: 1px solid #EEEEEE;
			font-size: rem(21px);
			line-height: (33 / 21);
			&:first-child {
				border-top: 1px solid #EEEEEE;
			}
			& > a {
				font-weight: $semi-bold;
				font-family: $minion-pro;
			}
		}
		li {
			position: relative;
			a {
				display: block;
				padding: 13px 0 11px;
				text-decoration: none;
				color: $text-color;
				&:hover {
					color: $red;
					text-decoration: underline;
				}
			}
		}
		li ul {
			padding: 0 0 12px;
		}
		li li {
			font-size: rem(18px);
			line-height: (30 / 18);
			padding-left: 13px;
			a {
				padding: 4px 0 5px;
			}
		}
		li.current-menu-item > a {
			color: $red;
		}		
	}
}

.widget-with-bg-image {
	position: relative;
	.widget-content {
		position: relative;
		z-index: 5;
	}
	.widget-bg {
		position: absolute;
		z-index: 1;		
	}
}

.callout-widget-inner {
	position: relative;	
	.widget-content {
		min-height: 190px;
		display: flex;
		align-items: center;
		padding: 28px 38px 29px;
	}
}

.widget-button {
	color: inherit;
	text-transform: uppercase;
	@include font-condensed;
	text-decoration: none;
	font-size: rem(36px);
	letter-spacing: 0.0694em;
	line-height: 1;
	text-align: center;
	display: block;
	position: relative;
	min-width: 0;
	flex: 0 0 100%;
	padding: 21px 10px 24px;
	.icon {
		font-size: (32 / 36) * 1em;
		line-height: 0.5;
		position: relative;
		top: -1px;
		left: -2px;
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 32px;
		border: 3px solid rgba($black, 0.6);				
		top: 0;
		bottom: 0;
		transition: all 0.1s linear;
	}
	&::before {
		border-right: 0;
		left: 0;
	}
	&::after {
		border-left: 0;
		right: 0;
	}
	&:hover {
		&::before,
		&::after {
			top: 6px;
			bottom: 6px;
		}
		&::before {
			left: 6px;
		}
		&::after {
			right: 6px;
		}
	}
}

.callout-widget-inner.fg-color-light {
	.widget-button::before,
	.widget-button::after {
		border-color: rgba($white, 0.6);
	}
}


.widget-share-links {
	border-top: 1px solid #EEEEEE;
	padding-top: 13px;
	li {		
		margin-bottom: 12px;
		position: relative;
		font-weight: $semi-bold;
		a {
			display: block;
			position: relative;
			min-height: 54px;
			padding: 16px 0 10px 69px;
			color: $black;
			text-decoration: none;			
			.icon {
				position: absolute;
				width: 55px;
				height: 55px;
				text-align: center;
				line-height: 55px;
				top: 0;
				left: 0;
				font-size: 24px;
				border: 1px solid #EEEEEE;
				border-radius: 50%;
				transition: all 0.1s linear;
				&::before {
					margin: 0;
					position: relative;
					top: -2px;
					left: -1px;
				}
			}
		}
		a:hover {
			color: $red;
			.icon {
				background-color: $red;
				border-color: $red;
				color: $white;
			}
		}
		.copied {
			opacity: 0;
			background: $black;
			border-radius: 5px;
			color: $white;
			font-weight: $regular;
			padding: 1px 16px 3px 12px;
			position: absolute;
			left: 69px;
			top: 12px;
			z-index: 5;
			transition: all 0.1s linear;
			&::before {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 6px 8px 6px 0;
				border-color: transparent $black transparent transparent;
				position: absolute;
				right: 100%;
				top: 8px;
			}
		}
	}
	li:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: $tablet-max-width) {
	.callout-widget-inner .widget-content {
		padding: 16px 17px 24px;
		min-height: 158px;
	}
}