.error404-page-content {
  #content {
    .gsc-input {
      position: relative;
      @extend .cf;
      padding: 0 10px 0 0;
    }
    table td:before {
      content: none;
    }
    .button-search {
      display: block;
      float: left;
      width: 10%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      padding: 7px 0;
      color: $white;
      cursor: pointer;
      border-radius: 4px;
      background: $crown-of-thorns;
      &:hover,
      &:focus {
        background-color: $well-read;
      }
      +.button-search {
        display: none;
      }
    }
    .gsc-input-box {
      width: 90%;
      float: left;
      >table {
        margin: 0;
      }
      .gsst_a {
        &:after {
          content: "\e822";
          color: $mine-shaft;
        }
      }
      .gscb_a {
        display: none;
      }
      td {
        padding: 0 !important;
      }
    }
    .gsc-clear-button {
      display: none;
    }
  }
}