@import "variables";

.widget_woothemes_our_team {
  @extend .cf;
  @media #{$small-only} {
    text-align: center;
  }
  figure {
    line-height: 0;
    @media #{$small-only} {
      margin-bottom: 15px;
    }
    @media #{$medium-up} {
      float: left;
      clear: left;
      margin-right: 12px;
      margin-bottom: 10px;
    }
    @media #{$large-up} {
      margin-right: 18px;
    }
  }
  
  .wp-post-image {
    width: 86px;
    height: initial;
    @media #{$medium-up} {
      width: 94.5px;
    }
    @media #{$large-up} {
      width: 145px;
    }
  }
  
  .member {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: $myriad;
    @media #{$medium-up} {
      font-size: 17px;
    }
    @media #{$large-up} {
      font-size: 21px;
    }
  }
  
  .role {
    font-size: 10px;
    font-family: $myriad;
    margin-bottom: 0;
    @media #{$medium-up} {
      font-size: 12px;
    }
    @media #{$large-up} {
      font-size: 15px;
    }
  }
  
  .author-details {
    display: none;
  }
}

.team-member-text {
  font-family: $minion;
  padding-top: 15px;
  font-size: 12px;
  @media #{$medium-up} {
    font-size: 14px;
  }
  @media #{$large-up} {
    font-size: 16px;
  }
}

.team-member {
  padding: 13px;
  background: $alumni-bg;
  @extend .cf;
  &:nth-child(odd) {
    clear: left;
    @media #{$large-up} {
      margin-right: 4.5px;
    }
  }
  &:nth-child(even) {
    @media #{$large-up} {
      margin-left: 4.5px;
    }
  }
  @media #{$large-up} {
    width:calc(50% - 9px);
    float: left;
    padding: 21px;
  }
  &:not(.first) {
    margin-top: 15px;
    @media #{$large-up} {
      margin-top: 0;
    }
  }
  &:nth-child(n+3) {
    @media #{$small-only} {
      margin-top: 9px;
    }
  }
}

.members-wrapper {
  &:nth-child(n+2) {
    @media #{$large-up} {
      margin-top:9px;
    }
  }
}