/*
 * Fix mobile menu on multiple browsers:
 * http://freshinbox.com/blog/android-css-general-sibling-selector-bug/
 */

@import "variables";

::selection {
  background: $tundora;
  color: $white;
}

::-moz-selection {
  background: $tundora;
  color: $white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $dove-gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $dove-gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $dove-gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $dove-gray;
}

body {
  font-family: $minion;
  color: $font-color;
  font-size:15px;
  @media #{$medium-up} {
    font-size: 17px;
  }
}

em {
  font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $myriad;
  margin-bottom: 0.5em;
  margin-top: 0.1em;
}
h1,h2,h3,h4,h5,h6 {
  @media #{$small-only} {
    text-align: center;
  }
}

h1,
h2 {
  font-weight: 100;
  font-size: 27px;
  @media #{$medium-up} {
    font-size: 35px;
  }
  @media #{$large-up} {
    font-size: 45px;
  }
}

h3 {
  font-weight: 100;
  font-size: 25px;
  @media #{$medium-up} {
    font-size: 30px;
  }
  @media #{$large-up} {
    font-size: 35px;
  }
}
h4 {
  font-weight: 100;
  font-size: 20px;
  @media #{$medium-up} {
    font-size: 25px;
  }
  @media #{$large-up} {
    font-size: 28px;
  }
}

h5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  @media #{$medium-up} {
    font-size: 20px;
  }
}

h6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  @media #{$medium-up} {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: underline;
  color: $well-read;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: $crown-of-thorns;
  }
}

p {
  margin: 0 0 20px;
  &:last-of-type {
    @media #{$medium-up} {
      margin-bottom: 0;
    }
  }
}

strong,
th {
  font-weight: bold;
}

p,
li,
td,
th,
strong,
em {
  color: $mine-shaft;
}

small {
  font-size: 11px;
  @media #{$medium-up} {
    font-size: 13px;
  }
  @media #{$large-up} {
    font-size: 14px;
  }
}

section,
header,
footer {
  position: relative;
  margin: 0;
  padding: 0;
}

section {
  @media #{$max-1100} {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

iframe {
  width: 100%;
}


// Form items
label {
  text-transform: uppercase;
  color: $boulder;
  font-size: 11px;
  @media #{$large-up} {
    font-size:12px;
  }
}
input,
select{
  background: $input-bg-color;
  border: 1px solid $input-border-color;
  line-height: 1.45;
  padding: 3px 7px;
  border-radius: 8px;
  color: $emperor;
  width: 100%;
}

select {
  height: 32px;
  appearance: none;
  background-image: url("./img/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: calc(100% - 10px) 50%;
}
select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}
/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  select {
    background-image:none\9;
    padding: 5px\9;
  }
}

// Table styles
#content {
  table {
    font-family: $myriad;
    min-width: 270px;
    @media #{$medium-up} {
      text-align: center;
      border-collapse: separate;
      border-spacing: 1px;
    }
    tr {
      @media #{$medium-up} {
        background-color: $white;
      }
      &:nth-of-type(even) {
        background-color: $alto;
      }
      &:first-child {
        @media #{$medium-up} {
          th {
            background-color: $white;
          }
        }
      }
    }
    thead + tbody {
      tr {
        &:nth-of-type(odd) {
          @media #{$medium-up} {
            background-color: $alto;
          }
        }
        &:nth-of-type(even) {
          @media #{$medium-up} {
            background-color: $white;
          }
        }
      }
    }
    th {
      display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
      border-bottom: none;
      font-size: 13px;
      @media #{$medium-up} {
        font-size: 18px;
      }
    }
    td {
      display: block;
      border: none;
      padding-left: 0.8em;
      padding-right: 0.8em;
      font-size: 13px;
      @media #{$medium-up} {
        font-size: 16px;
      }
      &:first-child {
        @media #{$small-only} {
          padding-top: .5em;
        }
        @media #{$medium-up} {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      &:last-child {
        @media #{$small-only} {
          padding-bottom: .5em;
        }
        @media #{$medium-up} {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      &:before {
        content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
        font-weight: bold;
        
        // optional stuff to make it look nicer
        width: 6.5em; // magic number :( adjust according to your own content
        display: inline-block;
        // end options
        
        @media #{$medium-up} {
          display: none;
        }
      }
    }
    th, td {
      @media #{$medium-up} {
        display: table-cell;
        padding: .25em .5em;
        text-align: center;
        border: solid 0px;
        &:first-child {
          @media #{$small-only} {
            padding-left: 0;
          }
        }
        &:last-child {
          @media #{$small-only} {
            padding-right: 0;
          }
        }
      }
    }
  }
}
  
// List items
ul, ol {
  text-align: left;
}
ul {
  ul {
    list-style-type: disc;
    margin-bottom: 0;
  }
}
ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
  > li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
    &:before {
      display: inline-block;
      width: 2em;
      padding-right: 0.5em;
      font-weight: bold;
      text-align: right;
      content: counter(item) ".";
    }
  }
  ol {
    margin-bottom: 0;
  }
  > li > ol {
    margin-left: 1rem;
    counter-reset: nested-item;
    > li {
      counter-increment: nested-item;
      &:before {
        content: counter(nested-item, lower-alpha) ".";
      }
    }
    > li > ol {
      counter-reset: nested-again-item;
      > li {
        counter-increment: nested-again-item;
        &:before {
          content: counter(nested-again-item, lower-roman) ".";
        }
        
      }
    }
  }
}

li {
  line-height: 1.6;
}

abbr[title] {
  border-bottom: none;
}

blockquote {
  padding: 15px;
  position: relative;
  color: $tundora;
  max-width: 100%;
  width: 100%;
  margin-left: 0;
  font-style: italic;
  border-left: 1px solid $dove-gray;
  p:first-child {
    display: inline-block;
  }
}


.page-title {
  margin-top: 1rem;
  text-align: left;
  font-family: $myriad;
  margin-bottom: 0.3em;
}