/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Blog
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.post-meta {
  border-bottom: 1px solid $silver-chalice;
  padding-top: 6px;
  padding-bottom: 6px;
  color: $boulder;
}

.blog-title {
  @extend h4;
  margin-bottom: 0;
}

.nocomments {
  display: none;
}