/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Editor Styles
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.inline-callout {
  border: 1px solid $oslo-gray;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  clear: both;
}