/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Fixes
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

table {
  td {
    img {
      max-width: none !important;
    }
  }
}

.logo_parade_slide {
  text-align: center;
}
