/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Footer
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@import "variables";

$bookstore-bookmark-height: 70px;

.footer-wrap {
  position: relative;
  overflow: hidden;
  margin-top:2rem;
  background: $footer-bg-color;
  font-size: 13px;
  line-height: 20px;
  color: $white;
  padding: 20px 0 $bookstore-bookmark-height;
  z-index: 2;
  text-align: center;
  font-family: $myriad;
  @media #{$medium-up} {
    padding-bottom: 0;
  }
  @media #{$large-up} {
    padding-bottom: 30px;
  }
  @media #{$min-1100} {
  
  }
  p {
    margin: 0;
    color: $white;
  }
  footer {
    min-height: 128px;
  }
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-logo-wrapper {
  @media #{$medium-up} {
    float: left;
    width: auto;
  }
}

.footer-contact-info {
  font-size: 12px;
  @media #{$medium-up} {
    float: left;
    text-align: left;
    padding-left: 10px;
  }
  @media #{$large-up} {
    font-size: 13px;
  }
}

.footer-address {
  address {
    font-style: normal;
  }
}

.footer-logo {
  max-width: 102px;
  @media #{$small-only} {
    transform: translateX(-10%);
  }
  @media #{$large-up} {
    max-width: 146px;
  }
}

.footer-site-title {
  font-weight: 600;
  margin: 10px 0;
  @media #{$medium-up} {
    margin-top: 0;
  }
}

.footer-text-links {
  margin: 10px 0;
  font-size: 13px;
  @media #{$medium-up} {
    text-align: right;
  }
  @media #{$large-up} {
    font-size: 15px;
  }
  a:nth-child(n+2) {
    &:before {
      content: '|';
      margin: 0 5px;
    }
  }
}

.footer-social-media-icons {
  @media #{$medium-up} {
    position: relative;
    bottom: -40px;
    text-align: right;
    padding-right: 75px;
    float: right;
  }
  @media #{$large-up} {
    padding-right: 100px;
  }
}
.footer-social-media-icon {
  display: inline-block;
  margin: 6px;
  border: 1px solid $white;
  border-radius: 50%;
  padding: 4px 3px;
  font-size: 14px;
  transition: all 0.3s;
  width: 30px;
  height: 30px;
  @media #{$large-up} {
    width: 44px;
    height: 44px;
    font-size: 20px;
    padding: 10px 6px;
  }
  &:before {
    transition: all 0.3s;
    text-decoration: none !important;
  }
  &:hover{
    border-color: $fuel-yellow;
    &:before {
      color: $fuel-yellow;
    }
  }
  &.icon-facebook {
    @media #{$medium-up} {
      padding-right: 5px;
    }
    @media #{$large-up} {
      padding-right: 8px;
    }
  }
}

.bookstore-link-wrapper {
  position: absolute;
  bottom: -83px;
  left: 50%;
  transform: translateX(-50%);
  height: $bookstore-bookmark-height;
  width: 70px;
  transition: all 0.3s;
  @media #{$medium-up} {
    bottom: -15px;
    left: initial;
    right: -17px;
  }
  @media #{$large-up} {
    width: 96px;
    transform: translateX(-25%);
  }
  @media #{$min-1100} {
    transform: translateX(0);
  }
  &:hover {
    bottom: -75px;
    @media #{$medium-up} {
      bottom: -9px;
    }
  }
}

footer {
  &.main {
    .wrap {
      @media #{$max-600} {
        float: left;
        text-align: left;
      }
    }
  }
}
