@import "variables";

.main {
  &.c6 {
    @media #{$medium-up} {
      width: 50%;
      float: left;
    }
    &:first-of-type {
      @media #{$medium-up} {
        padding-right: $column-padding / 2;
      }
    }
    &:last-of-type {
      @media #{$medium-up} {
        padding-left: $column-padding / 2;
      }
    }
  }
}