/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Gallery
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

// .project {
//   &.cycle-slideshow-wrap {
//     position: relative;
//     margin-bottom: 20px;
//   }
//   &.cycle-slideshow img {
//     width: 100%;
//     height: auto;
//     padding: 10px;
//     box-shadow: 0 0 4px rgba($black,.3);
//     border-collapse: separate;
//   }
//   &.cycle-slideshow-wrap .pager {
//     position: absolute;
//     bottom: 10px;
//     right: 10px;
//     z-index: 1000;
//     > div {
//       -webkit-transition: opacity 0.25s ease;
//       -moz-transition: opacity 0.25s ease;
//       -ms-transition: opacity 0.25s ease;
//       -o-transition: opacity 0.25s ease;
//       transition: opacity 0.25s ease;
//       width: 32px;
//       height: 32px;
//       line-height: 32px;
//       color: $white;
//       margin-left: 2px;
//       background: $black;
//       opacity: 0.8;
//       text-align: center;
//       cursor: pointer;
//       float: right;
//       &:hover {
//         opacity: 1;
//       }
//     }
//   }
// }
// .single-project_portfolio #content aside.main {
//   padding: 0;
// }

.galleria-theme-classic {
  .galleria-info {
  	width: calc(100% - 90px);
    top: 0;
    left: 45px;
    right: 45px;
  }
  .galleria-info-text {
  	background-color: rgba($black, 0.5);
  }
  .galleria-info-title,
  .galleria-info-description {
	color: $white;
	text-align: center;
  }
  .galleria-stage {
  	top: 0;
  	left: 0;
  	right: 0;
  }
}
