@media #{$max-799} {
  .c1,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9,
  .c10,
  .c11 {
    width: 50%;
  }
}

@media #{$max-600} {
  .c1,
  .c2,
  .c3,
  .c4,
  .c5,
  .c6,
  .c7,
  .c8,
  .c9,
  .c10,
  .c11,
  .c12 {
    width: 100%;
    margin-bottom: 30px;
  }
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  display: inline-block;
  float: left;
  vertical-align: top;
  padding: 0 15px;
  img {
    max-width: 100%;
    height: auto;
  }
}
.c2 {
  width: 16.66667%;
}

.c3 {
  width: 25%;
}

.c4 {
  width: 33.33333%;
}
.c5 {
  width: 41.66667%;
}

.c6 {
  width: 50%;
}

.c7 {
  width: 58.33333%;
}

.c8 {
  width: 66.66667%;
}

.c9 {
  width: 75%;
}

.c10 {
  width: 83.33333%;
}

.c11 {
  width: 91.66667%;
}

.c12 {
  width: 100%;
}