// /*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// | Hero
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.hero-wrapper {
  max-height: 400px;
  min-height: 140px;
  overflow: hidden;
  @extend .cf;
}

 .hero {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 43%;
   header {
     position: relative;
     height: 585px;
   }
 }
