.highlight_box {
	border: 1px solid $mako;
	margin: 1rem 0;
	.highlight_box_thumb {
		@media #{$small-only} {
			display: block;
			float: none;
			margin: 0 auto 1rem;
		}
	}
	p {
		text-align: left;
	}
}