/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Home
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.home {
  // #content {
  //   border-bottom: 1px dotted $silver-chalice;
  //   padding-bottom: 30px;
  //   margin-bottom: 20px;
  // }
  // #research-centers {
  //   .callout {
  //     .c4 {
  //       margin-left: 100px;
  //       padding-bottom: 10px;
  //       height: 75px;
  //       @media #{$max-445px} {
  //         width: 100%;
  //         margin-bottom: 10px;
  //         img,
  //         + .c4 + .c4 img {
  //           width: 100%;
  //         }
  //       }
  //       @media #{$max-600} {
  //         width: 100%;
  //         margin-bottom: 50px;
  //         margin-left: 0;
  //         img {
  //           width: 75%;
  //         }
  //         + .c4 + .c4 {
  //           margin-top: 0;
  //           width: 100%;
  //           img {
  //             width: 75%;
  //           }
  //         }
  //       }
  //       @media #{$max-960} {
  //         width: 33%;
  //         margin-left: 70px;
  //       }
  //       @media #{$max-760} {
  //         width: 50%;
  //         margin-left: 0;
  //         + .c4 + .c4 {
  //           width: 50%;
  //           margin-left: 0;
  //           img {
  //             width: 100%;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  .callout {
    &.say {
      .person {
        @media #{$max-1100} {
          width: 40%;
        }
      }
      .content {
        @media #{$max-1100} {
          width: 60%;
        }
        p {
          margin: 0;
        }
      }
      .wrap {
        div {
          @media #{$max-960} {
            width: 100%;
          }
        }
        .meta {
          @media #{$max-960} {
            width: auto;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
  .intro {
    padding-bottom: 20px;
    margin-top: 0;
    text-align: center;
    h1 {
      font-weight: bold;
      color: $mine-shaft !important;
      font-size: 25px;
      line-height: 25px;
    }
    + article {
      padding-bottom: 20px;
    }
  }
  .cycle-slide {
    > img {
      @media #{$max-1100} {
        left: -10%;
      }
    }
  }
}

