/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Home Sidebar
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

#sidebar_home,
#the-content aside#sidebar_home {
  .widget {
    width: 50%;
    float: left;
    clear: none;
    border-bottom: none;
    padding: 0px 3%;
    margin-bottom: 20px;
    @media #{$max-799} {
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    &:after {
      display: none;
      clear: none;
      content: "";
      height: auto;
    }
    &:nth-child(odd) {
      clear: both;
    }
  }
}

#sidebar_homefooter {
  .widget {
    &:after {
      display: none;
      clear: none;
      content: "";
      height: auto;
    }
    &:last-child {
      border-bottom: none;
      margin-bottom: 0 !important;
    }
  }
}
