@import "variables";

.menu-main-menu-container {
  ul {
    padding-left: 0;
    list-style-type: none;
    ul {
      margin-left: 10px;
    }
  }
}

#menu-main {
  font-family: $myriad;
  list-style-type: none;
  padding-left: 0;
  @extend .cf;
  position: relative;
  @media #{$medium-up} {
    max-width: 620px;
    margin: 0 auto;
  }
  @media #{$large-up} {
    max-width: 1040px;
    text-align: right;
  }
}

.sub-menu {
  display: none;
  list-style-type: none;
  padding-left: 1rem;
  &:focus {
    display: block;
  }
  *:focus {
    display: block;
  }
  .toggle-sub-menu {
    display: none;
    @media #{$large-up} {
      display: block;
    }
  }
}

.toggle-sub-menu {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 6px;
  &:hover,
  &:focus {
    color: $crown-of-thorns;
  }
  &:before {
    font-family: 'fontello';
    content: '\e801';
  }
  &.active {
    color: $crown-of-thorns;
    &:before {
      content: '\e804';
    }
    ~ .sub-menu {
      display: block;
      @media #{$large-up} {
        display: none;
      }
    }
  }
  @media #{$large-up} {
    display: none;
  }
}

.vertical-menu-separator {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  height: 100%;
  border-left: 1px solid $dove-gray;
  @media #{$small-only} {
    display: none;
  }
  @media #{$large-up} {
    display: none;
  }
}

.menu-items-wrapper {
  @media #{$medium-up} {
    width: 50%;
    float: left;
    padding: 0 $column-padding;
  }
  @media #{$large-up} {
    padding: 0;
    display: inline;
    float: none;
  }
  > .menu-item {
    border-bottom: 1px solid $dove-gray;
    font-weight: bold;
    @media #{$large-up} {
      font-weight: normal;
      position: relative;
      border-bottom: none;
      display: inline-block;
      padding: 0;
      margin-left: 5px;
      margin-right: 5px;
    }
    &.current_page_item {
      &:after {
        @media #{$large-up} {
          content: '';
          display: block;
          position: absolute;
          bottom: 0%;
          width:100%;
          border-bottom: 5px solid $crown-of-thorns;
        }
      }
    }
    > .sub-menu {
      @media #{$large-up} {
        position: absolute;
        text-align: left;
        background-color: $wild-sand;
        margin-left: 0;
        left: 0;
        width: 200px;
        padding: 14px;
      }
      > .menu-item {
        .toggle-sub-menu {
          &.active {
            ~ .sub-menu {
              @media #{$large-up} {
                display: block;
              }
            }
          }
        }
        .sub-menu {
          display: block;
          @media #{$large-up} {
            display: none;
          }
        }
        @media #{$large-up} {
          border-bottom: 1px solid $fuel-yellow;
          padding-left: 10px;
          padding-right: 10px;
        }
        &:last-of-type {
          @media #{$large-up} {
            border-bottom: none;
          }
        }
        a {
          &:hover,
          &:focus {
            color: $crown-of-thorns;
          }
        }
      }
    }
    &:hover,
    &:focus {
      > a {
        @media #{$large-up} {
          background-color: $crown-of-thorns;
          color: $white;
        }
      }
      > .sub-menu {
        @media #{$large-up} {
          display: block;
        }
      }
    }
    > a {
      @media #{$large-up} {
        padding: 9px 10.5px;
        display: inline-block;
        font-size: 15px;
        width: 100%;
      }
      &:hover,
      &:focus {
          @media #{$large-up} {
            background-color: $crown-of-thorns;
            color: $white;
          }
        ~ .sub-menu {
          @media #{$large-up} {
            display: block;
          }
        }
      }
    }
    .sub-menu {
      font-weight: normal;
      .sub-menu {
        a {
          color: $dove-gray;
        }
      }
    }
  }
  > .menu-item {
    &:last-of-type {
      @media #{$medium-up} {
        border-bottom:none;
      }
    }
  }
  &.right-half {
    > .menu-item {
      &:last-of-type {
        @media #{$small-only} {
          border-bottom:none;
        }
        > .sub-menu {
          @media #{$large-up} {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}