/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Testimonials
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
@import "variables";

.testimonial {
  @extend .cf;
  background-color: $testimonial-bg;
  margin-left:0;
  padding: 1rem;
  font-family: $myriad;
  text-align: center;
  @media #{$medium-up} {
    text-align: left;
  }
}

.testimonial-name {
  font-size: 16px;
  font-weight:bold;
  @media #{$medium-up} {
    font-size: 17px;
  }
  @media #{$large-up} {
    font-size: 21px;
  }
}

.testimonial-title,
.testimonial-company {
  font-size: 12px;
  @media #{$medium-up} {
    font-size: 14px;
  }
  @media #{$large-up} {
    font-size: 15px;
  }
}

.testimonial-quote {
  font-family: $minion;
  font-style: italic;
  font-size: 12px;
  @media #{$medium-up} {
    font-size: 14px;
  }
  @media #{$large-up} {
    font-size: 17px;
  }
  &.has-image {
    margin-top:1rem;
  }
  &.no-image {
    margin-bottom:1rem;
  }
}
$image-width: 120px;
.testimonial-image {
  img {
    border-radius: 100%;
  }
  @media #{$medium-up} {
    max-width: $image-width;
  }
}

.has-image {
  .testimonial-image,
  .testimonial-info {
    @media #{$medium-up} {
      float: left;
    }
  }
  .testimonial-info {
    @media #{$medium-up} {
      margin-left: 1rem;
      max-width: calc(100% - #{$image-width} - 1rem);
    }
  }
}

aside.c4 {
  @media #{$large-up} {
  
    .testimonial {
      text-align: center;
    }
    .testimonial-image {
      width: 100%;
      float: none;
      margin: 0 auto;
    }
    .testimonial-info {
      margin-left:0;
      float: none;
      max-width: 100%;
    }
  }
}