@import "variables";

#the-content {
  padding-top: 1rem;
  @extend .cf;
  article,
  aside {
    &.main {
      @media #{$max-799} {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
  aside {
    box-shadow: none;
    border-collapse: separate;
    border-top: none;
    &.main {
      position: relative;
      @media #{$max-600} {
        padding-left: 0;
        margin-bottom: 0;
      }
      p {
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .widget {
      margin-bottom: 40px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .callout {
    &.centers {
      padding-bottom: 30px;
      margin-bottom: 20px;
      padding-top: 10px;
      border-bottom: 1px dotted $silver-chalice;
    }
    &.say {
      padding-left: 0;
      font-size: 14px;
      line-height: 20px;
      .wrap {
        padding: 28px;
      }
    }
  }
  .person {
    padding-left: 0;
  }
  .photo {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }
  .content {
    display: inline-block;
    vertical-align: top;
    border-left: 1px dotted $silver-chalice;
    color: $mine-shaft;
    @media #{$max-960} {
      padding-left: 0;
      border: none;
    }
  }
  .widget {
    clear: both;
  }
  .event-block {
    margin-bottom: 15px;
    h2 {
      margin-bottom: 0;
    }
  }
  .c8,
  .c4 {
    @media #{$large-up} {
      float: left;
    }
  }
  .c8 {
    @media #{$large-up} {
      width: 66%;
    }
  }
  .c4 {
    @media #{$large-up} {
      width: 33%;
    }
  }
  aside {
    &.c4 {
      @media #{$large-up} {
        padding-left: $column-padding;
        border-left: 1px solid $gray;
        margin-left: -1px;
      }
      > ul {
        padding-left: 0;
        margin-left: 1rem;
      }
      h1, h2, h3 {
        @extend h4;
      }
    }
  }
  .main {
    &.c8 {
      @media #{$large-up} {
        padding-right: $column-padding;
        border-right: 1px solid $dove-gray;
      }
    }
  }
}
