@import "variables";

.timely-content-wrapper {
  .default-button {
    padding: 0;
    &:hover {
      &:before {
        text-decoration-line: initial;
      }
    }
  }
}

.timely-content-item {
  padding: 1rem 0;
  font-size: 15px;
  &:nth-of-type(n+2) {
    border-top: 1px solid $dove-gray;
  }
  @media #{$large-up} {
    font-size: 16px;
  }
}

.timely-content-title {
  @extend .widget-title;
}

.timely-content-date-link {
  font-family: $myriad;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: $fuel-yellow;
  text-decoration: none;
  &:visited {
    color: $fuel-yellow;
  }
  &:hover,
  &:focus {
    color: darken($fuel-yellow, 5);
  }
}

.timely-content-item-title {
  margin: 0;
  color: $mako;
}