@import 'variables';

.video_gallery_wrap {
  margin-bottom: 0;
}

.video_carousel.cycle-slideshow {
  background-color: $alto;
  padding: 11px 30px !important;
  @media #{$min-800} {
    padding: 16px 35px !important;
  }
  @media #{$min-1100} {
    padding: 25px 50px !important;
  }
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    background: $alto;
    z-index: 101;
    @media #{$medium-up} {
      width: 70px;
    }
    @media #{$large-up} {
      width: 99px;
    }
  }
  &:before {
    left: 0;
    background: linear-gradient(to right, $alto 60%, rgba(255,255,255,0));
  }
  &:after {
    right: 0;
    background: linear-gradient(to left, $alto 60%, rgba(255,255,255,0));
  }
}

.cycle-carousel-wrap {
  padding: 11px 40px !important;
  @media #{$min-800} {
    padding: 16px 45px !important;
  }
  @media #{$min-1100} {
    padding: 25px 60px !important;
  }
}

.wpi_video_gallery {
  .video_nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    float: none;
    text-decoration: none;
    &.video_prev {
      left: 10px;
      @media #{$medium-up} {
        left: 14px;
      }
    }
    &.video_next {
      right: 3px;
      @media #{$medium-up} {
        right: 7px;
      }
    }
  }
  .video_thumbnail {
    border: none;
    margin: 0 10px;
    position: relative !important;
    &:before {
      font-family: 'fontello', sans-serif;
      content: '\e808';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 6px 7px 7px 11px;
      font-size: 15px;
      line-height: 1;
      background: rgba($black, 0.5);
      border: 1px solid $white;
      border-radius: 50%;
      color: $white;
      transition: all 0.3s;
      @media #{$medium-up} {
        font-size: 22px;
        padding: 9px 10px 10px 15px;
      }
      @media #{$large-up} {
        font-size: 25.5px;
        padding: 11px 12px 12px 17.71px;
      }
    }
    &:hover {
      &:before {
        background: rgba($black, 0.75);
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

a.video_nav {
  visibility: hidden;
  letter-spacing: -5px;
  z-index: 102;
  &:before {
    font-family: 'fontello', sans-serif;
    color: $gray;
    visibility: visible;
    font-size: 21px;
    @media #{$medium-up} {
      font-size: 26px;
    }
    @media #{$large-up} {
      font-size: 36px;
    }
  }
  &.disabled {
    &:before {
      color: $silver-solid;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

.video_prev {
  &:before {
    content: '\e806';
  }
}

.video_next {
  &:before {
    content: '\e805';
  }
}