.hide-on-mobile {
  @media #{$max-600} {
    display: none;
  }
}

.tablet-plus {
  @media #{$max-960} {
    display: none;
  }
}

.mobile {
  display: none;
  @media #{$max-960} {
    display: block;
  }
}
