/*!
Theme Name: Mass Academy
Theme URI: http://www.wpi.edu/
Author: WPI
Author URI: http://www.wpi.edu/
Template: wpi_parent
Description: Mass Academy Theme
Version: 1.0
Text Domain: wpi-parent
*/

@import 'variables';
@import 'reset';
@import 'base';
@import 'blog';
@import 'editor';
@import 'fixes';
@import 'footer';
@import 'gallery';
@import 'headers';
@import 'hero';
@import 'home';
// @import 'home_callouts';
@import 'home_sidebar';
// @import 'parade';
// @import 'project_portfolio';
// @import 'single_portfolio';
@import 'slideshow';
@import 'superfish';
@import 'testimonials';
@import 'utility';
@import 'widgets';
@import 'front_page';
@import 'columns';
@import 'highlight_box';
@import 'visibility';
@import 'the_content';
@import 'mobile_menu';
@import 'video_slider';
@import 'buttons';
@import 'alumni';
@import 'timely_content';
@import 'google_search_results';
@import '404';
@import '../fonts/fontello/css/fontello';

section,
footer {
  width: 1040px;
  clear: both;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  @media #{$max-1100} {
    width: 100%;
    padding-left: $column-padding;
    padding-right: $column-padding;
  }
  &.padless {
    .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
      padding: 0;
    }
  }
  &.marginless {
    margin: 0;
  }
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* WPI Additionals */
p.box {
  display: block;
  padding: 15px;
  background-color: $silver-chalice;
  color: $white;
}

.collapseomatic_content {
  margin-bottom: 30px;
}

a.button.betc {
  display: block;
  width: 220px;
  height: 53px;
  text-decoration: none;
  font-size: 1.2em;
  color: $white;
  padding: 13px 0 0;
  margin-bottom: 20px;
  &.questions {
    padding-left: 72px;
  }
  &.register {
    text-align: center;
  }
  &.questions {
    background: url("img/betc-button-questions.png") top left no-repeat;
  }
  &.register {
    background: url("img/betc-button-register.png") top left no-repeat;
  }
  &:hover {
    text-decoration: none !important;
    background-position: 0 -53px;
  }
}

@media (max-width: 600px) {
  .page-template-page-landing .mobile {
    display: none !important;
  }
}
