
#header {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);   /* IE6 & 7 */
    zoom: 1;
}

#topnav li.current-menu-item > a,
#topnav li.current_page_item > a,
#topnav li a:hover {
    background-color: #ab2b37;
}

.featured.pages .right-cover,
.featured.pages .left-cover {
    background-color: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);   /* IE6 & 7 */
    zoom: 1;
}

.featured.pages .flex-direction-nav li a {
    background-color: #6A2497;
}

.flex-direction-nav li {
    display: inline;
}

#headerclearfix {
    height: 0px;
}

#topnav ul.nav {
    min-height: 0;
}