/* -------------------[ Theme Settings Page ]------------------- */

#settings-head {
    display: none;
}

.button-reset-navbar,
.button-save-navbar {
    top: 9px;
}

#settings-nav {
    height: 40px;
}

#settings-nav ul {
    display: none;
}