@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?35177577');
  src: url('fonts/fontello/font/fontello.eot?35177577#iefix') format('embedded-opentype'),
       url('fonts/fontello/font/fontello.woff2?35177577') format('woff2'),
       url('fonts/fontello/font/fontello.woff?35177577') format('woff'),
       url('fonts/fontello/font/fontello.ttf?35177577') format('truetype'),
       url('fonts/fontello/font/fontello.svg?35177577#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?35177577#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\e800'; } /* 'î €' */
.icon-down-open-big:before { content: '\e801'; } /* 'î ' */
.icon-left-open-big:before { content: '\e802'; } /* 'î ‚' */
.icon-right-open-big:before { content: '\e803'; } /* 'î ƒ' */
.icon-up-open-big:before { content: '\e804'; } /* 'î „' */
.icon-right-arrow:before { content: '\e805'; } /* 'î …' */
.icon-left-arrow:before { content: '\e806'; } /* 'î †' */
.icon-menu:before { content: '\e807'; } /* 'î ‡' */
.icon-play:before { content: '\e808'; } /* 'î ˆ' */
.icon-close:before { content: '\e822'; } /* 'î ¢' */
.icon-twitter:before { content: '\f099'; } /* 'ï‚™' */
.icon-facebook:before { content: '\f09a'; } /* 'ï‚š' */