section,
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  display: inline-block;
  float: left;
  vertical-align: top;
  padding: 0 15px;
}
.c1 img, .c2 img, .c3 img, .c4 img, .c5 img, .c6 img, .c7 img, .c8 img, .c9 img, .c10 img, .c11 img, .c12 img {
  max-width: 100%;
}

section {
  width: 1040px;
  clear: both;
  padding: 0;
  margin: 0 auto;
  list-style: none;
}
section.padless .c1, section.padless .c2, section.padless .c3, section.padless .c4, section.padless .c5, section.padless .c6, section.padless .c7, section.padless .c8, section.padless .c9, section.padless .c10, section.padless .c11, section.padless .c12 {
  padding: 0;
}
section.marginless {
  margin: 0;
}
section:after {
  content: " ";
  display: block;
  clear: both;
}

.c2 {
  width: 16.66667%;
}

.c3 {
  width: 25%;
}

.c4 {
  width: 33.33333%;
}

.c5 {
  width: 41.66667%;
}

.c6 {
  width: 50%;
}

.c7 {
  width: 58.33333%;
}

.c8 {
  width: 66.66667%;
}

.c9 {
  width: 75%;
}

.c10 {
  width: 83.33333%;
}

.c11 {
  width: 91.66667%;
}

.c12 {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  section {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 800px) {
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11 {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    width: 100%;
    margin-bottom: 30px;
  }
}
