/*
Theme Name: TouchTomorrow
Theme URI: http://www.wpi.edu/
Author: WPI
Author URI: http://www.wpi.edu/
Template: wpi_parent
Description: TouchTomorrow Theme
Version: 1.1
Text Domain: wpi-parent
*/

/* ==== GLOBAL */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}


/* ==== TYPOGRAPHY */

#container {
	font-family: 'Montserrat', sans-serif;
	padding-top: 113px;
}

.the-content { font-size: 16px; line-height: 26px; }

.the-content p { margin-bottom: 16px; }

.the-content h1,
.the-content h2,
.the-content h3,
.the-content h4,
.the-content h5,
.the-content h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #003366;
	margin-bottom: 16px;
}

.the-content h1 { font-size: 30px; color: #888888; }
.the-content h2 { font-size: 22px; color: #003366; }
.the-content h3 { font-size: 18px; color: #CC0033; }
.the-content h4, .the-content h5, .the-content h6 { font-size: 16px; color: #000; }

.the-content strong { font-weight: bold; }

.the-content a { color: #cc0033; text-decoration: underline; font-weight: bold; }
.the-content a:hover { text-decoration: none; }


.the-content ol {
	list-style: decimal;
	margin: 24px 0px 24px 30px;
}

	.the-content ol li {
		margin: 8px 0px;
	}

.the-content ul {
	list-style: disc;
	margin: 24px 0px 24px 30px;
}

	.the-content ul li {
		margin: 8px 0px;
	}

	.the-content ul ul,
	.the-content ol ol {
		margin-top: 12px;
		margin-bottom: 12px;
	}

.the-content form > label,
.the-content form > p > label {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.the-content form input[type="text"],
.the-content form input[type="email"],
.the-content form input[type="tel"],
.the-content form textarea {
	background: #ececec;
	border: 1px solid #acacac;
	padding: 4px;
}

.the-content .wpcf7-checkbox .wpcf7-list-item {
	display: inline-block;
	width: 48%;
	margin: 0;
}


/* ==== LAYOUT */

body {
	background: #00aeef;
	text-align: center;
	overflow-x: hidden;
	max-width: 100%;
}

#container {
	width: 980px;
	margin: 0 auto;
	text-align: left;
}

#main {
	position: relative;
	z-index: 5;
	margin-top: 230px;
}

	#main.main-interior {
		padding-top: 114px;
	}

/* ==== HEADER */

.masthead-background:before {
    content: "";
    /* background-color:#CCFFFF; */
    position: absolute;
    height: 100%;
    width: 100%;
    left: -2000px;
    z-index: -1;
}

.masthead-background {
	left: 0;
	right: 0;
	position: absolute;
	background-color: #0073AE;
	/* overflow: hidden; */
	top: 0px;
	/* margin-top: 70px; */
	padding-top: 50px;
	margin-bottom: 200px;
}

#masthead {
	position: relative;
	height: 171px;
	z-index: 10;
	width: 1000px;
	margin: auto;
}

		#masthead #logo a {
			display: block;
			width: 490px;
			height: 75px;
			float: left;
			background: url(images/logo_header.png) no-repeat;
			text-indent: -9999px;
		}

		#masthead #date_block {
			float: right;
			text-align: right;
			line-height: 28px;
			margin-top: 8px;
		}

			#masthead #date_block .date {
				font-size: 30px;
				color: #ffcc00;
				text-transform: uppercase;
				margin-right: 4px;
			}

			#masthead #date_block .time {
				font-size: 24px;
				color: #fff;
				text-transform: uppercase;
			}

			#masthead #date_block .location {
				font-size: 18px;
				color: #fff;
			}

		#masthead #social_media_icons {
			position: absolute;
			right: -60px;
			top: 457px;
		}

			#masthead #social_media_icons a {
				width: 92px;
				font-size: 15px;
				padding-left: 41px;
				height: 32px;
				line-height: 32px;
				display: inline-block;
				color: #01344E;
				text-decoration: none;
				margin-bottom: 16px;
			}

				#masthead #social_media_icons a span {
					-moz-opacity: 0.6;
					-khtml-opacity: 0.6;
					opacity: 0.6;
					font-weight: bold;
				}

				#masthead #social_media_icons a:hover span {
					-moz-opacity: 1;
					-khtml-opacity: 1;
					opacity: 1;
				}

			#masthead #social_media_icons .social_icon_facebook a { background: url(images/social_icon_facebook.png) left center no-repeat; }
			#masthead #social_media_icons .social_icon_twitter a { background: url(images/social_icon_twitter.png) left center no-repeat; }
			#masthead #social_media_icons .social_icon_instagram a { background: url(images/social_icon_instagram.png) left center no-repeat; }

		#masthead #nav_main_menu {
			position: absolute;
			bottom: 0px;
			left: 15px;
			width: 1100px;
		}

			/* First Level */
			.nav-menu > .menu-item {padding: 7px;}
			.nav-menu > .menu-item:hover {
				transition-delay: 1s;
				transition: all .25s ease;
				border-bottom: 3px solid #ffcc00;
			}
			.nav-menu > .menu-item {
				margin-right: 20px;
				border-bottom: 3px solid #0073AE;
			}
			#masthead #nav_main_menu ul li { display: block; float: left; }
			#masthead #nav_main_menu ul li a { text-decoration: none; padding: 0px;}
			#masthead #nav_main_menu ul li a span {
				padding: 3px 10px;
				font-size: 20px;
				font-weight: 600;
				color: #FFFFFF;
				text-decoration: none;
				height: 26px;
				line-height: 26px;
				/* margin-right: 40px; */

			}

			.menu-item-has-children {
				border-bottom: 2px solid #0073AE !important;
			}

			#masthead #nav_main_menu ul ul li a span {
				height: auto;
				/* line-height: normal; */
				/* line-height: 30px; */
			}
			#masthead #nav_main_menu ul li a:hover span, #menu-main-menu > .current_page_item > a > span, #menu-main-menu > .current_page_ancestor > a > span {
				background: #016293;
			}
			#masthead #nav_main_menu ul li:last-child a:hover span, #menu-main-menu > .current_page_item:last-child > a > span {
				background: none;
			}
			#masthead #nav_main_menu ul li a:hover span {
				/* border-bottom: 2px solid #ffcc00; */
			}
/*				#menu-main-menu > .current_page_ancestor > ul{
					display: block !important;
					opacity: 1 !important;
				}
*/				#menu-main-menu > .current_page_ancestor > ul > .current_page_item {
					background: #016293;
				}


				/* #masthead #nav_main_menu ul li.menu_the_festival:hover, li.menu_exhibitors:hover, li.menu-item-1531:hover {
					margin-right: 20px;
					border-bottom: 2px solid #ffcc00;
				} */

				#masthead #nav_main_menu .nav-menu > li:last-child {
					border-bottom: 0px;;
			   }

				/* #masthead #nav_main_menu ul li.menu_the_festival > a { background: url(images/menu_icon_the_festival.png) 10px 0px no-repeat; padding-left: 50px; } */
				/*#masthead #nav_main_menu ul li.menu_the_festival > a:hover { background-image: url(images/menu_icon_the_festival_animated.gif); } */
				/* #masthead #nav_main_menu ul li.menu_the_festival.menu-item-has-children > a span{padding-right: 24px;} */
				/* #masthead #nav_main_menu ul li.menu_the_festival > ul { left: 50px; Should match padding element above } */
				/* #masthead #nav_main_menu ul li.menu_the_festival.menu-item-has-children{margin-left: -12px;} */

				/* #masthead #nav_main_menu ul li.menu_the_challenge { margin-right: 62px; } */
				/* #masthead #nav_main_menu ul li.menu_the_challenge > a {	background: url(images/menu_icon_the_challenge.png) 13px 1px no-repeat;	padding-left: 44px; } */
/*				#masthead #nav_main_menu ul li.menu_the_challenge > a:hover { background-image: url(images/menu_icon_the_challenge_animated.gif); background-position: 10px 0px; }*/
				/* #masthead nav_main_menu ul li.menu_the_challenge.menu-item-has-children > a span{padding-right: 24px;} */
				/* #masthead #nav_main_menu ul li.menu_the_challenge > ul { left: 40px; Should match padding element above } */
				/* #masthead #nav_main_menu ul li.menu_the_challenge.menu-item-has-children{margin-left: -12px;} */

				/* #masthead #nav_main_menu ul li.menu_media { margin-right: 10px; } */
				/* #masthead #nav_main_menu ul li.menu_media.menu-item-has-children > a span{padding-right: 24px;} */
				/* #masthead #nav_main_menu ul li.menu_media-item-has-children{margin-left: -12px;} */

				/* #masthead #nav_main_menu ul li.menu_exhibitors { margin-right: 16px; } */
				/* #masthead #nav_main_menu ul li.menu_exhibitors > a { background: url(images/menu_icon_exhibitors.png) 10px 3px no-repeat; padding-left: 40px; } */
				/*#masthead #nav_main_menu ul li.menu_exhibitors > a:hover { background-image: url(images/menu_icon_exhibitors_animated.gif); }*/
				/* #masthead #nav_main_menu ul li.menu_exhibitors.menu-item-has-children > a span{padding-right: 24px;} */
				/* #masthead #nav_main_menu ul li.menu_exhibitors > ul { left: 40px; Should match padding element above } */
				/* #masthead #nav_main_menu ul li.menu_exhibitors.menu-item-has-children{margin-left: -12px;}				 */

				/* #masthead #nav_main_menu ul li.menu_connect_with_us > a { background: url(images/menu_icon_connect_with_us.png) 10px 0px no-repeat; padding-left: 40px; } */
				/*#masthead #nav_main_menu ul li.menu_connect_with_us > a:hover { background-image: url(images/menu_icon_connect_with_us_animated.gif); } */
				/* #masthead #nav_main_menu ul li.menu_connect_with_us.menu-item-has-children > a span{padding-right: 24px;} */
				/* #masthead #nav_main_menu ul li.menu_connect_with_us > ul { background-color: red; } */
				/* #masthead #nav_main_menu ul li.menu_connect.menu-item-has-children{margin-left: -12px;} */

				/* #masthead #nav_main_menu ul li.menu_connect_with_us > a { background: url(images/menu_icon_connect_with_us.png) 10px 0px no-repeat; padding-left: 40px; } */
				/* #masthead #nav_main_menu ul li.menu_connect_with_us > a:hover { background-image: url(images/menu_icon_connect_with_us_animated.gif); } */
				/* #masthead #nav_main_menu ul li.menu_connect_with_us.menu-item-has-children > a span{padding-right: 24px;} */

				#masthead #nav_main_menu .nav-menu > li > a {
					border-radius: 10px;
					padding: 10px;
			    }

				#masthead #nav_main_menu .nav-menu > li:last-child a {
					 background-color: #AC2B37;
					 border-radius: 10px;
					 padding: 10px;
				}
				#masthead #nav_main_menu .nav-menu > ul li:last-child a:hover span{
					background-color: #AC2B37;
				}
				/* #masthead #nav_main_menu ul li.menu_connect.menu-item-has-children{margin-left: -12px;} */

				#menu-main-menu > .menu-item-has-children > a:after{
					content: "";
					width: 10px;
					height:10px;
					/* background: url(images/submenu-indicator.png) no-repeat;					 */
					border: none;
					display: block;
					position: absolute;
					top: 8px;
					right: 4px;
				}
				/* @media screen and (max-width: 1280px){
					#menu-main-menu > .menu-item-has-children > a:after{top: 8px;}
					#masthead #nav_main_menu {
						width: 1100px !important;
						left: 15px !important;
					}
				}
				@media screen and (max-width: 1280px){
					#masthead #nav_main_menu ul li.menu-item-has-children a:after{display: none;}
				} */


			/* Second+ Level */
			#masthead #nav_main_menu ul ul { background: #0073ae; }
			#masthead #nav_main_menu ul ul ul { padding: 0px; } /* Third level doesn't need the padding */
			#masthead #nav_main_menu ul#menu-main-menu.sf-js-enabled > li > ul { margin-top: 0px; } /* Makes the menu very hard to use if JS is disabled, so only apply if Superfish has loaded */
			#masthead #nav_main_menu ul ul li { float: none; }
			#masthead #nav_main_menu ul ul li a { }
			#masthead #nav_main_menu ul ul li a span {
				font-weight: normal;
				font-size: 16px;
				position: relative;
				padding: 7px 29px;
				display: block;
			}
			#masthead #nav_main_menu ul ul li a span:before {
				/* content: "\00BB\0000a0\0000a0"; */
				position: absolute;
				left: 11px;
				top: 6px;
				line-height: normal;
			}

			.sub-menu {
				border-top: 3px solid #ffcc00;
			}


			/*
			.sf-menu li:hover,
			.sf-menu li.sfHover {
				background: #CFDEFF;
				-webkit-transition: none;
				transition: none;
			}
			*/

/* ==== SLIDESHOW */

#slideshow_wrap {
	height: 740px;
	position: relative;
	z-index: 9;
}

	#slideshow_home {
		border: 6px solid #f0b310;
		background: #353535;
		width: 788px;
		min-height: 397px;
		margin: 0px auto;
		position: relative;
		z-index: 10;
		top: 165px;
	}

		#slideshow_home img {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		#slideshow_home_nav {
			position: absolute;
			right: 90px;
			top: 590px;
			z-index: 20;
		}

			#slideshow_home_nav a {
				display: block;
				float: right;
				width: 34px;
				height: 34px;
				background: #c1121d;
				text-indent: -9999px;
			}
			#slideshow_home_nav a:hover { background-color: #960026 !important; }

			#slideshow_home_nav a#prev { background: #c1121d url(images/slideshow_arrow_left.png) no-repeat center center; }
			#slideshow_home_nav a#next { background: #c1121d url(images/slideshow_arrow_right.png) no-repeat center center; margin-left: 8px; }


/* ==== ROBOT BACKGROUND */

#robot_background {}

	#robot_head {
		z-index: 1;
		width: 251px;
		height: 209px;
		background: url(images/slideshow_robot_head_anim.gif) no-repeat;
		background-size: cover;
		position: absolute;
		left: 365px;
		top: -81px;
	}

	#robot_body {
		width: 468px;
		height: 469px;
		background: url(images/slideshow_robot_body.png) no-repeat;
		background-size: cover;
		position: absolute;
		left: 256px;
		top: 137px;
		z-index: 1;
	}

	#robot_left_arm {
		width: 214px;
		height: 286px;
		background: url(images/slideshow_robot_left_arm.png) no-repeat;
		background-size: cover;
		position: absolute;
		left: -63px;
		top: 191px;
		z-index: 15; /* above the slideshow */
	}

	#robot_right_arm {
		width: 245px;
		height: 480px;
		background: url(images/slideshow_robot_right_arm.png) no-repeat;
		background-size: cover;
		position: absolute;
		right: -52px;
		top: 355px;
		z-index: 1;
	}

		#main.main-interior #robot_right_arm {
			background: url(images/slideshow_robot_right_arm_interior.png) no-repeat;
			right: -136px;
			z-index: 15;
		}

	#robot_treads {
		width: 403px;
		height: 125px;
		background: url(images/slideshow_robot_treads_anim.gif) no-repeat;
		background-size: cover;
		position: absolute;
		left: 289px;
		top: 614px;
		z-index: 1;
	}

/* ==== FLOATING CALLOUT */

#floating_callout {
	color: #01344E;
	position: absolute;
	z-index: 10;
	left: 79px;
	top: 650px;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	padding-left: 60px;
	background: url(images/icon_sun.png) left center no-repeat;
	min-height: 48px;
}

	#floating_callout:hover { background-image: url(images/icon_sun_animated.gif); }

	#floating_callout a {
		color: #FFF;
		text-decoration: none;
	}

	#main.main-interior #floating_callout {
		left: -120px;
		top: 500px;
	}


/* ==== HOME CONTENT */

#home_content {
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	width: 800px;
	margin: 0px auto;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 34px 34px 46px 34px;
	position: relative;
	margin-top:23px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
	#home_content h2{color: #cc0033; padding-right: 75px;}

a#preview-button {
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 5px solid #475c9d;
	width: 210px;
	display: block;
	text-decoration: none;
	float: right;
	margin: 0 0 20px 20px;
}

a#preview-button span {
	display: block;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #fff;
	background: url(images/button-arrow.png) #0073ae 20px 15px no-repeat;
	padding: 6px 10px 7px 65px;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	font-size: 1.1em;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.3em;
}

#preview-button span:hover { background-color: #475c9d; }


/* ==== HOME VIDEO */

#home_video {
		margin: 25px auto;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		width: 800px;
		padding: 0px 0px 0px 61px;
	}

	#home_video #home_video_player_wrap {
		width: 480px;
		float: left;
		margin-left: 44px;
		margin-top: 29px;
		position: relative;
	}

		#home_video #home_video_player_element {
			/* background: #026D95; */
		}

		#home_video #home_video_player_wrap h3#video_title {
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
			margin: 6px 0px;
		}

		#home_video #home_video_player_wrap iframe,
		#home_video #home_video_player_wrap video {
			/* width: 480px;
			height: 270px; */

		}

		#home_video #home_video_player_wrap .vjs-default-skin .vjs-big-play-button {
			width: 83px;
			height: 76px;
			background: url(images/icon_video_play_large.png) no-repeat;
			border-radius: 0px;
			box-shadow: none;
			border: none;
			left: 50%;
			margin-left: -42px;
			top: 50%;
			margin-top: -38px;
			cursor: pointer !important;
		}

			#home_video #home_video_player_wrap .vjs-default-skin .vjs-big-play-button:hover {
				/* IE 8 */
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
				/* IE 5-7 */
				filter: alpha(opacity=80);
				/* Netscape */
				-moz-opacity: 0.8;
				/* Safari 1.x */
				-khtml-opacity: 0.8;
				/* Good browsers */
				opacity: 0.8;
			}

		#home_video #home_video_player_wrap .vjs-default-skin .vjs-big-play-button:before { display: none !important; }

#home_video_carousel {
	float: left;
	width: 175px;
	position: relative;
	padding-top: 41px; /* For prev button */
	padding-bottom: 35px; /* For next button */
	}

	#home_video_carousel #video_next {
		display: block;
		width: 80px; /* A little more to click on */
		height: 28px;
		background: url(images/video_carousel_btn_up.png) no-repeat center center;
		text-indent: -9999px;
		position: absolute;
		top: 0px;
		left: 50%;
		margin-left: -40px;
	}

	#home_video_carousel #video_prev {
		display: block;
		width: 80px; /* A little more to click on */
		height: 28px;
		background: url(images/video_carousel_btn_down.png) no-repeat center center;
		text-indent: -9999px;
		position: absolute;
		bottom: 0px;
		left: 50%;
		margin-left: -40px;
	}

	#home_video_carousel a.video_nav {
		transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
	}

	#home_video_carousel a.video_nav:hover {
		/* IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
		/* IE 5-7 */
		filter: alpha(opacity=80);
		/* Netscape */
		-moz-opacity: 0.8;
		/* Safari 1.x */
		-khtml-opacity: 0.8;
		/* Good browsers */
		opacity: 0.8;
	}

	#home_video_carousel .cycle-slideshow {
		width: 100%;
	}

		#home_video_carousel .cycle-slideshow a.video_thumbnail {
			display: block;
			width: 175px;
			height: 128px;
			padding: 0;
			margin: 0px 0px 13px 0px;
			position: relative;
			text-decoration: none;
		}

			#home_video_carousel .cycle-slideshow a.video_thumbnail span.video_thumbnail_wrap {
				display: block;
				width: 175px;
				height: 98px;
				position: relative;
			}

				#home_video_carousel .cycle-slideshow a.video_thumbnail span.video_thumbnail_wrap img {
					position: relative;
					z-index: 1;
				}

				#home_video_carousel .cycle-slideshow a.video_thumbnail span.video_thumbnail_wrap span.icon_video_play {
					width: 175px;
					height: 98px;
					position: absolute;
					left: 0px;
					top: 0px;
					z-index: 2;
					background: url(images/icon_video_play.png) center center no-repeat;
					transition: all 0.2s ease-in-out;
					-webkit-transition: all 0.2s ease-in-out;
				}

			#home_video_carousel .cycle-slideshow a.video_thumbnail span.video_title {
				display: block;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: bold;
				color: #fff;
				text-decoration: none;
				line-height: 30px;
				height: 30px;
				overflow: hidden;
			}

		#home_video_carousel .cycle-slideshow a.video_thumbnail:hover span.icon_video_play {
			  /* IE 8 */
			  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
			  /* IE 5-7 */
			  filter: alpha(opacity=50);
			  /* Netscape */
			  -moz-opacity: 0.5;
			  /* Safari 1.x */
			  -khtml-opacity: 0.5;
			  /* Good browsers */
			  opacity: 0.5;
		}


/* ==== INTERIOR CONTENT */

#interior_content {
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	width: 800px;
	min-height: 610px;
	height: auto !important;
	height: 610px;
	margin: 0px auto;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	z-index: 10;
	margin-top:23px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

	.interior_content_inner {
		padding: 28px 92px 28px 92px;
	}

.the-content #page_title {
	padding: 24px 92px;
	display: block;
	background: #ececec;
	color: #888;
	font-size: 30px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	margin: 0;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.callout {
	background-color: #eee;
	padding: 30px 0 20px 0;
}

.callout p {
	padding: 0 30px;
	font-size: 0.85em;
	font-style: italic;
}

/* ==== FOOTER */

#footer_main {
	width: 800px;
	margin: 25px auto;
	border-top: 12px solid #ffcc00;
	padding-top: 60px;
}

	#footer_inner {
		border-top: 1px solid #99ccff;
		background: #B8EDFF;
		padding: 30px 54px;
	}

	.footer_block {
		float: left;
		position: relative;
		width: 50%;
		color: #fff;
		text-align: center;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

		.footer_block img {
			display: block;
			margin: 0 auto 20px auto;
		}

		.footer_block a {
			color: #000;
			text-decoration: none;
		}

		.footer_block a:hover {
			text-decoration: underline;
		}

		#footer_block_wpi {
			background: url(https://wp.wpi.edu/touchtomorrow/wp-content/themes/wpi_touchtomorrow/images/footer_logo_wpi.png) left center no-repeat;
			height: 49px;
			padding-right: 50px;
		}

		#footer_block_wpi .aboutwpi_wrapper {
			height: 49px;
			padding-top: 15px;
			padding-left: 145px;
		}

			#footer_block_wpi:after {
				display: block;
				width: 1px;
				height: 72px;
				position: absolute;
				right: 0;
				top: -10px;
				content: " ";
				border-right: 1px solid #fff;
			}


		#footer_block_wgbh {
			background-image: url(https://wp.wpi.edu/touchtomorrow/wp-content/themes/wpi_touchtomorrow/images/gbh.png);
			height: 49px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
		}
/*
		#footer_block_nasa {
		}

			#footer_block_nasa:after {
				display: block;
				width: 1px;
				height: 72px;
				position: absolute;
				right: -50px;
				top: 0px;
				content: " ";
				border-right: 1px solid #fff;
			}

		#footer_block_usa_festival img {
			float: right;
			margin: 0px 10px 0px 0px;
		}
*/
	#copyright_line {
		font-family: 'Open Sans',sans-serif;
		font-size: 12px;
		font-weight: normal;
		color: #fff;
		margin: 7px 0px;
	}


#masthead #nav_main_menu ul li a span{
	padding-top: 3px;
	padding-bottom: 3px;
}
.mobnav-subarrow {
	display: none;
	border: none !important;
	-webkit-transition: background-color 0.25s ease;
	-moz-transition: background-color 0.25s ease;
	-ms-transition: background-color 0.25s ease;
	-o-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
}
.mobnav-subarrow:hover{
	background-color: #00527c;
}

#social_icons_footer {
	display: none;
}
	#social_icons_footer li{
		float: left;
		text-align: center;
		width: 33%;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	#social_icons_footer .social_icon_facebook a { background: url(../images/social_icon_facebook.png) left center no-repeat; }
	#social_icons_footer .social_icon_twitter a { background: url(../images/social_icon_twitter.png) left center no-repeat; }
	#social_icons_footer .social_icon_instagram a { background: url(../images/social_icon_instagram.png) left center no-repeat; }
	#social_icons_footer a{
		font-size: 15px;
		padding-left: 41px;
		height: 32px;
		line-height: 32px;
		color: #01344E;
		text-decoration: none;
	}

/*
	#mobile-block-usa-festival{
		width: 40%;
		float: right;
		display: block;
		text-align: right;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -20px;
		margin-bottom: 10px;
	}
		@media screen and (max-width: 600px){

			body #mobile-block-usa-festival img{
				padding-top: 20px !important;
			}
		}
		#mobile-block-usa-festival img{
			width: 50%;
			max-width: 126px;
		}
*/

	#footer_block_wgbh{
/*		padding-left: 100px; */
		padding-top: 10px;
	}



/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
| Forms
- - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.button, [type="submit"], button{
	font-size: 16px;
	color: #fff;
	text-align: center;
	border: 1px solid #0073ae;
	background: #00aeef;
	height: 30px;
	line-height: 27px;
	padding-left: 30px;
	padding-right: 30px;
	cursor: pointer;

	-webkit-transition: background 0.25s, border-color 0.25s;
	-moz-transition: background 0.25s, border-color 0.25s;
	-ms-transition: background 0.25s, border-color 0.25s;
	-o-transition: background 0.25s, border-color 0.25s;
	transition: background 0.25s, border-color 0.25s;
}
.button:hover, [type="submit"]:hover, button:hover{
	background: #0073ae;
	border-color: #034668;
}
.center{
	text-align: center;
}

/* Home Page Buttons */
ul.buttons {text-align: center; margin: 0 !important;}
ul.buttons li, ul.buttons-connect li {
display: inline-block;
border-radius: 10px;
padding: 5px 15px 6px;
}

ul.buttons li {
	background: #007EAC;		/*blue*/
}

ul.buttons li:hover {
	background: #005E80;
}
ul.buttons li a {color: #fff; text-decoration: none;}
ul.buttons a:hover {color: #fff;}

ul.buttons.connect li {
	background: #78508c;		/*purple*/
	color: #fff;
}
ul.buttons.connect li:hover {
	background: #783c8c;		/*deep purple*/
}
ul.buttons.connect a {text-transform: uppercase;}
ul.buttons.connect a:hover {color: #fff;}

/* EKG:  Added 6-7-2017 */
em { font-style:italic !important; }