
button[type=submit]:not(.no-styles),
input[type=submit],
.button {
    padding: 0;
    margin: 0;
    border: solid 1px $color-black;
    outline: 0 !important;
    background: $color-white;
    transition: $transition;
    color: $color-black;
    height: rem(40px);
    line-height: 1;
    text-align: center;
    padding: 0 rem(20px);
    box-sizing: border-box;
    min-width: rem(120px);
    font-size: rem(16px);
    display: inline-block;
    font-family: $font-family;
    position: relative;
    overflow: hidden;   
    cursor: pointer;
    text-decoration: none;
    &:hover {

    }
}


a.button {
    line-height: rem(40px);
    &.button-big {
        @media screen and (min-width: 700px) { 
            line-height: rem(50px);
        }
    }
}

.btn-tag {
    color: #62cae2;
    font-family: $myriad-pro;
    font-size: rem(14px);
    font-weight: 700;
    line-height: rem(17px);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    border: solid 1px #62cae2;
    border-radius: rem(3px);
    padding: rem(3px) rem(10px);
}
.btn-cta {
    display: block;
    background: $color-black no-repeat 50%;
    background-size: cover;
    color: $color-white;
    font-family: $myriad-pro;
    font-weight: 700;
    position: relative;
    box-sizing: border-box;
    padding: rem(20px) rem(100px) rem(20px) rem(30px);
    min-height: rem(132px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: rem(5px);
    cursor: pointer;
    outline: none;
    &.share {
        background-image: url(assets/images/share-image.png);
    }
    &.outline {
        background: transparent;
        border: solid 1px $color-white;
        &:after {
            display: none;
        }
    }
    > * {
        position: relative;
        z-index: 10;
    }
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: $color-black;
        opacity: 0.3;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: rem(5px);
        z-index: 1;
    }
    &:hover {
        .circle-small {
            .inner {
                border: 5px rgba(255,255,255, 1) solid;
            }
            svg {
                transform: scale(0.9);
            }
        }
    }
    a:focus ~ .circle-small {
        .inner {
            border: 5px rgba(255,255,255, 1) solid;
        }
        svg {
            transform: scale(0.9);
        }
    }
    &:active {
        .circle-small {
            .outer {
                opacity: 0.6;
                transform: scale(1.05);
            }
            svg {
                transform: scale(0.85);
            }
        }
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    span {
        display: block;
        width: 100%;
        position: relative;
        z-index: 5;
        &.subtitle {
            font-size: rem(18px);
            line-height: rem(22px);
            margin: 0 0 rem(8px);
        }
        &.title {
            font-size: rem(21px);
            line-height: rem(26px);
        }
    }
    .circle-small {
        @include center(y);
        right: rem(30px);
        @include circle-small;
        position: absolute;
    } 
    
    @media screen and (min-width: 600px){ 
        span {
            &.subtitle {
                font-size: rem(24px);
                line-height: rem(28px);
                margin: 0 0 rem(8px);
            }
            &.title {
                font-size: rem(30px);
                line-height: rem(36px);
            }
        }
    }
}