    @mixin circle-small {
        width: rem(60px);
        height: rem(60px);
        max-width: rem(60px);
        max-height: rem(60px);
        position: relative;
        cursor: pointer;
        background: transparent;
        border: 0;
        z-index: 5;
        &:hover {
            .inner {
                border: 5px rgba(255,255,255, 1) solid;
            }
            svg {
                transform: scale(0.9);
            }
        }
        &:active {
            .outer {
                opacity: 0.6;
                transform: scale(1.05);
            }
            svg {
                transform: scale(0.85);
            }
        }   
        .outer {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: rem(60px);
            height: rem(60px);
            margin: auto;
            border-radius: 100%;
            border: 2px rgba(255,255,255, 0.3) solid;
            box-sizing: border-box;
            transition: opacity 0.2s, transform 0.2s;
        }
        .inner {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: rem(52px);
            height: rem(52px);
            margin: auto;
            border-radius: 100%;
            border: 3px rgba(255,255,255, 0.15) solid;
            box-sizing: border-box;
            transition: border 0.2s;
        }
        svg {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: rem(30px);
            height: rem(30px);
            margin: auto;
            transition: transform 0.2s;
            path, polygon {
                fill: $color-white;
            }
        }
        
    }