				@mixin circle-medium {
					width: rem(78px);
					height: rem(78px);
					max-width: rem(78px);
					max-height: rem(78px);
					cursor: pointer;
					background: transparent;
					border: 0;
					z-index: 5;
					transition: 0.3s;
					transition-delay: 0.3s;
					position: relative;
					&:focus {
						outline: none;
					}
					&:hover {
						.cm-inner {
							border-width: rem(11px);
						}
						.icon {
							transform: scale(0.9);
						}
					}
					&:active {
						.cm-outer {
							transform: scale(1.05);
							opacity: 0.15;
						}
						.cm-inner {
						  	transform: scale(0.95);
						}
						.rotator {
						  	opacity: 0;
						}
						.icon {
						  	transform: scale(0.85);
						}
					}
					.cm-outer {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						border: 2px rgba(255,255,255, 0.6) solid;
						border-radius: 100%;
						transition: 0.2s;
					}
					.cm-inner {
						position: absolute;
						top: 5px;
						bottom: 5px;
						left: 5px;
						right: 5px;
						border: 9px #F0CA00 solid;
						border-radius: 100%;
						transition: 0.2s;
					}
					.icon {
						position: absolute;
						top: 24px;
						bottom: 24px;
						left: 24px;
						right: 24px;
						transition: 0.2s;
					}
					.rotator {
						position: absolute;
						top: 7px;
						bottom: 7px;
						left: 7px;
						right: 7px;
						transform: rotate(30deg);
						transition: 0.2s;
					}
					.rotate0 {
						position: absolute;
						top: 0px;
						bottom: 0px;
						left: 0px;
						right: 0px;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-between;
					}
					.rotate10 {
						position: absolute;
						top: 0px;
						bottom: 0px;
						left: 0px;
						right: 0px;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-between;
						opacity: 0.8;
						transform: rotate(10deg);
					}
					.rotate20 {
						position: absolute;
						top: 0px;
						bottom: 0px;
						left: 0px;
						right: 0px;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-between;
						opacity: 0.6;
						transform: rotate(20deg);
					}
					.rotate30 {
						position: absolute;
						top: 0px;
						bottom: 0px;
						left: 0px;
						right: 0px;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-between;
						opacity: 0.4;
						transform: rotate(30deg);
					}
					.rotate40 {
						position: absolute;
						top: 0px;
						bottom: 0px;
						left: 0px;
						right: 0px;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: space-between;
						opacity: 0.2;
						transform: rotate(40deg);
					}
					.rotate-bar {
						background: white;
						width: 2px;
						height: 5px;
					}
				}