.vjs-custom-skin {
	video {
		outline: none;
	}
	.vjs-control-bar {
		visibility: visible !important;
		opacity: 1 !important;
		height: rem(5px); 
		.vjs-progress-holder {
			margin: 0;
			background-color: rgba(0,0,0,.5);
		}
	}
	.vjs-load-progress {
		background: transparent;
		div {
			background: transparent;
			display: none !important;
		}
	}	
	.vjs-play-progress {
		height: 5px;
		bottom: 0;
		background: $accent-yellow;
		transition: $transition;
		.vjs-time-tooltip {
			display: none !important;
		}
		&:before {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 10px 10px;
			border-color: transparent transparent $accent-yellow transparent;
			right: 0;
			top: rem(10px);
			opacity: 0;
			transition: $transition;
		}
	}
	&.vjs-user-active.vjs-playing {
		.vjs-play-progress {
			height: rem(10px);
			&:before {
				opacity: 1;
				top: rem(-10px);
			}
		}
		.btn-toggle-video {
			opacity: 1;
		}
	}
	.btn-toggle-video {
		width: rem(48px);
		height: rem(48px);
		position: absolute;
		left: 0;
		bottom: rem(26px);
		background: transparent;
		margin-left: rem(-24px);
		opacity: 0;
		cursor: pointer;
		transition: $transition;
		&.playing {
			svg {
				polygon.play-icon {
					opacity: 0;
				}
				g.pause-icon {
					opacity: 1;
				}
			}
		}
	}
	.vjs-big-play-button {
		width: rem(150px);
		height: rem(150px);
		margin: -75px 0 0 -75px;
		background: transparent;
		border: 0 !important;
		border-radius: 0 !important;
		.circle-large {
			@include circle-large;
		}
	}
}