@mixin hover-zoom-image {
	overflow: hidden;
	display: block;
	img {
		transition: .25s ease;
	}
	&:hover img {
		transform: scale(1.08);
	}
}

@mixin entry-figure {
	overflow: hidden;
	img {
		width: 100%;
	}
	a {
		@include hover-zoom-image;
	}
}

@mixin set-text-margin($margin) {
	blockquote,
	table,
	p,
	ul,
	ol,
	dd,
	pre,
	iframe,
	address,
	.wp-block-image,
	hr {
		margin: $margin;
	}
}

@mixin font-condensed {
	font-weight: $semi-bold;
	font-family: $myriad-pro-condensed;
}

@mixin font-minion {
	font-weight: $medium;
	font-family: $minion-pro;
}