#footer {
    padding: rem(42px) 0;
    background: #fafafa;
    transition: background-color 1s ease, border-color 1s ease;
    border-top: solid 1px #eeeeee;
    text-align: center;
    .theme-night & {
        background: #2F2F35;
        border-color: #2F2F35;
        h6, p {
            color: $color-white;
        }
        .logo-footer {
            img, svg {
                &.white {
                    display: block;
                }
                &.colored {
                    display: none;
                }
            }
        }
        .contacts {
            a {
                color: $color-n-red;
                &:hover {
                    color: darken($color-white, 20%);
                }
            }
        }
    }
    .wrap {
        // @include flex-wrap;
        display: block;
        .ie & {
            height: rem(99px);
        }
    }
    h6, p {
        font-size: rem(16px);
        line-height: rem(24px);
        color: $color-night;
        margin: 0;
        strong {
            font-weight: 600;
        }
    }
    h6 {
        line-height: rem(27px);
    }
    p {
        opacity: 0.72;
    }
    .logo-footer {
        width: rem(120px);
        margin: 0 auto rem(19px);
        display: block;
        &:hover,
        &:focus {
            opacity: 0.5;
        }
        img, svg {
            @include fluid-img;
            width: 100%;
            max-width: rem(150px);
            &.white {
                display: none;
            }
            &.colored {
                display: block;
            }
        }
        .ie & {
            position: relative;
            order: 2;
            margin: 0;
            top: 0;
            left: 0;
            transform: none;
        }
    }
    .class-notes {
        margin: 0 auto;
    }
    .contacts {
        margin: 0 0 rem(30px);
        a {
            color: $color-red;
            text-decoration: underline;
            &:hover {
                color: darken($color-night, 20%);
            }
        }
    }

    @media screen and (min-width: 540px) {
        .logo-footer {
            // width: rem(120px);
            // margin: 0 auto rem(19px);
        }
    }
    @media screen and (min-width: 720px) {
        padding: rem(30px) 0;
        text-align: left;
        .wrap {
            max-width: calc( 100% - 60px );
            @include flex-wrap;
        }
        .logo-footer {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            order: 2;
            margin: 0;
        }
        .class-notes {
            order: 3;
            margin: 0;
        }
        .contacts {
            order: 1;
            margin: 0;
        }
    }
    @media screen and (max-width: 959px) {
        .btn {
            padding-right: rem(18px);
            padding-left: rem(18px);
        }
    }
    @media screen and (min-width: 960px) {
        padding: rem(42px) 0;
        .wrap {
            max-width: rem(840px);
        }
        .logo-footer {
            width: rem(150px);
        }
    }
    @media screen and (min-width: 1200px) {
        .wrap {
            max-width: rem(984px);
        }
    }
    @media screen and (min-width: 1440px) {
        .wrap {
            max-width: rem(1104px);
        }
    }
}