#header {
    // margin: 0 0 rem(70px);
    position: relative;
    z-index: 2;
    margin: 0 0 rem(48px);
    border-bottom: solid 1px #eee;
    transition: all 1s ease;
    background: $color-white;
    .home & {
        border: 0 !important;
    }
    .theme-night & {
        border-color: #38383a;
        background: $color-dark-gray;
    }
    .search-on &,
    .search-results & {
        margin: 0;
    }
    .mob-nav-on & {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5433;
    }
    .home & {
        margin: 0;
        border: 0;
    }
    .wrap {
        @include flex-wrap;
        max-width: calc( 100% - 36px );
        // min-height: 115px;
        .ie & {
            height: rem(115px);
        }
    }
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: $color-red;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
    .logo {
        display: block;
        margin: rem(15px) 0;
        order: 2;
        a {
            display: block;
            opacity: 1;
            &:focus {
                opacity: 0.5;
            }
        }
        img, svg {
            @include fluid-img;
            width: 100%;
            max-width: rem(200px);
            .theme-night & {
                #letter-w, #letter-p, #letter-i {
                    fill: $color-white;
                }
            }
        }
    }
    .primary {
        position: relative;
        display: none;
        order: 2;
        .theme-night & {
            ul {
                a {
                    color: $color-white;
                    &.btn-search {
                        svg path {
                            fill: $color-white;
                        }
                    }
                }
            }
        }
        > ul {
            @include reset(ul);
            display: flex;
            position: relative;
            z-index: 4;
            > li {
                font-size: rem(18px);
                line-height: rem(27px);
                font-weight: 600;
                font-style: normal;
                display: block;
                margin: 0 rem(30px) 0 0;
                position: relative;
                &:after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: $color-red;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: $transition;
                    opacity: 0;
                }
                &:nth-last-child(2) {
                    margin-right: 18px;
                }
                &:last-child {
                    margin: 0;
                }
								> a {
									color: $color-night;
									display: flex;
									min-height: rem(115px);
									align-items: center;
									justify-content: center;
									&.btn-search {
											width: 72px;
											svg {
													@include fluid-img;
													width: 100%;
													max-width: rem(18px);
											}
									}
									.ie & {
											height: rem(115px);
									}
							}
            }
        }

				ul.sub-menu {
					width: 220px;
					background: $color-white;
					box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
					list-style: none;
					margin: 0;
					padding: 10px;
					li {
						margin: 0;
						padding: 0;
						line-height: normal;
						a {
							min-height: 0;
							display: block;
							padding: 8px 12px;
							font-weight: 500;
							color: $color-night;
						}
						&:hover, 
						&.sfHover {
							a {
								color: $color-red;
							}
						}
					}
					.theme-night & {
						background: lighten($color-dark-gray, 5%);
						li {
							a {
								color: $color-white;
							}
							&:hover, 
							&.sfHover {
								a {
									text-decoration: underline;
								}
							}
						}
					}
				}
			
			li.two-col {
				ul.sub-menu {
					width: 440px;
					columns: 2;
					column-gap: 20px;
					> li {
						display: block;
					}
				}
			}
				
        .line {
            width: 100%;
            height: 3px;
            background: $color-red;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: $transition;
            z-index: 1;
            // opacity: 0;
        }
    }
    .mobile-search-toggle,
    .mobile-menu-toggle {
        -webkit-appearance: none;
        text-decoration: none;
        outline: none;
        border: 0;
        border-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(24px);
        height: rem(24px);
        background: transparent;
        line-height: 1;
        text-align: center;
        padding: 0;
        margin: 0;
        cursor: pointer;
        img, svg {
            @include fluid-img;
            width: 100%;
        }
        .theme-night & {
            svg {
                path {
                    fill: $color-white;
                }
            }
        }
    }
    .mobile-menu-toggle {
        order: 1;
        &.active {
            .menu {
                display: none;
            }
            .close {
                display: block;
            }
        }
        img, svg {
            max-width: rem(14px);
        }
        .menu {
            display: block;
        }
        .close {
            display: none;
        }
    }
    .mobile-search-toggle {
        order: 3;
        img, svg {
            max-width: rem(14.57px);
        }
    }


    @media screen and (min-width: 540px) {
        .wrap {
            max-width: calc( 100% - 60px );
            display: flex;
        }
    }
    @media screen and (min-width: 720px) {
        margin: 0 0 rem(60px);
        .wrap {
            max-width: calc( 100% - 80px );
            display: block;
        }
        .logo {
            margin: rem(30px) auto rem(18px);
            display: block;
            order: 1;
            img, svg {
                max-width: rem(210px);
                margin: 0 auto;
            }
        }
        .primary {
            position: relative;
            display: block;
            &:before {
                content: "";
                display: block;
                width: 100vw;
                height: 1px;
                background: #eee;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 0;

                .theme-night & {
                    background: #38383a;
                }
            }
            > ul {
                position: relative;
                > li {
                    font-size: rem(16px);
                    line-height: rem(24px);
                    margin: 0 rem(20px) 0 0;
                    &:last-child {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    > a {
                        min-height: rem(54px);
                        &.btn-search {
                            width: rem(48px);
                        }
                    }
                }
            }
        }
        .mobile-search-toggle,
        .mobile-menu-toggle {
            display: none;
        }
    }
    @media screen and (min-width: 800px) {
        
    }
    @media screen and (min-width: 960px) {
        margin: 0 0 rem(70px);
        .wrap {
            max-width: calc( 100% - 60px );
            display: flex;
        }
        .logo {
            margin: 0;
            img, svg {
                margin: 0;
            }
        }
        .primary {
            margin: 0;
            border: 0;
            &:before {
                display: none;
            }
            > ul {
                > li {
                    font-size: rem(16px);
                    line-height: rem(24px);
                    margin: 0 rem(20px) 0 0;
                    &:last-child {
                        position: relative;
                    }
                    > a {
                        min-height: rem(92px);
                        &.btn-search {
                            width: rem(60px);
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1200px) {
        .wrap {
            max-width: calc( 100% - 120px );
        }
        .logo {
            img, svg {
                max-width: rem(280px);
            }
        }
        .primary {
            margin: 0 rem(-30px) 0 0;
            > ul {
                > li {
                    font-size: rem(18px);
                    line-height: rem(27px);
                    margin: 0 rem(30px) 0 0;
                    > a {
                        min-height: rem(103px);
                        &.btn-search {
                            width: rem(72px);
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1440px) {
        .wrap {
            max-width: rem(1320px);
        }
        .logo {
            img, svg {
                max-width: rem(363px);
            }
        }
        .primary {
            margin: 0;
            > ul {
                > li {
                    > a {
                        min-height: rem(115px);
                    }
                }
            }
        }
    }
}
.scroll-progress {
    width: 0;
    height: 3px;
    background: $color-red;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    transition: $transition;
    z-index: 435;
}