#mobile-menu {
    width: 100%;
    background: $color-white;
    position: fixed;
    width: 100vw;
    height: calc( 100% - 60px );
		overflow-y: scroll;
		overflow-x: hidden;
    top: rem(60px);
    left: 0;
    z-index: 5434;
    display: none;
    .mob-nav-on & {
        display: block;
    }
    .theme-night & {
        background: $color-dark-gray;
        .current {
            border-color: #545459;
            h6 {
                color: $color-white;
            }
            h4 {
                color: $color-white;
            }
        }
        ul li {
            a {
                color: $color-white;
                border-color: #545459;
            }
        }
        .toggler {
            &:before {
                background: #545459;
            }
        }
    }

    @media screen and (min-width: 375px) {

    }
    @media screen and (min-width: 540px) {

    }
    @media screen and (min-width: 720px) {
        display: none !important;
    }
    > div {
        box-sizing: border-box;
        padding: rem(18px);
    }
    .current {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: rem(18px);
        border: solid 1px #EEEEEE;
        border-radius: 3px;
        margin: 0 0 4px;
        figure {
            order: 2;
            width: rem(100px);
            margin: 0 0 0 rem(18px);
            img {
                @include fluid-img;
            }
        }
        .text {
            order: 1;
            width: 100%;
            flex: 1;
        }
        h6 {
            color: $color-night;
            text-transform: uppercase;
            margin: 0 0 rem(6px);
            font-size: rem(16px);
            line-height: rem(24px);
            opacity: 0.6;
            letter-spacing: 1px;
        }
        h4 {
            line-height: rem(30px);
            margin: 0 0 rem(11px);
            color: $color-red;
        }
    }
    ul {
        @include reset(ul);
        li {
            font-size: rem(18px);
            line-height: rem(27px);
            font-weight: 600;
            position: relative;
            &:before {
                content: "";
                display: block;
                width: rem(3px);
                height: rem(27px);
                background: $color-red;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: rem(-18px);
                display: none;
            }
            &.current-menu-item {
                &:before {
                    display: block;
                }
            }
            &.search-item, &.current-issue  {
                display: none !important;
            }
            &:nth-last-child(2),
            &:last-child {
                a {
                    border: 0;
                }
            }
            a {
                color: $color-night;
                display: block;
                padding: 12px 0;
                border-bottom: solid 1px #eee;
            }
						&.subnav-open {
							&:before {
								display: none;
							}
						}
        }
				ul {
					display: none;
					li {
						a {
							border: none;
							font-size: 16px;
							padding-left: 10px;
							font-weight: 500;
						}
					}
				}
    }
    .toggler {
        display: flex;
        justify-content: flex-end;
        padding: rem(30px) 0 rem(20px);
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 120vw;
            height: 1px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            background: #eee;
        }
        .theme-toggler {
            min-width: rem(315px);
            width: calc( 100% - 12px );
            margin: 0 rem(12px) 0 0;
            justify-content: flex-start;
            .info {
                top: 50%;
                transform: translateY(-50%);
            }
            .toggler-slider {
                position: relative;
                span {
                    right: auto;
                    left: calc( 100% + 14px );
                }
            }
        }
    }
}