.single-article:not(.department-class-notes),
.single-department {
    #header {
        margin: 0;
        border: 0;
    }
    .section {
        &.hero.special {
                transition: all 1s ease;
                padding: rem(46px) 0 0;
                border-top: solid 1px #eee;

                @media screen and (min-width: 720px) {
                    padding: rem(60px) 0 0;
                }
                @media screen and (min-width: 960px) {
                    padding: rem(70px) 0 0;
                }
        }
        &.content {
            padding-bottom: rem(48px);

            @media screen and (min-width: 540px) {
                padding-bottom: rem(60px);
            }
            @media screen and (min-width: 720px) {

            }
            @media screen and (min-width: 960px) {
                padding-bottom: rem(70px);
            }
            @media screen and (min-width: 1200px) {
                padding-bottom: rem(90px);
            }
        }
        &.highlight {
            margin-bottom: rem(48px);

            @media screen and (min-width: 540px) {
                margin-bottom: rem(60px);
            }
            @media screen and (min-width: 960px) {
                margin-bottom: rem(88px);
            }
        }
    }
}
.theme-night.single-article:not(.department-class-notes),
.theme-night.single-department {
    .section {
        &.hero.special {
            border-color: #38383a;
        }
    }
}

.wpi-detail {
    .section {
        &.content {
            padding-bottom: 90px;
        }
        &.highlight {
            margin-bottom: rem(88px);
        }
    }
}

.page-template-contact {
    .section {
        &.content {
            .post-item:not(.class-form) {
                margin: 0 0 rem(70px);
            }
            .image-text.intro {
                margin: 0 0 rem(60px);
                .image {
                    max-width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
            .intro-btn {
                text-align: center;
            }

            @media screen and (min-width: 540px) {
                .post-item:not(.class-form) {
                    margin: 0 0 rem(70px);
                }
                .image-text.intro {
                    margin: 0 0 rem(33px);
                    // .image {
                    //     max-width: rem(300px);
                    //     img {
                    //         width: 100%;
                    //     }
                    // }
                }
            }
            @media screen and (min-width: 720px) {
                .post-item:not(.class-form) {
                    margin: 0 0 rem(72px);
                }
                .image-text.intro {
                    margin: 0 0 rem(33px);
                    .image {
                        max-width: rem(300px);
                    }
                }
            }
            @media screen and (min-width: 960px) {
                .post-item:not(.class-form) {
                    margin: 0 0 rem(90px);
                }
                .image-text.intro {
                    margin: 0 0 rem(72px);
                    .image {
                        max-width: rem(360px);
                    }
                }
            }
        }
    }
}

.tax-department_cat,
.page-template-departments {
    #header {
        @media screen and (max-width: 374px) {
            margin-bottom: 0;
        }
        @media screen and (min-width: 375px) and (max-width: 539px) {
            margin-bottom: 30px;
        }
    }

}

#body-search.loading {
    .section.search-results {
        &:before, &:after {
            display: block;
        }
    }
}

.page-template-features {
    @media screen and (max-width: 539px){
        #header {
            margin-bottom: 0;
        }
    }
}