#statistic_boxes_metabox .ot-metabox-wrapper {
	background: url(../images/box_guide.jpg) no-repeat;
	background-size: 100%;
	padding-top: 217px;
}

#statistic_boxes_learnmore_metabox .ot-metabox-wrapper {
	background: url(../images/guide_statistic.png) no-repeat;
	background-size: 100%;
	padding-top: 217px;
}