div, p, a, li, td { -webkit-text-size-adjust:none; }

@media (min-width: 1024px) {
	#nav {
		display: block !important;
	}
	.more-mobile-content {
		display: inline !important;
	}
	.more-mobile-button {
		display: none;
	}
	
	.itb-wrap {
		.cycle-sentinel {
			display: none !important;
		}
	}
	
}

@media (max-width: 1279px) {
	#footer .container {
		padding: 0 20px;
	}
	.footer-left {
		width: 60%;
	}
	.footer-right {
		width: 40%;
	}
	.equation-column .equation-list {
		width: 266px;
	}
}

/* --- Tablet Version --- */
@import 'inc/responsive_tablet';

/* --- Phone Version --- */
@import 'inc/responsive_phone';