/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
@media (max-width: 875px) {

	
	.page-content-title {
		margin-right: 20px;
	}
	
	.workplaces-column {
		font-size: 14px;
	}
	.workplaces-entries {
		padding-left: 56px;
		padding-right: 56px;
	}
	
}

@media (max-width: 720px) {
	.page-content-title {
		font-size: 23px;
	}
	.itb-cycle {
		padding-left: 50px;
		padding-right: 50px;
	}
	.statistic-box {
		font-size: 11px;
	}
	.box-text h3,
	.box-heading {
		font-size: 46px !important;
	}
	.box-text h3 {
		font-size: 40px !important;
	}
	.box-inner-inner {
		padding: 5px !important;
	}
	.statistic-box .box-heading-wrap {
		padding: 0 0 6px !important;
	}
	.statistic-box .box-text {
		padding: 0 !important;
	}
	.box-sub-heading {
		font-size: 18px !important;
		margin: 5px 0 0 5px !important;
	}
	.statistic-box-outer-inner {
		padding-bottom: 100%;
	}
	.box-4 .box-heading {
		font-size: 28px !important;
	}
	div.wpcf7-mail-sent-ok {
		padding-right: 20px;
	}
	div.wpcf7-response-output .button {
		position: static;
		margin-top: 20px;
	}
	.video-section .video-caption {
		font-size: 15px;
		font-weight: 800;
	}
	.video-section {
		background: #000;
	}
}

@media (max-width: 625px) {
	.equation-column {
		position: static;
		
		&:before,
		&:hover:before {
			display: none !important;
		}
	}
	.equation-column .equation-list {
		width: 100%;
	}
	.last-eq {
		position: relative;
	}
	.active-eq-button:before {
		left: 50%;
		margin-left: -7px;
	}
	.workplaces-column {
		font-size: 12px;
	}
}

@media (max-width: 600px) {
	#find-out-more {
		top: -51px;
		z-index: 1;
	}
	#logo {
		position: relative;
	}
	#nav,
	#logo,
	#show-menu  {
		z-index: 9;
	}
	#show-menu {
		width: auto;
		padding: 14px 20px 0;
		.show-menu-text {
			display: none;
		}
		.menu-icon {
			position: static;
		}
	}
	
	.section-formula .page-main-content,
	.section-results .page-main-content {
		width: 57.75%;
		margin-right: 0;
		padding-right: 30px;
	}
	.ri-heading h3,
	.ri-right {
		padding-left: 30px;
		padding-right: 30px;
	}
	.ri-heading h3 {
		background-size: 20px;
		background-position: 9px 43px;
	}
	.quote-grid-inner .quote-photo-wrap {
		width: 90px;
	}
	.quote-grid .quote-photo {
		border-width: 5px;
	}
	
	.contact-form .form-radio {
		margin-right: -3%;
		span.wpcf7-not-valid-tip {
			top: 0;
		}
	}
	.contact-form .form-radio .iradio {
		width: 47%;
		margin: 0 3% 20px 0;
	}	
	.contact-form .form-radio .iradio:last-child {
		width: 97%;
		margin-bottom: 5px;
	}	
}

@media (max-width: 555px) {
	.equation-column .equation-x {
		width: 10px;
		left: -5px;
	}
	.last-eq .equation-x {
		width: 17px;
		top: 23%;
	}
	.statistic-boxes .cycle-prev, .statistic-boxes .cycle-next {
		width: 20px;
		margin-top: -10px;
		left: 12px;
	}
	.statistic-boxes .cycle-next {
		left: auto;
		right: 12px;
	}
	.video-section .video-caption {
		font-size: 15px;
		font-weight: 800;
		border-width: 18px !important;
		position: static;
		min-height: 150px;
	}
	.video-section .video-caption .video-caption-inner-inner {
		padding: 15px;
	}
	.video-wrap {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		iframe {
			width: 100%;
			height: 100% !important;
		}
		.fluid-width-video-wrapper {
			padding: 0;
			height: 100%;
		}
	}
	
}

@media (max-width: 480px) {
	.the-content h2 {
		font-size: 24px;
	}
	.more-mobile-button,
	.the-content {
		font-size: 12px;
	}
	.the-content h3 {
		font-size: 19px;
	}
	.the-content h4 {
		font-size: 14px;
	}
	.box-text h3 {
		font-size: 24px !important;
	}
	.statistic-box .box-text h3 span {
		margin-left: 2px;
		font-size: 15px;
	}
	
}

@media (max-width: 450px) {
	.form-column-right .half, .form-column-left .half {
		float: none;
		width: auto;
		padding: 0;
	}
	
	.box-text h3 {
		font-size: 22px !important;
	}
	.quote-grid-inner,
	.quote-grid-inner .quote-photo-wrap,
	.quote-grid-inner .quote-grid-text-wrap {
		display: block;
		text-align: center;
		width: auto;
	}
	.quote-grid .quote-photo {
		width: 90px;
		display: inline-block;
	}
	.quote-grid-inner .quote-grid-text-wrap {
		padding: 20px 0;
	}
	.quote {
		padding-left: 5px;
		padding-right: 5px;
	}
	.quote-open,
	.quote-close {
		display: none;
	}
	.quote-close {
		padding-left: 5px;
	}
	.mobile-quote-open,
	.mobile-quote-close {
		display: inline-block;
		position: static;
		width: 30px;
	}
	
	
	.equation-column .equation-button {
		font-size: 9px;
	}
	.equation-column .equation-button h3:before {
		width: 6px;
		background-size: 6px auto;
		height: 7px;
	}
	div.wpcf7-response-output .button  {
		width: 100%;
		font-size: 20px;
	}
	.contact-form textarea, .contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="tel"], .contact-form input[type="password"] {
		font-size: 18px;
	}
	.contact-form input[type="submit"] {
		font-size: 24px;
		padding: 7px 24px;
	}
	.contact-form .form-radio {
		margin-right: -5%;
		span.wpcf7-not-valid-tip {
			top: 0;
		}
	}
	.contact-form .form-radio .iradio {
		width: 45%;
		font-size: 20px;
		padding: 8px 0;
		margin: 0 5% 20px 0;
	}
	.contact-form .form-radio .iradio:last-child {
		width: 95%;
		margin-bottom: 5px;
	}
	.itb-inner,
	.itb-text,
	.itb-image {
		display: block;
		padding: 0;
		text-align: center;
		width: auto;
	}
	.itb-text {
		padding: 10px 5px 0;
	}
	
	.footer-right .icon-break {
		display: block;
	}
	
	.footer-right a {
		margin-left: 14px;
		margin-bottom: 20px;
	}
}

@media (max-width: 420px) {
	
	.section-innovate,
	.section-formula,
	.section-learnmore,
	.section-results {
		.page-main-content {
			width: auto !important;
			float: none !important;
			padding-left: 25px !important;
			padding-right: 25px !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
	
	.section-results .the-content h2 {
		padding-left: 45%;
		padding-top: 5%;
		min-height: 139px;
	}
	.section-formula .the-content h2 {
		padding-left: 45%;
		padding-top: 8%;
		min-height: 120px;
	}	
	.section-innovate .the-content h2 {
		padding-right: 47%;
		padding-top: 5%;
		margin-top: 5%;
	}
	.section-learnmore .the-content h2 {
		padding-left: 37%;
		padding-top: 5%;
		padding-bottom: 2%;
		min-height: 150px;
	}
	
	.statistic-box-outer {
		padding: 0 4px;
	}
	.statistic-boxes {
		padding: 24px 0;
	}
	.statistic-wrap {
		margin: 0 8%;
	}
	.statistic-boxes .cycle-prev, .statistic-boxes .cycle-next {
		width: 14px;
		left: 6px;
	}
	.statistic-boxes .cycle-next {
		left: auto;
		right: 6px;
	}
	
	
	
}

@media (max-width: 400px) {
	.box-text h3 {
		font-size: 14px !important;
	}
}
@media (max-width: 355px) {
	.ri-heading h3 {
		background: none;
		height: auto;
		font-size: 20px;
	}
	.ri-right {
		margin-top: 0;
	}
	.equation-column .equation-x {
		margin-top: -6px;
	}
	.contact-form .form-radio label {
		font-size: 16px;
		padding: 20px 0 10px;
	}
	.quotes-section .container {
		padding: 0 37px;
	}
}