@media (max-width: 1023px) {
	.mobile-view,
	.tablet-view {
		display: block;
	}
	.desktop-view {
		display: none;
	}
	
	.section-page {
		padding-top: 72px;
		margin-bottom: -72px;
	}
	#footer {
		margin-top: 72px;
	}
	
	/* -- Header -- */
	#find-out-more:hover {
		background: #ad2839;
	}
	#header-inner {
		height: 72px;
	}
	#logo-wrap {
		padding: 18px 20px 6px;
	}
	#logo img {
		width: 131px;
	}
	#nav {
		background: #ad2839;			
		display: none;
		position: absolute;
		width: 278px;
		top: 100%;
		right: 0;
		margin: 1px 0 0;
		padding: 0;
		li {
			float: none;
			font-size: 35px;
			font-weight: 600;
			text-align: center;
			margin: 0;
			padding: 0;
			
			a {
				margin: 0;
				padding: 10px 5px;
				height: auto;
			}
		}
	}
	#show-menu {
		background: #600d18;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		color: #ffffff;
		text-transform: uppercase;
		font-size: 37px;
		font-weight: 700;
		padding: 9px 125px 5px 41px;
		width: 278px;
		.menu-icon {
			display: block;
			width: 54px;
			position: absolute;
			top: 20px;
			right: 38px;
			span {
				background: #fff;
				display: block;
				height: 2px;
				border-radius: 2px;
				margin-bottom: 12px;
			}
		}
	}
	
	#find-out-more {
		top: -69px;
		left: 50%;
		width: 258px;
		height: 168px;
		margin-left: -129px;
		margin-top: 0;
		font-size: 22px;
		a {
			padding: 45px 58px 0;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}
		 a.find-out-more-close {
			display: none;
		 }
		a img.fom-arrow  {
			height: 17px;
		 }
	}
	
	/* -- Header Fix -- */
	.section-page {
		padding-top: 52px;
		margin-bottom: -52px;
	}
	#footer {
		margin-top: 52px;
	}
	#header,
	#header .container,
	#header-inner {
		height: 52px;
	}
	#logo-wrap {
		padding: 12px 15px 0;
	}
	#logo img {
		width: 95px;
	}
	#nav {		
		width: 200px;		
		li {
			font-size: 16px;			
		}
	}
	#show-menu {
		font-size: 18px;
		padding: 14px 110px 5px 20px;
		width: 140px;
		.menu-icon {
			width: 20px;		
			top: 18px;
			right: 20px;
			span {				
				margin-bottom: 4px;
			}
		}
	}
	
	#find-out-more {
		top: -43px;
		left: 50%;
		width: 186px;
		height: 116px;
		margin-left: -93px;
		margin-top: 0;
		font-size: 16px;
		a {
			padding: 68px 49px 0;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}
		 a.find-out-more-close {
			display: none;
		 }
		a img.fom-arrow  {
			width: 10px;
			height: 15px;
			margin-top: 3px;
		 }
	}
	
	.page-title-wrap {
		padding-top: 2.5%;
		.page-content-title {
			margin-top: 0;
			padding: 3px 5px;
			margin-right: 3%;
		}
	}
	
	.page-content {
		min-height: 0 !important;
	}
	
	.page-main-content {
		width: 45.75%;
		padding-top: 24px;
	}
	.the-content h2 {
		font-size: 35px;
		font-weight: 800;
	}
	
	/* -- Results -- */
	.hero-image img {
		position: static;
		max-width: 100%;
	}
	
	
	/* -- Statistic Boxes -- */
	.statistic-boxes {
		background: #dddddc;
	}
	.statistic-boxes .container {
		
	}
	.learn-more-statistic .statistic-boxes {
		padding-top: 0;
	}
	.statistic-wrap {
		padding: 0;
		margin: 0 10%;
	}
	.statistic-box-outer {
		padding: 0 10px;		
	}
	.statistic-box-outer-inner {
		position: relative;
		padding-bottom: 87.68%;
	}
	.statistic-box {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		width: auto;
		height: auto;
		border-width: 0px 0px 25px;
		border-style: none none solid;		
		white-space: normal;
	}
	.stat-heading {
		background: #f8d74c;
		text-align: center;
		margin: 0;
		border-bottom: 10px solid #d0aa2b;
		color: #fff;
		padding: 10px 20px;
		margin-bottom: 30px;
	}
	
	.statistic-boxes {
		.cycle-prev,
		.cycle-next {
			position: absolute;
			top: 50%;
			margin-top: -15px;
			left: 20px;
			z-index: 999;
		}
		.cycle-next {
			left: auto;
			right: 20px;
		}
	}
	.learn-more-statistic .statistic-boxes {
		.cycle-prev,
		.cycle-next {
			margin-top: 22px;
		}		
	}
	.learn-more-statistic .box-6 .box-heading-wrap {
		padding-bottom: 16px;
	}
	.statistic-box .box-text h3 {
		font-size: 40px;
		padding-bottom: 3px;
	}
	
	.video-section .video-caption {
		width: 42.3% !important;
		height: auto;
		bottom: 0;
		padding: 0 !important;
		.video-caption-inner {
			display: table;
			width: 100%;
			height: 100%;
		}
		.video-caption-inner-inner {
			display: table-cell;
			vertical-align: middle;
			padding: 0 25px;
		}
	}
	.video-wrap {
		width: 57.7%;
		float: right;
	}
	
	.ri-left,
	.ri-right {
		width: auto;
		float: none;
	}
	.ri-caption {
		max-width: none;
		background: #d0aa2b;
		border: 0;
		border-bottom: 14px solid #f8d74c;
		text-align: center;
		font-size: 24px;
		padding: 16px 20px;
		p {
			max-width: 420px;
			margin: 0 auto;
		}
	}
	.ri-heading {
		padding: 0;
		h3 {
			background: url(images/path_mobile_form.png) 19px 39px no-repeat;
			background-size: 38px;
			padding: 28px 40px 20px 66px;
			font-size: 25px;
			font-weight: 900;
			height: 167px;
		}
	}
	.ri-right {
		padding: 0 66px 20px;
		margin-top: -83px;
	}
	.form-column-right, .form-column-left {
		float: none;
		width: auto;
		padding: 0;
	}	
	.contact-form .form-radio {
		margin-right: -30px;
	}
	.contact-form .form-radio .iradio {
		width: 167px;
		margin: 0 30px 30px 0;
		padding: 12px 0;
	}
	.contact-form .form-radio label {
		font-size: 20px;
		padding: 20px 0;
	}
	.contact-form .submit-wrap {
		text-align: center;
	}
	.section-imagine,
	.section-results,
	.section-formula,
	.section-innovate,
	.section-learnmore {
		.page-main-content {
			padding-right: 0;
		}
		.page-main-content h2 {
			margin-right: 0;
		}
	}
	.section-innovate .page-main-content {
		margin-left: 30px;
	}
	.quote-grid {
		height: auto;
		padding: 24px 67px;
		width: 100%;
		height: 100%;
		float: none;
	}
	.quote-grid .quote-photo {
		width: 145px;
		height: auto;
		float: left;
		display: block;
		border-width: 11px;
		img {
			width: 100%;
		}
	}
	.quote-grid .quote-grid-text-wrap {
		margin-left: 150px;
		white-space: normal;
		text-align: left;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.quote-grid .quote-grid-author {
		margin-top: 24px;
	}
	.workplaces-entries,
	.quotes-slideshow,
	.quote-grid-wrap {
		.cycle-prev,
		.cycle-next {
			position: absolute;
			z-index: 999;
			top: 50%;
			width: 29px;
			margin-top: -13px;
			left: 17px;
			img {
				vertical-align: top;
			}
		}
		.cycle-next {
			left: auto;
			right: 17px;
		}
	}
	.workplaces-heading h3,
	.itb-heading,
	.quote-grid-heading {
		background: #bdc440;
		border-bottom: 10px solid #9ca438;
		color: #fff;
		padding: 7px 20px;
		text-align: center;
		font-family: $archer;
		font-size: 22px;
		font-weight: 800;
	}
	.itb-heading {
		background: #ef7c28;
		border-color: #ee985e;	
	}
	.quote-grid-heading,
	.itb-heading {
		padding: 15px 20px;
	}
	.workplaces-heading,
	.workplaces-heading .workplaces-heading-inner {
		float: none;
		width: auto;
		position: static;
		padding: 0;
		background: none;
		border: 0;
		display: block;		
	}
	.workplaces-heading .workplaces-heading-inner h3 {
		display: block;
		background: #ae74ae;
		border-bottom: 12px solid #6d5fa9;
		padding: 15px 20px;
	}
	
	.itb-cycle {
		width: 100%;
		height: 100%;
		padding: 40px 120px;
		float: none;
	}
	.icon-text-boxes {
		padding: 0;
	}
	.itb-inner {
		display: table;
		width: 100%;
		height: 100%;
	}
	.itb-image,
	.itb-text {
		display: table-cell;
		float: none;
		margin: 0;
		padding-top: 0;
		vertical-align: middle;
	}
	.itb-wrap {
		.cycle-prev,
		.cycle-next {
			position: absolute;
			z-index: 999;
			top: 50%;
			margin-top: -12px;
			left: 15px;
			width: 22px;
			img {
				vertical-align: top;
			}
		}
		.cycle-next {
			left: auto;
			right: 15px;
		}
	}
	
	.quotes-section .container {
		padding: 0 48px;
	}
	.quote-close, .quote-open {
		width: 42px;
	}
	.quote {
		padding: 39px;
		font-size: 18px;
		line-height: 1.3;
		font-weight: 800;
	}
	.quotes-slideshow .cycle-prev {
		left: -31px;
	}
	.quotes-slideshow .cycle-next {
		right: -31px;
	}
	
	.section-imagine .page-main-content {
		margin-left: 10%;
	}
	.section-imagine .page-main-content h2  {
		margin-bottom: 21px;
		padding-top: 3.3%;
	}
	
	.section-formula .page-main-content {
		margin-right: 60px;
	}
	
	.workplaces-section {
		padding: 0;		
		.workplaces-heading {
			margin: 0;
		}
	}
	.workplaces-entries {
		float: none;
		width: auto;
		margin: 0;
		padding: 20px 90px;
		position: relative;
	}
	.workplaces-column {
		float: none;
		font-size: 22px;
		padding: 0 18px;
		height: 100%;
		width: 100%;
		white-space: normal;
		vertical-align: top;
		li {
			white-space: normal;
			/* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
			-ms-word-break: break-all;
			    word-break: break-all;
			
			/* Non standard for webkit */
			word-break: break-word;
			
			-webkit-hyphens: auto;
			   -moz-hyphens: auto;
			    -ms-hyphens: auto;
			        hyphens: auto;
		}
	}
	
	.workplaces-entries {
		.cycle-prev,
		.cycle-next {
			width: 44px;
			margin-top: -22px;
		}
	}
	
	.quote-grid {
		padding: 0;
	}
	.quote-grid-inner {
		display: table;
		width: 100%;
		height: 100%;
		padding: 24px 67px;
		.quote-grid-text-wrap,
		.quote-photo-wrap {
			display: table-cell;
			float: none;
			vertical-align: middle;
			padding: 0;
			margin: 0;
		}
		.quote-grid-text-wrap {
			padding: 0 0 0 25px;
		}
		.quote-photo-wrap {
			width: 145px;
		}
	}
	.quote-grid .quote-photo {
		width: auto;
		float: none;
	}
	
	.more-mobile-content {
		display: none;
	}
	.more-mobile-button {
		display: block;
		color: #ae74ae;
		font-family: $archer;
		font-size: 16px;
		padding-top: 10px;
		font-style: italic;
		font-weight: 600;
		text-transform: uppercase;
		cursor: pointer;
	}
	
	.statistic-box {
		font-size: 18px;
	}
	.box-7 .box-sub-heading,
	.box-5 .box-sub-heading {
		padding-left: 0;
		text-align: center;
	}
	
	.box-1 .box-heading {
		font-size: 135px;
	}
	.box-3 {
		.box-heading {
			font-size: 80px;
		}
		.box-text {
			padding: 10px 0 0;
		}
	}
	.box-6 .box-text, .box-6 .box-heading-wrap {
		display: block;
		float: none;
		width: auto;
		text-align: center;
	}
	
	.box-9,
	.box-10 {
		.box-heading {
			font-size: 90px;
		}
	}
	
	.learn-more-statistic .box-6 .box-heading {
		padding-left: 0;
	}
	.learn-more-statistic .box-6 .box-text {
		text-align: center;
	}
	
	.contact-form .form-radio {
		margin-right: -2%;
		span.wpcf7-not-valid-tip {
			top: 0;
		}
	}
	.contact-form .form-radio .iradio {
		width: 18%;
		font-size: 25px;
		padding: 10px 0;
		margin: 0 2% 20px 0;
	}
	
	
	
	/* --- Footer --- */
	#footer {
		padding: 0;
		.container  {
			padding: 0;
		}
	}
	.footer-left,
	.footer-left-info,
	.footer-copyright,
	.footer-logo,
	.footer-left-text,
	.footer-right {
		float: none;
		width: auto;
		text-align: center;
		margin: 0;
		padding: 0;
		max-width: none;
	}
	.footer-right {
		background: #787878;
		padding: 15px 0 18px;
	}
	.footer-left-text li {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
	.footer-logo,
	.footer-copyright {
		padding: 20px;
	}
	.footer-right .social-label {
		display: block;
		padding: 0 20px 15px;
	}
	
	.the-content {
		h3 {
			font-size: 25px;
		}
		h4 {
			font-size: 19px;
			line-height: 1.263;
		}
	}
	.section-imagine .page-main-content {
		width: 43.75%;
	}
	
}

@media (max-width: 895px) {
	.equations-section {
		padding-top: 24px;
	}
	.equation-column .equation-button {
		padding-bottom: 23px;
	}
	.equation-column .equation-x {
		width: 15px;
		left: -7px;
	}
	.last-eq {
		width: 24%;
		padding-left: 25px;
		padding-right: 10px;
	}
	.last-eq .equation-x {
		width: 24px;
		top: 36%;
	}
	.last-eq img.eq-wpi {
		right: -27px;
		position: static;
		width: auto;
	}
	.equation-column .equation-button {
		font-size: 12px;
		h3 {
			font-weight: 900;
			padding-top: 13px;
			&:before {
				width: 8px;
				background-size: 8px;
				height: 9px;
			}
		}
	}
	.equation-column .equation-list {
		width: 266px;
	}
	.active-eq-button:before {
		content: ' ';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 7px 12px 7px;
		border-color: transparent transparent #ffffff transparent;
		position: absolute;
		bottom: 0;
		left: 23%;
	}
	
	.footer-logo img {
		vertical-align: top;
		width: 195px;
	}
	.footer-left-text {
		font-size: 17px;
	}
	.footer-copyright {
		font-size: 15px;
	}
	.footer-right .social-label {		
		font-size: 17px;
		font-weight: 600;
	}
	.footer-right a {
		font-size: 12px;
	}
}