/*** ESSENTIAL STYLES ***/
#header {
	.sf-menu > li {
		position: relative;
	}
	/* First Level */
	.sf-menu li ul.sub-menu {
		position: absolute;
		display: none;
		top: 100%;
		left: 0;
		z-index: 99;
	}
	.sf-menu li:hover > ul.sub-menu,
	.sf-menu li.sfHover > ul.sub-menu {
		display: block;
	}
	/* Second+ Level */
	.sf-menu ul ul {
		top: 0;
		left: 100%;
	}
}