

@mixin button {
    display: inline-block;
    background-color: $color-red;
    color: $color-white;
    font-size: rem(15px);
    font-weight: 700;
    line-height: 1;
    overflow: hidden;
    text-align: center;
    font-family: $myriad;
    padding: rem(20px) rem(30px);
    outline: none;
    border: 0;
    border-radius: 3px;
    box-sizing: border-box;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: $transition;
    &:focus,
    &:hover {
        // background-color: $color-black;
        background-color: #8A222C;
    }
    &.arrow {
		&:after {
			content: "";
			display: inline-block;
			width: 7px;
			height: 12px;
            // background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292893 11.7071C0.653377 12.0676 1.22061 12.0953 1.6129 11.7903L1.70711 11.7071L6.70711 6.70711C7.06759 6.34662 7.09532 5.77939 6.7903 5.3871L6.70711 5.29289L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0675907 0.653377 -0.0953203 1.22061 0.209705 1.6129L0.292893 1.70711L4.585 6L0.292893 10.2929C-0.0675907 10.6534 -0.0953203 11.2206 0.209705 11.6129L0.292893 11.7071Z' id='fill' fill='%231D1D21' stroke='none' /%3E%3C/svg%3E");
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292893 11.7071C0.653377 12.0676 1.22061 12.0953 1.6129 11.7903L1.70711 11.7071L6.70711 6.70711C7.06759 6.34662 7.09532 5.77939 6.7903 5.3871L6.70711 5.29289L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0675907 0.653377 -0.0953203 1.22061 0.209705 1.6129L0.292893 1.70711L4.585 6L0.292893 10.2929C-0.0675907 10.6534 -0.0953203 11.2206 0.209705 11.6129L0.292893 11.7071Z' id='fill' fill='%23ffffff' stroke='none' /%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: auto 12px;
			margin: 0 0 0 rem(28px);
			transition: $transition;
		}
    }
    &.light {
        background: $color-white;
        color: $color-red;
        &.arrow {
            &:after {
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='7px' height='12px' viewBox='0 0 7 12' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292893 11.7071C0.653377 12.0676 1.22061 12.0953 1.6129 11.7903L1.70711 11.7071L6.70711 6.70711C7.06759 6.34662 7.09532 5.77939 6.7903 5.3871L6.70711 5.29289L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0675907 0.653377 -0.0953203 1.22061 0.209705 1.6129L0.292893 1.70711L4.585 6L0.292893 10.2929C-0.0675907 10.6534 -0.0953203 11.2206 0.209705 11.6129L0.292893 11.7071Z' id='fill' fill='%23AC2B37' stroke='none' /%3E%3C/svg%3E");
            }
        }
        &:focus,
        &:hover {
            background: #f5f5f5;
        }
    }
}


a.btn,
button.btn,
button[type=submit],
input[type=submit] {
	@include button;
}

.theme-toggler {
    z-index: 432;
    display: flex;
    position: relative;
    justify-content: flex-end;
    &.sticky {
        position: fixed;
        right: rem(18px);
        bottom: rem(18px);
        display: none;
        .single-article & {
            display: none !important;
        }
        .toggler-slider {
            span {
                opacity: 0;
            }
        }
        &:hover {
            .toggler-slider {
                span {
                    opacity: 1;
                }
            }
        }
        @media screen and (max-width: 719px) {
            display: none !important;
        }
        .scrolled:not(.single-article) & {
            display: none;
            // .toggler-slider span {
            //     opacity: 0;
            // }
            // &:focus,
            // &:hover {
            //     .toggler-slider span {
            //         opacity: 1;
            //     }
            // }
            @media screen and (min-width: 720px) {
                display: block;
            }
        }
    }
    .toggler-stick &:not(.mobile) {
        position: fixed;
        right: rem(18px);
        bottom: rem(18px);
        display: block;
    }
    .toggler-attached &:not(.mobile) {
        position: absolute;
        right: rem(18px);
        display: block;
        bottom: auto;
    }
    .info {
        width: 12px;
        height: 12px;
        position: absolute;
        top: -15px;
        right: 0;
        span {
            display: block;
            position: relative;
            width: 12px;
            height: 12px;
            cursor: pointer;
            transition: $transition;
            opacity: 0.3;
            .theme-night & {
                img, svg {
                    path {
                        fill: $color-white;
                    }
                }
            }
            img, svg {
                @include fluid-img;
                width: 100%;
                max-width: 12px;
            }
            &:hover {
                opacity: 1;
            }
            &.active {
                opacity: 1;
                & + .tip {
                    display: block;
                }
            }
        }
        .tip {
            background: #fdfdfd;
            box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.06);
            border-radius: rem(3px);
            position: absolute;
            width: rem(240px);
            box-sizing: border-box;
            padding: rem(10px) rem(12px);
            color: $color-night;
            font-size: rem(16px);
            line-height: rem(24px);
            text-align: left;
            right: 0;
            bottom: rem(15px);
            display: none;
        }
    }
    .toggler-slider {
        width: rem(54px);
        height: rem(30px);
        label {
            width: rem(54px);
            height: rem(30px);
            background: $color-white;
            margin: 0;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 15px;
            border: solid 2px #ddd;
            box-sizing: border-box;
            cursor: pointer;
            &:before {
                display: block;
                content: "";
                border: solid 2px #ddd;
                box-sizing: border-box;
                cursor: pointer;
                position: absolute;
                left: -2px;
                top: -2px;
                width: rem(30px);
                height: rem(30px);
                z-index: 1;
                background: #f5f5f5 no-repeat 50%;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='13px' height='14px' viewBox='0 0 13 14' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.04378 0.896387C12.3017 2.77737 13.418 6.94331 11.537 10.2013C9.65603 13.4592 5.49009 14.5755 2.23213 12.6945C1.31008 12.1622 0.559569 11.4468 0 10.6208C2.66454 11.206 5.51229 10.0405 6.94886 7.5523C8.38543 5.06409 7.9709 2.01511 6.13257 0C7.12694 0.0717628 8.12173 0.364038 9.04378 0.896387Z' id='fill' fill='%23323237' stroke='none' /%3E%3C/svg%3E");
                background-size: 12.45px auto;
                border-radius: rem(15px);
                transition: all 0.4s ease;
            }
            &:focus,
            &:hover {
                &:before {
                    background-color: #79797e;
                    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='13px' height='14px' viewBox='0 0 13 14' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.04378 0.896387C12.3017 2.77737 13.418 6.94331 11.537 10.2013C9.65603 13.4592 5.49009 14.5755 2.23213 12.6945C1.31008 12.1622 0.559569 11.4468 0 10.6208C2.66454 11.206 5.51229 10.0405 6.94886 7.5523C8.38543 5.06409 7.9709 2.01511 6.13257 0C7.12694 0.0717628 8.12173 0.364038 9.04378 0.896387Z' id='fill' fill='%23ffffff' stroke='none' /%3E%3C/svg%3E");
                }
            }
        }
        span {
            display: block;
            font-size: rem(16px);
            line-height: rem(24px);
            font-weight: 600;
            position:absolute;
            text-align: right;
            right: rem(66px);
            top: 50%;
            transform: translateY(-50%);
            color: #1d1d1d;
            white-space: nowrap;
            transition: $transition;
            opacity: 1;
            .theme-night & {
                color: $color-white;
            }
            &:before {
                content: "Night Mode";
            }
        }
        input[type=checkbox] {
            visibility: hidden;
            &:checked {
                & + label {
                    background-color: #1d1d21;
                    border-color: #545459;
                    &:before {
                        border-color: #545459;
                        left: rem(22px);
                        background-color: #79797e;
                        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.48401 0.300015L9.96221 3.25953L13.103 2.21261L13.2004 2.18957C13.5868 2.13411 13.9201 2.50757 13.7874 2.89702L12.7405 6.03467L15.7 7.51599L15.7992 7.57913C16.0967 7.81637 16.0636 8.30296 15.7 8.48479L12.7405 9.96298L13.7874 13.1038L13.8104 13.2012C13.8659 13.5876 13.4924 13.9209 13.103 13.7882L9.96533 12.7412L8.48713 15.7008L8.424 15.7999C8.18676 16.0975 7.70017 16.0644 7.51834 15.7008L6.04014 12.7412L2.90249 13.7882L2.80503 13.8112C2.41868 13.8667 2.08538 13.4932 2.21808 13.1038L3.26501 9.96611L0.305488 8.48791L0.204755 8.424C-0.0974757 8.18441 -0.0644162 7.69782 0.299238 7.51599L3.25876 6.03779L2.21183 2.90014L2.18879 2.80269C2.13333 2.41633 2.5068 2.08303 2.89624 2.21573L6.03389 3.26266L7.51521 0.300015L7.57835 0.200836C7.81559 -0.0966989 8.30218 -0.0636394 8.48401 0.300015ZM10.3588 5.64121C9.05937 4.34181 6.94491 4.34181 5.64551 5.64121C4.34611 6.94061 4.34611 9.05507 5.64551 10.3545C6.94491 11.6539 9.05937 11.6539 10.3588 10.3545C11.6582 9.05507 11.6582 6.94061 10.3588 5.64121Z' id='fill' fill='%23FFFFFF' fill-rule='evenodd' stroke='none' /%3E%3C/svg%3E");
                        background-size: 16px auto;
                    }
                    &:hover {
                        &:before {
                            background-color: $color-white;
                            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='16px' height='17px' viewBox='0 0 16 17' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.48401 0.300015L9.96221 3.25953L13.103 2.21261L13.2004 2.18957C13.5868 2.13411 13.9201 2.50757 13.7874 2.89702L12.7405 6.03467L15.7 7.51599L15.7992 7.57913C16.0967 7.81637 16.0636 8.30296 15.7 8.48479L12.7405 9.96298L13.7874 13.1038L13.8104 13.2012C13.8659 13.5876 13.4924 13.9209 13.103 13.7882L9.96533 12.7412L8.48713 15.7008L8.424 15.7999C8.18676 16.0975 7.70017 16.0644 7.51834 15.7008L6.04014 12.7412L2.90249 13.7882L2.80503 13.8112C2.41868 13.8667 2.08538 13.4932 2.21808 13.1038L3.26501 9.96611L0.305488 8.48791L0.204755 8.424C-0.0974757 8.18441 -0.0644162 7.69782 0.299238 7.51599L3.25876 6.03779L2.21183 2.90014L2.18879 2.80269C2.13333 2.41633 2.5068 2.08303 2.89624 2.21573L6.03389 3.26266L7.51521 0.300015L7.57835 0.200836C7.81559 -0.0966989 8.30218 -0.0636394 8.48401 0.300015ZM10.3588 5.64121C9.05937 4.34181 6.94491 4.34181 5.64551 5.64121C4.34611 6.94061 4.34611 9.05507 5.64551 10.3545C6.94491 11.6539 9.05937 11.6539 10.3588 10.3545C11.6582 9.05507 11.6582 6.94061 10.3588 5.64121Z' id='fill' fill='%231d1d21' fill-rule='evenodd' stroke='none' /%3E%3C/svg%3E");
                            background-size: 16px auto;
                        }
                    }
                }
                & ~ span {
                    color: $color-white;
                    &:before {
                        content: "Day Mode";
                    }
                }
            }
        }
    }
}