.form {
  select,
  textarea,
  input[type='date'],
  input[type='number'],
  input[type='tel'],
  input[type='search'],
  input[type='password'],
  input[type='email'],
  input[type='text'] {
    -webkit-appearance: none;
    text-decoration: none;
    outline: none !important;
    border: solid 1px #eee;
    border-radius: 3px;
    font-family: $myriad;
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    z-index: 10;
    background: #fdfdfd;
    width: 100%;
    display: block;
    color: $color-night;
    height: rem(42px);
    font-size: rem(16px);
    padding: 0 rem(18px);
    opacity: 1;
    transition: $transition;
    &.wpcf7-not-valid {
      background: #ffeaea;
      border-color: red;
    }
    @include placeholder {
      color: $color-night;
      opacity: 0.72;
      .theme-night & {
        color: #fff;
      }
    }
    &:hover {
      @include placeholder {
        opacity: 1;
      }
    }
    &:focus {
      border: solid 1px #4ca5eb;
      @include placeholder {
        opacity: 1;
      }
    }
  }
  textarea {
    height: rem(126px);
    padding-top: 12px;
  }

	.selectric-wrapper {
    &.selectric-hover,
    &.selectric-open {
      .selectric {
        border: solid 1px #4ca5eb;
        .sel-arrow {
          opacity: 1;
        }
      }
    }
    .selectric-items {
      border-color: #eee;
      background: $color-white;
      top: 0;
      z-index: 4324;
      border-radius: 3px;
      ul {
        padding: 4px 0;
      }
      li {
        font-size: rem(16px);
        line-height: rem(24px);
        margin: 0 !important;
        padding: rem(4px) rem(18px);
        color: $color-night;
        background: transparent;
        .highlighted,
        .selected,
        &:hover {
          background: transparent;
          color: $color-red;
        }
      }
    }

    &.first-option {
      .selectric {
        .label {
          color: $color-night;
          .theme-night & {
            color: #fff;
          }
          opacity: 0.72;
        }
      }
    }
	}

  .selectric {
    border: solid 1px #eee;
    border-radius: 3px;
    background: #fdfdfd;
    transition: $transition;
    .label {
      line-height: rem(40px);
      height: rem(40px);
      font-size: rem(16px);
      margin: 0 rem(28px) 0 rem(18px);
      font-family: $myriad;
      font-weight: 400;
      transition: $transition;
    }
    .sel-arrow {
      width: rem(26px);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      opacity: 0.6;
      transition: $transition;
      &:before {
        content: '';
        display: block;
        width: rem(8px);
        height: rem(13px);
        background: url(assets/images/select-arrow.svg) no-repeat;
      }
    }
	}

  .fields {
    display: flex;
    flex-wrap: wrap;
	}

  .field {
    display: block;
    margin: 0 0 rem(18px);
    width: 100%;
    &.upload {
      padding: rem(18px);
      border: solid 1px #eee;
      border-radius: 3px;
    }
	}

  .button {
    text-align: center;
	}

	.frm_dropzone .dz-message {
		border: 1px solid #eee;
		color: $color-night;
		opacity: 0.72;
		transition: all .3s ease-out;
		font-size: 1rem;
		background-color: transparent;

		&:hover,
		&:focus {
			opacity: 1;
		}
	}

	.frm_form_field.frm_full .frm_dropzone.dz-clickable.frm_single_upload .dz-message {
		margin: 0;
	}

  .theme-night & {
    select,
    textarea,
    input[type='date'],
    input[type='number'],
    input[type='tel'],
    input[type='search'],
    input[type='password'],
    input[type='email'],
    input[type='text'] {
      background: #26262a;
      border-color: #545459;
      color: $color-white;
    }
    .selectric-wrapper {
      background: #26262a;
      border-color: #545459;
    }
    .selectric-items {
      background: #26262a;
      border-color: #545459;
      li {
        color: $color-white;
        &:hover {
          color: $color-white;
        }
      }
    }
    .selectric {
      background: #26262a;
      border-color: #545459;
      .label {
        color: $color-white;
      }
      .sel-arrow:before {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='8px' height='13px' viewBox='0 0 8 13' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.67289 0L0 4.81718L7.34578 4.81718L3.67289 0ZM3.67289 13L0 8.18282L7.34578 8.18282L3.67289 13Z' id='Combined-Shape' fill='%23ffffff' fill-rule='evenodd' stroke='none' /%3E%3C/svg%3E");
      }
		}

		.frm_dropzone .dz-message {
			border-color: #545459;
			color: $color-white;
		}
  }
}
