.fancy-faculty {
    .modal-content {
        padding: 0;
        background: transparent;
        max-width: 90vw;
        overflow: hidden;
        figure {
            img {
                max-width: 100%;
                height: auto;
            }
        }
        figcaption {
            color: $color-white;
            position: relative;
            padding: 0 0 0 rem(19px);
            margin-top: rem(18px);
            &:before {
                content: "";
                display: block;
                width: rem(3px);
                height: calc( 100% - 12px );
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-color: #ddd;
            }
            h3 {
                @extend h5;
                margin: 0 0 5px;
            }
            h4 {
                text-align: center;
                margin: 0;
                padding: rem(12px) 0 0;
            }
            p {
                font-size: rem(16px);
                line-height: rem(24px);
                margin: 0;
            }
        }
    }
    .fancybox-caption {
        display: none !important;
    }
}

.fancy-issue {
    .modal-content {
        padding: 0;
        background: transparent;
        max-width: 90vw;
        overflow: hidden;
        figure {
            img {
                max-width: 100% !important;
                max-height: 80vh;
                object-fit: contain;
            }
        }
        figcaption {
            color: $color-white;
            position: relative;
            margin-top: rem(30px);
            h4 {
                text-align: center;
                margin: 0;
            }
        }
    }
    .fancybox-caption {
        display: none !important;
    }
}
.fancybox-container {
    .fancybox-button {
        background: transparent;
        top: rem(18px);
        right: rem(18px);
    }
}