.alignleft {
    float:left;
    margin:0 20px 20px 0;
}
.alignright {
    float:right;
    margin:0 0 20px 20px;
}
.alignnone {
    margin: 0 0 20px 0;
}
.aligncenter {
    display: block;
    margin: 0 auto;
}
.wp-caption {
    background: transparent;
    border: 0;
    max-width: 100%; /* Image does not overflow the content area */
    padding: 10px 0;
    text-align: left;
    margin: 0 auto rem(36px);
    border: 1px solid #4a476f;
    &.alignnone {
        margin: 5px 20px 20px 0;
    }
    &.alignleft {
        margin: 5px 20px 20px 0;
    }
    &.alignright {
        margin: 5px 0 20px 20px;
    }
    img {
        border: 0 none;
        height: auto;
        margin: 0 auto rem(10px);
        max-width: 100%;
        padding: 0;
        width: auto;
        display: block;
    }
    p.wp-caption-text {
        font-size: 14px;
        line-height: normal;
        margin: 0 !important;
        color: $color-black;
        font-style: italic;
        text-align: center;
    }
}