/* Highlight Box Shortcode Styles */

.highlight_box:before,
.highlight_box:after {
    content: " ";
    display: table;
}

.highlight_box:after {
    clear: both;
}

.highlight_box {
    *zoom: 1;
}

.highlight_box {
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    font-size: 16px;
    margin: 20px 10px;
    padding: 15px;
}

	.highlight_box .highlight_box_thumb {
		float: left;
		width: auto;
		height: auto;
		margin-right: 5%;
	}
	
	.highlight_box.has_image .highlight_box_text {}
	
		.highlight_box.has_image h3 {
			margin-top: 0 !important;
			padding-top: 0 !important;
			overflow: hidden;
		}
		
@media screen and (max-width: 480px) {
	.highlight_box .highlight_box_thumb { display: none; }
}