/* Video Gallery Shortcode Styles */

.wpi_video_gallery {
	margin-bottom: 20px;
}

	.video_gallery_wrap {
		background: #E8E8E8;
		margin-bottom: 20px;
	}
	
	.wpi_video_gallery .video_prev {
		float: left;
	}
	
	.wpi_video_gallery .video_next {
		float: right;
	}
	
	.wpi_video_gallery .video_thumbnail {
		border: 2px solid #FFF;
	}
	
	.wpi_video_gallery .video_thumbnail:hover {
		border-color: #FFE500;
	}
	
		.wpi_video_gallery .video_thumbnail img {
			display: block;
		}