html {
    min-height:100%;
    position:relative;
}
.clearfix,
.clear {
    clear:both;
    width:100%;
    display: table;
}
.hidden {
    display:none;
    visibility:hidden;
}

hr {
    border: 0;
    height: 2px;
    background: #ddd;
    width: 100%;
}

img.svg {
    display: none;
}

.wrap {
    width: 100%;
    max-width: calc( 100% - 40px );
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    // @include clearfix;

    @media screen and (min-width: 600px) { 
        max-width: calc( 100% - 60px );
    }
    @media screen and (min-width: 1000px) { 
        max-width: rem($wrap-width);
    }    
}