
body {
    font-family: $font-family;
    font-size: $font-size;
    color: $color-default;
    font-weight: 400;
	line-height: 1;
    -webkit-text-size-adjust: 100%;
    padding: 0 !important;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0 0 rem(10px);
    font-weight: 400;
    line-height: 1.2;
    font-family: $myriad-pro;
    strong {
        font-weight: 700;
    }
}
h1 {
    font-size: rem(45px);
    font-weight: 700;
    line-height: rem(48px);
    &.jumbo {
        font-size: rem(30px);
        line-height: rem(36px);
        letter-spacing: rem(-0.5px);
    }
}
h2 {
    font-size: rem(30px);
    font-weight: 700;
    line-height: rem(39px);
    letter-spacing: 0;
}
h3 {
    font-size: rem(24px);
    font-weight: 700;
    line-height: rem(30px);
    letter-spacing: 0;
}
h4 {
    font-size: rem(21px);
    font-weight: 700;
    line-height: rem(27px);
}
h5 {
    font-size: rem(18px);
    font-weight: 700;
    line-height: rem(27px);
}
h6 {
    font-size: rem(15px);
    font-weight: 700;
    line-height: rem(24px);
}
p {
    font-size: rem(15px);
    line-height: rem(25px);
    margin: 0 0 rem(14px);
    &.large {
        font-size: rem(18px);
        line-height: rem(24px);
    }
    &.small {
        font-size: rem(12px);
        line-height: rem(18px);
    }
}
strong {
    font-weight: 700;
}

ul {
    list-style:disc outside;
    padding:0 0 0 rem(24px);
    margin: 0 0 rem(30px);
    li {
        line-height: rem($line-height);
    }
    &.menu {
        @include reset(ul);
        li {
            line-height: normal;
            ul {
                @include reset(ul);
            }
        }
    }
}

ol {
    list-style:decimal outside;
    padding:0 0 0 rem(24px);
    margin: 0 0 rem(30px);
    li {
        line-height: rem($line-height);
    }
}

blockquote {
    padding: 0;
    margin: 0 0 rem(30px);
    p {
        display: block;
        margin: 0 auto;
        font-size: rem(24px);
        line-height: rem(33px);
    }
}
.quotes-person {
    position: relative;
    padding: 0;
    min-height: rem(140px);
    blockquote {
        margin: 0 0 rem(12px);
        p {
            font-size: rem(18px);
            line-height: rem(27px);
            font-weight: 400;
            margin: 0;
        }
    }
    .name {
        display: block;
        font-size: rem(16px);
        line-height: rem(24px);
        font-family: $myriad-pro;
        font-weight: 700;
        span {
            font-size: rem(12px);
            line-height: rem(18px);
            display: block;
            font-weight: 400;
        }
    }
    figure {
        border: solid 2px $accent-yellow;
        padding: rem(3px);
        border-radius: 100%;
        img {
            @include fluid-img;
            border-radius: 100%;
            max-width: rem(49px);
        }
    }

    @media screen and (max-width: 799px) {
        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .name {
                width: calc( 100% - 72px );
            }
        }
    }
    @media screen and (min-width: 800px) {
        padding: 0 0 0 rem(172px);
        blockquote {
            margin: 0 0 rem(12px);
            p {
                font-size: rem(24px);
                line-height: rem(33px);
            }
        }
        .name {
            span {
                font-size: rem(14px);
                line-height: rem(21px);
            }
        }
        figure {
            border-width: 3px;
            padding: rem(8px);
            position: absolute;
            left: 0;
            top: 0;
            img {
                max-width: rem(118px);
            }
        }
    }
}
.quotes-text {
    position: relative;
    padding: 0 0 0 rem(30px);
    blockquote {
        margin: 0 0 rem(12px);
        position: relative;
        &:before {
            content: "";
            display: block;
            width: rem(3px);
            height: calc( 100% - 14px );
            @include center(y);
            left: rem(-30px);
            background: $accent-red;
        }
        p {
            font-size: rem(18px);
            line-height: rem(27px);
            font-weight: 400;
            margin: 0;
        }
    }
    .name {
        display: block;
        font-size: rem(16px);
        line-height: rem(24px);
        font-family: $myriad-pro;
        font-weight: 700;
        span {
            font-size: rem(12px);
            line-height: rem(18px);
            display: block;
            font-weight: 400;
        }
    } 

    @media screen and (min-width: 800px) {
        blockquote {
            margin: 0 0 rem(12px);
            p {
                font-size: rem(24px);
                line-height: rem(33px);
            }
        }
        .name {
            span {
                font-size: rem(14px);
                line-height: rem(21px);
            }
        }
    }   
}

@media screen and (min-width: 800px) { 
    h1 {
        font-size: rem(80px);
        line-height: rem(84px);
        &.jumbo {
            font-size: rem(120px);
            line-height: rem(120px);
            letter-spacing: 0;
        }
    }
    h2 {
        font-size: rem(42px);
        line-height: rem(54px);
        letter-spacing: rem(-0.2px);
    }
    h3 {
        font-size: rem(32px);
        line-height: rem(36px);
        letter-spacing: rem(-0.2px);
    }
    h4 {
        font-size: rem(30px);
        line-height: rem(36px);
    }
    h5 {
        font-size: rem(24px);
        line-height: rem(30px);
    }
    h6 {
        font-size: rem(18px);
        line-height: rem(24px);
    }
    p {
        font-size: rem(18px);
        line-height: rem(30px);
        margin: 0 0 rem(18px);
        &.large {
            font-size: rem(24px);
            line-height: rem(36px);
        }
        &.small {
            font-size: rem(14px);
            line-height: rem(21px);
        }
    }
}
@media screen and (min-width: 1200px) { 
    h1 {
        font-size: rem(110px);
        line-height: rem(114px);
        &.jumbo {
            font-size: rem(160px);
            line-height: rem(160px);
            letter-spacing: rem(-3px);
        }
    }
    h2 {
        font-size: rem(48px);
        line-height: rem(57px);
    }
    h3 {
        font-size: rem(36px);
        line-height: rem(48px);
    }
}