@font-face {
	font-family: 'fontello';
	src: url('../../fonts/fontello/font/fontello.eot?46038776');
	src: url('../../fonts/fontello/font/fontello.eot?46038776#iefix')
			format('embedded-opentype'),
		url('../../fonts/fontello/font/fontello.woff2?46038776') format('woff2'),
		url('../../fonts/fontello/font/fontello.woff?46038776') format('woff'),
		url('../../fonts/fontello/font/fontello.ttf?46038776') format('truetype'),
		url('../../fonts/fontello/font/fontello.svg?46038776#fontello')
			format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?46038776#fontello') format('svg');
  }
}
*/

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: 0.2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-copy-share:before {
	content: '\e802';
} /* '' */
.icon-facebook-share:before {
	content: '\e803';
} /* '' */
.icon-link:before {
	content: '\e804';
} /* '' */
.icon-play-triangle:before {
	content: '\e805';
} /* '' */
.icon-twitter-share:before {
	content: '\e806';
} /* '' */
.icon-angle-left:before {
	content: '\f104';
} /* '' */
.icon-angle-right:before {
	content: '\f105';
} /* '' */
.icon-instagram:before {
	content: '\f16d';
} /* '' */
