body {
	font-family: $font1;
	color: $primary_color;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

*:focus,
a:focus,
a:active {
	color: inherit;
	text-decoration: inherit;
}

br {
	font-size: inherit;
	line-height: inherit;
}

section {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	@include transition;

	&:hover,
	&:focus {
		color: inherit;
	}
}

i {
	color: inherit;
	font-size: inherit;
}

strong {
	font-size: inherit;
	line-height: inherit;
}

iframe {
	max-width: 100%;
}

svg {
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $font2;
}

h1,
.h1 {
	font-size: 36px;
	line-height: 42px;
	font-weight: $fw-bold;
}

h2,
.h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: $fw-bold;
}

h3,
.h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: $fw-bold;
}

h4,
.h4 {
	font-size: 21px;
	line-height: 27px;
	font-weight: $fw-bold;
}

h5,
.h5 {
	font-size: 18px;
	line-height: 24px;
	font-weight: $fw-bold;
}

h6,
.h6 {
	font-size: 16px;
	line-height: 24px;
	font-weight: $fw-bold;
}

label {
	font-size: 15px;
	line-height: 24px;
	font-family: $font2;
	font-weight: $fw-bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	font-size: 16px;
	line-height: 24px;

	small {
		font-size: 15px;
		line-height: 24px;
	}

	big {
		font-size: 18px;
		line-height: 27px;
	}

	a {
		color: $wpi-red;
		text-decoration: underline;

		&:hover,
		&:focus {
			color: $wpi-red;
			text-decoration: none;
		}
	}
}

@include mq_up($md) {
	h1,
	.h1 {
		font-size: 48px;
		line-height: 60px;
	}

	h2,
	.h2 {
		font-size: 42px;
		line-height: 54px;
	}

	h3,
	.h3 {
		font-size: 30px;
		line-height: 42px;
	}

	h4,
	.h4 {
		font-size: 27px;
		line-height: 36px;
	}

	h5,
	.h5 {
		font-size: 24px;
		line-height: 36px;
	}

	h6,
	.h6 {
		font-size: 18px;
		line-height: 27px;
	}

	label {
		font-size: 15px;
		line-height: 24px;
	}

	p {
		font-size: 18px;
		line-height: 27px;

		small {
			font-size: 16px;
			line-height: 24px;
		}

		big {
			font-size: 21px;
			line-height: 30px;
		}
	}
}
// mq_up_md

@include mq_up($lg) {
	h1,
	.h1 {
		font-size: 84px;
		line-height: 84px;
	}

	h2,
	.h2 {
		font-size: 54px;
		line-height: 66px;
	}

	h3,
	.h3 {
		font-size: 36px;
		line-height: 42px;
	}

	h4,
	.h4 {
		font-size: 30px;
		line-height: 39px;
	}

	h5,
	.h5 {
		font-size: 27px;
		line-height: 36px;
	}

	h6,
	.h6 {
		font-size: 24px;
		line-height: 36px;
	}

	label {
		font-size: 15px;
		line-height: 24px;
	}

	p {
		font-size: 18px;
		line-height: 30px;

		small {
			font-size: 16px;
			line-height: 24px;
		}

		big {
			font-size: 21px;
			line-height: 33px;
		}
	}
}
// mq_up_lg
