$white: #ffffff;
$wpi-red: #ac2b37;
$blue: #0098d1;
$black: #052131;
$navy-blue: #054264;
$purple: #78508c;
$green: #a0cc3a;
$gray: #a1abb3;
$orange-red: #ad472c;
$yellow: #ecb11f;

$primary_color: $black;

$heading-margin: 1.4rem;
$content-margin: 1.4rem;
$img-margin: 1.4rem;

.text-primary-color {
	color: $primary_color;
}
.bg-primary-color {
	background-color: $primary_color;
}

.text-black {
	color: $black;
}
.text-white {
	color: $white;
}
.bg-white {
	background-color: $white;
}
.text-wpi-red {
	color: $wpi-red;
}
.bg-wpi-red {
	background-color: $wpi-red;
}
.text-blue {
	color: $blue;
}
.bg-blue {
	background-color: $blue;
}
.text-black {
	color: $black;
}
.bg-black {
	background-color: $black;
}
.text-navy-blue {
	color: $navy-blue;
}
.bg-navy-blue {
	background-color: $navy-blue;
}
.text-purple {
	color: $purple;
}
.bg-purple {
	background-color: $purple;
}
.text-green {
	color: $green;
}
.bg-green {
	background-color: $green;
}
.text-gray {
	color: $gray;
}
.bg-gray {
	background-color: $gray;
}
.text-orange-red {
	color: $orange-red;
}
.bg-orange-red {
	background-color: $orange-red;
}
.text-yellow {
	color: $yellow;
}
.bg-yellow {
	background-color: $yellow;
}
