/*  
Theme Name: WPI Radiance
Template: wp-radiance
Theme URL: http://www.solostream.com
Description: WPI Radiance is a child theme derived from WP-Radiance, and is a responsive and user-friendly theme for WordPress.
Author: Andy Whalen
Author URI: http://www.solostream.com/
Version: 1.0.3

The CSS, XHTML and design is released under GPL:
http://www.opensource.org/licenses/gpl-license.php

*/

@import url("../wp-radiance/style.css");

@font-face {
    font-family: 'arena_condensedregular';
    src: url('fonts/arena-condensed-webfont.eot');
    src: url('fonts/arena-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/arena-condensed-webfont.woff') format('woff'),
         url('fonts/arena-condensed-webfont.ttf') format('truetype'),
         url('fonts/arena-condensed-webfont.svg#arena_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arena_condensed_lightregular';
    src: url('fonts/arena_condensed_light-webfont.eot');
    src: url('fonts/arena_condensed_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/arena_condensed_light-webfont.woff') format('woff'),
         url('fonts/arena_condensed_light-webfont.ttf') format('truetype'),
         url('fonts/arena_condensed_light-webfont.svg#arena_condensed_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #1e2b37 url(img/bg.png) center top repeat-y;
}

/**
 * Reusable outer-wrap
 */
.outer-wrap {
    width: 1060px;
    background: #fff;
    clear: both;
    margin: 30px auto;
    padding: 5px;
    border: 1px solid #d5d5d5;
}
.top-outer-wrap {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 20;
    background: none;
}
.bottom-outer-wrap {
    margin-top: 0;
    padding-top: 0;
}
body.featured-image .bottom-outer-wrap {
    position: relative;
    top: -82px;
    z-index: 100;
}
#home-content-top-border {
    position: relative;
    width: 1072px;
    height: 12px;
    top: -82px;
    z-index: 100;
    /*margin: -82px auto 0 auto;*/
    margin: 0 auto;
    background-color: #ab2b37;
}
#page-left-seal {
    position: absolute;
    width: 100px;
    height: 150px;
    z-index: 10;
    right: 50%;
    margin-right: 536px;
    background-image: url('img/seal_bottom_left.png');
    background-repeat: no-repeat;
    background-position: right top;
}

/**
 * Reusable wrap
 */
.wrap {
    clear: both;
    margin: 0 auto;
    padding: 0 50px;
}
.top-wrap {
    border: none;
    width: 100%;
    margin: 0;
    padding: 24px 0 0 0;
    background-image: url('img/seal_top.png');
    background-repeat: no-repeat;
    background-position: center bottom;
}
.bottom-wrap {

}

/**
 * Header
 */
#header {
    padding: 25px 0 26px 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
}
#head-content {
    width: 1072px;
    margin: 0 auto;
}
#mobile-nav,
.btn_menu {
    display: none;
}

/**
 * Site Title
 */
#sitetitle .title,
#sitetitle .description {
    text-align: right;
}
#sitetitle .title a {
    color: #ccc;
    font-weight: normal;
    font-family: Georgia, 'Noticia Text', serif;
    font-size: 36px;
    letter-spacing: 0px;
}

/**
 * Top Nav and Menu
 */
#topnav {
    width: 1072px;
    margin: 2px auto 0 auto;
    padding: 2px 0 0 0;
    background: none;
    border-width: 1px 0 3px 0;
    border-bottom: 3px solid #fdaa2f;
    border-top: 1px solid #000;
}
#topnav ul.nav {
    width: 960px;
    margin: 0 auto;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'arena_condensedregular', arial, sans-serif;
}
#topnav a,
#topnav a:link,
#topnav a:visited {
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
}
#topnav li.current-menu-item > a,
#topnav li.current_page_item > a,
#topnav li a:hover {
    /*background-color: #ab2b37;*/
    background-color: rgb(171, 43, 55);
    background-color: rgba(171, 43, 55, 0.7);
}
#topnav ul ul {
    border: none;
}
#topnav ul ul ul  {
    margin: -40px 0 0 240px; 
}
#topnav ul ul a {
    border: none;
    background: #264059;
}
#topnav ul ul a:hover {
    background-color: #6f1e2b;
}
#topnav ul.nav > li.has-children > a {
    background-image: url(img/dropdown.png);
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 30px;
}
#topnav ul.nav > li a {
    margin-left: 5px;
    padding: 10px 20px;
}
#topnav ul li {
    background: none;
}

/**
 * Featured Pages Slider
 */
.featured.pages {
    position: relative; /* allows .left-cover and .right-cover to be hidden by overflow: hidden; */
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 536px;
    overflow: hidden;
}
.featured.pages .flex-direction-nav {
    position: absolute;
    right: 50%;
    top: 12px;
    margin-right: -524px;
}
.featured.pages .flex-direction-nav li a {
    width: 35px;
    height: 35px;
    background-color: #6A2497;
    background-color: rgba(106, 36, 151, 0.8);
}
.featured.pages .flex-direction-nav li .flex-prev {
    right: 47px;
    background-image: url(img/large_featured_arrows_off.png);
    background-position: 12px 9px;
    background-repeat: no-repeat;
}
.featured.pages .flex-direction-nav li .flex-prev:hover {
    background-image: url(img/large_featured_arrows.png);
}
.featured.pages .flex-direction-nav li .flex-next {
    background-image: url(img/large_featured_arrows_off.png);
    background-position: -33px 9px;
    background-repeat: no-repeat;
}
.featured.pages .flex-direction-nav li .flex-next:hover {
    background-image: url(img/large_featured_arrows.png);
}
.featured.pages .entry {
    width: 505px;
    left: 50%;
    top: 273px;
    margin-left: -481px;
    background: none;
    padding:0;
}
.featured.pages .entry .post-title {
    position: relative;
    margin: 0;
    max-width: 448px;
    background: #919a15;
    background: rgba(145, 154, 21, 0.9);
    font-weight: normal;
    letter-spacing: 0;
    padding: 12px;
    z-index: 6;
}
.featured.pages .entry .post-excerpt {
    font-family: arial, 'Lucida Grande', Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    left: 33px;
    margin-top: -7px;
    max-width: 448px;
    background: #000;
    background: rgba(0, 0, 0, 0.75);
    font-weight: normal;
    letter-spacing: 0;
    padding: 20px 15px 1px 15px;
    z-index: 5;
}
.featured.pages .left-cover {
    position: absolute;
    width: 2000px;
    height: 536px;
    z-index: 10;
    right: 50%;
    margin-right: 536px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('img/seal_bottom_left_10.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.featured.pages .right-cover {
    position: absolute;
    width: 2000px;
    height: 536px;
    z-index: 10;
    left: 50%;
    margin-left: 536px;
    background: rgba(0, 0, 0, 0.5);
}

/**
 * Features Posts Slider
 */
.featured.narrow .flex-direction-nav li a {
    background-color: #ab2b37;
}
.featured.narrow a.flex-active {
    background-color: #fdaa2f;
}
.featured.narrow .flex-direction-nav li .flex-prev {
    background-image: url(img/small_featured_arrows.png);
    background-position: 9px 50%;
}
.featured.narrow .flex-direction-nav li .flex-prev:hover {
    background-image: url(img/small_featured_arrows_on.png);
}
.featured.narrow .flex-direction-nav li .flex-next {
    background-image: url(img/small_featured_arrows.png);
    background-position: -30px 50%;
}
.featured.narrow .flex-direction-nav li .flex-next:hover {
    background-image: url(img/small_featured_arrows_on.png);
}

/**
 * WPI Logo
 */
#contentright .wpi-logo {
    text-align: center;
}

/**
 * Sidebar Search Submit Button
 */
#searchform #submitbutton {
    background: #ab2b37;
    border: 1px solid #ab2b37;
}

