.section-campaign-events {
	position: relative;
	padding: 71px 0 71px;	
	&::before {
		background-color: $gray;
		content: '';
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		height: 192px;
	}
    &.bg-color-brand-red,
    &.bg-color-brand-black,
    &.bg-color-ming {
        .section-header {
            h2 {
                color: #fff;
            }
            a {
                color: #fff;
            }
        }
        .events-carousel .button-control {
            color: #fff;
            &::before,
            &::after {
                border-color: #fff;
            }
        }
    }
	&.bg-split-bottom-color-brand-red::before {
		background-color: $red;
	}
	&.bg-split-bottom-color-brand-black::before {
		background-color: $black;
	}
	&.bg-split-bottom-color-ming::before {
		background-color: $ming;
	}
	&.bg-split-bottom-color-gray::before {
		background-color: $gray;
	}
	.container {
		z-index: 5;
	}
	.section-header {
		padding: 0 72px 42px;		
	}
}

.events-carousel {
	position: relative;
	padding: 43px 74px;
	.ec-border {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		& > div {
			position: absolute;
			width: 43px;
			height: 50%;
			&::before {
				content: '';
				position: absolute;
				border: 3px solid $red;
				width: 100%;
			}
		}
		.border-tl {
			top: 0;
			left: 0;
			&::before {				
				border-right: 0;
				border-bottom: 0;
				top: 0;
				bottom: 60px;
			}
		}
		.border-tr {
			top: 0;
			right: 0;
			&::before {				
				border-left: 0;
				border-bottom: 0;
				top: 0;
				bottom: 60px;
			}
		}
		.border-bl {
			bottom: 0;
			left: 0;
			&::before {				
				border-right: 0;
				border-top: 0;
				top: 60px;
				bottom: 0;
			}
		}
		.border-br {
			bottom: 0;
			right: 0;
			&::before {				
				border-left: 0;
				border-top: 0;
				top: 60px;
				bottom: 0;
			}
		}
	}
	.swiper-container {
		position: relative;
		z-index: 5;
	}
	.button-control {
		position: absolute;
		z-index: 9;
		top: 50%;
		left: -31px;
		transform: translateY(-50%);
	}
	.button-next {
		left: auto;
		right: -31px;
	}
	
	.swiper-slide {
		height: auto;
		background: $white;
	}	
}

.event-carousel-entry {
	figure {
		position: relative;
		overflow: hidden;
		z-index: 1;
		&::before {
			content: '';
			position: relative;
			display: block;				
			padding-top: percentage(220 / 340);
			z-index: 1;
		}
		a {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			top: 0;
			left: 0;
		}
	}
}

.event-carousel-entry-text {
	position: relative;
	padding: 45px 30px 27px;
	z-index: 5;
	.ce-date {
		background: $red;
		position: absolute;
		color: $white;
		@include font-condensed;
		width: 72px;
		height: 72px;
		left: 18px;
		top: -42px;
		text-align: center;
		text-transform: uppercase;
		font-size: rem(18px);
		letter-spacing: 0.0833em;
		line-height: 0.93;
		padding: 8px 0 0;
		span {
			display: block;
			font-size: rem(42px);
			letter-spacing: 0;
		}
	}
	h5 {
		margin: 0 0 10px;
	}
	.ce-meta .icon {
		font-size: rem(15px);
		margin-right: 3px;
	}
	.solo-link {
		margin-top: 31px;
		display: inline-block;
	}
}

@media (max-width: $tablet-max-width) {
	.section-campaign-events {
		padding: 64px 0;
		.section-header  {
			max-width: 854px;
			padding-bottom: 37px;
			margin: 0 auto;
		}
	}
	.events-carousel {
		max-width: 848px;
		margin: 0 auto;
		padding: 43px 69px;
	}
	
}

@media (max-width: $phone-max-width) {
	.section-campaign-events {
		padding: 44px 0 42px;
		.section-header  {
			max-width: none;
			padding: 0 0 28px;
		}
	}
	.events-carousel {
		max-width: none;
		padding: 0 0  90px;
		.swiper-container {
			margin-right: -18px;
		}
		.ec-border {
			display: none;
		}
		.swiper-slide {
			width: 300px;
		}
		.button-control {
			top: auto;
			bottom: 0;
			transform: translateX(-50%);
			left: 50%;
			right: auto;
		}
		.button-prev {
			margin-left: -40px;
		}
		.button-next {
			margin-left: 40px;
		}
	}
	.event-carousel-entry-text {
		padding: 45px 18px 26px;
		.solo-link {
			margin-top: 20px;
		}
	}
}