.section-campaign-priorities {
	padding: 72px 0;
	.container {
		max-width: 1300px;
	}
}
.campaign-priority-row {
	display: flex;
	& > div {
		min-width: 0;
	}
	
	.cpr-left {
		flex: 0 0 auto;
		width: percentage(514 / 1200);
		padding: 3px percentage(70 / 1200) 3px 0;
		h2 {
			margin: 0 0 16px;
		}
	}
	
	.cpr-right {
		overflow: auto;
	}
}
.priority-entry {
	display: flex;
	padding: 42px 0 0;
	& > div {
		min-width: 0;
	}
	figure {
		flex: 0 0 240px;
		margin-right: 24px;
		img {
			width: 100%;
		}
	}
	a {
		color: $text-color;
		text-decoration: none;
		&:hover {
			color: $red;
			text-decoration: underline;
		}
		.fg-color-light & {
			color: $white;
		}
	}
	.priority-entry-text {
		padding: 2px 0;
		p {
			margin: 8px 0 0;
		}
	}
	&:first-child {
		padding-top: 0;
	}
}




@media (max-width: $tablet-max-width) {
	.section-campaign-priorities {
		padding: 60px 0;
	}
	.campaign-priority-row {
		display: block;
		.cpr-left {
			padding-bottom: 41px;
			padding-right: 0;
			width: auto;
		}
		.cpr-right {
			max-height: none !important;
		}
	}	
}

@media (max-width: $phone-max-width) {	
	.section-campaign-priorities {
		padding: 40px 0;
	}
	.campaign-priority-row {
		.cpr-left {
			padding-bottom: 29px;
			padding-right: 0;
			h2 {
				margin-bottom: 7px;
			}
		}		
	}	
	
	.priority-entry {
		display: block;
		padding-top: 27px;
		h5 a {
			text-decoration: underline;
		}
		figure {
			margin: 0 0 12px;
		}
	}
	.fg-color-dark .priority-entry h5 a {
		color: $red;
	}
}