.section-content-with-sidebar {
	padding: 72px 0 72px;
	.container {
		display: flex;
		justify-content: space-between;
	}
	.content-main {
		flex: 0 1 100%;
		min-width: 0;
		padding: 3px 72px 0 0;
	}
	.sidebar {
		flex: 0 0 288px;
		min-width: 0;
	}
}
.section-hero + .section-content-with-sidebar {
	padding-top: 48px;
}

@media (max-width: $tablet-max-width) {
	.section-content-with-sidebar {	
		padding: 60px 0;
		.content-main {
			padding-right: 36px;
		}
		.sidebar {
			flex: 0 0 240px;
		}
	}
}

@media (max-width: $phone-max-width) {
	.section-content-with-sidebar {
		padding: 42px 0 40px;
		.container {
			display: block;
		}
		.content-main {
			padding: 0;
		}
		.sidebar {
			display: none;
		}
	}
	.section-hero + .section-content-with-sidebar {
		padding-top: 4px;
	}
}