.section-featured-articles {
	padding: 72px 0;
}

.featured-articles-wrap {
	display: flex;
	& > div {
		min-width: 0;
	}
}
.featured-articles-large {
	flex: 0 0 percentage(570 / 1080);
	padding-right: 30px;
}
.featured-articles-small {
	flex: 0 0 percentage(510 / 1080);
}
.article-large-entry {
	figure {
		position: relative;
		&::before {
			content: '';
			display: block;
			padding-top: percentage(340 / 540);
			position: relative;
			z-index: 1;
		}
		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			top: 0;
			left: 0;
		}
	}
	.article-large-entry-text {
		padding: 21px 30px 15px;
		h5 {
			margin: 0 0 10px;
			.icon {
				margin-left: 8px;
			}
		}
		h5 a {
			color: $text-color;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
				color: $red;
			}
		}
	}
}
.article-entry {
	display: flex;
	padding: 0 0 30px;
	&:last-child {
		padding-bottom: 0;
	}
	.article-entry-image {
		min-width: 0;
		flex: 0 0 percentage(230 / 510);
		padding-right: 30px;
	}
	figure {
		position: relative;		
		&::before {
			content: '';
			display: block;
			padding-top: percentage(136 / 200);
			position: relative;
			z-index: 1;
		}
		a {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 5;
		}
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			top: 0;
			left: 0;
		}
	}
	.article-entry-text {
		min-width: 0;
		flex: 1 1 100%;
		padding: 6px 0 0;
		h6 {
			margin: 0 0 7px;
		}
		.solo-link {
			margin-top: 15px;
		}
	}
}

@media (max-width: $tablet-max-width) {
	.section-featured-articles {
		padding: 60px 0;
	}
	.featured-articles-large {
		flex: 0 0 percentage(452 / 844);
	}
	.featured-articles-small {
		flex: 0 0 percentage(392 / 844);
	}
	.article-entry {
		padding-bottom: 28px;
		.article-entry-image {
			flex: 0 0 percentage(138 / 392);
			padding-right: 18px;
		}
		.article-entry-text {
			padding-top: 1px;
		}
	}
	.article-large-entry .article-large-entry-text {
		padding: 14px 0;
		h5 {
			line-height: (30 / 21);
		}
	}
}

@media (max-width: $phone-max-width) {
	.section-featured-articles {
		padding: 42px 0;
	}
	.featured-articles-wrap {
		display: block;
	}
	.featured-articles-large {
		margin: 0;
		padding-right: 0;
		figure {
			margin: 0 ($container-padding-phone * -1);
		}
	}
	.article-large-entry .article-large-entry-text {
		padding: 20px 0 27px;
		border-bottom: 1px solid #EEEEEE;
		margin-bottom: 28px;
		h5 {
			font-size: rem(18px);
			line-height: (27 / 18);
		}
	}
	.article-entry {
		display: block;
		.article-entry-image {
			display: none;
		}
	}
}