.footer-top {
	text-align: center;
	padding: 21px 0 18px;
	.footer-menu {
		li {
			display: inline-block;
			vertical-align: top;
			font-size: rem(21px);
			text-transform: uppercase;
			@include font-condensed;
			letter-spacing: 0.095em;
			line-height: (30 / 21);
			padding: 0 8px;
			a {
				text-decoration: none;
				display: inline-block;
				color: $black;
				padding: 10px 10px;
                &:hover {
                    text-decoration: underline;
                }
				.icon {
					font-size: rem(25px);
					vertical-align: top;
					line-height: 1;
				}
			}
		}
	}
}
.footer-bottom {
	border-top: 1px solid #EEEEEE;
	font-size: rem(18px);
	line-height: (30 / 18);
	padding: 48px 0 47px;
}
.footer-bottom-row {	
	display: flex;
	justify-content: space-between;
	& > div {
		min-width: 0;
		flex: 0 0 200px;
		&.footer-bottom-center {
			flex: 1 1 auto;
			padding: 0 30px;
		}
	}
	.footer-bottom-left {
		padding: 1px 1px 0;
	}
	.footer-bottom-center {
		text-align: center;
		a {
			color: inherit;
			text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
		}
	}
	.footer-bottom-right {
		text-align: right;
		padding: 2px 0 0;
	}
}

.social-links {
	a {
		display: inline-block;
		vertical-align: top;
		border: 1px solid #EEEEEE;
		border-radius: 50%;
		width: 54px;
		height: 54px;
		line-height: 50px;
		text-align: center;
		color: $text-color;
		font-size: 24px;
		margin-left: 8px;		
		.icon::before {
			margin: 0;
		}
	}
	a:hover {
		background: $black;
		border-color: $black;
		color: $white;
	}
}

.footer-copyright {
	background: #FAFAFA;
	text-align: center;
	font-size: rem(16px);
	padding: 14px 0 12px;
	p {
		opacity: 0.72;
	}
	p, ul, li {
		display: inline-block;
		vertical-align: top;
	}
	p, li {
		padding: 5px 8px;
	}
	a {
		color: $text-color;
	}
}

@media (max-width: $tablet-max-width) {	
	#footer .container {
		padding-left: 60px;
		padding-right: 60px;
	}
	.footer-top {
		padding: 22px 0 16px;
	}
	.footer-top .footer-menu li {
		font-size: rem(18px);
		letter-spacing: 0.0833em;
		padding: 0 3px;
		a .icon {
			font-size: rem(23px);
			position: relative;
			top: -1px;
		}
	}
}

@media (max-width: $phone-max-width) {
	.footer-top {
		padding: 28px 0 22px;
		.footer-menu li {
			display: block;
			text-align: center;
			a {
				padding: 5px 10px;
			}
		}
	}
	.footer-bottom {
		padding: 30px 0 31px;
		font-size: rem(16px);
		line-height: (24 / 16);
	}
	.footer-bottom-row {
		display: block;
		text-align: center;
		& > div.footer-bottom-center {
			padding: 31px 0 27px;
		}
		.footer-bottom-right {
			text-align: center;
		}
	}
	.social-links a {
		margin: 0 4px;
	}
	.footer-copyright {		
		p, ul, li {
			display: block;
		}
		li {
			padding-top: 0;
		}
	}
}