.section-header {
	padding: 0 0 30px;
	h2 {
		display: inline-block;
		vertical-align: top;
		margin-right: 45px;
	}
	.link-wrap {
		display: inline-block;
		vertical-align: top;
		border-left: 1px solid #DDDDDD;
		margin: 13px 0 0;
		padding: 4px 42px 2px;
	}
}


.bottom-bg-none + .top-bg-none,
.bottom-bg-brand-red + .top-bg-brand-red,
.bottom-bg-brand-black + .top-bg-brand-black,
.bottom-bg-ming + .top-bg-ming,
.bottom-bg-gray + .top-bg-gray {
	padding-top: 0;
}

p.meta {
	opacity: 0.72;
	.icon {
		font-size: (20 / 16) * 1em;
		line-height: 0.3;
		margin-left: -3px;
		position: relative;
		top: 1px;
	}
}

.content-main p.meta {
	margin-top: -12px;
}

@media (max-width: $tablet-max-width) {
	.section-header {
		padding-bottom: 27px;
	}
	.section-header .link-wrap {
		margin-top: 2px;
	}
}

@media (max-width: $phone-max-width) {
	.section-header {
		h2, .link-wrap {
			display: block;
		}
		.link-wrap {
			padding: 8px 0 0;
			border: 0;
		}
	}
}