.section-grid-block {
	padding: 72px 0;
	position: relative;
}

.grid-block-row {
	display: flex;
	& > div {
		min-width: 0;
	}	
}
.grid-block-image {
	flex: 0 0 percentage(640 / 1140);
	position: relative;
	z-index: 1;
	img {
		width: 100%;
		position: relative;
		z-index: 1;
	}
	.btn-play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
	}
}
.grid-block-content {
	flex: 0 0 percentage(500 / 1140);
	padding: 34px 0 35px;
	position: relative;
	z-index: 5;
	h2 {
		margin-bottom: 13px;
	}
	@include set-text-margin(0 0 17px);	
	h2 + .btn {
		margin-top: 10px;
	}
}
.grid-block-content-inner {
	margin-left: -40px;
	min-height: 100%;
	padding: 45px 36px 40px;
	display: flex;
	align-items: center;
}

.section-grid-block.bg-color-none .grid-block-content-inner.bg-color-none {
	background-color: $gray;
}

@media (min-width: $phone-max-width + 1px) {
	.grid-block-row.image-align-right {
		.grid-block-image {
			order: 1;
		}
		.grid-block-content {
			order: 0;
		}
		.grid-block-content-inner {
			margin-left: 0;
			margin-right: -40px;
		}
	}
}

.cta-blocks-row {
	display: flex;
	padding-top: 30px;
	margin: 0 -15px;
	.cta-block {
		flex: 0 0 33.333%;
		min-width: 0;
		padding: 0 15px;
	}
	.cta-block-inner {
		display: block;
		background: $white;
		color: $black;
		text-decoration: none;
		border-left: 7px solid $red;
		min-height: 100%;
		padding: 19px 18px 17px;
		h5 {
			font-family: $myriad-pro;
			font-weight: $semi-bold;
			margin: 0 0 6px;
		}
	}
}

@media (max-width: $tablet-max-width) {
	.section-grid-block {
		padding: 60px 0;
	}
	.grid-block-row {
		align-items: flex-start;
	}
	.grid-block-image {
		flex: 0 0 percentage(450 / 844);
	}
	.grid-block-content {
		flex: 0 0 percentage(394 / 844);
		padding: 30px 0 0;
	}
	.grid-block-content-inner {
		padding: 33px 30px 30px;
	}
	
	.cta-blocks-row {
		margin: 0 -5px;
		.cta-block {
			padding: 0 5px;
		}
		.cta-block-inner {
			border-width: 3px;
			padding: 13px 12px 14px;
			h5 {
				margin-bottom: 3px;
			}
		}
	}
}


@media (max-width: $phone-max-width) {
	.section-grid-block {
		padding: 42px 0;
	}
	.grid-block-row {
		display: block;
	}
	.grid-block-image {
		margin: 0 ($container-padding-phone * -1);
	}
	.grid-block-content {
		padding: 0;
		margin-top: -18px;
		h2 {
			margin-bottom: 7px;
		}
		@include set-text-margin(0 0 11px);
		.btn {
			width: 100%;
		}
	}
	.grid-block-content-inner {
		margin: 0;
		padding: 33px 18px 30px;		
	}
	
	.cta-blocks-row {
		padding-top: 9px;
		display: block;
		margin: 0;
		.cta-block {
			padding: 9px 0 0;
		}
		.cta-block-inner {
			padding: 20px 18px 17px;
			h5 {
				font-size: rem(18px);
				line-height: (30 / 18);
				margin-bottom: 2px;
			}
		}
	}
}