.section-hero {
	position: relative;
	.section-hero-inner {
		position: relative;
		z-index: 1;
	}
	.container {
		padding-top: 55px;
		padding-bottom: 55px;
		z-index: 5;
		max-width: $container-larger-width-px;
	}
	.container-inner {
		min-height: 640px;
		/*
		&::before {
			background: url(../images/tower-left.svg) no-repeat;
			background-size: auto 100%;
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 97.66px;
			height: 476.77px;
			margin-top: -238px;
		}
		&::after {
			background: url(../images/tower-right.svg) no-repeat;
			background-size: auto 100%;
			content: '';
			position: absolute;
			top: 50%;
			right: -11px;
			width: 101px;
			height: 479px;
			margin-top: -240px;
		}
		*/
		&::before {
			background-image: url(../images/towers.svg) !important;
			background-repeat: no-repeat;
			background-size: auto 100%;
			content: '';
			position: absolute;
			top: -26px;
			left: -7px;
			width: 270px;
			height: 436px;
		}
	}
	
	.hero-buttons-wrap {
		text-align: center;
		position: absolute;
		z-index: 9;
		width: 100%;
		left: 50%;
		bottom: 118px;
		max-width: 1060px;
		transform: translateX(-50%);
		.btn {
			position: relative;
			margin: 30px 38px;
			&::before,
			&::after {
				content: '';
				position: absolute;
				width: 32px;
				border: 3px solid rgba($white, 0.6);				
				top: -21px;
				bottom: -21px;
				transition: all 0.1s linear;
			}
			&::before {
				left: -21px;
				border-right: 0;
			}
			&::after {
				right: -21px;
				border-left: 0;
			}
			&:hover {
				&::before,
				&::after {
					top: -12px;
					bottom: -12px;
				}
				&::before {
					left: -12px;
				}
				&::after {
					right: -12px;
				}
			}
		}
	}
	
	.hero-bottom-text {
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0;
		top: 100%;
		margin-top: -13px;
		font-size: rem(21px);
		text-transform: uppercase;
		@include font-condensed;
		letter-spacing: 0.095em;
		line-height: (24 / 21);
		z-index: 5;
	}
	.hero-content {
		text-align: center;
		padding: 357px 150px 0;
		position: relative;
		z-index: 9;		
	}
	.hero-content-with-dot {
		padding-bottom: 50px;
	}
	.hero-content-up {
		padding-top: 178px;
	}
	.vertical-dot {
		position: absolute;
		left: 50%;
		top: 385px;
		bottom: 88px;
		border-left: 3px solid transparent;
		border-image: url('../images/dotted-border.png') 6 space;
		z-index: 2;
	}
	
	.hero-background {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		
		video, img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: relative;
			z-index: 1;
		}
		&::before {
			content: '';
			background: rgba(#000000, 0.3);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}
	}
	
}

.hero-border {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1;
	border-radius: 3px;
	display: none;
	div {
		position: absolute;
		&::before {
			content: '';
			position: absolute;
			background: $red;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}
	.tlt, .trt,
	.blb, .brb {
		width: 50%;
		height: 3px;
	}
	.tll, .trr,
	.bll, .brr {
		width: 3px;
		height: 50%;
	}
	.tlt, .tll {
		top: 0;
		left: 0;
	}
	.trt, .trr {
		top: 0;
		right: 0;
	}
	.blb, .bll {
		bottom: 0;
		left: 0;
	}
	.brb, .brr {
		bottom: 0;
		right: 0;
	}
	.tlt::before {
		right: 288px;
	}
	.trt::before {
		left: 288px;
	}		
	.blb::before {
		right: 270px;
	}
	.brb::before {
		left: 270px;
	}
	
	.tll, .trr,
	.bll, .brr {
		&::before {
			display: none;
		}
		.inner {
			position: absolute;
			width: 100%;
			left: 0;
		}
	}
	
	.tll, .trr {		
		.inner {
			top: 0;
			bottom: 264px;
			&::before {
				bottom: 100%;
				animation-name: animate-to-bottom;
				animation-duration: 0.5s;
				animation-delay: 3s;
				animation-fill-mode: forwards;
				animation-timing-function: ease-out;
			}
		}		
	}
	
	.bll, .brr {	
		.inner {
			top: 277px;
			bottom: 0;
			&::before {
				top: 100%;
				animation-name: animate-to-top;
				animation-duration: 0.5s;
				animation-delay: 3s;
				animation-fill-mode: forwards;
				animation-timing-function: ease-out;
			}
		}		
	}
	
	.tlt, .blb {
		&::before {
			left: 100%;
			animation-name: animate-to-left;
			animation-duration: 1s;
			animation-delay: 2s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-in;
		}
	}
	.trt, .brb {
		&::before {
			right: 100%;
			animation-name: animate-to-right;
			animation-duration: 1s;
			animation-delay: 2s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-in;
		}
	}		
	
}

@keyframes animate-to-left {
  100% {left: 0;}
}
@keyframes animate-to-right {
  100% {right: 0;}
}
@keyframes animate-to-top {
  100% {top: 0}
}
@keyframes animate-to-bottom {
  100% {bottom: 0}
}

.hero-with-bg {
	color: $white;	
}

.hero-with-bg,
.overlay-color-white {
	.hero-border div:before {
		background: $white;
	}
	.container-inner {
		&::before {
			background-image: url(../images/tower-left-white.svg);
		}
		&::after {
			background-image: url(../images/tower-right-white.svg);
		}
	}
}

.section-hero-video {
	.container-inner {
		min-height: 700px;
	}
	.hero-content {
		padding-top: 357px;
		h1 {
			margin: 0 0 64px;
		}
		a.btn-play {
			position: absolute;
			top: 195px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.hero-border .tll .inner,
	.hero-border .trr .inner {
		bottom: 256px;		
	}
	.hero-border .bll .inner,
	.hero-border .brr .inner {
		top: 257px;		
	}
}

.hero-content-text {	
	max-width: 960px;
	margin: 22px auto;
}

@media (max-width: $tablet-max-width) {
	.section-hero {		
		.container {
			padding-top: 41px;
			padding-bottom: 41px;			
		}
		.container-inner {
			min-height: 638px;
			&::before {
				width: 240px;
				height: 388px;
				top: -11px;
				left: 2px;
			}
			/*
			&::after {
				width: 84px;
				height: 399px;
				margin-top: -210px;
				right: -9px;
			}
			*/
		}
		.hero-content {
			padding: 333px 120px 40px;
		}
		.hero-content-with-dot {
			padding-bottom: 55px;
		}
		.hero-buttons-wrap {
			padding: 0 120px;
			bottom: 102px;
			.btn {
				margin: 18px;
				&::before,
				&::after {
					display: none;
				}
			}
		}
	}
	
	.section-hero-video .hero-border,
	.hero-border {
		.tlt::before {
			right: 245px;
		}
		.trt::before {
			left: 245px;
		}
		.tll .inner,
		.trr .inner {
			bottom: 227px;			
		}
		.bll .inner,
		.brr .inner {
			top: 207px;			
		}
	}
	
	
	
	.section-hero-video {
		.container-inner {
			min-height: 638px;
		}
		.hero-content {
			padding-top: 333px;
			h1 {
				margin: 0 0 45px;
			}
			a.btn-play {
				top: 204px;
			}
		}		
	}
	
}


@media (max-width: $phone-max-width) {
	
	.section-hero {		
		.container {
			padding-top: 29px;
			padding-bottom: 57px;			
		}
		.container-inner {
			min-height: 638px;			
			&::before {
				width: 180px;
				height: 291px;
				left: 13px;
				top: -11px;
			}
			
		}
		.hero-content {
			padding: 308px 65px 50px;
			h1 {
				margin-left: -40px;
				margin-right: -40px;
			}
			a.btn-play {
				top: 231px;
				font-size: 47px;
			}
		}
		.hero-bottom-text {
			padding-left: 35px;
			padding-right: 35px;
			text-align: center;
		}
		.hero-buttons-wrap {
			background: $black;
			position: relative;
			left: auto;
			transform: none;
			bottom: auto;
			padding: 35px 18px;
			.btn {
				margin: 6px 0;
				width: 100%;
			}
		}
	}
	
	.section-hero-video .hero-border,
	.hero-border {
		.tlt::before {
			right: 0;
		}
		.trt::before {
			left: 0;
		}
		.tll .inner,
		.trr .inner {
			bottom: 147px;			
		}		
		.bll .inner,
		.brr .inner {
			top: 246px;			
		}
		.blb, .brb {
			width: 27px;
			&::before {
				animation-duration: 0.3s;
				animation-delay: 2.7s;
			}
		}
		.blb::before {
			right: 0;
		}
		.brb::before {
			left: 0;
		}
	}
	
	.section-hero-video {
		.container-inner {
			min-height: 634px;
		}
		.hero-content {
			padding-top: 354px;
		}
	}
	
}

@media (max-width: 480px) {
	.section-hero .container-inner::before {
		left: 1px;
	}
}

@media (max-width: 373px) {
	.section-hero {
		.hero-bottom-text {
			max-width: 316px;
			left: 50%;
			transform: translate(-50%, -50%);
			margin-top: 0;
		}
	}
}