@media screen and (min-width: 961px) {
	#mobile-menu { display: none !important; }
}
@media screen and (max-width: 960px) {
	body {
		font-size: 14px;
		line-height: 1.428;
	}
	.wrap,
	#footer .wrap { 
		width: auto; 
		padding-left: 15px;
		padding-right: 15px;
	}
	img { max-width: 100%; height: auto; }
	
	
	/* Typography */
	h1 { font-size: 22px; }
	h2 { font-size: 17px; }
	h3 { font-size: 15px; }
	h4 { font-size: 14px; }
	
	p { line-height: 20px; }
	
	h4.playlist_caption br {
		display: none;
	}
	
	/* Video */
	.video-holder {
		max-width: 75%;
		margin: 0 auto;
	}
	
	.main_box {
		width: auto !important;
		max-width: 75% !important;
		margin: 10px auto !important;
	}
	
	/* Header */
	#header .wrap {
		padding: 8px 8px 8px 14px;	
	}
	
	#header .logo {
		width: 94px;
		margin: 0;
		clear: right;
	}
	#header .logo a {
		width: 94px;
		padding-top: 30px;
		background-size: contain;
	}
	
	#header .tagline {
		margin-top: 20px;	
		margin-bottom: 20px;
		max-width: 70%;
		font-size: 25px;
	}
	
	/* Nav */
	#nav_toggle {
		display: block !important;
		float: right;
		padding: 4px 9px;
		color: #fff;
		background: #6f2020;
		margin-bottom: 13px;
		text-decoration: none;
		font-size: 11px;
		font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		line-height: 14px;
	}
		
		#nav_toggle > span {
			position: relative;
			top: 1px;	
		}
		
		#nav_toggle i.mobile-icon {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-right: 5px;
			position: relative;
			top: 3px;
			background-repeat: no-repeat;
		}
		
			#nav_toggle i.closed {
				background-image: url(../images/icon-mobile-hamburger.png);
			}
			
			#nav_toggle i.opened {
				top: 2px;
				background-image: url(../images/icon-mobile-close.png);
			}
		
	#menu-main-menu { display: none; }
	#mobile-menu { display: none; }
	#nav ul {
		float: none;
	}
	
		#nav ul li,
		#nav ul li:last-child {
			display: block;
			float: none;
			padding: 0 15px;
		}
		
			#nav ul li a {
				float: none;
				font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
				font-size: 14px;
				font-weight: normal;
				border-bottom: 1px solid #38505d;
				padding: 13px 10px 11px 10px;
			}
			
			/* Second Level EKG 10-15-2015 added submenu for mobile*/
			#nav ul ul {
				display: block;
				opacity: 1 !important; /* Fight superfish animation */
				position: static;
				width: auto;
				top: auto;
				left: auto;	
				padding: 0 0 0 20px;
			}
			
				#nav ul ul li,
				#nav ul ul li:last-child {
					padding: 0;
					border: 0 !important;
				}
				
				#nav .subbut { 
					display: none;  /*EKG 5-12-15  Remove submenu button on mobile */
					position: absolute;
					width: 30px;
					height: 30px;
					right: 15px;
					top: 7px;
					color: #fff;
					cursor: pointer;
					text-align: center;
					line-height: 33px;
				}
			
					#nav ul ul li a {
						padding: 13px 10px 11px 10px;
						border: 0;
					}
					
					#nav ul li.menu-item-has-children a,
					#nav ul ul li,
					#nav ul ul li a {
						border: 0 !important;
					}
					
					#nav ul.sub-menu {
						border-bottom: 1px solid #465c68;
					}
						
	/* Footer */ 
	#footer .col,
	#footer .col.last {
		width: auto;
		float: none;
	}
	
		#footer .wpcf7 {
			margin-bottom: 40px;
		}
		#footer .wpcf7:after {
			content: " ";
			display: block;
			width: 84.482758620689655172413793103448%;
			height: 1px;
			margin: 40px auto;
			overflow: hidden;
			background: #9e9e9e;
		}
		
		#footer .cf7-wrap textarea, 
		#footer .cf7-wrap input {
			width: 100%;
			box-sizing: border-box;
		}
	
	#footer .follow li,
	#footer .follow li.last {
		float: left;
		clear: none;
		margin: 0 0 30px 0px;
		width: 33%;
		padding: 0;
		box-sizing: border-box;
		text-align: center;
	}
		#footer .follow li a {
			display: inline-block;
			padding-top: 0;
			line-height: 21px;
		}
		
	#footer .logo-footer {
		display: none;
	}
	
	#footer .contact-info {
		float: none;
		width: auto;
		text-align: center;	
		margin-bottom: 50px;
	}
	
	#footer .copy {
		text-align: center;
	}
		
	
	/* Home Page */
	#slider .wrap { padding: 0; }
	#slider .slide-item .image-mobile {
		display: block;
	}
	
	#slider .slide-item {
		background: none !important;
	}
	
	#slider .slide-item img.blank {
		display: none;
	}
	
	#slider .slide-item .caption {
		position: relative;
		left: auto;
		bottom: auto;
		padding: 8px 15px;
	}
	
	#slider .slide-item .caption h1 {
		font-size: 18px;
		line-height: 1.222;
	}
	
		#slider .slide-item .caption h1 br {
			display: none;
		}
		
		#slider .slide-item .caption img {
			width: 8px;
			height: 8px;
		}
		
		
	/* Home Row */
	#home-row .col.last {
		background: none;
	}
	#home-row .col .inner,
	#home-row .col.last .inner { 
		padding: 0; 
	}
	
	#home-row h2 {
		font-size: 17px;
		line-height: 1.411;
	}
	
	#home-row h3 {
		text-align: center;
	}
	
	#home-row .col,
	#home-row .col.last {
		width: 100% !important;
		margin-left: 0 !important;
		float: none !important;
		clear: none !important;
	}
	#home-row .tab-head {
		display: block;
	}
	
	
	/* Home Footer */
	#home-footer .col,
	#home-footer .col.last {
		width: auto;
		float: none;
		margin-top: 22px;
	}
	
	#home-footer .col-img {
		text-align: center;
		margin-top: 30px;
	}
	
	#home-footer h2 {
		font-size: 17px;
		line-height: 1.411;
	}
	
		/* Change order */
		#home-footer .wrap {
			display: -moz-box;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-moz-box-orient: vertical;
			-webkit-box-orient: vertical;
			-webkit-flex-flow: column;
			-ms-flex-direction: column;
			flex-flow: column;
		}
		
			#home-footer .col.last {
				-moz-box-ordinal-group: 1;
				-webkit-box-ordinal-group: 1;
				-webkit-order: 1;
				-ms-flex-order: 1;
				order: 1;
			}
			
			#home-footer .col-img {
				-moz-box-ordinal-group: 2;
				-webkit-box-ordinal-group: 2;
				-webkit-order: 2;
				-ms-flex-order: 2;
				order: 2;
			}
			
	/* Interior General */	
	#banner {
		background: none !important;
	}
	
	#banner .wrap {
		padding: 0;
	}
	
	#banner .image-mobile {
		display: block;
	}
	
	#banner img.blank {
		display: none;
	}
	
	#content .main-title {
		padding: 11px 15px;
		margin-left: -15px;
		margin-bottom: 22px;
	}
	
	.content h2 {
		line-height: 24px;
		margin-bottom: 12px;
	}

	#content .feedback h2 {
		font-size: 17px;
	}
	
	#content .feedback.purple .fa {
		display: block;
		float: left;
		clear: both;
		margin-bottom: 15px;
		margin-right: 10px;
		position: relative;
		top: 3px;
		font-size: 125%;
	}
	
	#content .feedback.purple a {
		display: block;
		float: left;
	}
	
	.steps-note,
	#home-row .steps-note {
		margin: 35px 0px 35px;
		padding: 0px 10px 0px 10px;
		text-align: center;
		width: auto;
	}
	
		.steps-note h3,
		#home-row .steps-note h3 {
			font-size: 17px !important;
			line-height: 24px;	
			max-width: none;
			margin-right: 5%;
		}
		
		.steps-note .btn-colord,
		#home-row .steps-note .btn-colord {
			float: none;
			margin: 0 auto;
		}
			
			
	/* Date Page */
	#content .btn-circles {
		padding-top: 0px;
		margin-bottom: 18px;
	}
		#content .btn-circles .item,
		#content .btn-circles .item.last {
			width: 22%;
			margin-left: 5%;
			margin-right: 5%;
			margin-bottom: 22px;
			
			font-size: 12.64px;
			line-height: 13.79px;
		}
		#content .btn-circles .clear3 {
			clear: both;
		}
		
		#content .btn-circles .item .icon img {
			max-width: 80%;
			margin: 0 auto;
		}
	
	#content .infos .info-title {
		font-size: 17px;	
	}
	
	#content .sked-buttons {
		margin-top: 40px;
		padding: 40px 0px 0px 0px;
	}
	
		#content .sked-buttons ul ul li {
			display: block;
			width: 47.6%;
			margin-right: 4.8%;
			border: none;
		}
		
		#content .sked-buttons ul ul li:nth-child(odd),
		#content .sked-buttons ul ul li.odd{
			clear: both;
		}
		
		#content .sked-buttons ul ul li:nth-child(even),
		#content .sked-buttons ul ul li.even {
			margin-right: 0;
		}
		
		#content .sked-buttons ul ul li:last-child,
		#content .sked-buttons ul ul li.last {
			width: auto;
			margin: 0;
			float: none;
			clear: both;
		}
		
		#content .sked-buttons ul ul li.current-menu-item, 
		#content .sked-buttons ul ul li:hover {
			border: none;
		}
	
			#content .sked-buttons ul ul li a {
				font-size: 15px;
				display: block;
			}
			
				#content .sked-buttons ul ul li a span {
					padding: 12px 0px 12px 30px;
					background: url(../images/arrow-round-small.png) no-repeat 10px 50%;
				}
				
		
	
	
	/* Course Registration */
	.page-template-course-registration #content .steps-note {
		width: auto;
	}
	
	.page-template-timeline-to-campus #home-row.col-one .col .btn-colord,
	.page-template-timeline-to-campus #home-row.col-one .col .btn-colord.alignright {
		display: block;
		width: 47.6%;
		margin: 0px 4.8% 20px 0px !important;
		float: left;
		max-width: none;
		box-sizing: border-box;
	}
	
	.page-template-timeline-to-campus #home-row.col-one .col .btn-colord:nth-child(odd),
	.page-template-timeline-to-campus #home-row.col-one .col .btn-colord.odd{
		clear: both;
	}
	
	.page-template-timeline-to-campus #home-row.col-one .col .btn-colord:nth-child(even),
	.page-template-timeline-to-campus #home-row.col-one .col .btn-colord.even {
		margin-right: 0 !important;
	}
	
	.page-template-timeline-to-campus #home-row.col-one .col .btn-colord.btn-wide {
		width: auto;
		margin: 0 !important;
		float: none;
		clear: both;
	}

		.page-template-timeline-to-campus #home-row.col-one .col .btn-colord {
			font-size: 15px;
			display: block;
		}
			.page-template-timeline-to-campus #home-row.col-one .col .btn-colord span {
				padding: 12px 0px 12px 30px;
				background: url(../images/arrow-round-small.png) no-repeat 10px 50%;
			}
			
	#content .step-content {
		padding: 0;
	}
	
	/* Timeline to Campus */
	.page-template-timeline-to-campus #home-row.col-one .col.last {
		width: 50% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
	
}

@media screen and (max-width: 768px) {
	
	#content .btn-steps .item .icon .num {
		font-size: 44px;
	}
	
	#content .step-content .video-holder {
		width: auto;
		float: none;
		margin-left: 0;
	}
	
	#banner .main-title {
		font-size: 24px;
	}
	
	/* Timeline to Campus */
	.page-template-timeline-to-campus #home-row.col-one .col.last {
		width: 70% !important;
	}
	
/* EKG: NSO */
	.page-template-new-student-orientation #content .row,
	.page-template-new-student-orientation .row_wrap .buttonrow {
		width: 100% !important; 
		margin: 0 auto !important;
	}

}


@media screen and (max-width: 640px) {
	
	/* Interior General */
	.col {
		width: 100% !important;
		margin-left: 0 !important;
		clear: none !important;
	}
	
	/* Video */
	.video-holder {
		max-width: none;
	}
	.main_box {
		max-width: none !important;
	}
	
	/* Course Registration */
	#content .btn-steps {
		margin-bottom: 20px;
	}
	
	#content .btn-steps .item,
	#content .btn-steps .item.last {
		width: 28%;	
		margin: 0px 2.5% 20px 2.5%;
		font-size: 17.6px;
	}
		#content .btn-steps .item .icon .num {
			font-size: 40px;
		}
		
	/* Date Page */
	#content .btn-circles .item .icon img {
		max-width: none;
	}
	
	.content .border_box.alignright {
		width: auto;
		min-width: 0;
		max-width: none;
		margin-left: 0;
		margin-right: 0;
		float: none;
	}
		
  /* Added BB 01/27/16 Fix issue with unclickable right sidebar next to accordion */
  #content .infos .accord {
    width:100%;
  }
	/* Timeline to Campus */
	.page-template-timeline-to-campus #home-row.col-one .col.last {
		width: auto !important;
	}
	
	/* Galleria */
	.galleria-theme-classic .galleria-info {
		display: none !important;
	}
	
	/* Footer */
	#footer .follow li,
	#footer .follow li.last {
		display: block;
		float: none;
		clear: none;
		width: auto;
	}
	
	#content .step-content .ac-content {
		padding-left: 0;
	}
	
	#content .step-content .ac-content .col, #content .step-content .ac-content .col.last {
	  width: 100% !important;
	  margin-left: 0 !important;
	  clear: none !important;
	}
	
/* EKG: NSO */
	.page-template-new-student-orientation #content .btn-wide, 
	.page-template-new-student-orientation #content .col .btn-colord {
		width:100%;
		float: none !important;
	}
	.page-template-new-student-orientation #content .col .btn-colord.alignright {
		margin-left: 0 !important;
	}
		
}



@media screen and (max-width: 400px) {
	
	/* Header */
	#header .tagline {
		font-size: 21.43px;
		max-width: 60%;
	}
	
}