/*
Theme Name: ROI-WPI
*/

/*==============================================================
## Imports
==============================================================*/
	@import 'inc/meyer-reset';
	@import 'inc/variables';
	@import 'inc/basic-styles';	
	@import 'inc/the-content';
	
/*==============================================================
## General Styles
==============================================================*/
	.tablet-view,
	.phone-view,
	.mobile-quote-open,
	.mobile-view {
		display: none;
	}
	
/*==============================================================
## Header
==============================================================*/
	#header {		
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		#header-inner {
			background: #ad2839;			
		}
		.container {
			max-width: 1228px;
		}
	}
	
	#logo-wrap {
		padding: 10px 3px 4px;
		float: left;
	}
	#logo img {
		width: 182px;
	}
	#logo .site-name {
		display: none;
	}
	#nav {
		float: right;
		padding-right: 4px;
		li {
			float: left;
			text-transform: uppercase;
			font-family: $archer;
			font-weight: 600;
			font-size: 13.33px;
			letter-spacing: -0.014em;
			a {
				display: block;
				height: 82px;
				color: #ffffff;
				padding: 30px 18px;
				 -webkit-transition: background 0.2s, color 0.2s; /* Safari */
				transition: background 0.2s, color 0.2s;
				&:hover {
					//color: #600d18;
					background: #600d18;
					color: #ffffff;
				}
			}
		}
		li.current-menu-item {
			a {
				background: #600d18;
				color: #ffffff !important;
			}
		}
	}


/*==============================================================
## Main
==============================================================*/
	
	#find-out-more {
		background: #ad2839;		
		left: -28px;
		top: 50%;		
		position: fixed;
		z-index: 99;
		width: 128px;		
		margin-top: -64px;
		text-align: center;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 700;
		color: #ffffff;
		outline: 0;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		 -webkit-transition: background 0.4s; /* Safari */
		transition: background 0.4s;
		&:hover {
			background: #600d19;
		}
		a {
			display: block;
			height: 128px;
			color: #ffffff;
			position: relative;
			z-index: 2;
			padding: 45px 0 0 26px;
			line-height: 1.1;
			outline: 0;
			img.fom-arrow {
				width: 14px;
				margin-top: 9px;
			}
		}
		a.find-out-more-close {			
			width: 21px;
			height: 21px;
			padding: 6px;
			position: absolute;
			z-index: 9;
			top: 6px;
			left: 33px;		
		}
	}
	
	.section-page {
		padding-top: 82px;
		margin-bottom: -82px;
	}
	#footer {
		margin-top: 82px;
	}
	.admin-bar {		
		margin-top: -32px;
		#header {
			top: 32px;
		}
		.section-page {
			padding-top: 114px;
			margin-bottom: -114px;
		}
		#footer {
			margin-top: 114px;
		}
	}
	
	/* ----------------------------------------------------------
	** Hero Image & Content
	---------------------------------------------------------- */
	.page-content {
		position: relative;
		min-height: 705px;
	}
	.hero-image {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 1;
		img {
			vertical-align: top;
			position: absolute;
			// top: 0;
			// left: -9999px;
			// right: -9999px;
			margin: auto;
			max-width: none;
		}
	}
	.the-content-wrap {
		position: relative;
		z-index: 9;
	}
	.page-content-title {
		background: #ae74ae;
		float: right;
		color: #fff;
		font-family: $archer;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 30px;
		line-height: 1;
		margin: 26px 61px 0 0;
		padding: 2px 5px 4px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
	}	
	
	.the-content .heading-highlight {
		color: #ae74ae;
	}
	.page-main-content {
		padding: 82px 0 30px;
		float: right;
		width: 38.75%;
		margin-right: 63px;
	}
	
	.common-content {
		min-height: 500px;
		padding: 40px 20px 30px;
	}

  // BB 01/24/16
  #results,
  #formula,
  #learn-more {
    .section-page-inner {
      > .container {
        @media (min-width: 1024px) {
          max-width: none;
        }
      }
    }
  }
  #results {
    .hero-image.desktop-view {
      img {
        @media (min-width: 1024px) {
          right: 20%;
          top: -65px;
        }      
      }
    }
    .page-content-title {
      @media (min-width: 1024px) {
        margin: 30px 185px -65px 0;
      }
    }
  }
  #formula,
  #learn-more {
    .hero-image.desktop-view {
      img {
        @media (min-width: 1024px) {
          right: 20%;
        }
      }
    }
    .page-content-title {
      @media (min-width: 1024px) {
        margin-right: 165px;
      }
    }
  }
	
	/* ----------------------------------------------------------
	** Statistic Boxes
	---------------------------------------------------------- */
	.statistic-boxes {
		padding: 33px 0 43px;
	}
	.statistic-boxes .container {
		max-width: 1202px;
		position: relative;
	}
	.container-inner {
		position: relative;
		padding-bottom: 24.20965058236273%;
	}
	.statistic-box {
		position: absolute;		
		display: block;		
		color: #ffffff;
		text-align: center;
		font-size: 11px;
		line-height: 1.090;
		 -webkit-transition: background 0.4s, border-color 0.4s; /* Safari */
		transition: background 0.4s, border-color 0.4s;
		p {
			margin-bottom: 6px;
		}
		.box-heading-wrap {
			font-family: $archer;
			font-weight: 800;			
			line-height: 0.9;
			padding-bottom: 16px;
		}
		.box-heading {
			font-size: 60px;
			vertical-align: top;
			display: inline-block;
		}
		.box-sub-heading {
			font-size: 25px;
			vertical-align: top;
			display: inline-block;
			margin-top: 13px;
		}
		.box-text h3 {
			font-size: 66px;
			position: relative;
			line-height: 1;
			font-family: $archer;
			font-weight: 800;
			span {
				font-size: 30px;
				position: absolute;
				top: 5px;
				margin-left: 5px;
			}
		}
	}
	.box-inner {
		display: table;
		height: 100%;
		width: 100%;		
	}
	.box-inner-inner {
		display: table-cell;
		vertical-align: middle;
		padding: 5px;
	}
	.box-1 {
		width: 7.481%;		
		background: #f8d74c;		
		border-top: 26px solid #d0aa2b;
		border-color: #d0aa2b;
		top: 0;
		left: 0;
		height: 100%;
		&:hover {
			background: #d0aa2b;		
			border-color: #f8d74c;
		}
		.box-inner-inner {
			padding-bottom: 30px;
		}
	}
	.box-2 {
		width: 18.552%;		
		background: #bcc33e;		
		border-bottom: 26px solid #9ca438;
		border-color: #9ca438;
		top: 0;
		left: 8.319%;
		height: 70.103%;
		&:hover {
			background: #9ca438;		
			border-color: #bcc33e;
		}
		.box-inner-inner {
			padding-bottom: 20px;
		}
		.box-heading {
			font-size: 103px;
		}
		.box-sub-heading {
			font-size: 56px;
			margin-top: 29px;
			margin-left: -5px;
		}
	}
	.box-3 {
		width: 18.552%;		
		background: #74cddc;		
		border-left: 33px solid #30a5de;
		border-color: #30a5de;
		bottom: 0;
		left: 8.319%;
		height: 26.116%;
		&:hover {
			background: #30a5de;		
			border-color: #74cddc;
		}
		.box-inner-inner {
			padding: 0 10px;
		}
		.box-heading-wrap {
			padding-bottom: 0;
			margin-top: -3px;
		}
		.box-heading {
			font-size: 53px;
		}
		.box-sub-heading {
			font-size: 30px;
		}
		.box-text {
			padding: 0 0 0 54px;
		}
	}
	.box-4 {
		width: 18.552%;
		background: #ee985e;		
		border-top: 26px solid #ef7c28;
		border-color: #ef7c28;
		top: 0;
		left: 27.870%;
		height: 100%;
		&:hover {
			background: #ef7c28;		
			border-color: #ee985e;
		}
		.box-inner-inner {
			padding-bottom: 10px;
		}
		.box-heading {
			font-size: 50px;
		}		
	}
	.box-5 {
		width: 11.064%;
		background: #ae74ae;		
		border-top: 26px solid #6d5fa9;
		border-color: #6d5fa9;
		top: 0;
		left: 47.3%;
		height: 62.542%;
		&:hover {
			background: #6d5fa9;		
			border-color: #ae74ae;
		}		
		.box-heading {
      display: inline;
			font-size: 81px;
		}
		.box-sub-heading {
			display: inline-block;
			font-size: 40px;
			margin: 5px 0 -10px;
		}
	}
	.box-6 {
		width: 22.878%;
		background: #f8d74c;		
		border-left: 33px solid #d0aa2b;
		border-color: #d0aa2b;
		bottom: 0;
		left: 47.3%;
		height: 34.020%;
		&:hover {
			background: #d0aa2b;		
			border-color: #f8d74c;
		}
		.box-text,
		.box-heading-wrap {
			display: inline-block;
			width: 49%;
			vertical-align: top;
			text-align: left;
			padding: 0;
		}
		.box-text {
			padding: 11px 5px 0;
		}
		.box-heading {
			font-size: 72px;
			padding-left: 5px;
		}
		.box-sub-heading {
			font-size: 22px;
			margin-top: 5px;
		}
	}
	.box-7 {
		width: 11.064%;
		background: #74cddc;		
		border-bottom: 26px solid #30a5de;
		border-color: #30a5de;
		top: 0;
		left: 59.068%;
		height: 62.542%;
		&:hover {
			background: #30a5de;		
			border-color: #74cddc;
		}
		.box-heading {
			font-size: 81px;
		}
		.box-sub-heading {
			display: block;
			font-size: 20px;
			margin: 0 0 -10px;
			text-align: left;
			padding-left: 18px;
		}
	}
	.box-8 {
		width: 16.6389%;
		background: #bcc33e;		
		border-top: 26px solid #9ca438;
		border-color: #9ca438;
		top: 0;
		left: 71.297%;
		height: 100%;
		&:hover {
			background: #9ca438;		
			border-color: #bcc33e;
		}
		.box-heading {
			font-size: 135px;
		}
		.box-sub-heading {
			font-size: 24px;
			margin-top: 32px;
			margin-left: -5px;
		}
		.box-text {
			padding: 0 20px 37px;
		}
	}
	.box-9 {
		width: 11.0648%;
		background: #ee985e;		
		border-bottom: 26px solid #ef7c28;
		border-color: #ef7c28;
		top: 0;
		right: 0;
		height: 48.453%;
		&:hover {
			background: #ef7c28;		
			border-color: #ee985e;
    }
		.box-sub-heading {
      margin-top: 0;
      display: block;
		}
		.box-heading {
			font-size: 50px;
		}
	}
	.box-10 {
		width: 11.0648%;
		background: #ae74ae;		
		border-top: 26px solid #6d5fa9;
		border-color: #6d5fa9;
		bottom: 0;
		right: 0;
		height: 48.453%;
		&:hover {
			background: #6d5fa9;		
			border-color: #ae74ae;
		}
	}
	
	.box-9,
	.box-10 {
		.box-heading-wrap {
			padding-bottom: 3px;
		}
		.box-sub-heading {
			font-size: 22px;
		}
		p {
			margin-bottom: 2px;
		}
  }
  
  .box-10 {
		.box-sub-heading {
			margin-top: 16px;
		}
		.box-heading {
			font-size: 65px;
		}
  }
	
	/* ----------------------------------------------------------
	** Quotes
	---------------------------------------------------------- */
	.quotes-section {
		background: #969595;
	}
	.quotes-slideshow {
		position: relative;
		z-index: 1;
	}
	.slide-quote {
		width: 100%;
		height: 100%;
	}
	.quote {
		height: 100%;
		width: 100%;
		display: table;
		.quote-inner {
			display: table-cell;
			vertical-align: middle;
		}
	}
	
	.quote {
		color: #fff;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5665;
		font-family: $archer;
		max-width: 667px;		
		margin: 0 auto;
		text-align: center;
		position: relative;
		padding: 39px 70px 32px;
		.quote-author {
			font-style: italic;
			padding-top: 15px;
		}
	}
	.quote-close,
	.quote-open {
		width: 72px;
		position: absolute;
		top: 32px;
		left: -7px;
	}
	.quote-close {
		top: auto;
		bottom: 32px;
		left: auto;
		right: 15px;
	}
	.quotes-section .cycle-prev,
	.quotes-section .cycle-next {
		cursor: pointer;
		width: 56px;
		position: absolute;
		z-index: 9999;
		top: 50%;
		margin-top: -32px;
		left: 47px;
		img {
			vertical-align: top;
		}
	}
	.quotes-section .cycle-next {
		right: 47px;
		left: auto;
	}
	
	/* ----------------------------------------------------------
	** Video
	---------------------------------------------------------- */
	.video-section {
		img {
			vertical-align: top;
		}
		img.video-pic {
			width: 100%;
		}
		.btn-play {
			position: absolute;
			width: 136px;
			top: 50%;
			left: 50%;
			margin: -68px 0 0 -68px;
			z-index: 9;
		}
		.video-caption {
			background: #ee985e;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 366px;
			border-right: 35px solid #d96227;
			border-color: #d96227;
			color: #fff;
			font-family: $archer;
			font-weight: 700;
			font-size: 20px;
			line-height: 1.3;
			padding: 22px 20px 30px;
		}
	}
	
	.video-section-inner {
		background: #000;
		img.video-pic {
			-webkit-transition: opacity 0.3s; /* Safari */
			transition: opacity 0.3s;
		}
		a:hover img.video-pic {
			opacity: 0.5;
		}		
	}
	
	
	/* ----------------------------------------------------------
	** Workplaces
	---------------------------------------------------------- */
	.workplaces-heading {
		background: #ae74ae;
		border-right: 29px solid #6d5fa9;
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 25%;		
		padding: 10px 20px;
		.workplaces-heading-inner {
			display: table;
			height: 100%;
		}
		h3 {
			display: table-cell;
			vertical-align: middle;
			color: #fff;
			font-family: $archer;
			font-weight: 700;
			font-size: 20px;
			line-height: 1.3;
		}
	}
	.workplaces-entries {
		float: right;
		width: 75%;
		font-size: 13px;
		color: #969595;
		line-height: 1.2;
		padding: 19px 0;
	}
	.workplaces-column {
		float: left;
		padding-left: 54px;
		
		li {
			padding-bottom: 2px;
		}
	}
	
	/* ----------------------------------------------------------
	** Equations
	---------------------------------------------------------- */
	.equations-section {
		background: #ad2839;
		padding: 49px 0 0;
		position: relative;
		z-index: 99;
		.container {
			max-width: 1210px;
		}
	}
	.equation-column {
		float: left;
		width: 18.834%;
		position: relative;
		
		&:before{
			content: " ";
			display: none;
			width: 80%;
			height: 100%;
			background: #600d19;	
			position: absolute;
			left: 11%;
			top: -15px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
		}
		
		&:hover:before {
			display: block;	
			content : "";
		}
		
		&:hover .equation-button h3.active-eq {
			color: #fff !important;	
			
			&:before {
				background-position: left bottom;
			}
		}
		
		&:hover .equation-button h3:before {
			background-position: left bottom;
		}
		
		
		&.last-eq:before {
			display: none !important; /* WPI Logo, no hover needed */
		}
		
		.equation-x {
			width: 25px;
			position: absolute;
			top: 22%;
			left: -10px;
		}
		.equation-button {
			display: block;
			padding: 0 23.583% 33px;
			text-align: center;
			color: #fff;
			font-size: 20px;
			font-family: $archer;
			font-weight: 700;
			text-transform: uppercase;
			position: relative;
			img {
				vertical-align: top;
			}
			h3 {
				padding: 26px 0 0;
				margin: 0 -20px;
				&:before {
					content: ' ';
					background: url(images/arrow_eq.png) left bottom no-repeat;
					background-size: 13px;
					width: 13px;
					height: 14px;
					display: inline-block;
					margin-right: 0.3em;
					position: relative;
				}
				.ie8 &:before {
					background-image: url(images/arrow_eq@1x.png);
				}
			}
		}
		.equation-button h3.active-eq {
			color: #600d19;
			&:before {
				background-position: left 50%;
			}
		}
		.equation-list {
			display: none;
			background: #fff;
			width: 100%;
			font-weight: 700;
			font-family: $archer;
			font-size: 16px;
			line-height: 1.208;
			position: absolute;
			left: 0;
			top: 100%;
			z-index: 99;
			color: #ad2839;
			padding: 5px 15px 5px 32px;
			ol {
				list-style: decimal;
				li {
					padding: 10px 0;
				}
			}
			.eq-list {
				color: #600d18;
			}
		}
	}
	
	.last-eq {
		text-align: right;
		padding: 12px 0;
		.equation-x {
			width: 38px;
			top: 43%;
			left: -8px;
		}
		img.eq-wpi {
			width: 204px;
			vertical-align: top;
			position: relative;
			right: -35px;
		}
	}
	
	/* ----------------------------------------------------------
	** Icon/Text Boxes
	---------------------------------------------------------- */
	.icon-text-boxes {
		background: #ad2839;
		color: #fff;
		font-family: $archer;
		font-weight: 800;
		font-size: 17px;
		line-height: 1.215;
		padding: 50px 0 45px;
		.container {
			max-width: 1210px;
		}
	}
	.itb-box {
		float: left;
		width: 33.333%;
		padding: 21px 20px 40px 28px;
		
		h3.itb-heading {
			text-align: center;
			font-size: 40px;
			font-weight: 700;
			line-height: 1.16675;
		}
	}
	.itb-border-vertical,
	.itb-border-horizontal {
		background: rgb(198,105,117);
		background: rgba(255,255,255, 0.3);
		height: 4px;
		border-radius: 3px;
	}
	.itb-border-vertical {
		width: 4px;
		height: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 33.333%;
		margin-left: -2px;
	}
	.ibv-2 {
		left: 66.666%;
	}
	.itb-image {
		float: left;
		width: 82px;
		img {
			vertical-align: top;
		}
	}
	.itb-text {
		margin-left: 82px;
		padding: 7px 0 0 27px;
	}
	
	.itb-border-horizontal {
		margin-bottom: 15px;
	}
	.itb-box-1 {
		padding: 20px 60px 0;
	}
	.itb-box-4,
	.itb-box-5,
	.itb-box-6 {
		padding-bottom: 15px;
	}
	.itb-box-3,
	.itb-box-6 {
		padding-right: 10px;
	}
	.itb-box-5 .itb-image {
		padding-top: 10px;
	}
	
	/* ----------------------------------------------------------
	** Quotes Grid
	---------------------------------------------------------- */
	.quote-grid {
		background: #ae293a;
		float: left;
		width: 33.333%;
		height: 198px;
		text-align: center;
		color: #fff;
		font-family: $archer;
		font-size: 15px;
		font-weight: 700;
		padding: 10px;
		line-height: 20px;
		
		.quote-grid-heading {
			font-size: 40px;
			line-height: 1.16675;
			padding: 40px 40px 10px;
		}
		.quote-grid-text-wrap {
			padding: 5px 5px 10px;
		}
		.quote-grid-author {
			font-size: 12px;
		}
		
		.quote-photo {
			display: inline-block;
			border: 7px solid #ef7c28;
			width: 90px;
			height: 90px;
			overflow: hidden;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			img {
				vertical-align: top;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;
			}
		}
	}
	
	.quote-grid-1 {
		background: #ef985f;
		.quote-photo {
			border-color: #f07d29;
		}
	}
	.quote-grid-2 {
		background: #f9d84d;
		.quote-photo {
			border-color: #d0aa2b;
		}
	}
	.quote-grid-3 {
		background: #bdc43f;
		.quote-photo {
			border-color: #9da638;
		}
	}
	.quote-grid-4 {
		background: #75cedd;
		.quote-photo {
			border-color: #32a7df;
		}
	}
	.quote-grid-5 {
		background: #ae75ad;
		.quote-photo {
			border-color: #6e60aa;
		}
	}
	.quote-grid-6 {
		background: #f07c29;
		.quote-photo {
			border-color: #ef995f;
		}
	}
	.quote-grid-7 {
		background: #9da538;
		.quote-photo {
			border-color: #bdc43e;
		}
	}
	.quote-grid-8 {
		background: #32a7de;
		.quote-photo {
			border-color: #75cedd;
		}
	}
	
	/* ----------------------------------------------------------
	** Results
	---------------------------------------------------------- */
	.section-results {
		.section-page-border {
			border-top: 8px solid #ae74ae;
			border-bottom: 4px solid #655ca8;
		}		
	}
	
	/* ----------------------------------------------------------
	** Formula
	---------------------------------------------------------- */
	.section-formula {
		.section-page-border {
			border-top: 9px solid #74cddc;
			border-bottom: 4px solid #30a5de;
		}		
		.page-content {
			min-height: 556px;
		}
		.page-content-title {
			background: #74cddc;
			margin-top: 17px;
		}
		.the-content .heading-highlight {
			color: #74cddc;
		}
		.page-main-content {
			padding-top: 22px;
			margin-right: 104px;
			padding-right: 50px;
		}
		.the-content h2 {
			margin-bottom: 16px;
			margin-right: -90px;
		}
		
		.video-section .video-caption {
			background: #bcc33e;
			border-color: #9ca438;
			width: 467px;
			padding: 15px 10px 16px 20px;
		}
	}
	
	/* ----------------------------------------------------------
	** Imagine
	---------------------------------------------------------- */
	.section-imagine {
		.section-page-border {
			border-top: 8px solid #ee985e;
			border-bottom: 4px solid #ef7922;
		}
		.page-content-title {
			background: #ee985e;
			margin-top: 19px;
		}
		.page-content {
			min-height: 430px;
		}
		.the-content .heading-highlight {
			color: #ee985e;
		}
		.page-main-content {
			margin: -27px 0 0 117px;
			padding: 0;
			float: left;
			padding-right: 163px;
			h2 {
				margin-right: -163px;
				margin-bottom: 40px;
				line-height: 1.2;
			}
		}
		.video-section .video-caption {
			width: 280px;
			background: #74cddc;
			border-color: #30a5de;
			padding-right: 10px;
		}
	}
	
	/* ----------------------------------------------------------
	** Innovate
	---------------------------------------------------------- */
	.section-innovate {
		.section-page-border {
			border-top: 8px solid #bcc33e;
			border-bottom: 4px solid #9ca438;
		}
		.page-content-title {
			background: #bcc33e;
			margin-top: 24px;
		}
		.the-content .heading-highlight {
			color: #bcc33e;
		}
		.page-main-content {
		    float: left;
			margin: -14px 0 0 48px;
			padding: 0;
			width: 46%;
			padding-right: 145px;
			h2 {
				margin-right: -145px;
				line-height: 1.175;
			}
		}
		.page-content {
			min-height: 517px;
		}
		.video-section .video-caption {
			width: 279px;
			background: #ae74ae;
			border-color: #6d5fa9;
			padding-right: 3px;
			border-width: 30px;
		}
	}
	
	/* ----------------------------------------------------------
	** Learn More
	---------------------------------------------------------- */
	.section-learnmore {
		.section-page-border {
			border-top: 8px solid #f8d74c;
			border-bottom: 4px solid #d0aa2b;
		}
		.page-content-title {
			background: #f8d74c;
      margin-top: 21px;
      @media (min-width: 1024px) {
			  margin-top: 48px;
		  }
    }
		.the-content .heading-highlight {
			color: #bcc33e;
		}
		.page-main-content {
			width: 44.55%;
			padding-right: 150px;
			h2 {
				margin-right: -170px;
			}
		}
		.page-content {
			min-height: 439px;
		}
		.video-section .video-caption {
			width: 279px;
			background: #ae74ae;
			border-color: #6d5fa9;
			padding-right: 3px;
			border-width: 30px;
		}
	}
	
	.request-information {
		background: #efeeee;
	}
	.ri-left {
		float: left;
		width: 28.5%;
	}
	.ri-caption {
		background: #ee985e;
		border-right: 35px solid #d96227;
		max-width: 342px;
		color: #fff;
		font-family: $archer;
		font-weight: 700;
		font-size: 20px;
		line-height: 1.3;
		padding: 22px 5px 30px 20px;
	}
	.ri-heading {
		padding-top: 65px;
		h3 {
			background: url(images/path_form.png) right top no-repeat;
			background-size: 91px 203px;
			font-family: $archer;
			font-size: 40px;
			color: #969595;
			font-weight: 700;
			line-height: 1.333;
			padding: 109px 100px 30px 50px;
		}
	}
	@media (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.2), (min-resolution:120dpi){
		.ri-heading h3 {
			background: url(images/path_form_2x.png) right top no-repeat;
			background-size: 91px 203px;
		}
	}
	
	.ri-right {
		float: right;
		width: 71.5%;
		padding: 72px 51px 30px 33px;
	}	
	
	.contact-form {
		textarea,
		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="password"] {
			border: 1px solid #d6d6d6;
			font-family: $archer;
			font-size: 23.41px;
			font-weight: 700;
			color: #969595;
			margin-bottom: 17px;
			padding: 15px 12px !important;
		}
		textarea.active-floatlabel,
		input.active-floatlabel {
			padding: 25px 12px 5px !important;
		}
		.label-floatlabel {
			font-size: 10px !important;
			font-weight: 400 !important;
			color: #969595 !important;
			font-style: italic !important;
			top: 7px !important;
			left: 12px !important;
		}
		
		.form-radio {
			label {
				font-family: $archer;
				font-weight: 700;
				color: #969595;
				font-style: italic;
				font-size: 14px;
				line-height: 1;
				display: block;
				position: relative;
				top: -4px;
				padding-bottom: 5px;
			}
			.wpcf7-form-control-wrap {
			
			}
			.iradio {
				float: left;
				width: 16.8%;
				margin-left: 4%;
				text-align: center;
				background: #74cddc;
				font-size: 32px;
				font-weight: 700;
				font-family: $archer;
				color: #ffffff;
				text-transform: uppercase;
				cursor: pointer;
				margin-bottom: 25px;
				z-index: 999;
				-webkit-transition: background 0.3s; /* Safari */
				transition: background 0.3s;
				&:hover {
					background: #32a4dc;
				}
				&:first-child {
					margin-left: 0;
				}
			}
			.checked {
				background: #30a5de;
			}			
		}
		
		.submit-wrap {
			text-align: right;
			position: relative;
			padding: 12px 0 10px;
			img.ajax-loader {
				position: absolute;
				top: 16px;
				right: -22px;
			}
		}
		input[type="submit"] {
			-webkit-appearance: none;
			background: #ae74ae;
			text-transform: uppercase;
			font-size: 32px;
			font-weight: 700;
			font-family: $archer;
			color: #ffffff;
			text-transform: uppercase;
			cursor: pointer;
			border: 0;
			border-radius: 0;
			padding: 7px 61px;
			-webkit-transition: background 0.3s; /* Safari */
			transition: background 0.3s;
			&:hover {
				background: #6d5fa9;
			}
		}
		
		span.wpcf7-not-valid-tip {
			position: relative;
			top: -12px;
		}
	}
	
	div.wpcf7-response-output {
		background: #ad2839;
		margin-left: 0 !important;
		margin-right: 0 !important;
		color: #fff;
		font-size: 17px;
		font-weight: 500;
		line-height: 1.058;
		border: 0 !important;
		padding: 22px;
		position: relative;
		h3 {
			font-family: $archer;
			font-weight: 700;			
			font-size: 20px;
			line-height: 1.1;
			padding-bottom: 15px;
		}
	}
	div.wpcf7-mail-sent-ok {
		padding-right: 295px;
	}
	div.wpcf7-response-output .button {
		background: #74cddc;
		display: inline-block;
		text-align: center;
		width: 254px;
		height: 46px;
		color: #FFF;
		font-weight: 700;
		font-family: $archer;
		font-size: 26px;
		text-transform: uppercase;
		line-height: 46px;
		position: absolute;
		top: 50%;
		right: 23px;
		margin-top: -23px;
		-webkit-transition: background 0.3s; /* Safari */
		transition: background 0.3s;
		&:hover {
			background: #32a4dc;
		}
	}
	
	.form-column-right,
	.form-column-left {
		float: left;
		width: 50%;
		padding: 0 5px 0 0;
		.half {
			float: left;
			width: 50%;
			padding: 0 5px 0 0;
		}
		.half-right {
			padding: 0 0 0 5px;
		}
	}
	.form-column-right {
		padding: 0 0 0 5px;
	}
	
	.stat-heading {
		font-size: 24px;
		font-weight: 700;
		font-family: $archer;
		color: #343434;
		line-height: 1.1;
		padding: 0 0 25px;
	}
	.learn-more-statistic {
		.statistic-boxes {
			padding: 25px 0 25px;
		}
		
		.box-1 {
			background: #ee985e;
			border-color: #ef7c28;
			&:hover {
				background: #ef7c28;
				border-color: #ee985e;
			}
			.box-heading-wrap {
				padding-bottom: 7px;
			}
		}
		
		.box-2 {
			background: #ae74ae;
			border-color: #6d5fa9;
			&:hover {
				background: #6d5fa9;
				border-color: #ae74ae;
			}
			.box-sub-heading {			
				margin-top: 12px;
				margin-left: -4px;
			}
		}
		
		.box-3 {
			background: #bcc33e;
			border-color: #9ca438;
			&:hover {
				background: #9ca438;
				border-color: #bcc33e;
			}
		}
		
		.box-4 {
			background: #f8d74c;
			border-color: #d0aa2b;
			&:hover {
				background: #d0aa2b;
				border-color: #f8d74c;
			}
			.box-heading-wrap {
				display: none;
			}
		}
		
		.box-5 {
			background: #ee985e;
			border-color: #ef7c28;
			&:hover {
				background: #ef7c28;
				border-color: #ee985e;
			}
			.box-heading-wrap {
				padding-bottom: 25px;
			}
		}
		
		.box-6 {
			background: #74cddc;
			border-color: #30a5de;
			&:hover {
				background: #30a5de;
				border-color: #74cddc;
			}
			.box-heading-wrap,
			.box-text {
				width: auto;
				display: block;
			}
			.box-heading {
				padding-left: 13px;
			}
			.box-text {
				text-align: right;
				padding: 0 20px;
			}
		}
		
		.box-7 {
			background: #ae74ae;
			border-color: #6d5fa9;
			&:hover {
				background: #6d5fa9;
				border-color: #ae74ae;
			}
			.box-sub-heading {
				margin: 0;
				text-align: center;
				font-size: 40px;
				padding: 0;
			}
			.box-heading-wrap {
				padding-bottom: 10px;
			}
		}
		
		.box-8 {
			background: #bcc33e;
			border-color: #9ca438;
			&:hover {
				background: #9ca438;
				border-color: #bcc33e;
			}
			.box-heading {
				font-size: 70px;
			}
			.box-text {
				padding: 0;
			}
		}
		
		.box-9 {
			background: #74cddc;
			border-color: #30a5de;
			&:hover {
				background: #30a5de;
				border-color: #74cddc;
			}
		}
		
		.box-10 {
			background: #f8d74c;
			border-color: #d0aa2b;
			&:hover {
				background: #d0aa2b;
				border-color: #f8d74c;
			}
		}
		
		.box-9,
		.box-10 {
			.box-text {
				padding: 10px 10px;
			}
		}
		
	}
	
	.unhover-button {
		position: relative;
		z-index: 9;		
	}
	.button-with-hover:hover .unhover-button {
		display: none;
	}
	.button-with-hover:hover .hover-button {
		display: block;
	}
	.hover-button {
		position: absolute;
		width: 100%;
		vertical-align: top;
		top: 0;
		right: 0;
		z-index: 1;
		display: none;
	}
	
	

/*==============================================================
## Footer
==============================================================*/
	#footer {
		background: #ad2839;
		color: #fff;
		padding-bottom: 10px;
		.container {
			max-width: 1248px;
		}
	}
	.footer-left {
		float: left;
		padding: 20px 0 0;
		width: 62%;
	}
	.footer-left-info {
		width: 435px;
		float: left;
	}
	.footer-logo {
		float: left;
		padding: 8px 20px 0 0;
		img {
			vertical-align: top;
			width: 150px;
		}
	}
	.footer-left-text {
		margin-left: 170px;
		font-size: 13px;
		line-height: 1.234;
		address {
			font-style: normal;
			padding-bottom: 2px;
		}
		li {
			float: left;
			font-weight: 700;
			color: #053b55;
			padding-right: 5px;
			a {
				color: #053b55;
				text-decoration: underline;
			}
			&:before {
				content: '|';
				padding-right: 5px;
			}
		}
		li:first-child:before {
			display: none;
		}
	}
	.footer-copyright {
		margin-left: 435px;
		text-align: center;
		font-size: 11px;
		padding: 44px 0 0 15px;
	}
	
	.footer-right {
		float: right;
		width: 38%;
		text-align: right;
		padding-top: 22px;
		.social-label {
			display: inline-block;
			vertical-align: top;
			font-size: 13px;
			font-weight: 600;
			padding: 10px 9px 0 0;
		}
		a {
			display: inline-block;
			width: 39px;
			vertical-align: top;
			font-size: 11px;
			color: #fff;
			text-align: center;
			margin-left: 7px;
			margin-bottom: 20px;
		}
		
		.icon-break {
			display: none;
		}
	}
	
	
/*==============================================================
## Responsive & Plugin
==============================================================*/
	@import 'inc/fancybox';
	@import 'inc/responsive';