.blue-divider {
	border-top: 1px solid #fff;
	margin-top: -1px;
	position: relative;
	z-index: 1;
	span {
		display: block;
		width: 90px;
		height: 6px;
		background-color: $blue;
		margin: 0px auto;
	}
}

@include mq_up($md) {
	.blue-divider {
		margin-top: 60px;
		margin-bottom: -40px;
		span {
			width: 120px;
		}
	}
}
// mq_up_md

@include mq_up($lg) {
	.blue-divider {
		margin-top: 80px;
		margin-bottom: -50px;
	}
}
// mq_up_lg
