.carousel-gallery {
	padding: 35px 18px 40px 18px;

	.the-title {
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 35px;
	}

	.slick-prev-slide,
	.slick-next-slide {
		@include reset_button;
		width: 64px;
		height: 64px;
		background: rgba(#000, 0.3);
		border-radius: 50%;
		font-size: 20px;
		color: #fff;
		margin-top: -14px;
		@include vertical-align;
		z-index: 3;

		&:hover,
		&:focus {
			background: rgba(#000, 0.6);
		}
	}
	.slick-prev-slide {
		left: -48px;
		text-align: right;
		padding-right: 7px;
	}
	.slick-next-slide {
		left: auto;
		right: -48px;
		text-align: left;
		padding-left: 7px;
	}

	.the-carousel {
		.the-slide {
			text-align: center;
			.the-image {
				display: block;
				text-decoration: none;
				position: relative;
				margin-bottom: 6px;
				img {
					width: 100%;
					position: relative;
					z-index: 0;
				}
				span.image-tag {
					position: absolute;
					z-index: 2;
					top: 0px;
					left: 0px;
					display: block;
					height: 27px;
					line-height: 27px;
					font-family: $font2;
					font-weight: $fw-bold;
					text-transform: uppercase;
					font-size: 15px;
					letter-spacing: 1px;
					padding: 0px 7px;
				}

				.overlay {
					display: block;
					position: absolute;
					z-index: 1;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					background-color: rgba(#000, 0.3);

					.play-button {
						display: block;
						width: 72px;
						height: 72px;
						line-height: 72px;
						text-align: center;
						background-color: #fff;
						border-radius: 50%;
						.icon-play-triangle {
							font-size: 24px;
							color: $green;
							margin-left: 8px;
						}
					}
				}
			}
			.the-caption {
				font-size: 15px;
				line-height: 24px;
			}
		}

		ul.slick-dots {
			margin-top: 10px;
			line-height: 1;

			li {
				margin: 0px 3px;
				button {
					text-indent: -9999px;
					@include reset_button;
					width: 6px;
					height: 6px;
					background-color: #fff;
					border-radius: 50%;
					opacity: 0.5;
				}

				&.slick-active {
					button {
						opacity: 1;
					}
				}
			}
		}
	}
}

@include mq_up($md) {
	.carousel-gallery {
		padding: 60px 0px;

		.slick-prev-slide,
		.slick-next-slide {
			width: 90px;
			height: 90px;
			font-size: 28px;
			margin-top: -7px;
		}
		.slick-prev-slide {
			left: -50px;
			padding-right: 7px;
		}
		.slick-next-slide {
			right: -50px;
			padding-left: 7px;
		}

		h2.the-title {
			font-size: 42px;
			line-height: 54px;
			margin-bottom: 40px;
		}

		.the-carousel {
			.slick-list {
				overflow: visible;
			}

			.slick-track {
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				justify-content: center;
			}
			.the-slide {
				width: 538px;
				transform: scale(0.9);
				opacity: 0.6;
				@include transition;
				//margin: 0px 9px;
				position: relative;
				.the-image {
					margin-bottom: 12px;

					.overlay .play-button {
						width: 90px;
						height: 90px;
						line-height: 90px;
					}
				}
				.the-caption {
					font-size: 16px;
					line-height: 24px;
					@include hidden;
					@include transition;
				}
				&.slick-current {
					opacity: 1;
					@include transition;
					.the-caption {
						@include visible;
					}
				}
			}
			ul.slick-dots {
				margin-top: 36px;
			}
		}
	}
}
// mq_up_md

@include mq_up($lg) {
	.slick-prev-slide,
	.slick-next-slide {
		width: 120px;
		height: 120px;
		font-size: 36px;
		margin-top: -14px;
	}
	.slick-prev-slide {
		left: -65px;
		padding-right: 10px;
	}
	.slick-next-slide {
		right: -65px;
		padding-left: 10px;
	}
	.carousel-gallery {
		padding: 72px 0px 48px 0px;

		h2.the-title {
			font-size: 54px;
			line-height: 66px;
			margin-bottom: 52px;
		}

		.the-carousel {
			.the-slide {
				width: 720px;
			}
		}
	}
}
// mq_up_lg
