.fancybox-bg {
	background-color: rgba(#000, 0.8);
}

.fancybox-slide {
	padding-left: 0px;
	padding-right: 0px;
}

.fancybox-button {
	width: 72px;
	height: 72px;
	background: $wpi-red;
	padding: 15px;
}
.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
	color: #fff;
}

@include mq_up($md) {
	.fancybox-slide {
		padding-left: 30px;
		padding-right: 30px;
	}
}
// mq_up_md
