footer {
	padding: 36px 0px 0px 0px;
	transition: 1s background;
	-webkit-transition: 1s background;
	-moz-transition: 1s background;

	.footer-content {
		padding-bottom: 115px;
		position: relative;
		.the-logo {
			margin-bottom: 25px;

			&.logo-main {
				width: 300px;
			}
			&.logo-wpi {
				width: 150px;
			}
		}

		#frunway__right {
			margin-top: 30px;
		}

		ul {
			@include reset_ul_block;
			li {
				margin-bottom: 11px;
				a {
					color: #fff;
					text-decoration: none;
					font-family: $font2;
					font-size: 18px;
					line-height: 24px;
					font-weight: $fw-semibold;
					border-bottom: 1px solid rgba(#fff, 0);

					&:hover,
					&:focus {
						color: #fff;
						text-decoration: none;
						border-bottom: 1px solid #fff;
					}
				}

				ul.sub-menu {
					display: none;
				}
			}

			&.external-links {
				li {
					a {
						border-bottom: none;
						span.the-text {
							border-bottom: 1px solid rgba(#fff, 0);
							@include transition;
						}
						span.icon-link {
							margin-left: 5px;
						}

						&:hover,
						&:focus {
							span.the-text {
								border-bottom: 1px solid #fff;
							}
						}
					}
				}
			}
		}

		#robot {
			position: absolute;
			left: 50%;
			right: 50%;
			margin-left: -24px;
			bottom: 0px;
			transition: 1s all;
			-webkit-transition: 1s all;
			-moz-transition: 1s all;
		}

		#robot.robot__left {
			left: 45% !important;
		}

		#robot.robot__right {
			left: 55% !important;
		}
	}

	.copyright {
		padding: 12px 0px 15px;
		font-size: 16px;
		transition: 1s background;
		-webkit-transition: 1s background;
		-moz-transition: 1s background;
		ul {
			@include reset_ul_block;
			li {
				margin-top: 10px;
				a {
					font-size: 16px;
					line-height: 20px;
					text-decoration: underline;
					color: #fff;
					&:hover,
					&:focus {
						color: #fff;
						text-decoration: none;
					}
				}

				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}

	&.wpi__red {
		background: #ac2b37;
		.footer__copyright {
			background: #841f28;
		}
	}
}

@include mq_up($md) {
	footer {
		padding: 42px 0px 0px 0px;
		.footer-content {
			padding-bottom: 31px;
			.the-logo {
				&.logo-main {
					margin-bottom: 39px;
				}
				&.logo-wpi {
					margin-bottom: 34px;
				}
			}

			ul {
				li {
					margin-bottom: 14px;
				}
			}
			#frunway__right {
				margin-top: 0px;
				padding-left: 3px !important;
			}
		}

		.copyright {
			ul {
				@include reset_ul;
				@include flex-start;
				margin-left: 15px;
				li {
					margin-top: 0px;
					margin-bottom: 0px;
					margin-left: 16px;
					a {
						font-size: 16px;
						line-height: 20px;
						text-decoration: underline;
					}
				}
			}
		}
	}
}
// mq_up_md

@include mq_up($lg) {
	footer {
		.footer-content {
			#frunway__right {
				padding-left: 50px !important;
			}
		}
	}
}
// mq_up_lg
