header {
	/* padding-top: 18px; */
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 101;
	transition: background 0.25s ease-in-out;

	.wrapper {
		height: 72px;
		border-bottom: 1px solid rgba(#eee, 0.2);
	}

	a.logo {
		display: block;
		text-decoration: none;
		width: 240px;

		img {
			width: 100%;
			height: 35px;
		}

		img.alt {
			display: none;
		}
	}
	.hamburger.menu-open {
		@include reset_button;
		display: flex;
		align-items: center;
	}

	.hamburger--slider {
		
		.hamburger-label {
			font-size: 18px;
			font-family: $font2;
			font-weight: $fw-bold;
			text-transform: uppercase;
			color: #fff;
			padding-right: 12px;

			.closed {
				display: inline;
			}
			.opened {
				display: none;
			}
		}
		
		.hamburger-box {
			path {
				fill: $white;
			}
			#CloseIcon {
				display: none;
			}
		}
		
		&.is-active {
			.hamburger-label {
				color: $navy-blue;

				.closed {
					display: none;
				}
				.opened {
					display: inline;
				}
			}
			.hamburger-box {
				path {
					fill: $navy-blue;
				}
				#MenuIcon {
					display: none;
				}
				#CloseIcon {
					display: block;
				}
			}
		} // .is-active
		
	} // .hamburger--slider

	&.menu-active,
	&.no-hero-image {
		background: #fff;
		border-bottom: 1px solid #eee;

		.wrapper {
		}

		a.logo {
			img.main-logo {
				display: none;
			}
			img.alt {
				display: block;
			}
		}

		.hamburger--slider {
			.hamburger-label {
				color: $navy-blue;
			}
			.hamburger-box path {
				fill: $navy-blue;
			}
		} // .hamburger--slider
	}
} // header

@include mq_up($md) {
	header {
		.wrapper {
			height: 124px;
		}
		a.logo {
			width: 420px;

			img {
				height: 62px;
			}
		}
	}
}
// mq_up_md
