$darken-percentage: 20%;
$lighten-percentage: 20%;

.home-buttons {
	padding: 36px 0px;
	//margin-bottom: 36px;

	.heading-rule {
		width: 90px;
		height: 6px;
		margin: 0px auto 18px auto;
	}

	img.background-image {
		height: 75%;
		width: auto;
		position: absolute;
		z-index: -1;
		@include vertical-align;

		&.align-left {
			left: 0px;
			margin-left: -130px;
		}
		&.align-right {
			right: 0px;
			margin-right: -130px;
		}
	}

	h2 {
		margin-bottom: 18px;

		strong {
			color: $blue;
		}
	}

	.the-content {
		margin-bottom: 36px;
		p {
			font-size: 16px;
			line-height: 24px;
		}

		p:last-child {
			margin-bottom: 0px;
		}

		h3 {
			font-size: 24px;
			line-height: 30px;
			color: $navy-blue;
			margin-bottom: 12px;
		}

		h4 {
			font-family: $font1;
			font-weight: $fw-semibold;
			font-size: 18px;
			line-height: 27px;
		}

		h5 {
			font-family: $font1;
			font-weight: $fw-semibold;
			font-size: 18px;
			line-height: 27px;
			text-transform: uppercase;
			color: $blue;
		}

		hr {
			border-color: #eee;
			margin-bottom: 30px;
			margin-top: 32px;
		}
	}

	.col-button {
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0px;
		}
	}
	a.the-button {
		width: 100%;

		&.fg-white {
			color: $white;
		}
		&.fg-black {
			color: $black;
		}
		
		// Colors
		&.wpi-red {
			background: $wpi-red;
			border: 3px solid $wpi-red;
			&:hover,
			&:focus {
				background: darken($wpi-red, $darken-percentage);
			}
			&.fg-black {
				&:hover,
				&:focus {
					background: lighten($wpi-red, $lighten-percentage);
				}
			}
		}
		&.black {
			background: $black;
			border: 3px solid $black;
			&:hover,
			&:focus {
				background: darken($black, $darken-percentage);
			}
			&.fg-black {
				&:hover,
				&:focus {
					background: lighten($black, $lighten-percentage);
				}
			}
		}
		&.navy-blue {
			background: $navy-blue;
			border: 3px solid $navy-blue;
			&:hover,
			&:focus {
				background: darken($navy-blue, $darken-percentage);
			}
			&.fg-black {
				&:hover,
				&:focus {
					background: lighten($navy-blue, $lighten-percentage);
				}
			}
		}
		&.purple {
			background: $purple;
			border: 3px solid $purple;
			&:hover,
			&:focus {
				background: darken($purple, $darken-percentage);
			}
			&.fg-black {
				&:hover,
				&:focus {
					background: lighten($purple, $lighten-percentage);
				}
			}
		}
		&.green {
			background: $green;
			border: 3px solid $green;
			&:hover,
			&:focus {
				background: darken($green, $darken-percentage);
			}
			&.fg-black {
				&:hover,
				&:focus {
					background: lighten($green, $lighten-percentage);
				}
			}
		}
		&.gray {
			background: $gray;
			border: 3px solid $gray;
			&:hover,
			&:focus {
				background: darken($gray, $darken-percentage);
			}
			&.fg-black {
				&:hover,
				&:focus {
					background: lighten($gray, $lighten-percentage);
				}
			}
		}
		&.orange-red {
			background: $orange-red;
			border: 3px solid $orange-red;
			&:hover,
			&:focus {
				background: darken($orange-red, $darken-percentage);
			}
			&.fg-black {
				&:hover,
				&:focus {
					background: lighten($orange-red, $lighten-percentage);
				}
			}
		}
		&.yellow {
			background: $yellow;
			border: 3px solid $yellow;
			&:hover,
			&:focus {
				background: darken($yellow, $darken-percentage);
			}
			&.fg-black {
				&:hover,
				&:focus {
					background: lighten($yellow, $lighten-percentage);
				}
			}
		}
	} // .the-button
}

@include mq_up($md) {
	.home-buttons {
		padding: 60px 0px 30px 0px;
		//margin-bottom: 60px;

		.heading-rule {
			width: 120px;
		}

		img.background-image {
			height: 125%;
			&.align-left {
				left: 30px;
				margin-left: 0px;
			}
			&.align-right {
				right: 30px;
				margin-right: 0px;
			}
		}

		h2 {
			margin-bottom: 26px;
		}

		.the-content {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;
			p {
				font-size: 21px;
				line-height: 30px;
			}
		}

		.col-button {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 30px;
			}
		}
	}
}
// mq_up_md

@include mq_up($lg) {
	.home-buttons {
		padding: 72px 0px 42px 0px;
		//margin-bottom: 86px;

		h2 {
			margin-bottom: 36px;
		}

		img.background-image {
			&.align-left {
				left: 0px;
				margin-left: -40px;
			}
			&.align-right {
				right: 0px;
				margin-right: -40px;
			}
		}

		/* .the-content {
			p {
				font-size: 15px;
				line-height: 24px;
			}

			h3 {
				font-size: 36px;
				line-height: 48px;
				margin-bottom: 18px;
			}

			h4 {
				font-size: 21px;
				line-height: 30px;
			}
		} */
	}
}
// mq_up_lg
