.home-carousel {
	position: relative;
	padding: 36px 0px 40px 0px;
	background-color: #f5f5f5;
	
	.text-side {
		z-index: 2;
	}
	
	&.bg-white {
		background-color: $white;
		.text-carousel-wrapper::before {
			background-color: $white;
		}
	}
	&.bg-wpi-red {
		background-color: $wpi-red;
		.text-carousel-wrapper::before {
			background-color: $wpi-red;
		}
	}
	&.bg-blue {
		background-color: $blue;
		.text-carousel-wrapper::before {
			background-color: $blue;
		}
	}
	&.bg-black {
		background-color: $black;
		.text-carousel-wrapper::before {
			background-color: $black;
		}
	}
	&.bg-navy-blue {
		background-color: $navy-blue;
		.text-carousel-wrapper::before {
			background-color: $navy-blue;
		}
	}
	&.bg-purple {
		background-color: $purple;
		.text-carousel-wrapper::before {
			background-color: $purple;
		}
	}
	&.bg-green {
		background-color: $green;
		.text-carousel-wrapper::before {
			background-color: $green;
		}
	}
	&.bg-gray {
		background-color: $gray;
		.text-carousel-wrapper::before {
			background-color: $gray;
		}
	}
	&.bg-orange-red {
		background-color: $orange-red;
		.text-carousel-wrapper::before {
			background-color: $orange-red;
		}
	}
	&.bg-yellow {
		background-color: $yellow;
		.text-carousel-wrapper::before {
			background-color: $yellow;
		}
	}

	&.fg-white {
		.carousel-text .the-slide .the-title,
		.carousel-text .the-slide .the-desc,
		.carousel-text .the-slide ul.links li a {
			color: $white;
		}
		.carousel-text .the-slide ul.links li a:hover,
		.carousel-text .the-slide ul.links li a:focus {
			color: $white;
			span.the-text {
				border-color: $white;
			}
		}
	}

	.bg {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 35%;
	}

	.slick-prev-slide,
	.slick-next-slide {
		@include reset_button;
		width: 64px;
		height: 64px;
		background: rgba(#000, 0.3);
		border-radius: 50%;
		font-size: 20px;
		color: #fff;
		margin-top: -14px;
		@include vertical-align;
		z-index: 3;

		&:hover,
		&:focus {
			background: rgba(#000, 0.6);
		}
	}
	.slick-prev-slide {
		left: -30px;
		text-align: right;
		padding-right: 7px;
	}
	.slick-next-slide {
		left: auto;
		right: -30px;
		text-align: left;
		padding-left: 7px;
	}

	.carousel-thumb {
		overflow: hidden;
		.the-slide {
			@include transition(0.15s);
			.the-thumb {
				position: relative;
				display: block;
				text-decoration: none;
				@include transition(0.15s);
				img.bg {
					width: 100%;
					height: auto;
					position: relative;
					z-index: 0;
				}
				.overlay {
					display: block;
					position: absolute;
					z-index: 1;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					background-color: rgba(#000, 0.3);

					.play-button {
						display: block;
						width: 72px;
						height: 72px;
						line-height: 72px;
						text-align: center;
						background-color: #fff;
						border-radius: 50%;
						.icon-play-triangle {
							font-size: 24px;
							color: $green;
							margin-left: 8px;
						}
					}
				}
			}
		}

		ul.slick-dots {
			margin-top: 10px;
			line-height: 1;

			li {
				margin: 0px 3px;
				button {
					text-indent: -9999px;
					@include reset_button;
					width: 6px;
					height: 6px;
					background-color: $blue;
					border-radius: 50%;
					opacity: 0.5;
				}

				&.slick-active {
					button {
						opacity: 1;
					}
				}
			}
		}
	}

	.carousel-text {
		.the-slide {
			padding: 0px 18px;
			.the-title {
				font-size: 27px;
				line-height: 33px;
				font-family: $font2;
				font-weight: $fw-bold;
				color: $navy-blue;
				margin-bottom: 7px;
			}
			.the-desc {
				font-size: 15px;
				line-height: 24px;
				margin-bottom: 15px;
			}

			ul.links {
				@include reset_ul_block;
				li {
					margin-bottom: 5px;
					a {
						font-size: 16px;
						line-height: 24px;
						font-family: $font2;
						color: $wpi-red;
						text-decoration: none;
						font-weight: $fw-bold;

						span.the-text {
							border-bottom: 1px solid rgba($wpi-red, 0);
							@include transition;
						}

						&:hover,
						&:focus {
							text-decoration: none;
							color: $wpi-red;
							span.the-text {
								border-bottom: 1px solid $wpi-red;
							}
						}
					}

					&:last-child {
						margin-bottom: 0px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: $md) {
	.home-carousel {
		padding: 60px 0px;

		.bg {
			display: block;
			position: absolute;
			left: auto;
			right: 0px;
			bottom: 0px;
			width: 50%;
			height: 100%;
		}

		.text-carousel-wrapper {
			height: 100%;
			position: relative;
			z-index: 1;
			background-color: #f5f5f5;
			margin-right: 6px;
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: -60px;
				bottom: -60px;
				right: 0px;
				width: 100vw;
				overflow: hidden;
				background-color: #f5f5f5;
				//border: 1px solid red;
			}
		}

		.slick-prev-slide,
		.slick-next-slide {
			width: 90px;
			height: 90px;
			font-size: 28px;
			margin-top: -7px;
		}
		.slick-prev-slide {
			left: -50px;
			padding-right: 7px;
		}
		.slick-next-slide {
			right: -50px;
			padding-left: 7px;
		}

		.carousel-thumb {
			margin-left: -42px;
			position: relative;
			z-index: 1;

			overflow: visible;

			.slick-list {
				overflow: visible !important;
				height: 303px !important;
			}

			ul.slick-dots {
				margin-top: 0px;
				position: absolute;
				left: 0px;
				width: 538px;
				bottom: -36px;

				li {
					button {
						background-color: #fff;
					}
				}
			}

			.the-slide {
				width: 538px;
				margin-right: 18px;

				.the-thumb {
					opacity: 0.6;
					transform: scale(0.85);
				}

				&.slick-current {
					width: 538px;
					.the-thumb {
						width: 100%;
					}
				}
			}

			.the-slide .the-thumb .overlay .play-button {
				width: 90px;
				height: 90px;
				line-height: 90px;
			}
		}

		.carousel-text {
			position: relative;
			z-index: 2;
			width: 100%;
			.the-slide {
				padding-left: 42px;
				.the-title {
					font-size: 30px;
					line-height: 42px;
					margin-bottom: 10px;
					margin-top: 18px;
				}
				.the-desc {
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 20px;
				}

				ul.links {
					li {
						margin-bottom: 5px;
						a {
							font-size: 18px;
							line-height: 26px;
						}
					}
				}
			}
		}
	}
}
// mq_up_md

@media only screen and (min-width: 1025px) {
	.home-carousel {
		.carousel-thumb {
			.the-slide {
				width: 538px;
			}
		}
	}
}
// mq_up_lg

@media only screen and (min-width: 1200px) {
	.home-carousel {
		padding: 72px 0px 72px 0px;

		.text-carousel-wrapper {
			margin-right: 18px;
		}

		.slick-prev-slide,
		.slick-next-slide {
			width: 120px;
			height: 120px;
			font-size: 36px;
			margin-top: -14px;
		}
		.slick-prev-slide {
			left: -65px;
			padding-right: 10px;
		}
		.slick-next-slide {
			right: -65px;
			padding-left: 10px;
		}

		.carousel-thumb {
			margin-left: -54px;
			ul.slick-dots {
				width: 720px;
			}
			.slick-list {
				height: 405px !important;
			}
			.the-slide {
				width: 720px;
				margin-right: 42px;

				.the-thumb {
					//width: 648px;
				}

				&.slick-current {
					width: 720px;
					.the-thumb {
						width: 100%;
					}
				}
			}
		}

		.carousel-text {
			.the-slide {
				padding-left: 0px;
				padding-right: 30px;
				.the-title {
					font-size: 36px;
					line-height: 48px;
					margin-bottom: 15px;
				}
			}
		}
	}
}
// mq_up_lg
