.intro-text {
	padding: 36px 0px;

	.heading-rule {
		width: 90px;
		height: 6px;
		margin: 0px auto 18px auto;
	}

	img.background-image {
		height: 75%;
		width: auto;
		position: absolute;
		z-index: -1;
		@include vertical-align;

		&.align-left {
			left: 0px;
			margin-left: -130px;
		}
		&.align-right {
			right: 0px;
			margin-right: -130px;
		}
	}

	h2 {
		margin-bottom: 18px;

		strong {
			color: $blue;
		}
	}

	.the-content {
		p {
			font-size: 16px;
			line-height: 24px;
		}

		p:last-child {
			margin-bottom: 0px;
		}

		h3 {
			font-size: 24px;
			line-height: 30px;
			color: $navy-blue;
			margin-bottom: 12px;
		}

		h4 {
			font-family: $font1;
			font-weight: $fw-semibold;
			font-size: 18px;
			line-height: 27px;
		}

		h5 {
			font-family: $font1;
			font-weight: $fw-semibold;
			font-size: 18px;
			line-height: 27px;
			text-transform: uppercase;
			color: $blue;
		}

		hr {
			border-color: #eee;
			margin-bottom: 30px;
			margin-top: 32px;
		}
	}

	& + .intro-text {
		margin-top: -36px;
	}

	&.bg-color-gray {
		background-color: #f5f5f5;
	}
	&.bg-color-white {
		background-color: #fff;
	}
}
.the-activity + .intro-text {
	margin-top: -36px;
}

@include mq_up($md) {
	.intro-text {
		padding: 60px 0px 58px 0px;

		.heading-rule {
			width: 120px;
		}

		img.background-image {
			height: 125%;
			&.align-left {
				left: 30px;
				margin-left: 0px;
			}
			&.align-right {
				right: 30px;
				margin-right: 0px;
			}
		}

		h2 {
			margin-bottom: 26px;
		}

		.the-content.column-1 {
			max-width: 700px;
			margin: 0px auto;
			p {
				font-size: 21px;
				line-height: 30px;
			}
		}
		.the-content {
			p {
				font-size: 15px;
				line-height: 24px;
			}

			h3 {
				font-size: 30px;
				line-height: 42px;
				margin-bottom: 18px;
			}

			h4 {
				font-size: 21px;
				line-height: 30px;
			}

			.col-content {
				hr:last-of-type {
					display: none;
				}
			}
		}

		& + .intro-text {
			margin-top: -60px;
		}
	}
	.the-activity + .intro-text {
		margin-top: -60px;
	}
}
// mq_up_md

@include mq_up($lg) {
	.intro-text {
		padding: 72px 0px 69px 0px;

		h2 {
			margin-bottom: 36px;
		}

		img.background-image {
			&.align-left {
				left: 0px;
				margin-left: -40px;
			}
			&.align-right {
				right: 0px;
				margin-right: -40px;
			}
		}

		.the-content {
			p {
				font-size: 15px;
				line-height: 24px;
			}

			h3 {
				font-size: 36px;
				line-height: 48px;
				margin-bottom: 18px;
			}

			h4 {
				font-size: 21px;
				line-height: 30px;
			}
		}

		& + .intro-text {
			margin-top: -72px;
		}
	}
	.the-activity + .intro-text {
		margin-top: -72px;
	}
}
// mq_up_lg
