.megamenu {
	position: absolute;
	z-index: 100;
	top: 72px;
	left: 0px;
	width: 100%;
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 42px;
	box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.18);
	display: none;

	label {
		margin-bottom: 18px;
		opacity: 0.6;
	}

	ul.the-menu {
		@include reset_ul_block;
		border-top: 1px solid #eee;
		margin-bottom: -1px;
		margin-left: -18px;
		margin-right: -18px;

		> li {
			border-bottom: 1px solid #eee;
			position: relative;
			display: block;
			padding: 14px 18px 7px 18px;
			a {
				text-decoration: none;
				font-family: $font2;
				font-weight: $fw-semibold;
				font-size: 18px;
				line-height: 1.2;
				color: $navy-blue;
				border-bottom: 1px solid rgba($wpi-red, 0);

				&:hover,
				&:focus {
					text-decoration: none;
					color: $wpi-red;
					border-bottom: 1px solid $wpi-red;
				}
			}

			&.menu-item-has-children {
				> a {
					> .children-button {
						border: none;
						display: block;
						position: absolute;
						right: 18px;
						top: 3px;
						width: 40px;
						height: 40px;
						background: url(../../img/icon-plus.svg) center center no-repeat;
						background-size: 12px;
					}
				}

				> ul.sub-menu {
					@include reset_ul_block;
					margin-top: 10px;
					padding-top: 10px;
					border-top: 1px solid #eee;
					display: none;
					> li {
						display: block;
						margin-bottom: 18px;
						padding: 0px 18px 0px 30px;

						&:last-child {
							margin-bottom: 0px;
						}
					}
				}

				&.active {
					> a {
						> .children-button {
							background: url(../../img/icon-minus.svg) center center no-repeat;
						}
					}
				}
			}
		}
	}

	.the-button {
		width: 100%;
		font-size: 18px;
		margin-bottom: 12px;
		[class^=icon-]:before, 
		[class*=" icon-"]:before {
			display: inline;
		}
	}

	.col-megamenu {
		margin-bottom: 30px;
	}
	
	.search-form {
		margin-bottom: 40px;
		font-family: $font2;
		.input-group {
			position: relative;
			&::before {
				content: "";
				display: block;
				width: 18px;
				height: 18px;
				background-image: url("../../img/icon-search.svg");
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				left: 28px;
				top: 19px;
				z-index: 4;
			}
		}
		.search-field {
			font-family: $font2;
			height: 56px;
			padding: 15px 15px 15px 60px;
			border-color: #ddd;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			color: #374d5a;
			
			&::placeholder { 
				color: #374d5a;
			}
		}
		input[type="submit"] {
			color: $white;
			background: $blue;
			padding-left: 30px;
			padding-right: 30px;
			text-transform: uppercase;
			font-family: $font2;
			font-weight: $fw-semibold;
			letter-spacing: 0.1em;
			font-size: 20px;
			border: none;
			border-radius: 0;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			&:hover {
				background: $navy-blue;
			}
		}
	} // .search-form
	
} // .megamenu

@include mq_down($sm) {
	
	.container {
		.row-search-form {
			.col-md-12 {
				padding: 0;
			}
		}
	}
	
	.megamenu {
		.search-form {
			.search-field {
				border-radius: 0;	
				border-left: none;
				border-right: none;
			}
			margin-bottom: 20px;
			input[type="submit"] {
				display: none;	
			}
		}
	}
	
} // mq_down_sm

@include mq_up($sm) {
	.megamenu {
		ul.the-menu {
			margin-left: 0px;
			margin-right: 0px;
			li {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}

	.col-megamenu {
		margin-bottom: 0px;
	}
}
// mq_up_sm

@include mq_up($md) {
	.megamenu {
		top: 124px;
		padding-top: 43px;
		padding-bottom: 47px;

		.the-button {
			padding-left: 5px;
			padding-right: 5px;
		}

		ul.the-menu > li.menu-item-has-children > a > .children-button {
			right: 0px;
		}

		label {
			margin-bottom: 30px;
		}

		.wpi-menu-col.external-links {
			.wrapper {
				label {
					margin-bottom: 19px;
				}
				max-width: 300px;
			}
		}
	}
}
// mq_up_md
