.socialmedia-links {
	background-color: #f5f5f5;
	padding: 30px 0px;
	text-align: center;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	ul {
		@include reset_ul_block;
		li {
			margin-bottom: 20px;
			a {
				font-family: $font2;
				font-size: 18px;
				font-weight: $fw-bold;
				text-transform: uppercase;
				text-decoration: none;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					width: 22px;
					height: auto;
					margin-right: 13px;
					margin-top: -2px;
				}
			}

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

	&.bg-white {
		background-color: $white;
	}
	&.bg-wpi-red {
		background-color: $wpi-red;
	}
	&.bg-blue {
		background-color: $blue;
	}
	&.bg-black {
		background-color: $black;
	}
	&.bg-navy-blue {
		background-color: $navy-blue;
	}
	&.bg-purple {
		background-color: $purple;
	}
	&.bg-green {
		background-color: $green;
	}
	&.bg-gray {
		background-color: $gray;
	}
	&.bg-orange-red {
		background-color: $orange-red;
	}
	&.bg-yellow {
		background-color: $yellow;
	}

	& + .the-activity {
		margin-top: 36px;
	}
}

@include mq_up($sm) {
	.socialmedia-links {
		ul {
			@include reset_ul;
			justify-content: center;
			li {
				margin: 0px 35px;

				&:first-child {
					margin-left: 0px;
				}
				&:last-child {
					margin-right: 0px;
				}

				a {
					&:hover,
					&:focus {
						opacity: 0.8;
					}
				}
			}
		}
	}
}
// mq_up_sm

@include mq_up($md) {
	.socialmedia-links {
		padding: 22px 0px;

		ul {
			li {
				a {
					letter-spacing: 1px;
				}
			}
		}

		& + .the-activity {
			margin-top: 60px;
		}
	}
}
// mq_up_md

@include mq_up($lg) {
	.socialmedia-links {
		& + .the-activity {
			margin-top: 72px;
		}
	}
}
// mq_up_lg
