.sponsors {
	padding: 60px 0px 36px 0px;
	//margin: 0px 0px 36px 0px;

	.heading-rule {
		width: 90px;
		height: 6px;
		margin: 0px auto 18px auto;
	}

	img.background-image {
		max-width: 150px;
		position: absolute;
		z-index: -1;
		@include vertical-align;
		object-fit: contain;

		&.align-left {
			left: 0px;
			margin-left: -70px;
		}
		&.align-right {
			right: 0px;
			margin-right: -70px;
		}
	}

	.section-title {
		margin-bottom: 11px;
	}

	.sponsor-logos {
		margin-left: -10px;
		margin-right: -10px;
		.the-logo {
			width: 50%;
			padding: 7px 5px;
			a {
				padding: 15px;
				height: 180px;
				text-decoration: none;
				box-shadow: 1px 1px 5px rgba(#000, 0.2);
				border-radius: 5px;
			}
		}
	}

	.the-button {
		margin-top: 23px;
		width: 100%;
	}

	&.bg-color-gray {
		background-color: #f5f5f5;
	}
	&.bg-color-white {
		background-color: #fff;
	}
}

@include mq_up($md) {
	.sponsors {
		padding: 86px 0px 60px 0px;
		//margin: 0px 0px 60px 0px;

		.heading-rule {
			width: 120px;
		}

		img.background-image {
			max-width: 300px;
			height: auto;
			&.align-left {
				left: 30px;
				margin-left: 0px;
			}
			&.align-right {
				right: 30px;
				margin-right: 0px;
			}
		}

		.section-title {
			margin-bottom: 5px;
		}

		.the-button {
			width: auto;
		}

		.sponsor-logos {
			.the-logo {
				width: 20%;
				a {
					height: 190px;
					box-shadow: none;

					&:hover,
					&:focus {
						box-shadow: 1px 1px 7px rgba(#000, 0.2);
					}
				}
				&.size-large {
					width: 33.33%;
					a {
						height: 290px;
						img {
							width: 80%;
						}
					}
				}
			}
		}
	}
}
// mq_up_md

@include mq_up($lg) {
	.sponsors {
		padding: 72px 0px;
		//margin: 0px 0px 72px 0px;

		img.background-image {
			max-width: 320px;
			max-height: 320px;
			height: auto;
			&.align-left {
				left: 0px;
				margin-left: -40px;
			}
			&.align-right {
				right: 0px;
				margin-right: -40px;
			}
		}

		.sponsor-logos {
			.the-logo {
				a {
					height: 220px;
				}

				&.size-large {
					width: 366px;
					a {
						height: 366px;
						img {
							width: 80%;
						}
					}
				}
			}
		}
	}
}
// mq_up_lg
