.clearfix-bottom:after,
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clear,
.clearfix-bottom:after,
.clearfix:after {
	clear: both;
}



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	margin: 0;
	padding: 0;
}
iframe {
	max-width: 100%;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote {
	&:before, &:after {
	  content: "";
	  content: none;
	}
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: underline;
	&:hover {
		text-decoration-skip: objects;
		text-decoration: none;
	}
}



body {
	background: $body-background-color;
}

.container {
	max-width: $container-total-width;
	margin: 0 auto;
	position: relative;
	padding: 0 $container-padding;
}

.container-smaller {
	max-width: $container-smaller-width-px;
}

.container-larger {
	max-width: $container-larger-width-px;
}

.container-full {
	max-width: $container-full-width-px;
	padding: 0 40px;
}

.container-inner {
	position: relative;
}

.container-no-padding {
	padding-left: 0;
	padding-right: 0;
}

a {
	color: $link-color;
	&:hover {
		color: $link-hover-color;
	}
}

#header,
#main,
#footer {
	position: relative;
}

#header {
	z-index: 100;
}
#main {
	z-index: 10;
}
#footer {
	z-index: 5;
}

#page {
	position: relative;
	overflow: hidden;
}

svg,
img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.display-table,
.table-view {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}
.display-cell,
.cell-view {
	display: table-cell;
	vertical-align: middle;
}

button,
a {
	transition: all 0.2s ease;
}

.to-uppercase {
	text-transform: uppercase;
}

.phone-only,
.tablet-only {
	display: none;
}

.desktop-only {
	display: block;
}

a .icon::before {
	text-decoration: none;
}



/*==============================================================
## Responsive
==============================================================*/
@media (max-width: $tablet-max-width) {
	.container:not(.container-no-padding) {
		padding-left: $container-padding-tablet;
		padding-right: $container-padding-tablet;
	}
	.container.container-larger,
	.container.container-full {
		padding-left: 28px;
		padding-right: 28px;
	}
	.container.container-no-padding {
		padding: 0;
	}
	.desktop-only,
	.phone-only {
		display: none;
	}
	.tablet-only {
		display: block;
	}
}


@media (max-width: $phone-max-width) {
	.container:not(.container-no-padding) {
		padding-left: $container-padding-phone;
		padding-right: $container-padding-phone;
	}
	.container.container-larger,
	.container.container-full {
		padding-left: 17px;
		padding-right: 17px;
	}
	.container.container-no-padding {
		padding: 0;
	}
	.desktop-only,
	.tablet-only {
		display: none;
	}
	.phone-only {
		display: block;
	}
}
