.bg-color-none {
	background-color: $white;
}
.bg-color-brand-red {
	background-color: $red;
}
.bg-color-brand-black {
	background-color: $black;
}
.bg-color-ming {
	background-color: $ming;
}
.bg-color-gray {
	background-color: $gray;
}

.fg-color-light {
	color: $white;
	a {
		color: $white;
	}
	.btn,
	.button {
		background-color: $white;
		border-color: $white;
		color: $black !important;
		&:hover {
			background-color: #EEEEEE;
			border-color: #EEEEEE;
			color: $black !important;
		}
	}
	.btn-outline,
	.button-outline {
		background-color: transparent;
		color: $white !important;
		&:hover {
			background-color: $white;
			border-color: $white;
			color: $black !important;
		}
	}
}

.section-with-bg-image {
	position: relative;
	.container {
		z-index: 5;
	}
	.section-bg {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: relative;
			z-index: 1;
		}
	}
}

.section-bg::before {
	content: '';
	position: absolute;	
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 3;
	opacity: 0.9;
}

.bg-color-none .section-bg::before {
	background-color: #000000;
	opacity: 0.3;
}
.bg-color-brand-red .section-bg::before {
	background-color: $red;
}
.bg-color-brand-black .section-bg::before {
	background-color: $black;
}
.bg-color-ming .section-bg::before {
	background-color: $ming;
}