body {
	font-family: $font-family-default;
	color: $text-color;	
	line-height: $line-height;
	font-weight: $font-weight;
	font-size: rem($font-size);
}

.font-size-medium {
	font-size: rem(18px);
	line-height: (30 / 18);
}

.font-size-large {
	font-size: rem(21px);
	line-height: (33 / 21);
}

.font-minion-large {
	@include font-minion;
	font-size: rem(30px);
	line-height: (42 / 30);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-heading;
	font-weight: $semi-bold;
	color: $heading-color;
	line-height: 1;
}
h1, .h1 {
	font-size: rem(84px);
	line-height: (84 / 84);
	@include font-condensed;
	letter-spacing: 0.071em;
	text-transform: uppercase;
}
h2, .h2 {
	font-size: rem(48px);
	line-height: (60 / 48);
}
h3, .h3 {
	font-size: rem(36px);
	line-height: (42 / 36);
}
h4, .h4 {
	font-size: rem(30px);
	line-height: (36 / 30);
}
h5, .h5 {
	font-size: rem(24px);
	line-height: (33 / 24);
}
h6, .h6 {
	font-size: rem(21px);
	line-height: (33 / 21);
}

@media (max-width: $tablet-max-width) {	

	.font-size-large {
		font-size: rem(18px);
		line-height: (30 / 18);
	}
	
	.font-minion-large {
		font-size: rem(27px);
		line-height: (39 / 27);
	}
	
	h1, .h1 {
		font-size: rem(60px);
		line-height: (60 / 60);
		letter-spacing: 0.0666em;
	}
	h2, .h2 {
		font-size: rem(42px);
		line-height: (48 / 42);
	}
	h3, .h3 {
		font-size: rem(33px);
		line-height: (42 / 33);
	}
	h4, .h4 {
		font-size: rem(24px);
		line-height: (33 / 24);
	}
	h5:not(.no-resize), .h5:not(.no-resize) {
		font-size: rem(21px);
		line-height: (33 / 21);
	}
	h6, .h6 {
		font-size: rem(18px);
		line-height: (30 / 18);
	}
	
}

@media (max-width: $phone-max-width) {	
	
	.font-size-mobile-small,
	.font-size-medium {
		font-size: rem(16px);
		line-height: (24 / 16);
	}
	
	.font-minion-large {
		font-size: rem(16px);
		line-height: (24 / 16);
	}
	
	h1, .h1 {
		font-size: rem(48px);
		line-height: (48 / 48);
		letter-spacing: 0.07143em;
	}
	h2, .h2 {
		font-size: rem(30px);
		line-height: (42 / 30);
	}
	h3, .h3 {
		font-size: rem(27px);
		line-height: (39 / 27);
	}	
	h5.no-resize-tablet-only, .h5.no-resize-tablet-only {
		font-size: rem(18px);
		line-height: (24 / 18);
	}
}