$margin-bottom: 1em;

.the-content {
	
	/* -- Font -- */
	font-size: $font-size-default;
	line-height: $line-height-default;	
	
	/* -- Heading -- */
	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		margin: 0 0 5px;
	}
	h1 {
		font-size: 32px;	
	}	
	h2 {
		font-size: 26px;		
	}
	h3 {
		font-size: 20px;
		margin: 0 0 9px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 16px;
	}
	
	ol {
		padding-left: 3em;
		list-style: decimal;
	}
	ul {
		list-style: none;
		position: relative;
	}
	ul > li {
		padding-left: 1em;		
		position: relative;
		font-size: 0.866em;
		padding-bottom: 0.5em;
		color: #525252;
		font-weight: 600;
	}
	ul li ul {
		padding: 0.8em 0 0.8em 1em;
	}
	ul li li {
		font-size: 1em;
	}
	
	ul > li:before {
		content: "•";
		position: relative;
		top: 0;
		color: #EBBF19;
		margin-left: -1em;
		margin-right: 0.65em;
	}
	li ol {
		padding-bottom: 0;
		margin-bottom: 0;
		padding-left: 20px;
	}
	sup,
	sub {
		font-size: 10px;
	}
	
	
	/* -- Margin -- */
	blockquote,
	table,
	p,
	ul,
	ol,
	dd,
	pre,
	hr {
		margin-bottom: $margin-bottom;
	}
	ul ul,
	ol ol,
	ul ol,
	ol ul {
		margin-bottom: 0;
	}

	blockquote {
		background: #F2F2F2;
		color: #525252;
		font-size: 18px;
		font-style: italic;
		padding: 20px 30px;
	}
	blockquote > p:last-child {
		margin-bottom: 0;
	}
	blockquote cite {
		display: block;
		color: #525252;
		font-size: 14px;
		font-style: normal;
		text-align: right;
	}
	
}



img,
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin: 9px 29px 0 0;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin: 9px 0 0 29px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.wp-caption {
	margin-bottom: 19px;
	max-width: 100% !important; /* prevent too-wide images from breaking layout */
	padding:0;
	text-align: left;
}
.wp-caption img {
	margin-top: 12px;
	vertical-align: top;
}
.wp-caption p.wp-caption-text {
    font-size: 14px;   
	font-style: italic;
	margin-top: 8px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}

.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}

.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}