// Container Sizes
	$container-desktop: 1100px;
	$container-full: 1300px;

// Default Colors
	$color-default: #333333;
	$color-link-default: #1778A4;
	$color-heading-default: #333333;
	
// // Typography
	// $font-family-default: "myriad-pro-n4", "myriad-pro", arial, sans-serif;
	// $font-size-default: 14px;
	// $line-height-default: 1.25;
	// $font-family-heading-default: "myriad-pro-n4", "myriad-pro", arial, sans-serif;
	// $condensed: "myriad-pro-condensed-n4", "myriad-pro-condensed", arial, sans-serif;

// Typography
	$font-family-default: "myriad-pro";
	$font-size-default: 14px;
	$line-height-default: 1.25;
	$font-family-heading-default: "myriad-pro";
	$condensed: "myriad-pro-condensed";
	
// Background & Color
	$body-background: #ffffff;
	
// Borders
	$border-red: 2px solid #b9293a;