.thumbnails { background: #EEF2F2; border: 1px solid #858F95; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; clear: both; float: left; padding: 10px 10px 5px;  font-size: 11px; line-height: 1.6em; }
.thumbnails img { margin: 5px 0px 10px; width: 140px; height: 140px; }
.payment_methods { background:#EEF2F2; }
ul.payment_methods li { list-style: none; }