/*
Theme Name: Slice of Pi
*/

/*==============================================================
## Imports
==============================================================*/
	@import 'inc/meyer-reset';
	@import 'inc/variables';
	@import 'inc/basic-styles';	
	@import 'inc/the-content';

	
/*==============================================================
## Header
==============================================================*/
	#header {
		position: fixed;
		width: 100%;
		//display: none;
	}
	.bg-header-left {
		background: url(images/triangle-top-left.png) left -1px no-repeat;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 178px;
	}
	.bg-header-right {
		background: url(images/triangle-top.png) right top no-repeat;
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		width: 954px;
		height: 177px;
	}
	.bg-header-right-bottom {
		background: url(images/triangle-top.png) right bottom no-repeat;
		position: absolute;
		z-index: 2;
		top: 177px;
		right: 0;
		width: 258px;
		height: 66px;
	}
	.header-container {
		position: relative;
		z-index: 9;
	}	
	
	.header-right {
		float: right;
		padding: 30px 30px 0 0;
	}
	.header-left {
		float: left;
		width: 50%;
	}
	#show-menu {
		display: none;
	}
	#logo-wrap {
		padding: 13px 0 15px;
		float: left;
	}
	#logo {
		width: 296px;
		a {
			display: block;
			img {
				vertical-align: top;
			}
			span.site-name {
				display: none;
			}
		}
	}
	.wpi-logo {
		padding: 22px 0 0 50px;
		img {
			vertical-align: top;
			width: 149px;
		}
	}
	
	#nav {
		padding: 19px 0 0 41px;
		li {
			float: left;
			font-family: $condensed;
			font-weight: 700;
			color: #ffffff;
			font-size: 25px;
			text-transform: uppercase;
			padding: 27px 10px 10px;
			a {
				color: #ffffff;
				display: block;
				
				&:hover { color: #343434; }
			}			
		}
		li.current-active-nav {
			background: url(images/triangle-active.png) center top no-repeat;
		}
	}
	
	.header-left-top {
		min-height: 175px;
	}
	
	.header-left-bottom {
		padding: 0 0 0 32px;
		position: relative;
		width: 500px;
	}
	
	.hlb-nav {
		position: absolute;
		width: 100%;
		
		-moz-transform: rotate(-2.8deg);  /* FF3.5/3.6 */
		-o-transform: rotate(-2.8deg);  /* Opera 10.5 */
		-webkit-transform: rotate(-2.8deg);  /* Saf3.1+ */
		-ms-transform: rotate(-2.8deg);
		transform: rotate(-2.8deg);  /* Newer browsers (incl IE9) */		

		-moz-transform-origin: left top;
		-o-transform-origin: left top;
		-webkit-transform-origin: left top;
		-ms-transform-origin: left top;
		transform-origin: left top;
		
		li {
			background: #BEC440;
			float: left;
			font-family: $condensed;
			font-weight: 700;
			color: #ffffff;
			font-size: 21px;
			line-height: 1.1;
			text-transform: uppercase;			
			margin-right: 9px;
			min-width: 106px;
			text-align: center;
			border-top: 3px solid #798134;
			a {
				padding: 0 20px 3px;
				color: #ffffff;
				display: block;
			}	
			&:hover,
			&.hover {
				background: #798134;
				border-color: #BEC440;
				
				a {
					color: #dddf8f;
				}
			}
			
			&.link-2 {
				background: #30A7DF;
				border-color: #1778A4;
				
				&:hover,
				&.hover {
					background: #1778A4;
					border-color: #30A7DF;
					
					a {
						color: #b6d8f2;
					}
				}
			}
			&.link-3 {
				background: #DC6126;
				border-color: #8F381E;
				
				&:hover,
				&.hover {
					background: #8F381E;
					border-color: #DC6126;
					
					a {
						color: #e79672;
					}
				}
			}
		}
		
	}
	
	


/*==============================================================
## Main
==============================================================*/

	.section-title {
		float: right;
		padding-right: 108px;
		color: #777777;
		.st-number {
			background: url(images/bg_num_yellow.png) no-repeat;
			float: left;
			width: 45px;
			height: 70px;
			position: relative;
			.st-number-num {
				font-size: 26px;
				font-family: $condensed;
				color: #ffffff;
				text-align: right;
				position: absolute;
				right: 11px;
				bottom: 6px;
				-webkit-transform: rotate(27deg);
				-moz-transform: rotate(27deg);
				-ms-transform: rotate(27deg);
				-o-transform: rotate(27deg);
				transform: rotate(27deg);  /* Newer browsers (incl IE9) */
				-webkit-transform-origin: right bottom;
				-moz-transform-origin: right bottom;
				-ms-transform-origin: right bottom;
				-o-transform-origin: right bottom;
				transform-origin: right bottom;
			}
		}
		h2 {
			font-size: 30px;
			float: left;
			font-family: $condensed;
			text-transform: uppercase;
			line-height: 1.2;
			padding: 29px 0 0 9px;
		}
	}
	
	.section-page {
		position: relative;
		z-index: 1;
	}
	
	.bottom-decoration {
		position: absolute;
		text-align: center;
		width: 100%;
		left: 0;
		bottom: -28px;
		img {
			vertical-align: top;
		}
	}


	/* ----------------------------------------------------------
	** Episodes
	---------------------------------------------------------- */
	.section-episodes {
		background: #75CDDD url(images/bg_blue.jpg) center top no-repeat;
		padding: 259px 0 22px;
		
		.section-title h2 {
			color: #ffffff;
		}
	}
	
	.episodes-container {
		width: 879px;
		margin: 0 auto;
		padding: 66px 0 0;
	}
	
	.main-vid {
		background: #333333;
		height: 470px;
		margin-bottom: 19px;
		color: #ffffff;
		
		iframe {
			width: 100% !important;
			height: 100% !important;
		}
	}
	.main-vid-desc {
		background: #BEC440;
		color: #ffffff;
		font-size: 14px;
		line-height: 1.357;
		font-style: italic;
		padding: 11px 62px 18px;
		
		.video-desc-title {
			font-size: 20px;
			font-weight: 700;
			padding: 0 0 7px;
			span {
				font-style: normal;
				font-weight: 400;
				color: #1778A4;
			}
		}
	}
	.episodes-thumb-wrap {
		margin: 0 -32px;
		padding: 22px 0;
	}
	.episode-entry {
		float: left;
		width: 50%;
		padding: 0 32px 19px;
	}
	.et-vid {
		background: #333333;
		height: 250px;
		margin-bottom: 13px;
		overflow: hidden;
		position: relative;
		a {
			display: block;
		}
		img.youtube-thumbnail {			
			width: 100%;
			position: relative;
			z-index: 1;
			top: -28px;
			vertical-align: top;
		}
		img.yt-play {
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			width: 49px;
			height: auto;
			margin: -28px 0 0 -24px;
		}
	}
	.et-vid-desc {
		color: #ffffff;
		font-family: $condensed;
		font-size: 12px;
		line-height: 1.25;
		.video-desc-title {
			font-size: 16px;
			font-weight: 700;
			padding: 0 0 5px;
			font-family: $font-family-default;
			span {
				font-style: normal;
				font-weight: 400;
				color: #1778A4;
			}
		}
		p {
			font-size: 16.5px;
		}
	}
	.vid-mobile-wrap {
		display: none;
	}
	.evd-mobile {
		display: none;
	}
	
	/* ----------------------------------------------------------
	** About
	---------------------------------------------------------- */
	.section-about {
		background: #ffffff url(images/bg_white1.jpg) center top no-repeat;
		padding: 65px 0 22px;
		
		.section-title .st-number {
			background: url(images/bg_num_red.png) no-repeat;
		}
	}
	.container-about {
		margin: 107px 0 0;
		position: relative;
	}
	.container-about-bg {
		text-align: center;
		width: 100%;
		position: absolute;
		z-index: 1;
	}
	.about-content-wrap {
		max-width: 878px;
		margin: 0 auto;
	}
	.about-banner {
		position: relative;
		z-index: 9;
		margin: 0 -17px;
		padding: 54px 0 20px;
	}
	.banner-image {
		width: 33.333%;
		float: left;
		padding: 0 17px 0;
		img {
			vertical-align: top;
		}
	}
	
	.about-content {
		padding: 40px 0 71px;
		font-size: 14px;
		color: #989798;
		line-height: 1.1428;
		position: relative;
		em {
			color: #777777;
			line-height: 1.357;
		}
		blockquote,
		table,
		p,
		ul,
		ol,
		dd,
		pre,
		hr {
			margin-bottom: 1em;
			line-height: 1.4em;
		}
	}
	.about-left,
	.about-right {
		width: 335px;
		position: relative;
		z-index: 9;
		img {
			margin-bottom: 14px;
		}
	}
	.about-left {
		float: left;
	}
	.about-right {
		float: right;
	}
	.cast-decor,
	.ac-decor {
		position: absolute;
		z-index: 1;
		text-align: center;
		width: 100%;
		left: 0;
		top: 50%;
	}
	
	/* ----------------------------------------------------------
	** Cast
	---------------------------------------------------------- */
	.section-cast {
		background: #F9D84C url(images/bg_yellow.png) center top no-repeat;
		padding: 119px 0 22px;
		
		.section-title .st-number {
			background: url(images/bg_num_green.png) no-repeat;
		}
		.section-title h2 {
			color: #ffffff;
		}
	}
	.cast-content {
		margin: 0 auto;
		max-width: 880px;
	}
	.cm-photo {
		text-align: center;
		img {
			vertical-align: top;
		}
	}
	.cast-member-wrap {
		position: relative;
		padding: 63px 0 80px;
	}
	.cast-member {
		width: 385px;
		position: relative;
		z-index: 9;
		.cm-name {
			text-align: center;
			font-size: 20px;
			font-style: italic;
			color: #6D5FA9;
			text-transform: uppercase;
			padding: 5px 0 0;
		}
		.cm-twitter {
			text-align: center;
			font-size: 15px;
			color: #A39DB8;
			font-style: italic;
			a {
				color: #A39DB8;
				&:hover {
					color: #30a7df;
				}
			}
		}
		.cm-desc {
			color: #4A4077;
			font-size: 14px;
			line-height: 1.4em;
			padding: 20px 0;
		}
	}
	.cm-left {
		float: left;
	}
	.cm-right {
		float: right;
	}
	.cast-decor {
		top: 161px;
	}
	
	
	/* ----------------------------------------------------------
	** Find Out More
	---------------------------------------------------------- */
	.section-find-out-more {
		background: #FFFFFF url(images/bg_white2.png) center top no-repeat;
		padding: 60px 0 30px;
		
		.section-title .st-number {
			background: url(images/bg_num_blue.png) no-repeat;
		}		
	}
	.content-find-out-more {
		max-width: 796px;
		margin: 0 auto 0;
		position: relative;
		line-height: 1.428;
		h3 {
			line-height: 1.25;
		}
	}
	.contact-form {
		background: #ffffff;
		border: 1px solid #B7B7B7;
		margin: 50px 0 0;
		
		input[type="text"],
		textarea,
		input[type="email"] {
			width: 100%;
			height: 65px;
			border: 1px solid #BEC440;
			color: #777777;
			font-weight: 700;
			font-size: 26px;
			line-height: 1;
			margin-bottom: 35px;
			font-family: inherit;
			padding: 5px 5px 0 17px !important;
		}
		textarea {
			margin-bottom: 20px;
			padding-top: 17px !important;
		}
		.submit-wrap {
			text-align: right;
			position: relative;
		}
		input.wondering {
			margin-bottom: 20px !important;
		}
		input[type="submit"] {
			background: url(images/bg_submit.png) no-repeat;
			width: 193px;
			height: 42px;
			text-align: center;
			border: 0;
			font-size: 28px;
			text-transform: uppercase;
			text-align: center;
			padding: 1px 5px 0;
			font-family: inherit;
			font-weight: 700;
			color: #ffffff;
			cursor: pointer;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			border-radius: 0;
			&:hover {
				background: #dc6126;
			}
		}
		textarea.active-floatlabel,
		input.active-floatlabel {
			padding: 20px 9px 0 !important;
		}
		textarea.active-floatlabel {
			padding: 23px 10px 0 !important;
		}
		.fields-wrap .half {
			float: left;
			width: 49%;
		}
		.fields-wrap .half-right {
			float: right;
		}
		.form-radio label,
		.label-floatlabel {
			font-size: 11px !important;
			font-weight: 400 !important;
			color: #989798 !important;
			font-style: italic !important;
			top: 6px !important;
			left: 9px !important;
		}
		.form-radio label {
			display: block;
			font-size: 14px !important;
		}
		::-webkit-input-placeholder {
			color: #989798;
			opacity: 0.5;
			font-weight: 400;
			font-style: italic;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: #989798;
			opacity: 0.5;
			font-weight: 400;
			font-style: italic;
		}
		::-moz-placeholder {  /* Firefox 19+ */
			color: #989798;
			opacity: 0.5;
			font-weight: 400;
			font-style: italic;
		}
		:-ms-input-placeholder {  
			color: #989798;
			opacity: 0.5;
			font-weight: 400;
			font-style: italic;
		}
		
	}
	.form-column-left,
	.form-column-right {
		float: left;
		width: 45.5%;
	}
	.form-column-right {
		float: right;
	}
	.fields-wrap {
		padding: 32px 51px;
	}
	.the-content .form-heading,
	.form-heading {
		background: url(images/bg_form_heading.png) no-repeat;
		background-size: 100% 100%;
		font-size: 29px;
		font-family: $condensed;
		font-weight: 700;
		color: #ffffff;
		padding: 16px 20px 22px 53px;
		position: relative;
		margin: 0;
		
		&:before {
			content: ' ';
			background: url(images/arrow_down.png) no-repeat;
			position: absolute;
			left: 52px;
			bottom: -17px;
			width: 23px;
			height: 20px;
		}
	}
	
	.section-page:first-child {
		padding-top: 150px;
	}
	.section-page:last-child {
		padding-bottom: 195px;
	}
	
	div.wpcf7-response-output {
		position: relative;
		background: #AD2839;
		border: 0;
		margin: 65px 0 0;
		padding: 25px 35px;
		color: #ffffff;
		font-size: 20px;
		line-height: 1.15;
		
		h3 {
			font-size: 23px;
			font-weight: 700;
			line-height: 1.15;
			margin: 0 0 15px;
			padding: 0;
		}
		.button {
			background: url(images/bg_btn.png) no-repeat;
			display: inline-block;
			text-align: center;
			width: 196px;
			height: 38px;
			color: #ffffff;
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 38px;
			position: absolute;
			top: 50%;
			right: 27px;
			margin-top: -19px;
		}
	}
	
	.section-find-out-more {
		div.wpcf7-mail-sent-ok {
			padding-right: 240px;
		}
		span.wpcf7-form-control-wrap {
			display: block;
		}
		span.wpcf7-not-valid-tip {
			margin: -32px 0 14px;
		}
		div.wpcf7 img.ajax-loader {
			position: absolute;
			top: 11px;
			right: -22px;
		}
	}
	
	.section-find-out-more .graduation span.wpcf7-not-valid-tip {
		margin: -14px 0 18px;
	}
	
	.form-radio {
		margin-right: -27px;
		label {
			padding-bottom: 10px;
		}
		.wpcf7-form-control { display: block; }
		.iradio {
			background: #75CDDD;
			display: inline-block;
			padding: 6px 20px;
			cursor: pointer;
			font-size: 23px;
			font-weight: 700;
			color: #ffffff;
			margin-right: 27px;
			margin-bottom: 22px;
			&:hover {
				background: #30a7df;
			}
		}
		.checked {
			background: #1778A4;
		}
	}
	.fields-wrap p {
		margin: 0;
	}

/*==============================================================
## Footer
==============================================================*/
	#footer {
		//background: url(images/bg-footer.png) center top no-repeat;
		min-height: 363px;
		margin-top: -195px;
	}
	.footer-bg-left {
		background: url(images/triangle_footer_left.png) no-repeat;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 363px;
		z-index: 3;
	}
	.footer-bg-right {
		background: url(images/triangle_footer_right.png) right top no-repeat;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 247px;
		z-index: 1;
	}
	.container-footer {
		padding: 143px 33px 0 43px;
		position: relative;
		z-index: 9;
	}
	.footer-left {
		float: left;
		font-size: 14px;
		line-height: 1.235;
		color: #333333;
	}
	.footer-right {
		float: right;
		color: #ffffff;
	}
	.footer-logo {
		padding: 0 0 27px;
		img {
			vertical-align: top;
			width: 151px;
		}
	}
	.footer-address {
		padding: 0 0 4px;
	}
	.footer-links {
		li {
			float: left;
			font-weight: 700;
			color: #1778A4;
			border-left: 1px solid #1778A4;
			padding: 0 10px 2px;
			line-height: 1;
			a {
				color: #1778A4;
				text-decoration: underline;
			}
			&:first-child {
				border-left: 0;
				padding-left: 0;
			}
		}
	}
	.footer-social {
		max-width: 195px;
		padding: 37px 0 0;
		h3 {
			font-size: 15px;
			font-weight: 600;
			text-align: center;
			padding: 0 18px 6px 0;
		}
		a {
			float: left;
			display: block;
			color: #ffffff;
			font-size: 13px;
			margin-right: 17px;
			img {
				margin: 7px 0 0 0;
			}
			span {
				display: block;
				text-align: center;
				padding-top: 2px;
			}
		}
	}
	.footer-copyright {
		font-size: 11px;
		color: #798134;
		margin: -12px;
		text-align: center;
		max-width: 700px;
	}

	
/*==============================================================
## Responsive
==============================================================*/
	@import 'inc/responsive';