.icon-copy-share {
	*zoom: expression(
		this.runtimeStyle[ 'zoom' ] = '1',
		this.innerHTML = '&#xe802;&nbsp;'
	);
}
.icon-facebook-share {
	*zoom: expression(
		this.runtimeStyle[ 'zoom' ] = '1',
		this.innerHTML = '&#xe803;&nbsp;'
	);
}
.icon-link {
	*zoom: expression(
		this.runtimeStyle[ 'zoom' ] = '1',
		this.innerHTML = '&#xe804;&nbsp;'
	);
}
.icon-play-triangle {
	*zoom: expression(
		this.runtimeStyle[ 'zoom' ] = '1',
		this.innerHTML = '&#xe805;&nbsp;'
	);
}
.icon-twitter-share {
	*zoom: expression(
		this.runtimeStyle[ 'zoom' ] = '1',
		this.innerHTML = '&#xe806;&nbsp;'
	);
}
.icon-angle-left {
	*zoom: expression(
		this.runtimeStyle[ 'zoom' ] = '1',
		this.innerHTML = '&#xf104;&nbsp;'
	);
}
.icon-angle-right {
	*zoom: expression(
		this.runtimeStyle[ 'zoom' ] = '1',
		this.innerHTML = '&#xf105;&nbsp;'
	);
}
.icon-instagram {
	*zoom: expression(
		this.runtimeStyle[ 'zoom' ] = '1',
		this.innerHTML = '&#xf16d;&nbsp;'
	);
}
