.icon-copy-share:before {
	content: '\e802';
} /* '' */
.icon-facebook-share:before {
	content: '\e803';
} /* '' */
.icon-link:before {
	content: '\e804';
} /* '' */
.icon-play-triangle:before {
	content: '\e805';
} /* '' */
.icon-twitter-share:before {
	content: '\e806';
} /* '' */
.icon-angle-left:before {
	content: '\f104';
} /* '' */
.icon-angle-right:before {
	content: '\f105';
} /* '' */
.icon-instagram:before {
	content: '\f16d';
} /* '' */
