#footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	color: $color-white;
	height: rem(48px);
	line-height: rem(48px);
	text-align: center;
	background: $gray-09;
	z-index: 10;

	@media screen and (min-width: 600px) {
		height: rem(60px);
		line-height: rem(60px);
	}
	@media screen and (min-width: 800px) and (min-height: 800px + $footer-height ) {
		.home & {
			position: absolute;
		}
	}
	.single-topic:not(.topic-template-begin) & {
		background: #232227;

		@media screen and (min-width: 1199px) {
			.wrap {
				max-width: calc( 100% - 60px );
				text-align: left;
			}
		}
		@media screen and (min-width: 1420px) {
			.wrap {
				max-width: rem(1320px);
			}
		}
	}
	.wrap {
		display: block;
	}
	span {
		font-family: $myriad-pro;
		font-size: rem(14px);
		font-weight: 500;
		opacity: 0.5;
	}
}