#header {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	&.menu-open .scroller {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
			height: 100vh;
			overflow: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		    &::-webkit-scrollbar { 
		        display:none; 
		    }
	}
	.upper {
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		.wrap {
			max-width: 100%;
			z-index: 2;
			justify-content: flex-end;
		}
		.logo {
			position: absolute;
			top: rem(10px);
			left: rem(15px);
			z-index: 5;
			width: rem(120px);
			a {
				display: block;
				&:focus {
					opacity: 0.5;
					background: rgba(172,43,55,0.5);
				}
			}
			img {
				@include fluid-img;
			}
		}
		.ShowMenuClass {
			&:hover {
				color: $brand-red;
			}
		}
		.hover {
			position: absolute;
			left: 0;
			top: 0;
			background: $color-white;
			width: 100%;
			height: 0;
			z-index: 10;
			overflow: hidden;
			transition: all 0.3s linear;
			.label {
				font-size: rem(14px);
				text-transform: uppercase;
				color: $gray-09;
				font-family: $myriad-pro;
				font-weight: 700;
				letter-spacing: 1px;
				position: absolute;
				bottom: rem(24px);
				right: rem(70px);
			}
			&.active {
				height: 100%;
					.label {
						opacity: 1;
					}
			}
		}
		.btn-menu {
			@include remove-appearance;
			width: rem(60px);
			height: rem(60px);
			display: flex;
			background: $color-white;
			align-items: center;
			justify-content: center;
			z-index: 20;
			cursor: pointer;
			position: relative;
			&:focus,
			&:hover {
				span {
					&:first-child {
						opacity: 0;
					}
					&:last-child {
						opacity: 1;
					}
				}
				~ .hover {
					height: 100%;
					.label {
						opacity: 1;
					}
				}
				~ .border-l {
					left: 0;
				}
				~ .border-r {
					right: 0;
				}
				~ .border-b {
					bottom: 0;
					opacity: 1;
					display: block !important;
				}
			}
			span {
				display: block;
				width: 100%;
				transition: all 0.3s linear;
				img {
					@include fluid-img;
					margin: 0 auto;
					width: rem(30px);	
				}
				&:first-child {
					opacity: 1;
				}
				&:nth-child(2) {
					opacity: 0;
					@include center;
					// img {
					// 	width: rem(30px);	
					// }
				}
				&:last-child {
					opacity: 0;
					@include center;
					img {
						width: rem(34px);	
					}
				}
			}
		}
		[class^='border-'] {
			background: $color-white;
			display: block;
			width: rem(10px);
			height: 100vh;
			position: fixed;
			left: 0;
			top: 0;
			transition: all 0.3s linear;
		}
		.border-l {
			left: rem(-10px);
		}
		.border-r {
			left: auto;
			right: rem(-10px);
		}
		.border-b {
			width: 100%;
			height: rem(10px);
			top: auto;
			bottom: rem(-10px);
			opacity: 0;
			.scrolled & {
				display: none !important;
			}
		}


		@media screen and (min-width: 800px) {
			.logo {
				width: rem(150px);
				left: rem(30px);
				top: rem(16px);
			}
			.hover .label {
				bottom: rem(35px);
				right: rem(100px);
			}
			.btn-menu {
				width: rem(84px);
				height: rem(84px);
			}
		}
	}
	&.menu-open {
		.upper {
			span {
				&:first-child {
					opacity: 0;
				}
				&:nth-child(2) {
					opacity: 1;
				}
				&:last-child {
					opacity: 0 !important;
				}
			}
			.hover {
				height: 100%;
				.label {
					opacity: 1;
				}
			}
			.border-l {
				left: 0;
			}
			.border-r {
				right: 0;
			}
			.border-b {
				bottom: 0;
			}
		}
		.lower {
			top: rem(60px);

			@media screen and (min-width: 800px) {
				top: rem(84px);
			}
		}
	}
	.lower {
		// display: none;
		display: block;
		position: absolute;
		width: 100%;
		top: -400vh;
		left: 0;
		background: $color-white;
		padding: rem(22px) 0 rem(78px);
		box-sizing: border-box;
		// transition: all 0.5s linear;
		transition: all 1s ease-out;
		box-sizing: border-box;
		.wrap {
			max-width: calc( 100% - 36px );
			// background: cyan;
			display: block;
		}
		.site-footer {
			width: 100%;
			border-top: solid 1px #dddddd;
			height: rem(48px);
			line-height: rem(48px);
			text-align: center;
			font-family: $myriad-pro;
			font-size: rem(14px);
			font-weight: 500;
			text-align: center;
			opacity: 0.6;
			position: absolute;
			left: 0;
			bottom: 0;
			.wrap {
				display: block;
			}
		}

		@media screen and (min-width: 800px) {
			padding: 0 0 rem(120px);
			min-height: calc( 100vh - 84px );
			padding: rem(58px) 0 rem(120px);
			top: -150vh;
			.wrap {
				max-width: 100%;
				display: flex;
				justify-content: space-around;
			}
		}
		@media screen and (max-width: 1040px) {
			position: absolute;
		}
		@media screen and (min-width: 1040px) {
			.wrap {
				justify-content: space-between;
			}
			.site-footer {
				height: rem(60px);
				line-height: rem(60px);
			}
		}
		@media screen and (min-width: 1200px) {
			.wrap {
				max-width: rem(1200px);
			}
		}
		@media screen and (min-width: 1440px) {
			.wrap {
				max-width: rem(1440px);
			}
		}
		h6 {
			color: $gray-09;
			text-transform: uppercase;
			font-weight: 700;
			font-size: rem(14px);
			opacity: 0.6;
		}
		.topics {
			// margin: 0 0 0 rem(215px);
			margin: 0 0 rem(50px) rem(34px);			
			h6 {
				margin: 0 0 rem(25px);
			}
			ul {
				margin: 0;
				li {
					font-size: rem(24px);
					line-height: rem(28px);
					letter-spacing: -0.2px;
					font-family: $myriad-pro;
					margin: 0 0 rem(23px);
					&:last-child {
						margin: 0;
					}
					&.accent-yellow a {
						&:after {
							background: $accent-yellow;
						}
						.blimp {
							@include blimp-explore;
							.bl-inner {
								border-color: $accent-yellow;
								opacity: 0.8;
							}
							.bl-outer {
								border-color: $accent-yellow;
								opacity: 0.3;
							}	
							.bl-blink {
								border-color: $accent-yellow;
								opacity: 0.05;
							}	
						}
					}
					&.accent-light-blue a {
						&:after {
							background: $accent-light-blue;
						}
						.blimp {
							@include blimp-build;
							.bl-inner {
								border-color: $accent-light-blue;
								opacity: 0.6;
							}
							.bl-outer {
								border-color: $accent-light-blue;
								opacity: 0.15;
							}	
							.bl-blink {
								border-color: $accent-light-blue;
								opacity: 0.15;
							}
						}
					}
					&.accent-red a {
						&:after {
							background: $accent-red;
						}
						.blimp {
							@include blimp-innovate;
							.bl-inner {
								border-color: $accent-red;
								opacity: 0.15;
							}
							.bl-outer {
								border-color: $accent-red;
								opacity: 0.3;
							}
						}
					}
					&.accent-orange a {
						&:after {
							background: $accent-orange;
						}
						.blimp {
							@include blimp-thrive;
							.bl-outer {
								border-color: $accent-orange;
								opacity: 0.6;
							}	
						}
					}
					&.accent-purple a {
						&:after {
							background: $accent-purple;	
						}
						.blimp {
							@include blimp-achieve;
							.bl-outer {
								border-color: $accent-purple;
								opacity: 0.3;
							}
						}
					}
					&.accent-green a {
						&:after {
							background: $accent-green;
						}
					}
					&.accent-blue a {
						&:after {
							background: $accent-blue;
						}
					}
					&.accent-dark-blue a {
						&:after {
							background: $accent-dark-blue;
						}
					}
					&.accent-brand-red a {
						&:after {
							background: $brand-red;
						}
					}
					a:focus,
					&:hover a {
						&:after {
							width: 100%;
						}
					}
					&.current-menu-item a {
						&:after {
							width: 100%;
						}
						.blimp {
							display: block;
						}
					}
					a {
						display: inline-block;
						position: relative;
						color: $gray-09;
						&:after {
							content: "";
							display: block;
							width: 0;
							height: rem(3px);
							position: absolute;
							left: 0;
							bottom: rem(-2px);
							background: $brand-red;
							transition: 0.2s;
						}
						.blimp {
							width: rem(90px);
							height: rem(90px);
							margin: rem(3px) auto rem(10px);
							z-index: 10;
							@include center(y);
							left: rem(-73px);
							display: none;
						}
					}
				}
			}


			@media screen and (min-width: 1040px) {
				margin: 0 0 0 rem(125px);
				ul {
					li {
						font-size: rem(32px);
						line-height: rem(38px);
						a {
							.blimp {
								left: rem(-90px);
							}
						}
					}
				}
			}
			@media screen and (min-width: 1200px) {
				ul {
					li {
						font-size: rem(36px);
						line-height: rem(48px);
					}
				}
			}
			@media screen and (min-width: 1440px) {
				margin: 0 0 0 rem(215px);
			}			
		}
		.infos {
			// min-width: rem(420px);
			// margin: 0 rem(180px) 0 0;
			border-top: 2px #ddd solid;
			padding: rem(43px) 0 0;
			h6 {
				margin: 0 0 rem(28px);
			}
			ul {
				margin: 0 0 rem(30px);
				li {
					font-family: $myriad-pro;
					font-size: rem(18px);
					font-weight: 600;
					line-height: rem(24px);
					margin: 0 0 rem(17px);
					// &:nth-child(even) {
					// 	padding-left: rem(30px);
					// }
					&:last-child {
						margin: 0;
					}
					a {
						border: 2px #ddd solid;
						background: transparent;
						border-radius: 3px;
						margin: 0;
						padding: 0 14px 0 20px;
						min-height: rem(56px);
					  	display: flex;
					  	align-items: center;
					  	justify-content: space-between;
					  	max-width: rem(280px);
					  	box-sizing: border-box;
						span {
							font-family: $myriad-pro;
							font-size: rem(16px);
							line-height: rem(20px);
							color: $gray-09;
							letter-spacing: 0;
							margin: 0 rem(22px) 0 0;
							padding: 0;
							transition: 0.2s;
							display: block;
						}
						&:after {
							margin: 0 0 0 10px;
							transition: 0.2s;
							content: "";
							display: block;
							width: 24px;
							height: 34px;
							background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzLjIgKDcyNjQzKSAtIGh0dHBzOi8vc2tldGNoYXBwLmNvbSAtLT4KICAgIDx0aXRsZT5JY29ub2dyYXBoeS9DaGV2L3JpZ2h0PC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9Ikljb25vZ3JhcGh5L0NoZXYvcmlnaHQiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxwb2x5Z29uIGlkPSJmaWxsIiBmaWxsPSIjYWMyYjM3IiBwb2ludHM9IjkuNjM2MzYzNjQgNCAxNy42MzYzNjM2IDEyIDkuNjM2MzYzNjQgMjAgOCAxOC4zNjM2MzY0IDE0LjM2MzYzNjQgMTIgOCA1LjYzNjM2MzY0Ij48L3BvbHlnb24+CiAgICA8L2c+Cjwvc3ZnPg==") no-repeat 50%;
							background-size: rem(24px) auto;
						}
						&:focus,
						&:hover {
							&:after {
								margin-left: 0px;
								margin-right: 10px;
							}
							span {
								margin-left: 10px;
								margin-right: 12px;
							}
						}
					}
				}
			}
			.image-links {
				.btn-cta {
					margin: 0 0 rem(18px);
					&:last-child {
						margin: 0;
					}
				}
			}

			@media screen and (min-width: 800px) {
				margin: 0 rem(34px) 0 0;
				padding: 0;
				border: 0;
			}
			@media screen and (min-width: 1040px) {
				min-width: rem(420px);
				margin: 0 rem(90px) 0 0;
				ul li a {
					min-height: rem(72px);
					span {
						font-size: rem(18px);
						line-height: rem(24px);
					}
				}
			}
			@media screen and (min-width: 1440px) {
				margin: 0 rem(180px) 0 0;
			}
		}
	}
}