.loader-anim {
	width: 100%;
	height: 100vh;
	position: fixed;
	background: rgba(255,255,255,0);
	top: 0;
	left: 0;
	z-index: 5000;
	display: flex;
	transition: all 0.5s ease;
	opacity: 1;
    pointer-events: none;
	// body:not(.home) & {
	// 	display: none !important;
	// }

	@media screen and (max-width: 799px) {
		display: none !important;
	}
	&.start-anim .col {
		&:before,
		&:after {
			height: 0;
		}
	}
	&.start-anim-inner {
		transition: 1s;
		opacity: 1;
	}
	&.from-zero {
		opacity: 0;
		// transition: 0.5s;
	}
	&.from-white {
		opacity: 1;
		transition: 0.2s;
		// transition: 0.5s;
	}
	.col {
		width: 20%;
		height: 100%;
		position: relative;
		z-index: 2;
		&:before,
		&:after {
			content: "";
			width: 100%;
			background: $color-white;
			position: absolute;
			// height: calc( 50% - 2px );
			height: 50%;
			left: 0;
			transition: all .5s ease;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		&:nth-child(1) {
			&:before,
			&:after {

			}
		}
		&:nth-child(2) {
			&:before,
			&:after {
				transition-delay: 0.25s;
			}
		}
		&:nth-child(3) {
			&:before,
			&:after {
				transition-delay: 0.5s;
			}
		}
		&:nth-child(4) {
			&:before,
			&:after {
				transition-delay: 0.75s;
			}
		}
		&:nth-child(5) {
			&:before,
			&:after {
				transition-delay: 1s;
			}
		}
	}
}
.pace {
	pointer-events: none;
	user-select: none;
	z-index: 5413;
	@include center(y);
	width: 100%;
	height: rem(4px);
	background: $color-white;
	@media screen and (max-width: 799px) {
		display: none !important;
	}
	&.pace-inactive {
		display: none;
	}
	&.ie-11 {
		transform: none;
	}
	.pace-progress {
		background: $color-black;
		position: absolute;
		top: 0;
		right: 100%;
		width: 100%;
		height: rem(4px);
	}
}