html.disable-scroll, html.disable-scroll body {
	height: 100vh; 
	overflow: hidden;
}

.single-topic {
	// #barba-wrapper {
	// 	position: relative;
	// 	z-index: 12;
	// }	
	.row {
		&.next-topic {
			position: fixed;
			/* &.next-accent-red {
				.btn-tag {
				    color: $accent-red;
				    border-color: $accent-red;
				}
				h2 span:after {
					background: $accent-red;
				}
			}
			&.next-accent-light-blue {
				.btn-tag {
				    color: $accent-light-blue;
				    border-color: $accent-light-blue;
				}
				h2 span:after {
					background: $accent-light-blue;
				}
			}
			&.next-accent-purple {
				.btn-tag {
				    color: $accent-purple;
				    border-color: $accent-purple;
				}
				h2 span:after {
					background: $accent-purple;
				}
			}
			&.next-accent-yellow {
				.btn-tag {
				    color: $accent-yellow;
				    border-color: $accent-yellow;
				}
				h2 span:after {
					background: $accent-yellow;
				}
			}
			&.next-accent-orange {
				.btn-tag {
				    color: $accent-orange;
				    border-color: $accent-orange;
				}
				h2 span:after {
					background: $accent-orange;
				}
			}
			&.next-accent-green {
				.btn-tag {
				    color: $accent-green;
				    border-color: $accent-green;
				}
				h2 span:after {
					background: $accent-green;
				}
			}
			&.next-accent-blue {
				.btn-tag {
				    color: $accent-blue;
				    border-color: $accent-blue;
				}
				h2 span:after {
					background: $accent-blue;
				}
			}
			&.next-accent-dark-blue {
				.btn-tag {
				    color: $accent-dark-blue;
				    border-color: $accent-dark-blue;
				}
				h2 span:after {
					background: $accent-dark-blue;
				}
			}
			&.next-accent-brand-red {
				.btn-tag {
				    color: $accent-brand-red;
				    border-color: $accent-brand-red;
				}
				h2 span:after {
					background: $accent-brand-red;
				}
			} */
		}
	}
	@media screen and (max-width: 420px) { 
		// #body-classes ~ .row.content {
		// 	background: orange;
		// }	
		// #body-classes ~ .row.videos {
		// 	background: orange;
		// }	
		#body-classes.os-ios.iphone.hide-next-topic {
			// & ~ .row.content {
			// 	background: red;
			// }	
			// & ~ .row.videos {
			// 	background: cyan;
			// }			
			& ~ .row.next-topic {
				opacity: 0 !important;
			}
			& ~ .row.empty-space {
				opacity: 0 !important;
			}
		}
		#body-classes.os-ios.iphone.show-next-topic {
			& ~ .row.next-topic {
				opacity: 1 !important;
			}
			& ~ .row.empty-space {
				opacity: 1 !important;
			}
		}
	}
}

.topic-accent-red {
	.row {
		&.hero-video {
			.btn-play .circle-large {
				.cl-outer {
					border-color: rgba(196,18,47, 0.6);
				}
				.cl-inner-big {
					border-color: rgba(196,18,47,1.0);
				}
				.cl-inner-small {
					border-color: rgba(196,18,47, 0.3);
				}
			}
			.btn-audio .circle-medium {
				.cm-outer {
					border-color: rgba(196,18,47, 0.6);
				}
				.cm-inner {
					border-color: rgba(196,18,47,1.0);
				}
			}
			.mobile-controls .btn-play-sm svg {
				path, circle {
					fill: rgba(196,18,47,1.0);
				}
			}
		}
		&.content {
			p {
			    a {
			    	border-bottom-color: rgba(196,18,47,1.0);
				    &.visited {
				    	border-bottom-color: rgba(196,18,47, 0.7);
				    }	
			    }
			}
			.quotes-person figure {
				border-color: rgba(196,18,47,1.0);
			}
			.quotes-text blockquote:before {
				background-color: rgba(196,18,47,1.0);
			}
			.video-content .btn-play-sm {
				svg {
					path {
						fill: rgba(196,18,47,1.0);
					}
					circle {
						fill: rgba(196,18,47,1.0);
					}
				}
			}
		}
		&.related-roi .roi .progress-bar div {
			background-color: rgba(196,18,47,1.0);
		}
		&.videos .vid-carousel .item .video .circle-large {
			.cl-outer {
				border-color: rgba(196,18,47, 0.6);
			}
			.cl-inner-big {
				border-color: rgba(196,18,47,1.0);
			}
			.cl-inner-small {
				border-color: rgba(196,18,47, 0.3);
			}
		}
		&.full-video {
			.vjs-custom-skin {
				.vjs-play-progress {
					background: rgba(196,18,47,1.0);
					&:before {
						border-color: transparent transparent rgba(196,18,47,1.0) transparent;
					}
				}
				.btn-toggle-video svg {
					path {
						fill: rgba(196,18,47,1.0);
					}
					circle {
						fill: rgba(196,18,47,1.0);
					}
				}
			}
			.cards + .progress-bar {
				div {
					background: rgba(196,18,47,1.0);
				}
			}
		}
	}
}
.topic-accent-light-blue {
	.row {
		&.hero-video {
			.btn-play .circle-large {
				.cl-outer {
					border-color: rgba(98,202,226, 0.6);
				}
				.cl-inner-big {
					border-color: rgba(98,202,226,1.0);
				}
				.cl-inner-small {
					border-color: rgba(98,202,226, 0.3);
				}
			}
			.btn-audio .circle-medium {
				.cm-outer {
					border-color: rgba(98,202,226, 0.6);
				}
				.cm-inner {
					border-color: rgba(98,202,226,1.0);
				}
			}
			.mobile-controls .btn-play-sm svg {
				path, circle {
					fill: rgba(98,202,226,1.0);
				}
			}
		}
		&.content {
			p {
			    a {
			    	border-bottom-color: rgba(98,202,226,1.0);
				    &.visited {
				    	border-bottom-color: rgba(98,202,226, 0.7);
				    }	
			    }
			}
			.quotes-person figure {
				border-color: rgba(98,202,226,1.0);
			}
			.quotes-text blockquote:before {
				background-color: rgba(98,202,226,1.0);
			}
			.video-content .btn-play-sm {
				svg {
					path {
						fill: rgba(98,202,226,1.0);
					}
					circle {
						fill: rgba(98,202,226,1.0);
					}
				}
			}
		}
		&.related-roi .roi .progress-bar div {
			background-color: rgba(98,202,226,1.0);
		}
		&.videos .vid-carousel .item .video .circle-large {
			.cl-outer {
				border-color: rgba(98,202,226, 0.6);
			}
			.cl-inner-big {
				border-color: rgba(98,202,226,1.0);
			}
			.cl-inner-small {
				border-color: rgba(98,202,226, 0.3);
			}
		}
		&.full-video {
			.vjs-custom-skin {
				.vjs-play-progress {
					background: rgba(98,202,226,1.0);
					&:before {
						border-color: transparent transparent rgba(98,202,226,1.0) transparent;
					}
				}
				.btn-toggle-video svg {
					path {
						fill: rgba(98,202,226,1.0);
					}
					circle {
						fill: rgba(98,202,226,1.0);
					}
				}
			}
			.cards + .progress-bar {
				div {
					background: rgba(98,202,226,1.0);
				}
			}
		}
	}
}
.topic-accent-purple {
	.row {
		&.hero-video {
			.btn-play .circle-large {
				.cl-outer {
					border-color: rgba(145,38,143, 0.6);
				}
				.cl-inner-big {
					border-color: rgba(145,38,143,1.0);
				}
				.cl-inner-small {
					border-color: rgba(145,38,143, 0.3);
				}
			}
			.btn-audio .circle-medium {
				.cm-outer {
					border-color: rgba(145,38,143, 0.6);
				}
				.cm-inner {
					border-color: rgba(145,38,143,1.0);
				}
			}
			.mobile-controls .btn-play-sm svg {
				path, circle {
					fill: rgba(145,38,143,1.0);
				}
			}
		}
		&.content {
			p {
			    a {
			    	border-bottom-color: rgba(145,38,143,1.0);
				    &.visited {
				    	border-bottom-color: rgba(145,38,143, 0.7);
				    }	
			    }
			}
			.quotes-person figure {
				border-color: rgba(145,38,143,1.0);
			}
			.quotes-text blockquote:before {
				background-color: rgba(145,38,143,1.0);
			}
			.video-content .btn-play-sm {
				svg {
					path {
						fill: rgba(145,38,143,1.0);
					}
					circle {
						fill: rgba(145,38,143,1.0);
					}
				}
			}
		}
		&.related-roi .roi .progress-bar div {
			background-color: rgba(145,38,143,1.0);
		}
		&.videos .vid-carousel .item .video .circle-large {
			.cl-outer {
				border-color: rgba(145,38,143, 0.6);
			}
			.cl-inner-big {
				border-color: rgba(145,38,143,1.0);
			}
			.cl-inner-small {
				border-color: rgba(145,38,143, 0.3);
			}
		}
		&.full-video {
			.vjs-custom-skin {
				.vjs-play-progress {
					background: rgba(145,38,143,1.0);
					&:before {
						border-color: transparent transparent rgba(145,38,143,1.0) transparent;
					}
				}
				.btn-toggle-video svg {
					path {
						fill: rgba(145,38,143,1.0);
					}
					circle {
						fill: rgba(145,38,143,1.0);
					}
				}
			}
			.cards + .progress-bar {
				div {
					background: rgba(145,38,143,1.0);
				}
			}
		}
	}
}
.topic-accent-yellow {
	.row {
		&.hero-video {
			.btn-play .circle-large {
				.cl-outer {
					border-color: rgba(240,202,0, 0.6);
				}
				.cl-inner-big {
					border-color: rgba(240,202,0,1.0);
				}
				.cl-inner-small {
					border-color: rgba(240,202,0, 0.3);
				}
			}
			.btn-audio .circle-medium {
				.cm-outer {
					border-color: rgba(240,202,0, 0.6);
				}
				.cm-inner {
					border-color: rgba(240,202,0,1.0);
				}
			}
			.mobile-controls .btn-play-sm svg {
				path, circle {
					fill: rgba(240,202,0,1.0);
				}
			}
		}
		&.content {
			p {
			    a {
			    	border-bottom-color: rgba(240,202,0,1.0);
				    &.visited {
				    	border-bottom-color: rgba(240,202,0, 0.7);
				    }	
			    }
			}
			.quotes-person figure {
				border-color: rgba(240,202,0,1.0);
			}
			.quotes-text blockquote:before {
				background-color: rgba(240,202,0,1.0);
			}
			.video-content .btn-play-sm {
				svg {
					path {
						fill: rgba(240,202,0,1.0);
					}
					circle {
						fill: rgba(240,202,0,1.0);
					}
				}
			}
		}
		&.related-roi .roi .progress-bar div {
			background-color: rgba(240,202,0,1.0);
		}
		&.videos .vid-carousel .item .video .circle-large {
			.cl-outer {
				border-color: rgba(240,202,0, 0.6);
			}
			.cl-inner-big {
				border-color: rgba(240,202,0,1.0);
			}
			.cl-inner-small {
				border-color: rgba(240,202,0, 0.3);
			}
		}
		&.full-video {
			.vjs-custom-skin {
				.vjs-play-progress {
					background: rgba(240,202,0,1.0);
					&:before {
						border-color: transparent transparent rgba(240,202,0,1.0) transparent;
					}
				}
				.btn-toggle-video svg {
					path {
						fill: rgba(240,202,0,1.0);
					}
					circle {
						fill: rgba(240,202,0,1.0);
					}
				}
			}
			.cards + .progress-bar {
				div {
					background: rgba(240,202,0,1.0);
				}
			}
		}
	}
}
.topic-accent-orange {
	.row {
		&.hero-video {
			.btn-play .circle-large {
				.cl-outer {
					border-color: rgba(248,157,49, 0.6);
				}
				.cl-inner-big {
					border-color: rgba(248,157,49,1.0);
				}
				.cl-inner-small {
					border-color: rgba(248,157,49, 0.3);
				}
			}
			.btn-audio .circle-medium {
				.cm-outer {
					border-color: rgba(248,157,49, 0.6);
				}
				.cm-inner {
					border-color: rgba(248,157,49,1.0);
				}
			}
			.mobile-controls .btn-play-sm svg {
				path, circle {
					fill: rgba(248,157,49,1.0);
				}
			}
		}
		&.content {
			p {
			    a {
			    	border-bottom-color: rgba(248,157,49,1.0);
				    &.visited {
				    	border-bottom-color: rgba(248,157,49, 0.7);
				    }	
			    }
			}
			.quotes-person figure {
				border-color: rgba(248,157,49,1.0);
			}
			.quotes-text blockquote:before {
				background-color: rgba(248,157,49,1.0);
			}
			.video-content .btn-play-sm {
				svg {
					path {
						fill: rgba(248,157,49,1.0);
					}
					circle {
						fill: rgba(248,157,49,1.0);
					}
				}
			}
		}
		&.related-roi .roi .progress-bar div {
			background-color: rgba(248,157,49,1.0);
		}
		&.videos .vid-carousel .item .video .circle-large {
			.cl-outer {
				border-color: rgba(248,157,49, 0.6);
			}
			.cl-inner-big {
				border-color: rgba(248,157,49,1.0);
			}
			.cl-inner-small {
				border-color: rgba(248,157,49, 0.3);
			}
		}
		&.full-video {
			.vjs-custom-skin {
				.vjs-play-progress {
					background: rgba(248,157,49,1.0);
					&:before {
						border-color: transparent transparent rgba(248,157,49,1.0) transparent;
					}
				}
				.btn-toggle-video svg {
					path {
						fill: rgba(248,157,49,1.0);
					}
					circle {
						fill: rgba(248,157,49,1.0);
					}
				}
			}
			.cards + .progress-bar {
				div {
					background: rgba(248,157,49,1.0);
				}
			}
		}
	}
}
.topic-accent-green {
	.row {
		&.hero-video {
			.btn-play .circle-large {
				.cl-outer {
					border-color: rgba(175,188,33, 0.6);
				}
				.cl-inner-big {
					border-color: rgba(175,188,33,1.0);
				}
				.cl-inner-small {
					border-color: rgba(175,188,33, 0.3);
				}
			}
			.btn-audio .circle-medium {
				.cm-outer {
					border-color: rgba(175,188,33, 0.6);
				}
				.cm-inner {
					border-color: rgba(175,188,33,1.0);
				}
			}
			.mobile-controls .btn-play-sm svg {
				path, circle {
					fill: rgba(175,188,33,1.0);
				}
			}
		}
		&.content {
			p {
			    a {
			    	border-bottom-color: rgba(175,188,33,1.0);
				    &.visited {
				    	border-bottom-color: rgba(175,188,33, 0.7);
				    }	
			    }
			}
			.quotes-person figure {
				border-color: rgba(175,188,33,1.0);
			}
			.quotes-text blockquote:before {
				background-color: rgba(175,188,33,1.0);
			}
			.video-content .btn-play-sm {
				svg {
					path {
						fill: rgba(175,188,33,1.0);
					}
					circle {
						fill: rgba(175,188,33,1.0);
					}
				}
			}
		}
		&.related-roi .roi .progress-bar div {
			background-color: rgba(175,188,33,1.0);
		}
		&.videos .vid-carousel .item .video .circle-large {
			.cl-outer {
				border-color: rgba(175,188,33, 0.6);
			}
			.cl-inner-big {
				border-color: rgba(175,188,33,1.0);
			}
			.cl-inner-small {
				border-color: rgba(175,188,33, 0.3);
			}
		}
		&.full-video {
			.vjs-custom-skin {
				.vjs-play-progress {
					background: rgba(175,188,33,1.0);
					&:before {
						border-color: transparent transparent rgba(175,188,33,1.0) transparent;
					}
				}
				.btn-toggle-video svg {
					path {
						fill: rgba(175,188,33,1.0);
					}
					circle {
						fill: rgba(175,188,33,1.0);
					}
				}
			}
			.cards + .progress-bar {
				div {
					background: rgba(175,188,33,1.0);
				}
			}
		}
	}
}
.topic-accent-blue {
	.row {
		&.hero-video {
			.btn-play .circle-large {
				.cl-outer {
					border-color: rgba(0,129,198, 0.6);
				}
				.cl-inner-big {
					border-color: rgba(0,129,198,1.0);
				}
				.cl-inner-small {
					border-color: rgba(0,129,198, 0.3);
				}
			}
			.btn-audio .circle-medium {
				.cm-outer {
					border-color: rgba(0,129,198, 0.6);
				}
				.cm-inner {
					border-color: rgba(0,129,198,1.0);
				}
			}
			.mobile-controls .btn-play-sm svg {
				path, circle {
					fill: rgba(0,129,198,1.0);
				}
			}
		}
		&.content {
			p {
			    a {
			    	border-bottom-color: rgba(0,129,198,1.0);
				    &.visited {
				    	border-bottom-color: rgba(0,129,198, 0.7);
				    }	
			    }
			}
			.quotes-person figure {
				border-color: rgba(0,129,198,1.0);
			}
			.quotes-text blockquote:before {
				background-color: rgba(0,129,198,1.0);
			}
			.video-content .btn-play-sm {
				svg {
					path {
						fill: rgba(0,129,198,1.0);
					}
					circle {
						fill: rgba(0,129,198,1.0);
					}
				}
			}
		}
		&.related-roi .roi .progress-bar div {
			background-color: rgba(0,129,198,1.0);
		}
		&.videos .vid-carousel .item .video .circle-large {
			.cl-outer {
				border-color: rgba(0,129,198, 0.6);
			}
			.cl-inner-big {
				border-color: rgba(0,129,198,1.0);
			}
			.cl-inner-small {
				border-color: rgba(0,129,198, 0.3);
			}
		}
		&.full-video {
			.vjs-custom-skin {
				.vjs-play-progress {
					background: rgba(0,129,198,1.0);
					&:before {
						border-color: transparent transparent rgba(0,129,198,1.0) transparent;
					}
				}
				.btn-toggle-video svg {
					path {
						fill: rgba(0,129,198,1.0);
					}
					circle {
						fill: rgba(0,129,198,1.0);
					}
				}
			}
			.cards + .progress-bar {
				div {
					background: rgba(0,129,198,1.0);
				}
			}
		}
	}
}
.topic-accent-dark-blue {
	.row {
		&.hero-video {
			.btn-play .circle-large {
				.cl-outer {
					border-color: rgba(51,41,133, 0.6);
				}
				.cl-inner-big {
					border-color: rgba(51,41,133,1.0);
				}
				.cl-inner-small {
					border-color: rgba(51,41,133, 0.3);
				}
			}
			.btn-audio .circle-medium {
				.cm-outer {
					border-color: rgba(51,41,133, 0.6);
				}
				.cm-inner {
					border-color: rgba(51,41,133,1.0);
				}
			}
			.mobile-controls .btn-play-sm svg {
				path, circle {
					fill: rgba(51,41,133,1.0);
				}
			}
		}
		&.content {
			p {
			    a {
			    	border-bottom-color: rgba(51,41,133,1.0);
				    &.visited {
				    	border-bottom-color: rgba(51,41,133, 0.7);
				    }	
			    }
			}
			.quotes-person figure {
				border-color: rgba(51,41,133,1.0);
			}
			.quotes-text blockquote:before {
				background-color: rgba(51,41,133,1.0);
			}
			.video-content .btn-play-sm {
				svg {
					path {
						fill: rgba(51,41,133,1.0);
					}
					circle {
						fill: rgba(51,41,133,1.0);
					}
				}
			}
		}
		&.related-roi .roi .progress-bar div {
			background-color: rgba(51,41,133,1.0);
		}
		&.videos .vid-carousel .item .video .circle-large {
			.cl-outer {
				border-color: rgba(51,41,133, 0.6);
			}
			.cl-inner-big {
				border-color: rgba(51,41,133,1.0);
			}
			.cl-inner-small {
				border-color: rgba(51,41,133, 0.3);
			}
		}
		&.full-video {
			.vjs-custom-skin {
				.vjs-play-progress {
					background: rgba(51,41,133,1.0);
					&:before {
						border-color: transparent transparent rgba(51,41,133,1.0) transparent;
					}
				}
				.btn-toggle-video svg {
					path {
						fill: rgba(51,41,133,1.0);
					}
					circle {
						fill: rgba(51,41,133,1.0);
					}
				}
			}
			.cards + .progress-bar {
				div {
					background: rgba(51,41,133,1.0);
				}
			}
		}
	}
}

.error404 {
	#header {
		&.menu-open {
			background: $color-white;
		}
		.upper .hover {
			height: rem(84px);
			background: transparent;
		}
	}
	#footer {
		background: transparent;
		color: $gray-09;
		border-top: solid 1px #dddddd;	
	}
}

.page:not(.home) {
	#page {
		background-color: $color-white;
	}
	#header {
		&.menu-open {
			background: $color-white;
		}
		.upper .hover {
			height: rem(84px);
			background: transparent;
		}
	}
	#footer {
		background: transparent;
		color: $gray-09;
		border-top: solid 1px #dddddd;	
	}
}