/*
Theme Name: Leshin16
Theme URI: http://wp.wpi.edu
Author: Web1776/WPI
Author URI: http://wp.wpi.edu
Version: 1.0
Text Domain: blankslate
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

.clear {
  clear: both
}

.sticky {}

.bypostauthor {}

.wp-caption {}

.wp-caption-text {}

.gallery-caption {}

.alignright {
  float: right;
}

.alignleft {}

.aligncenter {}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);

/* Clearfix */

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

body {
  line-height: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0px;
  color: #FFF;
  background: #081326;
  min-width: 1100px;
}

.ie8 body {
  min-width: 0 !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}


/*--- HEADINGS ---*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
  font-weight: 600;
  font-style: normal;
  color: #393939;
}

h1 {
  font-size: 1.5em;
  /* 24px --> 24 ÷ 16 = 1.5 */
  line-height: 1em;
  /* 24px --> 24 ÷ 24 = 1 */
}

h2 {
  font-size: 1.375em;
  line-height: 1.0909em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.2em;
  color: #84778c;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.111764705882352em;
  line-height: 1.333em;
  font-weight: bold;
  color: #ea941a;
  margin-bottom: 2px;
}

h5,
h6 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 6px;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

sub {
  vertical-align: sub;
  font-size: 75%;
}

sup {
  vertical-align: super;
  font-size: 75%;
}

hr {
  height: 1px;
  background: #7f7f7f;
  width: 100%;
  font-size: 1px;
  /* IE 6 */
  border: none;
  margin: 30px 0px;
}

.container .main-title {
  font-size: 1.7em;
  color: #ffffff;
  margin-bottom: 12px;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.interior .container .main-title {
  color: #ac2b37;
  text-transform: uppercase;
  letter-spacing: 0.174em;
}

.container .block-headline {
  font-size: 1.4em;
  color: #ea941a;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 18px;
}

.interior .container .block-headline {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  margin-bottom: 29px;
  font-size: 1.20em;
}


/* LAYERS */

#header {
  position: fixed;
  width: 100%;
  height: 43px;
  background: #0f192f;
  padding: 0;
  z-index: 200;
  left: 0px;
  right: 0px;
  top: 0px;
}

.footer {
  background: #1d1d1f;
  color: #fff;
}

.footer .container {
  margin: 0 50px;
  width: auto;
}

.footer h2 {
  margin-left: -50px;
}

.left-column {
  float: left;
  width: 45%;
  margin-right: 2%;
}

.right-column {
  float: left;
  margin-left: 50px;
  width: 43%;
  margin-left: 2%;
}

.interior #content .left-column {
  width: 58.88888888888889%;
  max-width: none;
  margin-right: 0;
}

.interior #content .right-column {
  float: right;
  margin-left: 0px;
  width: 35.55555555555556%;
}

.page-template-speaker-bio-php #content .right-column {
  width: 27.33333333333333%;
}

.footer-content {
  clear: both;
  float: left;
  margin-top: 32px;
}

.right-column iframe,
.right-column img {
  width: 100% !important;
  z-index: 1;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  border: 3px solid #fff;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.b-l-column {
  float: left;
  width: 320px;
}

.b-m-column {
  float: left;
  width: 320px;
  margin: 0 10px;
}

.b-r-column {
  float: left;
  width: 320px;
}


/*
Footer
------------------------------ */

#footer {
  padding: 50px 0px;
  clear: both;
  color: #fff;
  border-top: 1px solid #fff;
  background: #081326;
  background: -moz-linear-gradient(top, #081326 0%, #122342 28%, #122342 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #081326), color-stop(28%, #122342), color-stop(100%, #122342));
  background: -webkit-linear-gradient(top, #081326 0%, #122342 28%, #122342 100%);
  background: -o-linear-gradient(top, #081326 0%, #122342 28%, #122342 100%);
  background: -ms-linear-gradient(top, #081326 0%, #122342 28%, #122342 100%);
  background: linear-gradient(to bottom, #081326 0%, #122342 28%, #122342 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#081326', endColorstr='#122342', GradientType=0);
}

#footer .footer-left,
#footer .footer-right {
  width: 50%;
  float: left;
}

#footer .footer-address {
  display: block;
  max-width: 364px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10%;
  text-align: left;
  white-space: nowrap;
}

#footer .copyright {
  text-align: right;
  font-size: 14px;
  color: #8991a1;
  font-weight: 300;
  line-height: normal;
  display: block;
}

#container {
  float: left;
  width: 100%;
  position: relative;
  z-index: 100;
}

.container-wrapper {
  margin: 0 auto;
  margin: 0 40px;
  max-width: 900px;
  clear: both;
  margin: 0 auto;
}

.container {
  float: left;
  width: 100%;
}

.interior #content {
  background: #FFFFFF url(img/bg_interior.png) top repeat-x;
  color: #000;
}

.block {
  padding: 60px 0;
  float: left;
  width: 100%;
  position: relative;
}

.block img {
  border: 3px solid #fff;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}


/* MENU */

#menu ul li {
  display: inline;
  margin: 0 10px;
  cursor: pointer;
}

#menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

#menu ul li a:focus,
#menu ul li a:hover,
#menu ul li a:active,
#menu ul li.menu-item-object-page.current-menu-item > a {
  background: #ac2b37;
}

#menu {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
  position: relative;
}

#menu > ul {
  width: 100% !important;
  text-align: center !important;
}

#menu > ul > li {
  display: inline-block !important;
  float: none !important;
  margin: 0px 28px !important;
}

#menu > ul.flexnav-show > li {
  margin: 0 !important;
}

#menu > ul > li > a {
  padding: 0px 10px !important;
  line-height: 43px;
  color: #fff !important;
  /* text-transform: uppercase; */
  font-size: 14px;
}

#menu > ul.flexnav-show > li > a {
  line-height: normal;
}

.menu-button {
  background: #000000 !important;
  font-size: 11px !important;
  color: #fff !important;
  font-weight: 500 !important;
  border: 1px solid #fff !important;
  text-transform: uppercase !important;
  letter-spacing: 0.150em !important;
  line-height: 20px !important;
  padding: 0px 5px !important;
  float: right !important;
  margin: 10px 3.125% 0px 0px !important;
}

#menu .flexnav.flexnav-show {
  left: auto !important;
  right: 0px !important;
  background: #0f192f !important;
}

#menu .flexnav.flexnav-show li {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
}

#menu .flexnav.flexnav-show li a {
  font-family: 'Source Sans Pro', sans-serif !important;
  padding: 4px 0px !important;
  color: #fff !important;
}


/* TEXT */

p {
  margin: 0 0 24px 0;
  line-height: 1.65em;
}

.hide {
  display: none;
}

.center {
  text-align: center;
}

.mcenter {
  margin: 0 auto;
}

.dblock {
  display: block;
}

.fa-arrow-circle-right {
  margin-left: 5px;
  font-size: 0.9em;
}

a.arrow {
  color: #FFFFFF;
}

a.arrow:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ea941a;
  margin-left: 7px;
  content: "\f0a9";
}

.interior a.arrow {
  color: #ac2b37;
  text-decoration: none;
}

.interior a.arrow:after {
  color: #ac2b37
}

.interior a.arrow:hover {
  text-decoration: underline;
}


/* IMAGES */

.featured-image img {
  float: right;
  height: auto;
  width: 300px;
}

#header img {
  vertical-align: middle;
}


/* LISTS */

.block ul li {
  list-style-type: disc;
}

.block ul {
  margin: 24px 0 0 24px;
}

.interior .block ul {
  margin-left: 50px;
}


/* Two Column List */

.twocol:before,
.twocol:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.twocol:after {
  clear: both;
}

.twocol {
  *zoom: 1;
}

.twocol li {
  list-style-position: inside;
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0px 2% 10px 1.5%;
  font-weight: bold;
}


/* LINKS */

a {
  color: #ac2b37;
  text-decoration: underline;
  font-weight: bold;
}

a:focus,
a:hover,
a:active {
  text-decoration: none;
}


/* BLOCKS
=========================== */


/* Home Page */


/* Intro */

.block-intro {
  background: url(img/home_intro_bg.jpg) center bottom repeat-x #000103;
  border-bottom: 3px solid #050708;
  padding: 0 !important;
}

.block-intro .container-content h1,
.block-intro .container-content h2 {
  display: none;
}

.block-intro .left-column {
  float: none;
  margin: 0;
  width: auto;
}

.block-intro img.intro_text {
  margin: 0 auto;
  display: block;
  max-width: 70%;
  height: auto;
  position: relative;
  left: 5.454545454545455%;
  border: none;
}

.block-intro .container-wrapper {
  position: relative;
}

.block-intro .container-wrapper .elem1 {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  height: 86.89075630252101%;
  width: 27.55555555555556%;
  background: url(img/home_intro_towers.png) no-repeat bottom left;
  background-size: contain;
}

.block-intro .container-wrapper .elem2 {
  position: absolute;
  top: 18.795%;
  right: 0;
  display: block;
  height: 25.58922558922559%;
  width: 14.88888888888889%;
  background: url(img/home_intro_moon_mars.png) no-repeat top right;
  background-size: contain;
}

.block-intro .container-wrapper .container {
  padding: 116px 0px 160px;
  float: none;
}

#interior_splash .block-intro .container-wrapper .container {
  padding-bottom: 25px;
}

.block-intro .right-column {
  float: none;
  width: 60%;
  /* prevents collision with towers */
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 4%;
  text-align: right;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
}

.block-intro .right-column p {
  margin-bottom: 0;
  line-height: normal;
}

.block-intro .right-column a {
  text-decoration: underline;
}

.block-intro .right-column a:hover {
  text-decoration: none;
}


/* The dawn of... */

.block-dawn,
.block-inauguration {
  border-top: 1px solid #fff;
  background: #081326;
  /* Old browsers */
  background: -moz-linear-gradient(top, #010103 0%, #081326 41%, #081326 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #010103), color-stop(41%, #081326), color-stop(100%, #081326));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #010103 0%, #081326 41%, #081326 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #010103 0%, #081326 41%, #081326 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #010103 0%, #081326 41%, #081326 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #010103 0%, #081326 41%, #081326 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#010103', endColorstr='#081326', GradientType=0);
  /* IE6-9 */
}


/* Block, Dawn (New) */

.block-dawn-new {
  background: url(img/bg-dawn-new.jpg) no-repeat center center;
  background-size: cover;
}

.block-dawn-new .right-column {
  float: left;
}

.block-dawn-new a {
  color: #c22d3b;
}


/* Laurie A. Leshin */

.block-laurie {
  background: #84778c;
}

.block-laurie .block-headline {
  color: #081326;
}

.block-laurie .fa-arrow-circle-right {
  color: #ea941a;
}


/* Events */

.block-events .right-column {
  padding-top: 50px;
}

.block-events .footer-content {
  font-size: 14px;
}


/* Speakers */

.block-speakers {
  background-color: #fff;
}

.block-speakers h1 {
  color: #ac2b37 !important;
}

.block-speakers h2 {
  font-style: italic;
}

.block-speakers p,
.block-speakers ul {
  color: #000;
}

.block-speakers .left-column {
  width: 100%;
}

.block-speakers hr {
  width: 55%;
  background: #aaa !important;
}

.block-speakers ul {
  width: 50%;
}

.block-speakers ul li {
  margin-bottom: 10px;
}

.block-speakers .right-column img {
  border: 0;
  max-width: 258px;
  margin-left: 20px;
}


/* Countdown */

.block-countdown {
  background: url("img/moon.gif") 50% -580px no-repeat #a3231b;
}

.block-countdown .block-headline,
.block-countdown .fa-arrow-circle-right,
.block-countdown a {
  color: #faa637;
}

.block-countdown .left-column {
  width: 100%;
}

.block-countdown p {
  text-align: center;
}

#countdown-number {
  color: #faa637;
  font-size: 17em;
  font-weight: bold;
  text-align: center;
  width: 50%;
  display: block;
  border-top: 2px dotted #fff;
  height: 155px;
  margin: 0 25%;
  padding-top: 130px;
}

.left-column #countdown-number:first-child {
  border: 0 !important;
  padding-top: 100px;
}


/* Footer  */

.block-footer {
  background: url(img/home_footer_bg.jpg) no-repeat center center;
  background-size: cover;
}

.block-footer .right-column {
  display: none;
}

.block-footer .left-column {
  float: none;
  margin-right: 0;
  max-width: none;
  width: auto;
}

.block-footer a {
  color: #c22d3b;
}


/* EKG:  BEGIN Strategic Plan Classes */

.sp-2015 {
  background: url(img/elevate-impact.png) no-repeat center center;
  background-size: cover;
  height: 631px;
  /* 500px + 163px */
  top: 131px;
}

.sp-2015 h1.main-title {
  display: none;
}

.sp-2015-DUE {
  background: url(img/DUE-desktop.png) no-repeat scroll center center / cover;
  background-size: cover;
}

.sp-2015-RGE {
  background: url(img/RGE-Desktop.png) no-repeat scroll center center / cover;
  background-size: cover;
}

.sp-2015-RV {
  background: url("img/RV-Desktop.png") no-repeat scroll center center / cover;
}

#outerbox {
  margin: 0 auto;
  display: table;
  height: 450px;
}

#interiorpg-outerbox {
  margin: 0 auto;
  display: table;
  height: 250px;
}

.interior #spbuttons li {
  padding-right: 2em;
}

#spbuttons #buttons,
#spbuttons #missionbtn {
  font-size: 90%;
}

#innerbox {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  max-height: 50px;
}

#interiorbox {
  /*    background: #000 none repeat scroll 0 0;
    opacity: 0.5;
*/
  line-height: 1em;
  border: 1px solid #fff;
  padding: 30px;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";
}


/* Interior Page Banner Text */

.interiorbannertext {
  vertical-align: bottom !important;
}

.interior #outerbox {
  height: 500px;
}


/* Interior Page Banner Icons*/

#edu-icon {
  background: rgba(0, 0, 0, 0) url("img/edu-icon-allwhite.png") no-repeat scroll center center;
  display: block;
  height: 129px;
  padding-bottom: .5em;
}

#research-icon {
  background: rgba(0, 0, 0, 0) url("img/research-icon-allwhite.png") no-repeat scroll center center;
  display: block;
  height: 129px;
  padding-bottom: .5em;
}

#reputation-icon {
  background: rgba(0, 0, 0, 0) url("img/reputation-icon-allwhite.png") no-repeat scroll center center;
  display: block;
  height: 129px;
  padding-bottom: .5em;
}


/* EKG: Strategic Plan Menu */

.sp-menu {
  background-color: #750F1A;
  top: 80px;
  height: 40px;
}


/* EKG: Strategic Plan Colored Sections */

.section1 {
  background: #FFFFFF;
  color: #000000 !important;
}

.section1 h1.main-title,
.section1 h2.block-headline {
  display: none !important;
}

.section2 {
  background: url(img/edu-icon-white.png) no-repeat center 50px #2c72a5;
}

.section2 h1.main-title,
.section3 h1.main-title,
.section4 h1.main-title {
  font-size: 2.1em;
  font-weight: bold;
  letter-spacing: normal;
  margin-top: 150px;
  text-align: center;
  text-transform: none;
}

.section3 {
  background: url(img/research-icon-white.png) no-repeat center 50px #c4996c;
}

.section4 {
  background: url(img/reputation-icon-white.png) no-repeat center 50px #478787;
}

.section-lightgray h1.main-title,
.section-gray h1.main-title {
  color: #276DA0;
}

.section-lightgray {
  background: #E7E8EA;
  color: #000;
}

.section-gray {
  background: #D1D2D4;
  color: #000;
}

.left-column #buttons {
  border: 1px solid #FFF;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.125em;
  width: 210px;
  margin-right: 3.3em;
  text-align: center;
  height: 48px;
}

.left-column #buttons a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}

.left-column #missionbtn {
  margin-left: 1em;
  padding-right: 0;
  text-align: center;
  width: 16.7em;
}

#missionbtn a {
  color: #000;
  font-weight: normal;
  text-decoration: none;
}

#missionctr {
  border: 1px solid #000;
  padding: 10px;
  text-transform: uppercase;
  width: 220px;
}


/*
.strategicplan .left-column {
    width: 100% !important;
}
*/

.strategicplan h1.main-title {
  text-align: center;
}

.strategicplan #interior_splash {
  display: none;
}

.strategicplan.interior {
  position: relative;
}


/*EKG: Strategic Plan Footer Classes  12/1/15 */

#sp-footer {
  padding: 50px 0px;
  clear: both;
  background-color: #1D1D1F;
}

#sp-footer .left-column span a {
  background: url("img/footer-logo.jpg") top left no-repeat;
  background-size: 111px 113px;
  padding: 0 0 111px 113px;
}

#sp-footer .right-column {
  float: left;
  margin-left: 0%;
}

#sp-footer p,
#sp-footer ul,
#sp-footer ul li a {
  color: #fff;
  line-height: 1.6em;
}

#sp-footer p,
#sp-footer ul {
  font-size: 0.8em;
}

#sp-footer p strong {
  font-size: 1.15em !important;
}

#sp-footer .right p {
  margin-left: 6%;
  margin-bottom: 7px;
}

.sp-address {
  margin-top: -25px;
}

#sp-footer .left-column p {
  margin-left: 140px;
}

#sp-footer .left-column p a {
  color: #faa637;
  font-weight: normal;
  line-height: 2.5em;
}

#sp-footer ul {
  margin: auto;
  float: left;
  padding-left: 10%;
}

#sp-footer ul.firstcolumn {
  padding-left: 0;
}

#sp-footer ul li {
  list-style: none;
  padding-bottom: 5px;
}

#sp-footer ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}


/* EKG:  Add Banner for Strategic Plan website  */

#wpibanner {
  background: url(img/bannerbg.jpg) repeat-x #750f1a;
  height: 163px;
}

#wpibanner span {
  display: block;
}


/* EKG:  WPI BANNER Desktop */

#wpibanner {
  border-bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 200;
}

#wpibanner .elastic {
  width: 930px;
  margin: auto;
  position: relative;
}

#wpibanner span a {
  background: url("img/wpi-logo-sp.png") top left no-repeat;
  width: 901px;
  height: 40px;
  left: 0;
  position: relative;
  top: 47px;
  display: block;
}


/* EKG: Strategic Plan Buttons 12/4/15 */

#spbuttons li {
  list-style: none;
  list-style-type: none;
  float: left;
  padding-right: 12em;
  margin-top: 10px;
}

.edu div a,
.research div a,
.reputation div a {
  text-decoration: none;
}

.edu div a {
  background: rgba(0, 0, 0, 0) url("img/edu-icon-blue.png") no-repeat scroll 0 0 / 135px 217px;
  display: block;
  height: 217px;
  width: 134px;
}

.edu div a:hover {
  background: url(img/edu-icon-blue-hover.png) no-repeat;
}

.research div a {
  background: rgba(0, 0, 0, 0) url("img/research-icon-beige.png") no-repeat scroll 0 0 / 129px 217px;
  display: block;
  height: 217px;
  width: 129px;
}

.research div a:hover {
  background: url(img/research-icon-beige-hover.png) no-repeat;
}

.reputation div a {
  background: rgba(0, 0, 0, 0) url("img/reputation-icon-green.png") no-repeat scroll 0 0 / 129px 221px;
  display: block;
  height: 221px;
  width: 129px;
}

.reputation div a:hover {
  background: url(img/reputation-icon-green-hover.png) no-repeat;
}

li.reputation {
  padding-right: 0 !important;
}


/* EKG:  Add Hovers for Strategic Plan Website 12/4/15 */

#distinctive-undergraduate-education #spbuttons > li:hover {
  background-color: #205B85;
}

#research-and-graduate-education #spbuttons > li:hover {
  background-color: #A28158;
}

#reputation-and-visibility #spbuttons > li:hover {
  background-color: #366E6F;
}


/*.left-column #missionbtn:hover {*/

#mission-vision-values #missionbtn:hover {
  background-color: #E7E7E9;
}


/* Strategic Plan Mobile Menu */

.sp-mobilemenu {
  background: none !important;
  font-size: 13px !important;
  padding: 5px 10px !important;
  margin: 5px 20px !important;
}

#wpibanner .flexnav.flexnav-show {
  background: #750f1a none repeat scroll 0 0 !important;
  left: auto !important;
  right: 0 !important;
  top: 40px;
}

#menu .flexnav.one-page.flexnav-show li a {
  font-size: 1em !important;
}


/* EKG:  END Strategic Plan Classes */


/*
Speaker Bio Page Template
======================================= */

.page-template-speaker-bio-php #content .right-column h3 {
  color: #ac2b37;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.page-template-speaker-bio-php #content .right-column ul {
  margin-left: 24px;
}

.page-template-speaker-bio-php #content .left-column hr {
  margin: 20px 0px;
}

.page-template-speaker-bio-php #content .right-column hr:first-child,
.page-template-speaker-bio-php #content .left-column hr:first-child {
  margin-top: 0px;
}


/* IE */

.ie7 body,
.ie8 body {
  min-width: 1100px;
}

.ie7 .innovate .container,
.ie8 .innovate .container {
  background: url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/baxter_sm.png') no-repeat right 0px;
}

.ie7 .compete,
.ie8 .compete {
  background-image: none;
}

.ie7 .compete .container,
.ie8 .compete .container {
  background: #fff url('img/compete.png') no-repeat 500px 0;
  /*background: #fff url('http://wp.wpi.edu/everydayrobots/wp-content/themes/blankslate/img/warner_sm.png') no-repeat right 0px;
  background-color: #fff;*/
}

.ie7 .menu-button,
.ie8 .menu-button {
  display: none;
}

.ie7 .arrow-l,
.ie7 .arrow-m,
.ie7 .arrow-r,
.ie8 .arrow-l,
.ie8 .arrow-m,
.ie8 .arrow-r {
  display: none;
}

@media (max-width: 1200px) {
  .container-content {
    padding: 0px 5%;
    box-sizing: border-box;
  }
  #sp-footer ul {
    padding-left: 6%;
  }
  img {
    max-width: 100%;
    height: auto !important;
  }
}

@media (max-width: 1100px) {
  body {
    min-width: 0;
  }
  .left-column #buttons {
    margin-right: 1.3em;
  }
}

@media (max-width: 900px) {
  #header {
    background: none;
  }
  .left-column,
  .right-column {
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    float: none !important;
  }
  /* Except footer ... */
  #footer .left-column {
    float: left !important;
    margin-right: 2% !important;
    width: 48% !important;
  }
  #footer .right-column {
    float: left !important;
    margin-left: 2% !important;
    width: 48% !important;
  }
  #footer .footer-address {
    font-size: 13px;
  }
  .right-column,
  .block-events .right-column {
    margin-top: 0px;
    padding-top: 0px;
  }
  #footer .right-column {
    margin-top: 20px;
  }
  #footer .left-column {
    text-align: center;
  }
  #footer .footer-address {
    text-align: center;
    margin: 0px auto;
    display: block;
    max-width: none;
  }
  .interior .block ul {
    margin-left: 24px;
  }
  .video-container {
    max-width: 75%;
    padding-bottom: 42.25%;
    margin: 0 auto;
  }
  /* Block Tweaks */
  .block-intro .right-column {
    right: 2%;
  }
  .block-intro .container-wrapper .container {
    padding: 52px 0px 180px 0px;
  }
  .block-intro .container-wrapper .elem1 {
    height: 53%;
    width: 17%;
    left: 5%;
  }
  .block-intro .container-wrapper .elem2 {
    height: 20.589226%;
    width: 11.888889%;
    right: 5%;
    top: 32%;
  }
  .block-intro img.intro_text {
    left: auto;
    max-width: 80%;
  }
  .block-countdown {
    background-position: 50% -655px;
  }
  #countdown-number {
    font-size: 12em;
    height: 125px;
    margin: 0 25% 0;
    padding-top: 100px;
  }
  .block-countdown p {
    margin-bottom: 5px;
  }
  .left-column #countdown-number:first-child {
    padding-top: 50px;
  }
  #interior_splash .block-intro {
    background-size: contain;
  }
  #interior_splash .block-intro .container-wrapper .container {
    padding-bottom: 0px;
  }
  #interior_splash .block-intro img.intro_text {
    max-width: 52.1875% !important;
    left: 4% !important;
  }
  #interior_splash .block-intro .container-wrapper .elem1 {
    height: 90% !important;
    width: 20% !important;
    left: 5% !important;
  }
  #interior_splash .block-intro .container-wrapper .elem2 {
    height: 22% !important;
    top: 20% !important;
    width: 22% !important;
    right: 5% !important;
  }
  /*  EKG:  Strategic Plan Website: WPI BANNER breakpoint */
  .interior #outerbox {
    height: 350px;
  }
  .interiorbannertext {
    line-height: 120%;
  }
  #wpibanner .elastic,
  #wpibanner span a {
    width: auto;
  }
  #wpibanner span a {
    background: url("img/wpi-logo-tablet.png") 50% 50% no-repeat;
    height: 40px;
  }
  .sp-2015 {
    background: url(img/elevate-impact-tablet.png) no-repeat center center;
    background-size: cover;
    height: 467px;
    /* 350px + 163px */
    top: 117px;
  }
  .sp-2015-DUE {
    background: url(img/DUE-tablet.png) no-repeat scroll center center / cover;
  }
  .sp-2015-RGE {
    background: url(img/RGE-Tablet.png) no-repeat scroll center center / cover;
  }
  .sp-2015-RV {
    background: url(img/RV-Tablet.png) no-repeat scroll center center / cover;
  }
  #outerbox {
    height: 320px;
  }
  #floatrightcol {
    float: right;
    width: 50%;
  }
  /* REMOVE ICON OVERLAY ON INTERIOR PAGES FOR TABLET & MOBILE */
  #edu-icon,
  #research-icon,
  #reputation-icon {
    display: none;
  }
}

@media (max-width: 770px) {
  #spbuttons li {
    padding-right: 7em;
  }
  .left-column #buttons {
    width: 25%;
    margin-bottom: 20px;
    padding: 15px 10px 35px;
  }
  .left-column #missionbtn {
    margin-left: 12.5em;
  }
  #floatrightcol {
    float: right;
    width: 60%;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
  #menu .flexnav.one-page.flexnav-show li a {
    font-size: .9em !important;
  }
  .container h1,
  .intro h2 {
    font-size: 1.875em;
    line-height: 1.6em;
  }
  .block-countdown {
    background: url("img/moon-mobile.gif") 50% -320px no-repeat #a3231b;
  }
  #countdown-number {
    font-size: 8em;
    width: 100%;
    height: 85px;
    margin: 0;
    padding-top: 70px;
  }
  .footer {
    padding: 72px 0;
  }
  .footer .container {
    margin: 0;
  }
  .footer h2 {
    margin: 0 auto !important;
  }
  #footer .left-column,
  #footer .right-column {
    width: 100% !important;
    max-width: 100% !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    float: none !important;
  }
  #footer .footer-address {
    font-size: 12px;
  }
  .twocol li {
    padding-left: 15px;
    width: auto;
    float: none;
  }
  /* Block Tweaks */
  .block {
    padding: 20px 0px;
  }
  .block-intro {
    background-position: 60% bottom
  }
  .block-intro .right-column {
    display: none;
  }
  .container .main-title {
    line-height: normal;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.174em;
  }
  .container .block-headline {
    line-height: normal;
    font-size: 16px;
    line-height: 26px;
  }
  .container .block-headline br {
    display: none;
  }
  .block-speakers img {
    float: none;
    text-align: center;
    margin: 0 5%;
  }
  .block-speakers hr {
    width: 100%;
  }
  .block-speakers ul {
    width: 90%;
  }
  /*  EKG:  Strategic Plan Website: WPI BANNER breakpoint */
  .interior #outerbox {
    height: 320px;
  }
  .interiorbannertext {
    line-height: 100%;
  }
  .section2 h1.main-title,
  .section3 h1.main-title,
  .section4 h1.main-title {
    margin-top: 180px !important;
  }
  #spbuttons li {
    float: none;
    text-align: center;
    padding: 0 0 30px;
    display: table;
    margin: auto;
  }
  #spbuttons #missionbtn {
    padding: 0;
    margin-bottom: 20px !important;
    margin-left: 9em;
  }
  .left-column #buttons {
    width: 90%;
    padding: 10px;
  }
  #floatrightcol {
    float: none;
    width: 100%;
  }
  .interior #spbuttons li {
    float: left;
  }
  #wpibanner .site-title-header {
    display: none;
  }
}
@media (min-width: 451px) {
  #wpibanner .site-title-header {
    display: none;
  }
}
@media (max-width: 450px) {
  /* Block Tweaks */
  .block-intro .container-wrapper .elem1 {
    height: 39%;
    width: 21%;
  }
  .block-intro .container-wrapper .elem2 {
    height: 14.589226%;
    width: 14.888889%;
    right: 13%;
    top: 66%;
  }
  /*  EKG:  Strategic Plan Website: WPI BANNER breakpoint */
  #wpibanner span {
    margin-top: 24px;
  }
  #wpibanner span a {
    margin: 0;
    /*background: url("img/wpi-logo-mobile.png") 50% 50% no-repeat;*/
    background: url("img/wpi-logo-mobile.png") no-repeat;
    background-size: 100px;
    display: block;
    height: 105px;
    text-indent: -999em;
    width: 108px;
    float: left;
  }
  #wpibanner {
    background: rgba(0, 0, 0, 0) url("img/bannerbg-1x211.jpg") repeat-x scroll 0 0;
    height: auto;
  }
  #wpibanner .site-title-header {
    display: inline;
    color: white;
    border-left: 1px solid white;
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
    padding-left: 10px;
  }

  #wpibanner .elastic,
  #wpibanner span a {
    top: -6px;
    left: 5px;
    height: 35px;
  }
  .interior #outerbox {
    height: 350px;
  }
  .interiorbannertext {
    line-height: 90%;
  }
  .sp-mobilemenu {
    margin: 3px 20px !important;
  }
  .sp-2015 {
    background: url(img/elevate-impact-mobile.png) no-repeat center center;
    background-size: cover;
    height: 508px;
    /* 350px + 211px */
    top: auto;
  }
  .sp-2015-RGE {
    background: #fff url(img/RGE-Mobile.png) no-repeat scroll center 60px / 100%;
  }
  .sp-2015-DUE {
    background: #fff url(img/DUE-mobile.png) no-repeat scroll center 60px / 100%;
  }
  .sp-2015-RV {
    background: #fff url(img/RV-Mobile.png) no-repeat scroll center 60px / 100%;
  }
  #outerbox {
    height: 450px;
  }
  #sp-footer .left-column {
    padding: 0;
    width: 100% !important;
    text-align: center;
  }
  #sp-footer .left-column span a {
    margin: 0;
    background: url("img/footer-logo.jpg") 50% 50% no-repeat;
    display: block;
    height: 55px;
    text-indent: -999em;
  }
  #sp-footer .left-column p,
  #sp-footer .right-column p,
  #sp-footer ul li a {
    margin: 0;
    font-size: 1.25em !important;
  }
  #sp-footer .right-column {
    margin-top: 40px;
  }
  #sp-footer .right-column,
  #sp-footer p strong {
    text-align: center;
  }
  #sp-footer ul {
    float: none;
    text-align: center;
    padding: 0;
  }
  #spbuttons #missionbtn {
    margin: 0 auto;
  }
  .interior #spbuttons li {
    float: none;
    padding-right: 0;
  }
  .sp-menu {
    top: 0;
  }
}

@media (max-width: 390px) {
  /* Block Tweaks */
  .block-intro .container-wrapper .elem1 {
    height: 43%;
    width: 26%;
  }
  .container-content {
    overflow: hidden;
  }
  #innerbox {
    font-size: 2.5em;
  }
  #interiorbox {
    padding: 20px;
  }
}
